In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

Hi,
This analysis about data Cleaning and Diagnoses.
I used Pima Indians Diabetes Database dataset.
First, reading csv dataset.

In [ ]:
dataFrame=pd.read_csv("../input/diabetes.csv")

DIAGNOSE DATA for CLEANING¶

We need to diagnose and clean data before exploring.
Unclean data:

İf there is a inconsistency Column name like upper-lower case letter or space between words, different language expressions, NaN(not a number) value , punctuation marks like(-- double dash).

   We will use head, tail, columns, shape and info methods to diagnose data

In [ ]:
dataFrame.head()
dataFrame.tail()

# run above two line seperatly and see results.

As you can see there are not missing value or something like the definition.
After that lets check out colums names.

In [ ]:
dataFrame.columns

In [ ]:
# 'shape' key word gives number of rows and columns in a tuble
dataFrame.shape

In [ ]:
# 'info' key word gives data type like dataframe, number of sample or row, number of feature or column, feature types and memory usage
dataFrame.info()

Data Analysis

    With  "value_counts()" fonction we see Frequency counts of the our data

In [ ]:
# Lets look frequency of Age feature of dataFrame.
print(dataFrame['Age'].value_counts(dropna =False))  # if there are nan values that also be counted
# As it can be seen below there are 72 person to age 22 have an issue about Diabetes.
# you can also try with "Outcome"..

In [ ]:
# For example max Glucose is 199 and max Age is 81
dataFrame.describe() #ignore null entries


**VISUAL  DATA ANALYSIS**
We have to know some basic definitions
Outliers: the value that is considerably higher or lower from rest of the data(datanın geri kalanından hatırı sayılır derece ayrık olan veri, aykırı olan veri)

What is quantile?
1,4,5,6,8,9,11,12,13,14,15,16,17 this is sample list.

*The median is the number that is in middle of the sequence. In this case it would be 11.
*The lower quartile is the median in between the smallest number and the median i.e. in between 1 and 11, which is 6.    Lower quartile=Q1=%25
*The upper quartile, you find the median between the median and the largest number i.e. between 11 and 17, which will be 14 according to the question above. Upper quartile ise Q3=%75 
*Lets say value at 75% is Q3 and value at 25% is Q1.
*Outlier are smaller than Q1 - 1.5(Q3-Q1) and bigger than Q3 + 1.5(Q3-Q1). (Q3-Q1) = IQR
*We will use describe() method. Describe method includes
*count: number of entries
*mean: average of entries
*std: standart deviation
*min: minimum entry
*25%: first quantile
*50%: median or second quantile
*75%: third quantile
*max: maximum entry

In [ ]:
#box plot
dataFrame.boxplot(column='Glucose',by = 'Outcome')
plt.show()
#in this box plot
#  upper edge is the  'Glucose' max = 199
#  lower edge is the  'Glucose' min = 0
#  the container upper short edge Q3= %75 upper quantier 'Glucose' = 140
#  the container lower short edge Q1= %25 lower quantier 'Glucose' = 99
#  the container mid plane is median  'Glucose' = 117
#  there are a few outlier by the outcome

TIDY DATA
We tidy data with melt()
Data melting is the way of the make  features as a variable in the row and features  values as a value in the row again.
For example:

In [ ]:
# Firstly I create new data from dataFrame data to explain melt more easily.
data_new = dataFrame.head()    # I only take 5 rows into new data
data_new

In [ ]:
# melting
# id_vars = what we do not wish to melt
# value_vars = what we want to melt
# column name  variable ve value is default
melted = pd.melt(frame=data_new,id_vars = 'Glucose', value_vars= ['BMI','Age'])
melted

In [ ]:
# Reverse of melting.
# Index is Glucose
# after reverse melting i want to next feature name is melted columns variable
# Finally values in columns are value
melted.pivot(index = 'Glucose', columns = 'variable',values='value')




CONCATENATING DATA

We can concatenate two dataframe
there are two type concatenating 


adds dataframes in row ----this is vertical

adds dataframes in column ---this is horizontal 

this method part of pandas library

In [ ]:
data1 = dataFrame.head()
data2= dataFrame.tail()
conc_data_row = pd.concat([data1,data2],axis =0,ignore_index =True) # axis = 0 : adds dataframes in row
conc_data_row

#ignore index:True giving new indexing number after the concat.

In [ ]:
#column concatenating, horizontal 
data1 = dataFrame['BloodPressure'].head()
data2= dataFrame['SkinThickness'].head()
conc_data_col = pd.concat([data1,data2],axis =1) # axis = 1 : adds dataframes in column
conc_data_col

DATA TYPES in Python
5 basic data types: object(string),boolean, integer, float and categorical. 
key word 'dtypes'
types are convertable

In [ ]:
dataFrame.dtypes

In [ ]:
#  convert float to int, int to float
dataFrame['BMI'] = dataFrame['BMI'].astype('int')
dataFrame['Age']= dataFrame['Age'].astype('float')

In [ ]:
dataFrame.dtypes

Dealing with missing data

If we encounter with missing data, what we can do:

1.     leave as is 

2.     drop them with dropna()

3.     fill missing value with fillna()

4.     fill missing values with test statistics like mean

5.     Assert statement: check that you can turn on or turn off when you are done with your testing of the program

In [ ]:
dataFrame.info()

In [ ]:
#cheking some features
dataFrame["Age"].value_counts(dropna=False)
#there was no missing data or NaN value etc.
#other check method is assert
assert dataFrame['Age'].notnull().all() # its rerun nothing because Age feature has no nan values..its like boolean operators. if there is wrong in the statment 
# syntax error came up.
#some other statment with assert
assert dataFrame.Age.dtypes == np.float # same. nothing return.