In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns


# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))



# Any results you write to the current directory are saved as output.

**1)DATAYI IMPORT ETMEK**
* Burada data adında bir değişken tanımlayıp pandas kütüphanesinin read_csv komutu ile datamızı import ediyoruz.
* Bundan sonra bu veri seti ile bir işlem yapmak istediğimizde data değişkenini kullanarak csv dosyamıza erişeceğiz

In [ ]:
data=pd.read_csv('../input/world-happiness/2019.csv')

**DATA HAKKINDA GENEL BİR BİLGİYE SAHİP OLMAK**
* Datamız ile ilgili önizleme yapmak, genel bir bilgi edinmek için 
> data.info()  ->  komutu kullanılabilir.

In [ ]:
data.info()

**VERİNİN İLK ÖNİZLEMESİNİ YAPMAK**
* Veri hakkında bilgi sahibi olmak için, (tercih olarak) veri setimizin ilk 10 değerini görmek istiyorum.
> Bunun için data.head  -> komutunu kullanacağız.
* Fakat data.head dediğimiz zaman bize ilk 5 değeri getirecektir. Biz ise ilk 10 değeri istiyoruz.
> Bunun için data.head(10) -> komutunu kullanacağız.
* İlk kaç değeri göstermek istiyor isek, bunun sayısını parantez içindeki bölüme girebiliriz.
> Örnek olarak data.head(7) -> komutunu kullanabiliriz.

In [ ]:
data.head(10)

**VERİNİN SON DEĞERİNE BAKMAK**
* Eğer elimizdeki datanın son değerine bakmak istiyor isek
> data.tail()  ->  komutundan faydalanıyoruz.
* data.tail() yazdığımız zaman bize dafeault olarak son 5 değeri getirecektir. Eğer biz örnek olarak 10 değer istiyor isek, parantez içine 10 yazmamız gerekecektir.
> data.tail(10)  -> komutundan faydalanıyoruz.

In [ ]:
data.tail(10)

In [ ]:
data.corr()

In [ ]:
#Correlation Map
f,ax = plt.subplots(figsize=(14,14))
sns.heatmap(data.corr(), annot =True , linewidth=.5, fmt='.2f',ax=ax)
plt.show()

 **DATA KOLONLARINI (SÜTUNLARINI) GÖRMEK**  <br>
Data sütunlarını görmek için 
> data.columns  -> komutu kullanılır.

In [ ]:
data.columns

**2) MATPLOTLIB** <br>
Matplot is a python library that help us to plot data. The easiest and basic plots are line, scatter and histogram plots.

* Line plot is better when x axis is time.
* Scatter is better when there is correlation between two variables
* Histogram is better when we need to see distribution of numerical data.
* Customization: Colors,labels,thickness of line, title, opacity, grid, figsize, ticks of axis and linestyle

In [ ]:
# Line Plot
data.rename(columns={"GDP per capita":"GDPPerCapita","Healthy life expectancy":"HealthyLifeExpectancy","Social support":"SocialSupport"},inplace=True)

data.GDPPerCapita.plot(kind = 'line', color = 'blue',label = 'GDPPerCapita',linewidth=1,alpha = 0.5,grid = True,linestyle = ':')
data.SocialSupport.plot(color = 'purple',label = 'SocialSupport',linewidth=1, alpha = 0.8,grid = True,linestyle = '-.')
plt.legend(loc='upper right')     # legend = puts label into plot
plt.xlabel=('x axis')              # label = name of label
plt.ylabel=('y axis')
plt.title=('Line Plot')            # title = title of plot
plt.show()

In [ ]:
# Scatter Plot
data.plot(kind='scatter',x='GDPPerCapita', y='HealthyLifeExpectancy',alpha=0.5,color='blue',title='Scatter Plot')
plt.xlabel=('GDP per capita')
plt.ylabel=('Healthy life expectancy')

In [ ]:
#Histogram Plot
data.GDPPerCapita.plot(kind='hist', bins=45,figsize=(15,15),title='GDP per capita Histogram Plot')
plt.show()

**3) PANDAS**

* Comparison operator : A comparison operator in python, also called python relational operator, compares the values of two operands, and returns True or False based on whether the condition is met.
* Boolean Operator : A boolean expression (or logical expression) evaluates to one of two states true or false. Python provides the boolean type that can be either set to False or True. Many functions and operations returns boolean objects.
* Series : A Series is a one-dimensional object that can hold any data type such as integers, floats and strings.
* DataFrame : A DataFrame is a two dimensional object that can have columns with potential different types. Different kind of inputs include dictionaries, lists, series, and even another DataFrame.It is the most commonly used pandas object.

In [ ]:
#Comparison Operator
print (3<2)
print (3!=5)
print (3==3)
print (5>4)
print (3<=1)
print (9>=6)

#Boolean Operator
print (True and False)
print (True and True)
print (True or False)
print (True or True)
print (False or False)

In [ ]:
# Filtering Pandas Data Frame
a = data['Score']>7.000     # There are only 16 Country or region who have higher Score value than 7.000
data[a]

In [ ]:
data['Score']>7.000

In [ ]:
# Filtering pandas with logical_and
# There are only 3 Country or region who have higher Score value than 7.000 and higher SocialSupport value than 1.580
data[np.logical_and(data['Score']>7.000, data['SocialSupport']>1.580)]

In [ ]:
# This is also same with previous code line. Therefore we can also use '&' for filtering.
data[(data['Score']>7.000) & (data['SocialSupport']>1.580)]

**4) WHILE and FOR LOOPS**  <br>
> We will learn most basic while and for loops

In [ ]:
# Stay in loop if condition( i is not equal 7) is true
i = 0
while i !=7:
    print("i is : ",i)
    i+=1
print(i," is equal to 7")

In [ ]:
# Stay in loop if condition( i is not equal 9) is true
lis = [11,24,38,49,52,66,78,81,93]
for i in lis:
    print("i is: ",i)
print("")

In [ ]:
# Enumerate index and value of list
# index : value = 0:1, 1:2, 2:3, 3:4, 4:5, 5:6, 6:7, 7:8, 8:9
for index, value in enumerate(lis):
    print(index," : ",value)
print("")

In [ ]:
# For dictionaries
# We can use for loop to achive key and value of dictionary. We learnt key and value at dictionary part.
dictionary = {'Turkey':'Ankara', 'Uganda':'Kampala','Somalia':'Mogadishu','Romania':'Bucharest'}
for key,value in dictionary.items():
    print(key," : ",value)
print("")

In [ ]:
# For pandas we can achieve index and value
for index,values in data [['Country or region']][0:2].iterrows():
    print(index," : ",values)

**In this part, you learn:**

* how to import csv file
* plotting line,scatter and histogram
* basic dictionary features
* basic pandas features like filtering that is actually something always used and main for being data scientist
* While and for loops

**USER DEFINED FUNCTION**<br>
> What we need to know about functions <br>
* docstrings: documentation for functions. Example: <br>
 for f(): <br>
 """This is docstring for documentation of function f""" <br>
* tuble: sequence of immutable python objects.<br>
cant modify values <br>
tuble uses paranthesis like tuble = (1,2,3) <br>
unpack tuble into several variables like a,b,c = tuble

Lets make some basic example1

In [ ]:
# example of what we learn above
def tuple_example1():
    x=(1,2,3,4)
    return x
a,b,c,d=tuple_example1() #eleman sayısı kadar değere atama yapmak zorundayız.
print(a,b,c,d)

Lets make some basic example2

In [ ]:
# example of what we learn above
def tuple_example2():
    a=(54,98,82,46,73,37)
    return a
a,b,c,d,e,f = tuple_example2()
print(a,b,c,d,e,f)

Lets make some basic example3

In [ ]:
# example of what we learn above
def tuple_example3():
    notlar=(65,98,7,45,25,14)
    return notlar
a,b,c,d,e,f = tuple_example3()
print(a,b) # Değerlerin hepsini yazdırmak zorunda değliz. Sadece istediğimiz değereri yazdırma şansımız var.

Lets make some basic example4

In [ ]:
# example of what we learn above
def tuple_example4():
    sayilar =(11,12,13)
    return sayilar
a,_,_= tuple_example4()  #eğer 3 sayıya da atama yapmak istemiyor isek diğerlerinin yerine alt cizgi koyabiliriz. Başka yerlerde görür iseniz şaşırmayın..
print(a)

**SCOPE**<br>
What we need to know about scope:<br>
* Global: defined main body in script
* Local: defined in a function
* built in scope: names in predefined built in scope module such as print, len

Lets make some basic example

In [ ]:
# guess print what
degisken = 1
def fonksiyon():
    degisken = 5
    return degisken
print(degisken) # degisken = 1 global scope
print(fonksiyon()) # degisken = 5 local scope

In [ ]:
# What if there is no local scope
degisken = 6
def fonksiyon():
    sonuc = degisken * 5  # there is no local scope degisken
    return sonuc
print(fonksiyon())  # it uses global scope degisken
# First local scopesearched, then global scope searched, if two of them cannot be found lastly built in scope searched.

In [ ]:
# Example2
x = 5
def islem():
    sonuclar = x + 9
    return sonuclar
print(islem())

In [ ]:
# How can we learn what is built in scope
import builtins
dir(builtins)

**NESTED FUNCTION**<br>
* function inside function.
* There is a LEGB rule that is search local scope, enclosing function, global and built in scopes, respectively.

In [ ]:
#nested function
def fonksiyon():
    """ return square of value """
    def add():
        """ add two local variable """
        a = 4
        b = 5
        sonuc= a + b
        return sonuc
    
    return add()**2

print(fonksiyon())

**DEFAULT and FLEXIBLE ARGUMENTS**<br><br>
* Default argument example:<br>
   def f(a, b=1):<br><br>
> """ b = 1 is default argument"""  <br><br>
* Flexible argument example:<br><br>
>   def f(*args):<br><br>
>   """ *args can be one or more""" <br><br>
>    def f(** kwargs)<br><br>
""" **kwargs is a dictionary"""

> lets write some code to practice

In [ ]:
# default arguments
def elemanlar(x,y=5,z=3):
    sonuc= x + y + z
    return sonuc
print(elemanlar(9))
# what if we want to change default arguments
print(elemanlar(4,5,6))

In [ ]:
### Flexible Arguments *args
def fonksiyon(*args):
    for i in args:
        print(i)
fonksiyon(2)

print("----------------------")

# Flexible arguments *args example 2
def fonksiyon2(*args):
    for i in args:
        print (i)
fonksiyon2(1,2,3,4,5,6)

In [ ]:
# Flexible arguments **kwargs that is dictionary 
def fonksiyon(**kwargs):
    """ print key and value of dictionary"""
    for key,value in kwargs.items():   # If you do not understand this part turn for loop part and look at dictionary in for loop
        print(key," : ",value)
fonksiyon(country = 'Turkey',capital = 'Ankara')
fonksiyon(country = 'England', capital = 'France')

** LAMBDA FUNCTION ** <br><br>
> Faster way of writing function

In [ ]:
# Lambda function
hesapla = lambda x: x**2
print(hesapla(5))

print("---------------")

hesapla2 = lambda a,b,c : a + b + c
print(hesapla2(4,5,6))

**ANONYMOUS FUNCTİON**<br><br>
> Like lambda function but it can take more than one arguments.<br>
* map(func,seq) : applies a function to all the items in a list

In [ ]:
numara_listesi = [15,20,25,30,35]
fonksiyon = map(lambda x:x**2,numara_listesi)
print(list(fonksiyon))

**ITERATORS**
* iterable is an object that can return an iterator
* iterable: an object with an associated iter() method<br>
> example: list, strings and dictionaries
* iterator: produces next value with next() method

In [ ]:
# iteration example
isim = "HELLO"
hecele = iter(isim)
print(next(hecele))
print("-----")
print(*hecele)
print("-----")

# iteration example2
isim2 = "THATS ALL :D"
hecele2 = iter(isim2)
print(*hecele2)

**zip(): zip lists**

In [ ]:
# zip example
liste1 = [1,2,3,4,5,6]
liste2 = [10,11,12,13,14,15]
zipli_liste = zip(liste1,liste2)
print(zipli_liste)
zipi_cevir = list(zipli_liste)
print(zipi_cevir)

In [ ]:
# unzip example
zipi_kaldır = zip(*zipi_cevir)
zipli_liste1,zipli_liste2 = list(zipi_kaldır)  # unzip returns tuble
print(zipli_liste1)
print(zipli_liste2)
print(type(zipli_liste1))
print(type(list(zipli_liste1)))
print(type(list(zipli_liste2)))

**LIST COMPREHENSİON**<br>
<strong>**One of the most important topic of this kernel**<br></strong>
> We use list comprehension for data analysis often.<br>
> list comprehension: collapse for loops for building lists into a single line<br>
> Ex: num1 = [1,2,3] and we want to make it num2 = [2,3,4]. This can be done with for loop. However it is unnecessarily long.<br>
> We can make it one line code that is list comprehension.

In [ ]:
# Example of list comprehension
liste1 = [1,2,3,4]
liste2 = [i+1 for i in liste1]
print (liste2)
print("-------------------------------")
döngü_listesi = [2,3,4,5,6,7,8,9]
islem_listesi = [i+5/2 for i in döngü_listesi]
print (islem_listesi)

In [ ]:
# Conditionals on iterable
liste1 = [5,10,15,6,8,4,9]
liste2 = [i**2 if i==10 else i-5 if i<7 else i+7 for i in liste1]
print(liste2)

**3.CLEANING DATA**

**DIAGNOSE DATA for CLEANING**<br>
> We need to diagnose and clean data before exploring.<br>
Unclean data:
* Column name inconsistency like upper-lower case letter or space between words
* missing data
* different language<br><br>
> We will use head, tail, columns, shape and info methods to diagnose data

In [ ]:
data = pd.read_csv('../input/world-happiness/2019.csv')
data.head(10)  # head shows first 10 rows

In [ ]:
data.tail(3)

In [ ]:
# columns gives column names of features
data.columns

In [ ]:
# shape gives number of rows and columns in a tuble
data.shape

In [ ]:
# info gives data type like dataframe, number of sample or row, number of feature or column, feature types and memory usage
data.info()

**EXPLORATORY DATA ANALYSIS**

> value_counts(): Frequency counts
<br>outliers: the value that is considerably higher or lower from rest of the data
* Lets say value at 75% is Q3 and value at 25% is Q1.
* Outlier are smaller than Q1 - 1.5(Q3-Q1) and bigger than Q3 + 1.5(Q3-Q1). (Q3-Q1) = IQR
* We will use describe() method. Describe method includes:
* count: number of entries
* mean: average of entries
* std: standart deviation
* min: minimum entry
* 25%: first quantile
* 50%: median or second quantile
* 75%: third quantile
* max: maximum entry

> **What is quantile?**
<br>

* 1,4,5,6,8,9,11,12,13,14,15,16,17
* The median is the number that is in middle of the sequence. In this case it would be 11.

* The lower quartile is the median in between the smallest number and the median i.e. in between 1 and 11, which is 6.

* The upper quartile, you find the median between the median and the largest number i.e. between 11 and 17, which will be 14 according to the question above.

In [ ]:
# For example lets look frequency of happy types
print(data["Country or region"].value_counts(dropna=False))  #example 1
print(data["GDP per capita"].value_counts(dropna = False))  # example 2
print(data["Healthy life expectancy"].value_counts(dropna = False)) # example 3

In [ ]:
# For example max HP is 255 or min defense is 5
data.describe()

In [ ]:
data.Score.describe()

In [ ]:
data["GDP per capita"].describe()

**VISUAL EXPLORATORY DATA ANALYSIS**
<br>
* Box plots: visualize basic statistics like outliers, min/max or quantiles

In [ ]:
data.info()

In [ ]:
# For example: compare attack of pokemons that are legendary  or not
# Black line at top is max
# Blue line at top is 75%
# Red line is median (50%)
# Blue line at bottom is 25%
# Black line at bottom is min
# There are no outliers
data.boxplot(column='Healthy life expectancy',by='Social support')
plt.show()

**TIDY DATA**
<br>
> We tidy data with melt(). Describing melt is confusing. Therefore lets make example to understand it.

In [ ]:
# Firstly I create new data from pokemons data to explain melt nore easily.
new_data = data.head(6)
new_data

In [ ]:
# lets melt
# id_vars = what we do not wish to melt
# value_vars = what we want to melt
melted= pd.melt(frame=new_data,id_vars='Country or region',value_vars=['Score','Healthy life expectancy'])
melted

**PIVOTING DATA**
> <br>Reverse of melting.

In [ ]:
# Index is name
# I want to make that columns are variable
# Finally values in columns are value
melted.pivot(index='Country or region',columns='variable',values='value')

**CONCATENATING DATA**
> <br> We can concatenate two dataframe

In [ ]:
# Firstly lets create 2 data frame
data1 = data.head(3)
data2 = data.tail(3)
conc_data_row = pd.concat([data1,data2],axis=0,ignore_index=True) # # axis = 0 : adds dataframes in row
conc_data_row

# data_birlestir = pd.concat([data1,data2],axis=1,ignore_index=True)
# data_birlestir

In [ ]:
data1=data['Score'].head()
data2=data['Healthy life expectancy'].head()
data_concat=pd.concat([data1,data2],axis=0)
data_concat

**DATA TYPES**
<br>
> There are 5 basic data types: object(string),booleab, integer, float and categorical.
We can make conversion data types like from str to categorical or from int to float
Why is category important:<br>
* make dataframe smaller in memory
* can be utilized for anlaysis especially for sklear(we will learn later)

In [ ]:
data.dtypes

In [ ]:
# lets convert object(str) to categorical and int to float.
data['Country or region'] = data['Country or region'].astype('category')
data['GDP per capita'] = data['GDP per capita'].astype('object')

In [ ]:
# As you can see Country or region is converted from object to categorical
# And GDP per capita ,s converted from int to object
data.dtypes

**MISSING DATA and TESTING WITH ASSERT**
<br>
> If we encounter with missing data, what we can do:
* leave as is
* drop them with dropna()
* fill missing value with fillna()
* fill missing values with test statistics like mean
<br>
Assert statement: check that you can turn on or turn off when you are done with your testing of the program

In [ ]:
data.info()

In [ ]:
# Lets chech Type 2
data['Country or region'].value_counts(dropna=False)

In [ ]:
data['Generosity'].value_counts(dropna=False)

In [ ]:
data['Perceptions of corruption'].value_counts(dropna=False)

In [ ]:
data['Social support'].value_counts(dropna=False)

In [ ]:
#  Lets check with assert statement
# Assert statement:
assert 1==1 # return nothing because it is true

In [ ]:
# assert 25==100  ----> false
assert 25==25   # -----> True

In [ ]:
assert data['Social support'].notnull().all()   # returns nothing because we drop nan values

In [ ]:
assert data ['Perceptions of corruption'].notnull().all()

In [ ]:
data['Perceptions of corruption'].fillna('empty',inplace=True)

In [ ]:
assert data ['Perceptions of corruption'].notnull().all()  # returns nothing because we do not have nan values

In [ ]:
data.head(10)

In [ ]:
# assert data.columns[1]=='Country or region'
# assert data.columns[0]=='Overall rank'
# assert data.columns[2]=='Score'
# assert data.columns[3]=='GDP per capita'
# assert data.columns[4]=='Social support'
# assert data.columns[5]=='Healthy life expectancy'
# assert data.columns[6]=='Freedom to make life choices'

> In this part, you learn:
* Diagnose data for cleaning
* Exploratory data analysis
* Visual exploratory data analysis
* Tidy data
* Pivoting data
* Concatenating data
* Data types
* Missing data and testing with assert

**4. PANDAS FOUNDATION**
<br>

**REVİEW of PANDAS**<br>
> As you notice, I do not give all idea in a same time. Although, we learn some basics of pandas, we will go deeper in pandas
* single column = series
* NaN = not a number
* dataframe.values = numpy<br>

> **BUILDING DATA FRAMES FROM SCRATCH**<br>
* We can build data frames from csv as we did earlier.
* Also we can build dataframe from dictionaries 
  * zip() method: This function returns a list of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables.
* Adding new column
* Broadcasting: Create new column and assign a value to entire column

In [ ]:
# data frames from dictionary
country = ["İspanya","Fransa","Türkiye","Somali","Afrika"]
population = ["11","12","10","15","11"]
list_label = ["country","population"]
list_column = [country,population]
zipped = list(zip(list_label,list_column))
data_dict = dict(zipped)
df = pd.DataFrame(data_dict)
df

In [ ]:
# Add new columns
df["capital"]=["madrid","paris","ankara","mogadişu","cape Town"]
df

In [ ]:
# Broadcasting
df["income"]=0         #Broadcasting entire column
df

> **VISUAL EXPLORATORY DATA ANALYSIS**<br>
* Plot
* Subplot
* Histogram:
  * bins: number of bins
  * range(tuble): min and max values of bins
  * normed(boolean): normalize or not
  * cumulative(boolean): compute cumulative distribution

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
# Plotting all data 
data1 = data.loc[:,["Score","Social support","Freedom to make life choices"]]
data1.plot()
plt.show()

In [ ]:
# subplots
data1.plot(subplots = True)
plt.show()

In [ ]:
# scatter plot
data1.plot(kind="scatter",x = "Social support",y="Freedom to make life choices")
plt.show()

In [ ]:
# hist plot
data1.plot(kind="hist",y="Social support",bins=15,range=(0,1),normed=True)
plt.show()

In [ ]:
# histogram subplot with non cumulative and cumulative
fig,axes=plt.subplots(nrows=2,ncols=1)
data1.plot(kind="hist" , y="Social support" , bins=20 , range=(0,1) , normed=True , ax=axes [0])
data1.plot(kind="hist" , y="Social support" , bins=20 , range=(0,1) , normed=True , ax=axes[1], cumulative=True)
plt.savefig('graph.png')
plt
plt.show()

**STATISTICAL EXPLORATORY DATA ANALYSIS**
> I already explained it at previous parts. However lets look at one more time.
   * count: number of entries
   * mean: average of entries
   * std: standart deviation
   * min: minimum entry
   * 25%: first quantile
   * 50%: median or second quantile
   * 75%: third quantile
   * max: maximum entry

In [ ]:
data.describe()

**INDEXING PANDAS TIME SERIES**<br>
* > datetime = object
* >  parse_dates(boolean): Transform date to ISO 8601 (yyyy-mm-dd hh:mm:ss ) format

In [ ]:
time_list=["2020-01-02","2020-01-03","2020-01-04"]
print(type(time_list[1]))       # As you can see date is string
# however we want it to be datetime object
date_time_object=pd.to_datetime(time_list)
print(type(date_time_object))

In [ ]:
# In order to practice lets take head of happy data and add it a time list
data2=data.head()
date_list=["2020-01-01","2020-01-02","2020-01-03","2020-01-04","2020-01-05"]
date_object=pd.to_datetime(date_list)
data2["date"] = date_object
# lets make date as index
data2=data2.set_index("date")
data2

In [ ]:
# Now we can select according to our date index
print(data2.loc["2020-01-05"])
print(data2.loc["2020-01-01":"2020-01-05"])

> **RESAMPLING PANDAS TIME SERIES**<br>
* Resampling: statistical method over different time intervals
    * Needs string to specify frequency like "M" = month or "A" = year
* Downsampling: reduce date time rows to slower frequency like from daily to weekly
* Upsampling: increase date time rows to faster frequency like from daily to hourly
* Interpolate: Interpolate values according to different methods like ‘linear’, ‘time’ or index’

In [ ]:
# We will use data2 that we create at previous part
data2.resample("A").mean()

In [ ]:
# Lets resample with month
data2.resample("M").mean()
# As you can see there are a lot of nan because data2 does not include all months

In [ ]:
# Or we can interpolate with mean()
data2.resample("M").mean().interpolate("linear")

### **MANIPULATING DATA FRAMES WITH PANDAS**<br>
> * Indexing using square brackets
* Using column attribute and row label
* Using loc accessor
* Selecting only some columns

In [ ]:
data=pd.read_csv('../input/world-happiness/2019.csv')

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
data.index.names=['#']
data.head()

In [ ]:
# indexing using square brackets
print(data["Country or region"][1])
print(data["Country or region"][23])

In [ ]:
# using column attribute and row label
data.Score[1]

In [ ]:
# using loc accessor
data.loc[1,["Score"]]

In [ ]:
# Selecting only some columns
data[["Score","GDP per capita"]]

> **SLICING DATA FRAME**<br>
* Difference between selecting columns
   * Series and data frames
* Slicing and indexing series
* Reverse slicing
* From something to end