In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

#### Here we are starting our notebook exploration in following steps:
- lets start with importing useful library
- Reading the Dataset

In [ ]:
# importing the library which is useful for us:
import matplotlib.pyplot as plt # for performing data visulization through graph and plotting data
import seaborn as sns # it is another useful library to plot graphs and data visualization, but it provides better and beautiful graphs

In [ ]:
# Reading data
data=pd.read_csv('/kaggle/input/windows-store/msft.csv')
data.head()

#### So from the above we can see that we have:
- we have a dataset with 6 columns namely- Name,Rating,No of people Rated, Category,Date,Price
- The product rating have been given out of 5
- Then we have count of people who rated particular product
- Then we have category of item like books
- then the mentioned dates 
- Price

<h2 ><center><font color="brown"> Let's dive deeper into the Dataset</font></h2>

In [ ]:
# info of data
data.info()

- so we have total 5322 enteries and 6 columns
- we have 4 object type data and 1 float type and one int type
- also one thing to consider we have **Date** as object so for the sake of usability we will convert it into datetime object later

<h2><font color="orange">We will check for null values within the dataset</font></h2>

In [ ]:
print(data.isnull().sum()) # printing the null values within data
data.dropna(how='any',inplace=True)# dropping rows having null value
data.isnull().sum()# checking again

so we have dropped all the rows having null value as there are less null values in data it is advised to drop the value.

<h1 ><center><font color="#6f85a6">Exploratory Data Analysis</font></h1>

In [ ]:
#lets desribe about the data
print(data.describe(include='all').T)
fig,ax=plt.subplots(1,2,figsize=(10,4))
plt.style.use('ggplot')
sns.boxplot(y=data['Rating'],ax=ax[0])
sns.boxplot(y=data['No of people Rated'],ax=ax[1])
ax[0].set_title("What people rated")
ax[1].set_title("How many people Rated")

In [ ]:
# To check unique value within various categorical variable
print('Category has Unique values\n',data['Category'].unique())
print('Price has Unique values\n',data['Price'].unique())

- From the above code we can see that Books has 13 Unique Columns which can be converted into one hot encoding.
- In the Price columns we have some prices and one having free columns which we will convert it into 0.

In [ ]:
data['Price'].replace({'Free':0},inplace=True)
data.head()

As we can see that now our price columns is quite sorted
but still we have to filter the rupee(â‚¹) from it to purely covert it into numeric data.

In [ ]:
data['Price']=data['Price'].str.extract('(\d+)')
data['Price'].fillna(0,inplace=True)# we have to fill Nan value with 0 as previously our 0 is converted to nan value
data.head()

our Price column is fully sorted and now we can draw various conclusion from it.Now we will see how the category is distributed.

In [ ]:
plt.figure(figsize=(10,5))
plt.style.use('ggplot')
sns.countplot(data['Category'])
plt.xticks(rotation=70)

In [ ]:
data['Price']=data['Price'].astype(int)
data.info()

Lets explore some more about data.we will explore in the following manner.
1. Relation bw price and book columns.

In [ ]:
book_data=data[data['Category']=='Books']
print('Avg,Max,Min Rating of Book columns')
print(round(book_data['Rating'].mean(),2),book_data['Rating'].max(),book_data['Rating'].min())
book_data['Value']=book_data['Price'].apply(lambda x :'Free' if x ==0 else 'SomeCost')
fig,ax=plt.subplots(1,2,figsize=(10,5))
sns.countplot(book_data['Value'],ax=ax[0])
sns.distplot(book_data['Rating'],ax=ax[1])

Obsevation: 
- almost every book is free
- avrage rating is 3.79

In [ ]:
music_data=data[data['Category']=='Music']
print('Avg,Max,Min Rating of Music columns')
print(round(music_data['Rating'].mean(),2),music_data['Rating'].max(),music_data['Rating'].min())
music_data['Value']=music_data['Price'].apply(lambda x :'Free' if x ==0 else 'SomeCost')
fig,ax=plt.subplots(1,2,figsize=(10,5))
sns.countplot(music_data['Value'],ax=ax[0])
sns.distplot(music_data['Rating'],ax=ax[1])

Obsevation: 
- every category belong to music is free
- avrage rating is 3.76

#### Lets look for 5  popular Items:
- Book
- Music

In [ ]:
book_data['Popularity']=book_data['Rating'] * book_data['No of people Rated']
top5_book=book_data.loc[book_data['Popularity'].nlargest(5).index]
print("Top 5 books are:\n",top5_book['Name'].to_string(index=False))

In [ ]:
music_data['Popularity']=music_data['Rating'] * music_data['No of people Rated']
top5_music=music_data.loc[music_data['Popularity'].nlargest(5).index]
print("Top 5 books are:\n",top5_music['Name'].to_string(index=False))

This is how we can find top 5 items in this dataset. Similarly you can do this for all important category like business, Health and fitness etc.

## If you like this. Please Upvote and connect with me.