**DATA SCIENTIST**

In this tutorial, I only explain you what you need to be a data scientist neither more nor less.

Data scientist need to have these skills:

1. Basic Tools: Like python, R or SQL. You do not need to know everything. What you only need is to learn how to use python
2. Basic Statistics: Like mean, median or standart deviation. If you know basic statistics, you can use python easily.
3. Data Munging: Working with messy and difficult data. Like a inconsistent date and string formatting. As you guess, python helps us.
4. Data Visualization: Title is actually explanatory. We will visualize the data with python like matplot and seaborn libraries.
5. Machine Learning: You do not need to understand math behind the machine learning technique. You only need is understanding basics of machine learning and learning how to implement it while using python.

As a summary we will learn python to be data scientist !!!

In this kernel, I only use thing what base command for data science. I reference in https://www.kaggle.com/kanncaa1/data-sciencetutorial-for-beginners#DATA-SCIENTIST. Therefor,I tried to try the codes except for the codes used in this tutorial.

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [ ]:
def dataRead():
    #Read data
    df = pd.read_csv("/kaggle/input/top-250-football-transfers-from-2000-to-2018/top250-00-19.csv")
    return df

In [ ]:
df= dataRead()

**1- Introduction Python**

MATPLOTLIB

In [ ]:
df.head()
df.info()

In [ ]:
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (9, 9)
# Histogram
df.hist()
plt.tight_layout()

In [ ]:
sns.countplot(x='Position',data=df)
plt.xticks(rotation=90)

In [ ]:
sns.pointplot(x='index',y='Season',data=pd.DataFrame(df.Season.value_counts()).reset_index().sort_values('index'))
plt.xticks(rotation=90)
plt.xlabel('Season')
plt.ylabel('Number of Trade')

**DICTIONARY**

In [ ]:
dictionary = {'spain' : 'madrid','usa' : 'vegas'}
print(dictionary.keys())
print(dictionary.values())

In [ ]:
dictionary['spain'] = "barcelona"    # update existing entry
print(dictionary)
dictionary['france'] = "paris"       # Add new entry
print(dictionary)
del dictionary['spain']              # remove entry with key 'spain'
print(dictionary)
print('france' in dictionary)        # check include or not
dictionary.clear()                   # remove all entries in dict
print(dictionary)

In [ ]:
print(dictionary)       # it gives error because dictionary is deleted

**PANDAS**

In [ ]:
df.info()

In [ ]:
series = df['Age']        # data['Defense'] = series
print(type(series))
data_frame = df[['Age']]  # data[['Defense']] = data frame
print(type(data_frame))

In [ ]:
# 1 - Filtering Pandas data frame
x = df['Age']>30     # There are only 3 pokemons who have higher defense value than 200
df[x]

In [ ]:
# This is also same with previous code line. Therefore we can also use '&' for filtering.
df[(df['Age']>25) & (df['Transfer_fee']>60000000)]

**2. PYTHON DATA SCIENCE TOOLBOX**

In [ ]:
# lets classify pleyers whether they have high or low . Our threshold is average speed.
#df.info()
df.Transfer_fee.head()
# Basic statistics about the data and its variables
df.describe()

In [ ]:
# lets return pokemon csv and make one more list comprehension example
# lets classify pokemons whether they have high or low speed. Our threshold is average speed.
threshold = sum(df.Transfer_fee)/len(df.Transfer_fee)
df["Transfer_fee"] = ["high" if i > threshold else "low" for i in df.Transfer_fee]
df.loc[:10,["Transfer_fee Level","Transfer_fee"]] # we will learn loc more detailed later

In [ ]:
type(df)
df = dataRead()

**3.CLEANING DATA**

DIAGNOSE DATA for CLEANING

In [ ]:
df.head()  # head shows first 5 rows

In [ ]:
# tail shows last 5 rows
df.tail()

**EXPLORATORY DATA ANALYSIS**


value_counts(): Frequency counts
outliers: the value that is considerably higher or lower from rest of the data

Lets say value at 75% is Q3 and value at 25% is Q1.
Outlier are smaller than Q1 - 1.5(Q3-Q1) and bigger than Q3 + 1.5(Q3-Q1). (Q3-Q1) = IQR
We will use describe() method. Describe method includes:
count: number of entries
mean: average of entries
std: standart deviation
min: minimum entry
25%: first quantile
50%: median or second quantile
75%: third quantile
max: maximum entry

In [ ]:
# For example lets look frequency of pokemom types
print(df['Position'].value_counts(dropna =False))  # if there are nan values that also be counted
# As it can be seen below there are 112 water pokemon or 70 grass pokemon

In [ ]:
# For example max HP is 255 or min defense is 5
df.describe() #ignore null entries

### VISUAL EXPLORATORY DATA ANALYSIS
Box plots: visualize basic statistics like outliers, min/max or quantiles

In [ ]:
df.head()

In [ ]:
# For example: compare fee value of players that are legendary  or not
# amaç hangi sezonda transfer edilen oyuncuların 
df.boxplot(column='Age',by = 'Season')

**TIDY DATA**

We tidy data with melt(). Describing melt is confusing. Therefore lets make example to understand it.

In [ ]:
# Firstly I create new data from transfer data to explain melt nore easily.

data_new = df.head()    # I only take 5 rows into new data
data_new

In [ ]:
# lets melt
# id_vars = what we do not wish to melt
# value_vars = what we want to melt
melted = pd.melt(frame=data_new,id_vars = 'Name', value_vars= ['Transfer_fee','Market_value'])
melted

**PIVOTING DATA**

Reverse of melting.

In [ ]:
# Index is name
# I want to make that columns are variable
# Finally values in columns are value
melted.pivot(index = 'Name', columns = 'variable',values='value')

**CONCATENATING DATA**

In [ ]:
# Firstly lets create 2 data frame
data1 = df.head()
data2= df.tail()
conc_data_row = pd.concat([data1,data2],axis =0,ignore_index =True) # axis = 0 : adds dataframes in row
conc_data_row

In [ ]:
data1 = df['Transfer_fee'].head()
data2= df['Market_value'].head()
conc_data_col = pd.concat([data1,data2],axis =1) # axis = 0 : adds dataframes in row
conc_data_col

**DATA TYPES**

There are 5 basic data types: object(string),booleab, integer, float and categorical.
We can make conversion data types like from str to categorical or from int to float
Why is category important:

make dataframe smaller in memory
can be utilized for anlaysis especially for sklear(we will learn later)

In [ ]:
df.dtypes

**MISSING DATA and TESTING WITH ASSERT**
If we encounter with missing data, what we can do:

leave as is
drop them with dropna()
fill missing value with fillna()
fill missing values with test statistics like mean
Assert statement: check that you can turn on or turn off when you are done with your testing of the program

In [ ]:
df.info()

In [ ]:
# Market value değerlerini kontrol ediyoruz
df["Market_value"].value_counts(dropna =False)
# .Göründüğü gibi 1260 tane NaN var

In [ ]:
df["Market_value"].dropna(inplace = True)

In [ ]:
assert 1==1

In [ ]:
assert  df['Market_value'].notnull().all()