# PYTHON DATA SCIENCE TOOLBOX

## USER DEFINED FUNCTION

What we need to know about functions:

    docstrings: documentation for functions. Example:
    for f():
    """This is docstring for documentation of function f"""
    tuble: sequence of immutable python objects.
    cant modify values
    tuble uses paranthesis like tuble = (1,2,3)
    unpack tuble into several variables like a,b,c = tuble

In [ ]:
# Tuplelar farklı değişkenlere aktarılabildiği gibi
# Aktarılan değişkenlerdende sadece istenilen değişken print edilebilir.
def tuble_ex():
    t=(1,2,3)
    return t
a,b,c = tuble_ex()
z,_,_ = tuble_ex()
print(a,b,c)
print(z)

### Scope
* Global ve Local variable'dan farklı olarak:
* Python tarafından daha önceden sabit olarak bir göreve atanmış isimler build in scope olarak geçmektedir.
* Bu isimler bir variable isim olarak tercih edilemez.
* Python'da kayıtlı scope'ları görmek için:
      import builtins
      dir(builtins)

## Nested Function 
Fonksiyon içinde fonksiyon olması ile oluşan fonksiyon tipleridir.

*     function inside function.
*     There is a LEGB rule that is search local scope, enclosing function, global and built in scopes, respectively.

In [ ]:
def square():
    """ return square of value """
    def add():
        """ add two local variable """
        x = 2
        y = 3
        z = x + y
        return z
    return add()**2
print(square())

## DEFAULT and FLEXIBLE ARGUMENTS


    Default argument example:
    def f(a, b=1):

      """ b = 1 is default argument"""

    Flexible argument example:
    def f(*args):

     """ *args can be one or more"""


    def f(** kwargs)

     """ **kwargs is a dictionary"""

Eğer bir fonksiyonda parametreler default olarak bir değere sahip ise
örnekte görüldüğü gibi b=1, c=2 variableleri default değere sabittir. Bu durumda:
Bu fonksiyon çağrıldığında parametreler verilirken default değere sahip değişkenler için bir inputa gerek yoktur. input verilmediği taktirde default değerler ile işlem yapacaktır.
print(f(5)) de f fonksiyonu çağrılmış ve a parametresi 5 olarak verilmiştir. Verilmesi zorunludur çünkü bir default değeri yoktur fakat b ve c parametrelerine bir input verilmemiştir bu durumda python b ve c inputları olmadığı için işlemlere default değerler ile devam eder.

ikinci print ifadesine baktığımızda 3 parametre içinde 3 input bulunmaktadır. Bu durumda b ve c parametrelerinin default değerleri override(geçersiz) kılınarak input olarak verilen değerler kaide alınacaktır.

In [ ]:
# default arguments
def f(a, b = 1, c = 2):
    y = a + b + c
    return y
print(f(5))
# what if we want to change default arguments
print(f(5,4,3))

**args felaxible arguments python tarafından oluşturulmuş bir argümendir.**
Oluşturulan fonksiyonda eğer kaç parametreye ihtiyaç duyulacağı belli değil ise parametre olarak *args verilir. Bu durumda fonksiyon istenilen parametre sayısınca çağrılır.

Aynı mantıkla **kwargs flexible Dictionary'de kullanılan bir yapıdır.**

In [ ]:
# flexible arguments *args
def f(*args):
    for i in args:
        print("f: ",i)
f(1)        
print("")
f(1,2,3,4)    #1\n 2\n 3\n 4\n
print("")
# flexible arguments **kwargs that is dictionary
def f(**kwargs):
    """ print key and value of dictionary"""
    for key, value in kwargs.items():               # If you do not understand this part turn for loop part and look at dictionary in for loop
        print(key, " ", value)
f(country = 'spain', capital = 'madrid', population = 123456)

## LAMBDA FUNCTION 
Faster way of writing function

In [ ]:
# user defined function (long way)
def square(x):
    return x**2
print(square(4))      #1. uzun yol

def tot(x,y,z):
    return x+y+z
print(tot(1,2,3))     #2. uzun yol

def result(sayi1,sayi2,sayi3=3):
    return sayi1**sayi2+sayi3
print("result: ",result(2,3)) ## 2**3+3 = 11


#lambda function
#1. ve 2. fonksiyonların lambda ile kısa yoldan yazılışları

square = lambda x: x**2     # where x is name of argument
print(square(4))

tot = lambda x,y,z: x+y+z   # where x,y,z are names of arguments
print(tot(1,2,3))

result = lambda sayi1,sayi2,sayi3=3: sayi1**sayi2+sayi3
print("Lambdaresult: ",result(2,3)) ## 2**3+3 = 11

## ANONYMOUS FUNCTİON

Like lambda function but it can take more than one arguments.

    map(func,seq) : applies a function to all the items in a list
    
Birinci parametresine fonksiyon ikinci parametresine liste alabilen hafızasında resultları tutup daha sonra bunları döndürebilen yapılardır.

In [ ]:
number_list = [1,2,3]     
number_list2 = [2,3,4]
y = map(lambda x:x**2,number_list)      # result=[1,4,9]  list(map(lambda x:x**2,number_list))
print(list(y))

## number_list ve numberlist2 listelerinin değerlerinin kareleri alındı
## liste isimli variable'a list1(y) ve list2(z) art arda eklenerek tek liste elde edildi.
## iki liste tek zip objesine (iki listenin i'nci indisleri birleştirilerek) dönüştürüldü.
## zip objesi liste olarak yazdırıldı
y,z = map(lambda x:x**2,number_list),map(lambda y:y**2,number_list2)    # [1,4,9] , [4,9,16]
y=list(y)   # y=list
z=list(z)   # z=list 
yz= zip(y,z)  # yz=((yi,zi),(yi+1,zi+1)...(yn,zn)) ==>object         
print("yz : ",list(yz))  ## zip object
liste = y+z
print("liste: ",liste)  # list= [listy elemanları,listz elemanları]

ITERATORS

    iterable is an object that can return an iterator
    iterable: an object with an associated iter() method
    example: list, strings and dictionaries
    iterator: produces next value with next() method
    
* İteratörler dizileri dictionaryleri ve string yapıdaki objeleri parçalara ayıran ve parçaların kısımlarını return edebilen yapılardır.
- string dictionary ve diziler aslında birer iterable objedir.
- örneğin string objesi her biri char(karakter,harf)lerden oluşan iterabledır.
- diziler herbir stringlerden veya integerlerden oluşan bir iterabledir.

In [ ]:
name = "KARAGOZ"
indeks_character = iter(name)
print(type(indeks_character))  # return str_iterator object

print(next(indeks_character))   # 0. indeks   K
print(next(indeks_character))   # 1. indeks   A
print(next(indeks_character))   # 2. indeks   R
print(next(indeks_character))   # 3. indeks   A


print(*indeks_character)    # kalan indekslerin tamamı  G O Z

print("\n\n")    # 2 boşluk

# iteration example 2
name = "ronaldo"
it = iter(name)
print(next(it))    # print next iteration
print(*it)

* Zipler dizileri birleştirmek için kullanılır.
* Birleştirme işlemini yaparken iki diziyide indeksel olarak birleştirir yani 1. dizinin i (sayaç)'nci indeksi ile 2. dizinin i (sayaç)'nci indeksini birleştirir. 
* Birleşme sonucu oluşan varlık bir objedir. Bu obje de liste türüne dönüştürülerek birleştirme tamamlanır.
 
* un_zip ise aksine birleşmiş olan dizileri ayırmak için kullanılır.
* Birleştirilmiş dizinin önüne "*" karakteri getirelerek unzip yapılacağı söylenir ve bir değişkene aktarılır.
* Aktarılan bu değişken artık 2 objeyi barındırmaktadır. İlgili obje list türüne dönüştürülerek iki farklı tuple elde edilir.
* İstenildiği taktirde bu tuplelar list() methodu ile list türünede dönüştürülebilir.

In [ ]:
# zip example
list1 = [1,2,3,4]
list2 = ["a","b","c","d"]
z = zip(list1,list2)
print(z)
z_list = list(z)
print(z_list)

In [ ]:
print("zlist= ",*z_list)
un_zip = zip(*z_list)
un_list1,un_list2 = list(un_zip) # unzip returns tuble
print(un_list1)  # (1,2,3,4)  type=tupple
print(un_list2)  # ('a','b','c','d') type=tupple
print(type(un_list2))
list1 = list(un_list1)
list2 = list(un_list2)
print("tr: Liste 1'in tipi : {}, Liste 2'nin tipi: {}"
     .format(type(list1),type(list2)))
print("eng: list1's type : {}, list2's type: {}"
     .format(type(list1),type(list2)))

## LIST COMPREHENSİON

* One of the most important topic of this kernel
* We use list comprehension for data analysis often.
* list comprehension: collapse for loops for building lists into a single line
* Ex: num1 = [1,2,3] and we want to make it num2 = [2,3,4]. This can be done with for loop. However it is unnecessarily long. We can make it one line code that is list comprehension.

* Dizileri döngüler içinde kullanarak yeni diziler elde etmenin yoludur.

In [ ]:
# Example of list comprehension
#  num2 kısmını incelersek:
#  for kısmının sağ tarafı num1 dizisinin içindeki elemanı al ve i değişkenine aktar.
#  for kısmının sol tarafı ise alınan bu i değişkenini 1 ile topla ve num2 
#  isimli değişkene aktar.
#  [i + 1 for i in num1 ]  ==> list comprehension
#  i +1  ==> list comprehension syntax
#  for i in num1  ==> for loop syntax
#  i ==> iterator
#  num1 => iterable object
num1 = [1,2,3]
num2 = [i + 1 for i in num1 ]
print(num2)

In [ ]:
# Conditionals on iterable
## 20 adet rastgele sayı oluşturularak num1 listesine atıldı
## daha sonra tek mi çift mi kontrol edildi
## tek mi çift mi sonuçları bir yeni listeye eklendi
## son olarak sayıları tutan num1 ve yeni oluşturulan liste bir zip ile birleştirildi
## resultlar indeksli olarak print edildi

import random
num1 = [random.randint(1,100) for i in range(0,20)]
    
num2 = ["Çift" if i%2==0 else "Tek" for i in num1] ## conditionalson iterable

num12 = list(zip(num1,num2))   ## used zip num1 + num2

for index,value in enumerate (num12):  ## used enumerate    #ENUMERATE diziyi indekslendirmek için kullanılır.
    print(index+1,".random sayi: ",value)

In [ ]:
# Conditionals on iterable
num1 = [5,10,15]
num2 = [i**2 if i == 10 else i-5 if i < 7 else i+5 for i in num1]
print(num2)

### Conditionals on iterable  but dataset pokemon import for used
### Bu resultı alabilmek için pokemon data setininin import edilmesi gerekir.

*  lets return pokemon csv and make one more list comprehension example
*  lets classify pokemons whether they have high or low speed. Our threshold is average speed.
*   1THRESHOLUD TÜM pokemonların hızlarının ortalaması
*  data["speed_level"] (hız seviyesi) adında bir figure nitelik eklendi
*  tüm pokemonların hızları tek tek kontrol edilerek ortalama hızdan:
*    2 büyük ise "high", küçük ise "low" yazdırıldı.
*  son adımda ilk 10 hız değeri  ve onlara karşılık gelen ortalama değerler gösteriliyor
* 
* threshold = sum(data.Speed)/len(data.Speed) #  1 tüm hızlar / toplam hız sayısı 
* print("threshold",threshold)  # ortalama hız
* data["speed_level"] = ["high" if i > threshold else "low" for i in data.Speed] #2
* data.loc[:10,["speed_level","Speed"]] # we will learn loc more detailed later

#### RESULT
* 	speed_level 	Speed
* 0 	low 	45
* 1 	low 	60
* 2 	high 	80
* 3 	high 	80
* 4 	low 	65
* 5 	high 	80
* 6 	high 	100
* 7 	high 	100
* 8 	high 	100
* 9 	low 	43
* 10 	low 	58

# CLEANING DATA

### Bir veri neden cleanıng edilmelidir ? 
-Datalar unclear olabilir: 
- upperlower: Bu tür veriler isimlendirme veya inputlarda yapılan yanlışlıkları temsil eder. Kolon isimleri veya veri isimleri "aTTack","DEFENSE" gibi farklı türde formatlarda biçimlenmiş olabilirler.
- space between words: Aynı şekilde veriler veya kolonların isimlendirilirken boşluk "space" ( ) karakteri kullanılması ile oluşan unclear türüdür. Datalar çağrılırken örneğin "Type 1" kolonunu çağırmak istediğimizde. Data.Type 1  bize hata verecektir. Bu isimlendirme "type1" olarak formatlanmalıdır.
- Missing data (value): Veriler girilirken kayıp değer olarak "None", " ", "--" anlamsız karakterler ile belirtilmiş olabilir. Bu durumda anlamsızlık oluşmaktadır. Bu durumun giderilmesi gerekmektedir. 
- Different language: Adından da anlaşılabileceği gibi dataların anlamsız ifadeler içermesidir. Anlaşılamayan veril bilgi haline dönüştürülemez.

In [ ]:
import pandas as pd
data = pd.read_csv("../input/world-happiness/2019.csv")
data2 = pd.read_csv("../input/world-happiness/2016.csv")
data.info()
#  world-happiness isimli dataset import edildi.
# # DATA:
# Genel Sıralama
# Ülke ya da bölge
# puan
# gdp
# sosyal destek
# sağlıklı yaşam beklentsi
# yaşam seçimleri yapma özgürlüğü
# kötü algılar

In [ ]:
data.head()   # default first 5 data

In [ ]:
data.tail()  # default last 5 data

In [ ]:
data.columns   # (column in data)

In [ ]:
data.shape    ## data count and column count

In [ ]:
data.info()   # data information (data hakkında bilgi verir)
# 156 adet data, indekslemesi 0 ila 155 arası
# 9 adet kolon
# float, int ve object(string) 3 farklı object

## EXPLORATORY DATA ANALYSIS (EDA)

    value_counts(): dataların hangi kategoriden kaç adet olduğunu gösterir.
    outlier: Aykırı Değerler anlamına gelir. Yani bir veri setindeki değerlerden çok fazla veya çok az durumda olan bir değer var ise bu bir outlier'dır.
    lower quartile - 1.5IQR = outlier
    upper quartile + 1.5IQR = outlier
    Örneğin Bir şirketteki 9 çalışanın aldıkları maaşa bakacak olursak:
    CA = [150, 2000, 2500, 3000, 2600, 2900, 1900, 4000, 96000]
    CA dizisindeki 150 ve 96000 değerleri outlier'dır. Diğer değerlere göre çok anormal değerler ifade etmektedir.
    İstatistiksel ve matematiksel açıklanışı
    upper quartile + 1.5IQR = 96000  => outlier
    lower uqartile - 1.5IQR = 150    => outlier

    describe() methodu bu durumları otomatik olarak hesaplar.
----------------------------------------------------------------------------------------------------------------------------------------------------------

    Lets say value at 75% is Q3 and value at 25% is Q1.
    Outlier are smaller than Q1 - 1.5(Q3-Q1) and bigger than Q3 + 1.5(Q3-Q1). (Q3-Q1) = IQR
    We will use describe() method. Describe method includes:
    count: number of entries
    mean: average of entries
    std: standart deviation
    min: minimum entry
    25%: first quantile
    50%: median or second quantile
    75%: third quantile
    max: maximum entry


### what is quartile ?   ( quartile nedir)
    1,3,5,7,9,22,33,44,55,77,130
*     #### Bir dizinin Median(ortanca) değerini bulmak için ilk önce dizi sıralanmalıdır!
   - Median: Ortanca değer diğer ismi ile quartile 50% dir.
   - Yukarıdaki sayı dizisinin ortanca değeri yani sayı dizisinin tam -ortasında kalan değer: 22
   - 1 ile median (22) arasındaki değer **lower quartile** Lower quartile -(25% quartile) = 5'dir.
   - median (22) ile 130 arasındaki değer ise **upper quartile** olarak isimlendirilir. Upper quartile (75% quartile) = 55'dir.
   
   - ##### Bir Upper Quartile ile Lower Quartile arasındaki mesafe IQR olarak isimlendirilir.
   - #### Lower Quartile değerinden daha az değere sahip veriler 1.5IQR olarak isimlendirilir.
   - ## lower quartile - 1.5IQR = outlier
   - ## upper quartile + 1.5IQR = outlier

----------------------------------------------------------------------

    1,4,5,6,8,9,11,12,13,14,15,16,17
 * ####   To find the median value of an array, the array must be sorted first!

*     The median is the number that is in middle of the sequence. In this case it would be 11.

*     The lower quartile is the median in between the smallest number and the median i.e. in between 1 and 11, which is 6.
*     The upper quartile, you find the median between the median and the largest number i.e. between 11 and 17, which will be 14 according to the question above.

In [ ]:
data2.info() #(157 (157 veri 0-156 indeks) satır numaralandırması,13 kolon tuble'ı)

In [ ]:
data2.shape    #  157 adet data,veri,sample

In [ ]:
 data2.columns

In [ ]:
print(data2['Region'].value_counts(dropna=False))
# 157 region verisinde 38'i sub-saharan africa, 9 u southeastern asia vb...

### Mean (ortalama) varken Neden median (ortanca)
*     Bir şiketin çalışanlarının aldıkları maaş örneğine bakacak olursak:
*    (200,300,400,500,700, 2500, 4500, 9000, 10000)
*     Şirkette bir zam söz konusu ise :
*     patron tarafından personellere maaş yapılacak zam önerisi istiyorum dediğinde.
*     ortalama değere bakarsak yaklaşık 3000'e denk gelmektedir.
*     Bu durumda patron şu yargıya varacaktır. zaten personeller yeterince uygun maaş almaktadır. Ya hiç maaş yapılmalı ya da çok az miktarda bir maaş yapılmalı. Fakat alınan maaşları incelediğimizde çok sayıda personel 3000 den az maaş almaktadır. Bu durumda olumsuz etkilenen taraf çok fazladır.
*     Ortanca değere bakarsak 700 değerini elde ederiz bu durumda zam anlayışı ve yargısı çok daha farklı olacaktır. (olumlu yönde)
*     Yani bazı durumlarda mean median faktörleri önemli rol oynamaktadır.*

In [ ]:
data2.describe()

## Visual Exploratory Data Analysis (Datayı görsel analiz etme)

* Box plots: visualize basic statistics like outliers, min/max or quantiles
- outliers, min/max ve quantiles'ları plot etmek için kullanılır.

In [ ]:
# Happiness Score niteliğinin ortalama değerini bulduk
# Yeni Bir kolon oluşturarak bu değerlerden küçük olanları false
# Büyük olanları True yapacağız
# Aşağıdaki iki yöntemlede bu sonuca ulaşabildik.
#print("Mean: ",data2["Happiness Score"].mean())
#print ("Mean: ",sum(data2["Happiness Score"]) / len(data2["Happiness Rank"]))
mean= data2["Happiness Score"].mean()
data2["isHappy"] = [True if i>mean else False for i in  data2["Happiness Score"]]
sonuc1 = data2.loc[0:4,["Happiness Score","isHappy"]]   ## ilk 5 veri
sonuc2 = data2.loc[len(data2["Happiness Score"])-5:len(data2["Happiness Score"]),["Happiness Score","isHappy"]] # son 5 veri
print(sonuc1)   ## İlk 5 veri için Happiness Score ve isHappy
print(sonuc2)   ## son 5 veri için Happiness Score ve isHappy

In [ ]:
data2.columns

In [ ]:
import matplotlib.pyplot as plt
data2.boxplot(column='Health (Life Expectancy)',by = 'isHappy')
plt.show()

# yuvarlak daire ile gösterilen True kısmında bir tane outlier olduğu görülmekte.

## Tidy Data
- melt() methodu pandas kütüphanesinin bir methodudur.

In [ ]:
# Firstly I create new data from pokemons data to explain melt nore easily.
data_new = data2.head()    # I only take 5 rows into new data
data_new

### melt etmek nedir ? 
- Datanın değerleri sabit kalacak şekilde farklı bir yapıya büründürülmesi işlemidir.
- frame: Hangi datalar için işlem yapılacak.
- id_vars: Sabit Kalacak kolon(nitelik).
- value_vars: Yapılandırılacak kolonlar(nitelikler).

In [ ]:
data2.columns

In [ ]:
#ex1

# lets melt
# id_vars = what we do not wish to melt
# value_vars = what we want to melt
# Melt işleminden sonra "Name" niteliği yine sabit kalacak
# Yeni oluşması istenilen variablelar ise value_vars içinde belirtilen nitelikler.
# yeni oluşan variable ve value kolonları melt methodunun atadığı kolonlardır.
# Aşağıda yaptığımız işlem Country kolonu sabit kalacak şekilde, Happiness Rank
# ve isHappy kolonlarını bir arada gösterme (yapılandırma) işlemidir.
# beklediğimiz sonuç Her bir data_new değişkeninde yani ilk 5 veri için:
## data_new uzunluğu kadar:
# Country kolonunun i'nci (i=sırası il 0,1... veri) , Happiness Rank kolon ismi, Happiness Rank i'nci değer
## data_new uzunluğu kadar:
# Country kolonunun i'nci (i=sırası il 0,1... veri) , isHappy kolon ismi , isHappy kolonundaki i'nci veri
# end
# Amaç yukarıdaki ikiliyi elde etmektir.


melted = pd.melt(frame=data_new,  id_vars = 'Country', value_vars= ['Happiness Rank','isHappy'])
melted

In [ ]:
#ex 2

#Amaç: Son 10 veri için:
# Region kolonu sabit kalacak şekilde fredom,generosity,isHappy kolonlarını yapılandırmak

#data_endten = data2.tail(10)  # Son 10 veriyi data_endten dataframe'sine aktardık.
#melted_fgs = pd.melt(frame=data_endten,id_vars='Region',value_vars=['Freedom','Generosity','isHappy'])

# yukarıda gerekli paramereleri verdik ve çıkacak sonucu melted_fgs frame'sine aktardık
# ilk 10 veri için Region - Hangi variable olduğunu belirten kolon ismi (Freedom) - indise ait veri
#ilk 10 veri için Region - Hangi variable olduğunu belirten kolon ismi (Generosity) - indise ait veri
#ilk 10 veri için Region - Hangi variable olduğunu belirten kolon ismi (isHappy) - indise ait veri
# Beklenen frame sonucu 30 sample'dan (0-29) oluşacak.
#melted_fgs

## Pivoting Data
- Reverse of melting.
- Yapılan melt işleminin geri alınması için kullanılır.

In [ ]:
# Index is country
# I want to make that columns are variable
# Finally values in columns are value
# ilk yaptığımız (ex1) örnekteki melt işlemini geri almak için kullanacağımız,
# sabit değer yani indeksimiz "Country"dir. Eski haline dönmesini istediğimiz kolonun
# yani 'variable' isim kolon  ve eski haline dönmesini isteiğimiz değerlerin yer aldığı
# kolon olon value'i de input olarak values parametresine verdiğimiz eski haline döner.

# ex1 için geri dönüştürme
# melted=melt'i atadığımız frame, index sabit kalan kolon, columns dönüşüm sonucu oluşan kolon
# values= kolonların değerlerini barındıran kolon ismi
melted.pivot(index = 'Country', columns = 'variable',values='value')

## CONCATENATING DATA
- We can concatenate two dataframe
- İki dataframe birleştirmek için kullanılır

In [ ]:
data3 = pd.read_csv("../input/world-happiness/2015.csv") # new data 2015 not 2018,2019
data3.head()

In [ ]:

#Dikey Birleştirme

data1=data3.head() #ilk 5 data
data2=data3.tail() #son 5 data
# ignore_index = yeni index formatı
conc_data_row = pd.concat([data1,data2],axis=0,ignore_index=True)
conc_data_row

In [ ]:
## Yatay Birleştirme
df1 = data3['Country'].head() # Country kayıtlarındaki ilk 5 kayıt (first 5 sample)
df2 = data3['Region'].head()  # Region kayıtlarındaki ilk 5 kayıt  (last 5 sample)
df3 = data3['Family'].head() # isHappy kayıtlarının ilk 5'i
df4 =  data3['Happiness Rank'].head()
conc_data_col = pd.concat([df1,df2,df2,df4],axis=1) #axis 1 = horizontal adds dataframes in column
conc_data_col

## Data Types and type convert
* There are 5 basic data types: object(string),boolean, integer, float and categorical.
* We can make conversion data types like from str to categorical or from int to float
* Why is category important:

    - make dataframe smaller in memory
    - can be utilized for anlysis especially for sklearn(we will learn later)

In [ ]:
data3.dtypes ## Datamızdaki kolonlarını türlerini görüntüledik

In [ ]:
# lets convert object(str) to categorical and int to float.
# object(str) tipindeki dataları categorical,integer ve float tipine dönüştürme
# astype() methodu tip değişimi için kullanılan methoddur.
# Country stringden category tipine dönüştürüldü.
# Happiness Rank int tipinden float tipine dönüştürüldü
data3['Country'] = data3['Country'].astype('category') # result Country is not string, is category
data3['Happiness Rank'] = data3['Happiness Rank'].astype('float')

In [ ]:
data3.dtypes

## Missing Data and Testing With Assert

###### If we encounter with missing data, what we can do:

*     leave as is
*     drop them with dropna()
*     fill missing value with fillna()
*     fill missing values with test statistics like mean
*     Assert statement: check that you can turn on or turn off when you are done with your testing of the program

* Missing Data: Daha önceden tanımlanmamış, değeri olmayan kayıtlardır.
- Veri setinde bu tür veriler " NaN" olarak "boş" anlamında bırakılmış olabilir.


#### Bu durumlarda anlaşılması zor olan konu ilgili kolonun gerçekten bu datası yok mu, yoksa unutuldu veya es geçildi tarzında yapılan yanlışlıklardan dolayı mı NoN değerini aldı?

#### Bu durumlarda başa çıkma yöntemleri:
- Öylece bırakılabilir. Belkide gerçekten ilgili niteliğe sahip değildir.
- Missing Value'ler yani bu tür veriler dataset içerisinden çıkarılabilir.
- Boş bırakılan yerleri NoN ile doldurabiliriz bazı durumlarda değerin olmadığını göstermek için veya yanlış girişlerden kaynaklı olarak anlamsız ifadeler ("-","?,"--") yer alıyor olabilir. Tek tür NaN olmalıdır
- Missing Valuenin ait olduğu kolon sayısal değerlere sahip ise ilgili kolonun "mean" ya da "median" değeri ile doldurulabilir.

In [ ]:
data3.info()

In [ ]:
## FAKAT NULL değerleri nasıl değiştireceğimizi görmek amacıyla ben Null değere sahip kolon oluşturdum.
## Ekonomi değerleri 0.1 den küçük olan sample'ları NaN yaptım diğerlerini ise iyi.
## Bu değişiklikleri ise Deneme adında bir kolona kaydettim.
data3['Deneme'] = ["empty" if i<0.1 else "iyi" for i in data3["Economy (GDP per Capita)"]]  # önce burayı calıstır
#data3["Deneme"].fillna('empty',inplace = True)

data3['Deneme'].value_counts(dropna=False)  
# dropna=false ile eğer Country kolonunda NAN Value(Null,Nan..) değer var ise onu da göster dedik.
# Çıkan sonuca göre null değer bulunmamaktadır.

In [ ]:
#data3['Deneme'].value_counts(dropna=False)
## çıkan sonuçtata NaN, NULL türünda sample olduğu görülmektedir.

In [ ]:
## NaN türünde samplelar datamızda nasıl düzeltiriz ?
d1 = data3   ## data3, d1'e kopyalandı. "gerçek projelerde önerilmeyen kopyalama olayıdır."
## DROPNA yani Null(NaN) olan değerleri çıkar ve o şekilde kaydet
d1["Deneme"].dropna(inplace=True)
d1["Deneme"]

In [ ]:
#assert 1==2  # Hata Vermesi gerekir Assert Kontrolü

In [ ]:
# Assert özellği ile bir olayın doğruluğu tespit edilebilir.
#  Lets check with assert statement
# Assert statement:
assert 1==1 # return nothing because it is true

In [ ]:
# Yukarıda null değere ait sampleları datasetten çıkarmadan önce
# d1'e aktarmıştık
# Nan değerlerin gerçekten silinip silinmediğini kontrol etmek için:
# assert kullanalım.
# assert d1 == data3 # Eğer bu sonuç False yani Error veriyor ise silme işlemi
# başarılıdır. Sonuç olarak d1 artık data3 e eşit değildir. Aksi yaşanıyorsa d3 ile d1 aynıdır yani null değerler haala mevcuttur.

In [ ]:
# Veya diğer bir assert kontrol yöntemi ise
assert d1['Deneme'].notnull().all() # returns nothing because we drop nan values
## bu işlemden programrama şunu sorduk d1[Deneme] samplelarının hepsi null değil değilmi
## Diğer bir deyişle:
## Deneme kolonundaki hiçbir kayıt null değerine sahip değil, kontrol et.
## söylediğimiz komut True dönüşe sahip olduğu için herhangi bir error almıyoruz.
## bu şekildede teyit etmiş oluyoruz.

In [ ]:
d1["Deneme"].fillna('empty',inplace = True)## burada yaptığımız işlem
## Deneme kolonunu "empty" ile doldurmak

In [ ]:
assert  d1['Deneme'].notnull().all() # returns nothing because we do not have nan values
# tekrar aynı kullanımı sorgulama emrini verdiğimizde bu sefer bize hata döndürecektir.
# Çünkü null değerler(empty) ile dolu bir d1 kolonu bulunmaktadır.

In [ ]:
 ## ASSERT KULLANIM ÖRNEĞİ--ASSERT EXAMPLE
 
d1.head()

In [ ]:
#assert d1.columns[0] == "COUNTRY"  ## data kolonlarının 1.si(0.indis)"COUNTRY" dir. Dedik
                                    ## Bu durumda bize dönecek cevap hatadır.
# Çünküd datamızın 1. kolonu "Country" dir.

assert d1.columns[0] == "Country"  # Hata dönmeyecektir doğru bir ifadedir.

In [ ]:
import numpy as np ## numpy import ettik. 
#assert d1.Freedom.dtypes == np.float64 ## freedom dataları float dedik. Doğru bir ifadedir hata almadk.
#assert d1.Generosity.dtypes ==np.int # yanlış bir ifadedir hata aldık. FALSE ERROR

#  -Pandas Foundation

As you notice, I do not give all idea in a same time. Although, we learn some basics of pandas, we will go deeper in pandas.

    single column = series
    NaN = not a number
    dataframe.values = numpy

## BUILDING DATA FRAMES FROM SCRATCH
Also we can build dataframe from dictionaries

    -zip() method: This function returns a list of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterable
Adding new column
Broadcasting: Create new column and assign a value to entire column

- DataFramelerin "Dictionary" lerden nasıl build edildiğini göreceğiz.
- Broadcasitng = DataFrame yeni bir kolon ekleyip ona yeni değerler atama işlemidir.

In [ ]:
# data frames from dictionary
country = ["Spain","France"]  #liste1
population = ["11","12"]      #liste2  
list_label = ["country","population"] #iki listeye etiket verildi
list_col = [country,population]       #country ve population listeleri kolon oluşturmak üzere bir listeye aktarıldı.
zipped = list(zip(list_label,list_col)) #etiketler ve kolonlar ziple birleştirildi
data_dict = dict(zipped)  #zip file dictionary'e çevrildi
df = pd.DataFrame(data_dict)  #dataframe kullanarak dictionary frame'de gösterildi
df

In [ ]:
# Add new columns
df["capital"] = ["madrid","paris"] #df içerisine "capital" adında bir kolon oluşturuldu ve değerleri verildi.
df

In [ ]:
# Broadcasting Example
df["income"] = 0 #Broadcasting entire column
                 #Gelir adında bir kolon oluşturuldu ve bütün değerleri 0 yapıldı
df

## VISUAL EXPLORATORY DATA ANALYSIS

    Plot
    Subplot
    Histogram:
        bins: number of bins
        range(tuble): min and max values of bins
        normed(boolean): normalize or not
        cumulative(boolean): compute cumulative distribution

In [ ]:
# Bu bölümde çalışmak için yeni bir dataset(StudentsPerformance) import ettik.
import pandas as pd
data = pd.read_csv("../input/students-performance-in-exams/StudentsPerformance.csv")
data.info()

In [ ]:
data1 = data.loc[:,["math score","reading score","writing score"]] #kolonlar data1 e aktarıldı
data1.plot() #ilgili kolonlar tek bir plot üzerinde gösterildi.

In [ ]:
data1.plot(subplots=True) #data1 içerisindeki tüm kolonlarları ayrı subplotlarda gösterdik
plt.show()

In [ ]:
#math score ve writing score arasındaki ilişikiyi (corelation) 
#görmek için scatter plot kullandık

data1.plot(kind="scatter",x="math score",y="writing score")
plt.show()

In [ ]:
# normed = datanın normalize (0-1) edilmiş halidir. 
# range = 0 ile 250 arasında "y" eksen değerleri verilmiştir. 
data1.plot(kind="hist", y="reading score", bins=50, range =(0,250), normed=True)
plt.show()

In [ ]:
#cumulative ile olasılıklar toplana toplana gider. Artan bir şekilde giden değerlerdir.
fig, axes = plt.subplots(nrows=2,ncols=1)
data1.plot(kind = "hist",y = "reading score",bins = 50,range= (0,250),normed = True,ax = axes[0])
data1.plot(kind = "hist",y = "reading score",bins = 50,range= (0,250),normed = True,ax = axes[1],cumulative = True)
plt
#birinci grafikte normal değer karşılıkları yer alırken
#iknci grafikte değerlerin kümülatif bir şekilde (artarak) gösterildiği görülmektedir.

## INDEXING PANDAS TIME SERIES (Zamana Bağlı İndeksleme)

    datetime = object
    parse_dates(boolean): Transform date to ISO 8601 (yyyy-mm-dd hh:mm:ss ) format

- data içerisinde yer alan indeksler time series şeklinde oluşmaktadır.

In [ ]:
 #str formatını uygun olduğu taktirde datetime formatına çevirir.
 # pd.to_datetime() fonksiyonu ile bu işlem gerçekleştirilir
 # parametre olarak string tarih tipi verilmelidir

time_list = ["1992-03-08","1992-04-12"]  # str type
print(type(time_list[1])) # As you can see date is string   
# however we want it to be datetime object
datetime_object = pd.to_datetime(time_list) 
print(type(datetime_object))   #datetimeindex type

In [ ]:
data2 = data.head()  # veri setindeki ilk 5 veri data2 e aktarıldı
data2

In [ ]:
#--------------------Hata önlendi---------------------------
import warnings
warnings.filterwarnings("ignore")
#-------------------ES GEÇ----------------------------------
# Kullandığımız veri setinde (data object) time series bulunmamaktadır.
# datetimeIndex örneklerini yapabilmek amacı ile veri setimize datetype ekleyeceğiz.
# ilk 5 veri için datetime oluşturarak ekleyelim.


date_list = ["1992-01-10","1992-02-10","1992-03-10","1993-03-15","1993-03-16"] # 5 string listesi
datetime_object = pd.to_datetime(date_list) #datetime objesi oluştu
data2["date"] = datetime_object #ilk 5 sample için date kolonu oluşturuldu ve datetime lar atandı.
data2 = data2.set_index("date") #  indekslemesi 0,1,..  iken "date" biçiminde derleyerek indekslemenin date tipinde olmasını sağladık
data2   #indeksleme artık date göre yapılacak

# Bu şekilde type series data (zamana bağlı data) elde etmiş olduk.

In [ ]:
# Zaman Bağlı Datalar ile neler yapabiliriz ?
# Now we can select according to our date index
# loc ile belirli indeksteki veri çekilebilir.

#print(data2.loc["1993-03-16"]) # ilgili datadaki bilgiler
print(data2.loc["1992-03-10":"1993-03-16"]) # iki ay arasındaki data bilgileri

## RESAMPLING PANDAS TIME SERIES

    Resampling: statistical method over different time intervals
        Needs string to specify frequency like "M" = month or "A" = year
    Downsampling: reduce date time rows to slower frequency like from daily to weekly
    Upsampling: increase date time rows to faster frequency like from daily to hourly
    Interpolate: Interpolate values according to different methods like ‘linear’, ‘time’ or index’
        https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.interpolate.html

    - Bir data içerisinden elde ettiğimiz yeni sample lar "Resampling" olarak adlandırılır.
    - 'M 'harfi kullanarak tüm aylar veya 'A' harfi kullanarak tüm yıllar resampling edilebilir
    - ilgili ay veya yıllar arasında kalan tüm herhangi bir "nitelik"(kolon) filtre edilebilir.

In [ ]:
data2.resample("A").mean()  #data2 (ilk 5 kayıt)  yıla göre resampling edildi
# iki farklı tür resampling edildi ve mean() ile ilgili yıllar arasındaki 
# sampleların (kayıtların) ortalaması alındı
# Beklenen sonuçlar : 1992 yılındaki kayıtların "math score","reading score","writing score"
# kolonlarında yer alan değerlerin ortalamaları
# Aynı şekilde 1993 yılında yer alan kayıtların iligili kolon ortalamaları
# işlemler tipi sayısal olarak kolonlara yapılabilir. Diğer kolonlar,
# object tipinde olduğu için resamplig edilmez.

In [ ]:
# Lets resample with month
# Çalışma mantığı en erken yıl ile en geç yıl arasını aylara göre resample eder.
data2.resample("M").mean()
# As you can see there are a lot of nan because data2 does not include all months
#Aylara göre resampling işlemi yapmaya kalktığında (toplam 12 ay) herhangi bir ayda
#data bulunmuyor ise mean işlemide yapılamayacağın için Null değer (NaN) resampling edilir.

## NAN Değerler Nasıl Doldurulabilir ???

In [ ]:
# In real life (data is real. Not created from us like data2) we can solve this problem with interpolate
# We can interpolete from first value

#first().interpolate("linear") ile nümeric olan değerler linear bir şekilde interpolate edilir.
data2.resample("M").first().interpolate("linear")

# sonuç olarak sayısal değer alan kolonlar linear(doğrusal artan) bir şekilde dolduruldu

# 1992-04-30 ile 1993-02-28 arası sayısal kolonlar linear olarak interpolate edildi artık NaN değil.

In [ ]:
data2.resample("M").mean().interpolate("linear")
# burada meanlerden yararlanılarak artan(linear) bir şekilde interpolate edildi

# - MANIPULATING DATA FRAMES WITH PANDAS

## INDEXING DATA FRAMES

    Indexing using square brackets
    Using column attribute and row label
    Using loc accessor
    Selecting only some columns

In [ ]:
# Bu bölümde kullanmak üzere pokemon dataset'ini import ettik.
import pandas as pd
data = pd.read_csv("../input/pokemon-challenge/pokemon.csv")

In [ ]:
# read data
data = pd.read_csv("../input/pokemon-challenge/pokemon.csv")
data= data.set_index("#") # feature (yeni bir indeks tanımlandık artık 0,1.. diye gitmiyor)
data.head()               # 1'den başlıyor

In [ ]:

# indexing using square brackets
data["HP"][1]  # indeksi 1 olan datanın "HP" (kolon)feature'sini göster
# Eğer indeksleme türünü ("#") olarak set etmeseydik. 
# Aynı result'ı alabilmek için data["HP"][0] yapmalı idik.

In [ ]:
# Farklı bir şekilde erişim olarak:
data.HP[1]

In [ ]:
# Selecting only some columns
# Loc ile ayrıntılı aynı lokasyona erişim.
data.loc[1,["HP"]]

In [ ]:
# Hp ve Attack seçilerek indeksli olarak yazdırır.
data[["HP","Attack"]]

### SLICING DATA FRAME
    Aralık Seçme imkanı verir.
    Difference between selecting columns
        Series and data frames
    Slicing and indexing series
    Reverse slicing
    From something to end

In [ ]:
# Difference between selecting columns: series and dataframes
# Series ve Data Frames arasındaki fark
print(type(data["HP"]))     # series
print(type(data[["HP"]]))   # data frames

In [ ]:
# Slicing and indexing series
data.loc[1:10,"HP":"Defense"]   # 10 and "Defense" are inclusive
# 1 ve 10 arası samplelarda HP ve Defense arası resultları göster

In [ ]:
# Reverse slicing 
# Aynı işlem 10'dan 1'e kadar 
data.loc[10:1:-1,"HP":"Defense"]

In [ ]:
# From something to end
# 1 ile 10 arasındaki kayıtlar için "Spped" featuredan başlayıp sona kadar bütün featureleri getir
data.loc[1:10,"Speed":]

### FILTERING DATA FRAMES

Creating boolean series Combining filters Filtering column based others

In [ ]:
# Creating boolean series
boolean = data.HP > 200   # canı 200'den büyükleri gösteren bir filtre oluşturduk
data[boolean]             # filtreyi data içerisine gömerek istenen resulta eriştik
#diğer bir kullanım:

#data[data.HP > 200]

In [ ]:
# Combining filters,
# Çoklu Filtre Kullanımı
first_filter = data.HP > 150    # Canı 150'den büyük pokemonlar
second_filter = data.Speed > 35 # Hızı 35'den büyük pokemonlar
# Result = Canı 154'den büyük ve Hızı 35'den büyük pokemonlar 
data[first_filter & second_filter]  #(İki filtrenin kesişimini verir)
# data[data.HP>150 & data.Speed>35]

In [ ]:
# Filtering column based others
# İstenin Kolonu Filtreleme İşlemi
data.HP[data.Speed<15] # Hızın 15'den küçük olduğu pokemonları bul ama Canlarını göster

### TRANSFORMING DATA 
- Fonksiyonların datalara uygulanışı

    Plain python functions
    Lambda function: to apply arbitrary python function to every element
    Defining column using other columns

In [ ]:
# Plain python functions
def div(n):
    return n/2
# div fonksiyonuna n parametresi gelsin ve bu n 2'e bölünerek return etsin.
# data.Hp e div fonksiyonu uygulanarak Can(HP) parametre olarak verilmiş olur
data.HP.apply(div)
# RESULT  
# 1 45/2 = 22.5
# 2 60/2 = 30.0
# 3 80/2 = 40.0

In [ ]:
# Or we can use lambda function
# Aynı işlemi lambda fonksiyonu ile yapılışı
data.HP.apply(lambda n : n/2)

In [ ]:

# Yeni bir kolon eklemek istediğimizde
# Defining column using other columns
# total_power kolonunu,  "attack" ve "defense" featurelerının değerlerinin toplamı olarak tanımladık
data["total_power"] = data.Attack + data.Defense
data.head()

### INDEX OBJECTS AND LABELED DATA
- İndex ile neler yapabiliriz ?
- index: sequence of label

In [ ]:


# our index name is this:
print(data.index.name) # indeksimizin ismi nedir ? = "#"
# lets change it
data.index.name = "index_name" # indeksimizin adını değiştirdik = "index_name"
data.head()

In [ ]:
#datanın indeksini nasıl değiştiririz ? 

# Overwrite index
# if we want to modify index we need to change all of them.
data.head()
# first copy of our data to data3 then change index 
data3 = data.copy() # datamızı data3 e aktardık
# lets make index start from 100. It is not remarkable change but it is just example
data3.index = range(100,900,1) # datalarımız 100'den 900'e kadar 1 er 1 er artsın.
data3.head()

In [ ]:


# We can make one of the column as index. I actually did it at the beginning of manipulating data frames with pandas section
# It was like this
# data= data.set_index("#") # datamızı " #" olarak değiştirdik
# also you can use 
# data.index = data["#"] #Datamızın indeksini Datamızın "#" isimli feature(kolon) sine eşit olsun




### HIERARCHICAL INDEXING

    - İndeksler arasında hiyerarşi kurma
    Setting indexing

In [ ]:
# lets read data frame one more time to start from beginning
# Datanın bozulma ihtimaline karşı tekrar import ettik
data = pd.read_csv("../input/pokemon-challenge/pokemon.csv")
data.head()
# As you can see there is index. However we want to set one or more column to be index

In [ ]:
# Setting index : type 1 is outer type 2 is inner index
# Hiyerarşik bir indeks tanımladık.
# İlk yazdığımız "TYPE1" ilk indeks ikinci yazdığımız "TYPE2"  ikinci indekstir.
data1 = data.set_index(["Type 1","Type 2"])  # hiyerarşik indeksleme
data1.head(100)
# data1.loc["Fire","Flying"] # howw to use indexes

### PIVOTING DATA FRAMES

    pivoting: reshape tool
    
    - value ile feature'ın yer değiştirmesi olayıdır.
    - Pokemon Data Set'inden örnek verecek olursak:
        - Name isimli featuresi ile onun valuesi olan "Poison" yer değişir.
        - Aynı Şekil Legandary featuresi ile onun valuesi olan "False" yer değişir.

In [ ]:
# Yeni Bir DataFrame tanımladık.
# Treatment:tedavi , Gender:Cinsiyet, Response:Tedaviye cevap verme oranı, Age:Yaş
dic = {"treatment":["A","A","B","B"],"gender":["F","M","F","M"],"response":[10,45,5,9],"age":[15,4,72,65]}
df = pd.DataFrame(dic)
df

In [ ]:
# pivoting
# indeks treatment ve gender olacak şekilde sadece response değerlerini istiyoruz.
# Feature olarak ise gender istiyoruz.
# index="İndeksleme neyden oluşsun ?"
# columns= "Hangi featureleri istiyoruz ?"
# values = "Featurelere denk gelen valueler hangi kolon değerlerinden pivot edilsin ?"
df.pivot(index="treatment",columns = "gender",values="response") #Pivot işlemi

### STACKING and UNSTACKING DATAFRAME
    unstacking : Birden fazla indeksli dataframelerin unstack (indekslerden birini devredışı bırakma işlemi) yapar
    deal with multi label indexes
    level: position of unstacked index
    swaplevel: change inner and outer level index position

In [ ]:
df1 = df.set_index(["treatment","gender"]) #ilk önce tedaviye göre sonra cinsiyete göre indeksleme yaptırdık
df1
# lets unstack it

In [ ]:
#yukarıdaki örnekte A ve F,M indeks olarak görülmektedir. Bunları teke düşürmek için unstack yapılır
# level determines indexes
df1.unstack(level=0) #0'ı 0. yani 1. sıradaki kolonu unstack yapmasını sağladık

In [ ]:
# Bu sefer 1.indeksi yani 2. sıradaki indeksi unstack yapmasını sağladık
df1.unstack(level=1)

In [ ]:
# change inner and outer level index position
# indeksleme önceliğini swaplevel ile değiştirebiliriz
df2 = df1.swaplevel(0,1) # indekslerin yeri değişti
df2

### MELTING DATA FRAMES

    Reverse of pivoting
    Pivotun tam tersi işlem yapar

In [ ]:
df

In [ ]:
# indeks olarak treatment sabit kalsın fakat valueler age ve response featurelerınden oluşsun
# df.pivot(index="treatment",columns = "gender",values="response")
# Yaptığımız pivotlama işleminin tam tersini melt ile yaptık
pd.melt(df,id_vars="treatment",value_vars=["age","response"]) # age ve responseleri value olarak kullandık
# age ve response featurelerinin değerlerini ise value kolonunda istedik
# variable ve value kolonarını otomatik yapılır

### CATEGORICALS AND GROUPBY

In [ ]:
# We will use df
df

In [ ]:
#treatment feature'sine göre grupla ve kalan featurelerin ortalama (mean) değerlerini göster
# according to treatment take means of other features
df.groupby("treatment").mean()   # mean is aggregation / reduction method
# there are other methods like sum, std,max or min

In [ ]:
# we can only choose one of the feature
# df.groupby("treatment").age.max()    # type=series  
# df.groupby("treatment")["age"].max() # type=series
# Yukarıdaki iki kullanımda aynı sonucu verir result series tipindedir.

# Aşağıdaki çevrim frame tipinde result verir.
df.groupby("treatment")[["age"]].max() # treatment'a göre grupla ve maksimum yaşlarını value olarak ver   type=dataframe

# 3 kullanmdada aynı valuelere ulaşılır fakat tipleri farklıdır.

In [ ]:

# treatmen'a göre grupla daha sonra age ve response featurelerinin minimum valuelerini result et
# Or we can choose multiple features
df.groupby("treatment")[["age","response"]].min() 
# Result olarak:
    # iki farklı treatment vardır A ve B
    # ilk önce A featuresine ait age değerlerinden minimumu
    # Daha sonra A feturesine ait response değerlerinden minimumu
    # Daha sonra B featuresne ait age ve response kolonlarındaki minimum değerler result edilir.

In [ ]:
df.info() # dataframe bilgilerini verir.
# Featurelerin typeları, null içerip içermedikleri ve sample countları yer alır.
# as you can see gender is object
# However if we use groupby, we can convert it categorical data. 
# Because categorical data uses less memory, speed up operations like groupby
# Data Frame ait featurelerin typelarını astype() ile değiştirilebilir.
#df["gender"] = df["gender"].astype("category")
#df["treatment"] = df["treatment"].astype("category")
#df.info()