In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
from subprocess import check_output
print(check_output(["ls", "../input"]).decode("utf8"))



import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [ ]:
data = pd.read_csv('../input/videogamesales/vgsales.csv')

In [ ]:
data.info()

In [ ]:
data.corr()

In [ ]:
f,ax=plt.subplots(figsize=(18,18))
sns.heatmap(data.corr(),annot=True, linewidths=.5, fmt='.1f', ax=ax)

In [ ]:
data.head(30)

In [ ]:
data.columns

In [ ]:
data.JP_Sales.plot(kind = 'line', color = 'b',label = 'JP_Sales',linewidth= 1,alpha = 0.5,grid = True,linestyle = ':')
data.Global_Sales.plot(color='r', label= 'Global_Sales', linewidth=1, alpha=0.5, grid=True, linestyle = '-.')
plt.legend(loc='upper right')
plt.xlabel('x axis')
plt.ylabel('y axis')
plt.title('Line plot')

In [ ]:
data.plot(kind='scatter', x='EU_Sales', y='NA_Sales', alpha=0.5, color='red')
plt.xlabel('EU_Sales')
plt.ylabel('NA_Sales')

In [ ]:
data.Year.plot(kind='hist', bins = 50, figsize=(12,12))

In [ ]:
data.Year.plot(kind='hist', bins=50)
plt.clf()

In [ ]:
dictionary={'spain' : 'madrid', 'usa' : 'vegas'}
print(dictionary.keys())
print(dictionary.values())

dictionary['spain']= "barcelona"
print(dictionary)
dictionary['france']= "paris"
print(dictionary)
del dictionary['spain']
print(dictionary)
print ('france' in  dictionary) 
dictionary.clear()
print(dictionary)

In [ ]:
series = data['Year']
print(type(series))
data_frame= data[['Year']]
print(type(data_frame))

In [ ]:
x = data['NA_Sales']>24
data[x]

In [ ]:
data[np.logical_and(data['NA_Sales']>10 , data['EU_Sales']<15)]

In [ ]:
data[(data['NA_Sales']>10) & (data['EU_Sales']<15)]

In [ ]:
i=0
while i!=5 : 
    print('i is : ',i)
    i+=1
print('i is equal to 5')

In [ ]:
lis=[1,2,3,4,5]
for i in lis:
    print('i is : ',i)
print('')
for index, value in enumerate(lis):
    print(index, ':', value)
print('')
dictionary= {'spain' : 'madrid' , 'france' : 'paris'}
for key,value in dictionary.items():
    print(key,':',value)
for index,value in data[['NA_Sales']][0:1].iterrows():
    print(index, ' : ',value)

In [ ]:
def tuble_ex():
    t = (1,2,3)
    return t
a,b,c = tuble_ex()
print(a,b,c)

In [ ]:
x=2
def f():
    x=3
    return x
print(x)
print(f())

In [ ]:
x=5
def f():
    y=x*2
    return y
print(f())

In [ ]:
import builtins
dir(builtins)

In [ ]:
#nested function
def square():
    """ return square of value """
    def add():
        """ add two local variable """
        x = 2
        y = 3
        z = x + y
        return z
    return add()**2
print(square())

In [ ]:
#flexible arguments *args
def f(*args):
    for i in args:
        print(i)
f(1)
print("")
f(1,2,3,4)
#flexible arguments **kwargs that is dictionary
def f(**kwargs):
    """ print key and value of dictionary"""
    for key,value in kwargs.items():
        print(key," ",value)
f(country = 'spain', capital = 'madrid', population = 123456)

In [ ]:
#lambda function
square = lambda x : x**2
print(square(5))
tot = lambda x,y,z : x+y+z
print (tot(1,5,6))

In [ ]:
number_list = [1,2,3]
y = map(lambda x:x**2,number_list)
print(list(y))

In [ ]:
#iteration example
name = "messi"
it = iter(name)
print(next(it))
print(*it)

In [ ]:
#zip example
list1= [1,2,3,4]
list2= [5,6,7,8]
z= zip(list1,list2)
print(z)
z_list = list(z)
print(z_list)

In [ ]:
un_zip = zip(*z_list)
un_list1,un_list2 = list(un_zip)
print(un_list1)
print(un_list2)
print(type(un_list1))

In [ ]:
#example of list comprehension
num1 = [5,10,15]
num2 = [i+1 for i in  num1]
print(num2)

In [ ]:
#conditionals of iterable
num1 = [3,6,10]
num2 = [i**2 if i==6 else i-1 if i<5 else i+10 for i in num1]
print(num2)

In [ ]:
threshold = sum(data.EU_Sales)/len(data.EU_Sales)
data["EU_Sales"] = ["high" if i > threshold*50 else "low" for i in data.EU_Sales]
data.loc[:10,["EU_Sales","NA_Sales"]]

In [ ]:
data=pd.read_csv('../input/videogamesales/vgsales.csv')
data.head()

In [ ]:
data.tail()

In [ ]:
data.columns

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
print (data['Name'].value_counts(dropna = False))

In [ ]:
data.describe()

In [ ]:
data.boxplot(column='Rank', by='Year')

In [ ]:
data_new = data.head()
data_new

In [ ]:
melted = pd.melt(frame = data_new,id_vars = 'Name', value_vars= ['NA_Sales','EU_Sales'])
melted

In [ ]:
melted.pivot(index='Name',columns='variable',values= 'value')

In [ ]:
data1 = data.head()
data2 = data.tail()
conc_data_row = pd.concat([data1,data2],axis=0,ignore_index=True)
conc_data_row

In [ ]:
data1= data['EU_Sales'].head()
data2= data['NA_Sales'].head()
conc_data_col = pd.concat([data1,data2],axis=1)
conc_data_col

In [ ]:
data.dtypes

In [ ]:
data['Name'] = data['Name'].astype('category')
data['Rank'] = data['Rank'].astype('float')

In [ ]:
data.dtypes

In [ ]:
data.info()

In [ ]:
data["Publisher"].value_counts(dropna =False)

In [ ]:
data1=data
data1=data["Publisher"].dropna(inplace=True)

In [ ]:
assert data['Publisher'].notnull().all()

In [ ]:
data["Publisher"].fillna('empty',inplace =True)

In [ ]:
assert data ["Publisher"].notnull().all()

In [ ]:
# dataframes from dictionary
country = ["Spain","France"]
population = ["11","12"]
list_label = ["Country","Population"]
list_col = [country,population]
zipped = list(zip(list_label,list_col))
data_dict = dict(zipped)
df = pd.DataFrame(data_dict)
df

In [ ]:
#add new columns
df["Capital"] = ["Madrid","Spain"]
df

In [ ]:
df["income"] = 0
df

In [ ]:
data1 = data.loc[:,["Year","Rank","EU_Sales"]]
data1.plot()

In [ ]:
data1.plot(subplots = True)

In [ ]:
data1.plot(kind="scatter",x = "EU_Sales",y = "Rank")

In [ ]:
data1.plot(kind = "hist", y = "Rank", bins = 50, range=(0,20),normed=True)

In [ ]:
#histogram subplot with non cumulative and cumulative
fig,axes = plt.subplots(nrows=2,ncols=1)
data1.plot(kind = "hist", y = "Rank", bins = 50, range = (0,25), normed = True, ax=axes[0])
data1.plot(kind = "hist", y = "Rank", bins = 50, range = (0,25), normed = True, ax=axes[1], cumulative = True )
plt.savefig('graph.png')
plt

In [ ]:
data.describe()

In [ ]:
time_list = ["1992-03-08","1992-04-12"]
print(type(time_list[1]))
datetime_object = pd.to_datetime(time_list)
print(type(datetime_object))

In [ ]:
#close warning
# close warning
import warnings
warnings.filterwarnings("ignore")
# In order to practice lets take head of pokemon data and add it a time list
data2 = data.head()
date_list = ["1992-01-10","1992-02-10","1992-03-10","1993-03-15","1993-03-16"]
datetime_object = pd.to_datetime(date_list)
data2["date"] = datetime_object
# lets make date as index
data2= data2.set_index("date")
data2

In [ ]:
print(data2.loc["1993-03-16"])

In [ ]:
print(data2.loc["1992-03-10" : "1993-03-16"])

In [ ]:
data2.resample("A").mean()

In [ ]:
data2.resample("M").mean()

In [ ]:
data2.resample("M").median().interpolate("linear")

In [ ]:
data2.resample("M").mean().interpolate("linear")

In [ ]:
#MANIPULATING DATA FRAMES WITH PANDAS
#read data
data = pd.read_csv('../input/videogamesales/vgsales.csv')
data = data.set_index("Rank")
data.head()

In [ ]:
data.Year[1]

In [ ]:
data["Year"][2]

In [ ]:
data.loc[1,["JP_Sales"]]

In [ ]:
data[["Year","EU_Sales"]]

In [ ]:
#Slicing Data Frame
#Difference between selecting columns : series and dataframes
print(type(data["Year"]))
print(type(data[["Year"]]))

In [ ]:
#slicing and indexing series
data.loc[1:10,"Year":"EU_Sales"]

In [ ]:
#Reverse slicing
data.loc[10:1:-1,"Year":"EU_Sales"]

In [ ]:
data.loc[1:10,"NA_Sales":]

In [ ]:
#Filtering Data Frames
#Creating Boolean Series
boolean = data.EU_Sales>10
data[boolean]

In [ ]:
#Combining Filters
first_filter = data.Year>2005
second_filter = data.JP_Sales>4
data[first_filter & second_filter]

In [ ]:
#Filtering column based others
data.Year[data.JP_Sales>6]

In [ ]:
#TRANSFORMING DATA
#Plain Python functions
def div(n):
    return n/2
data.Global_Sales.apply(div)

In [ ]:
data.Year.apply(lambda n:n/2)

In [ ]:
data["total_sales"] = data["EU_Sales"] + data["NA_Sales"]
data.head()

In [ ]:
#INDEX OBJECTS AND LABELED DATA
print(data.index.name)
data.index.name = ["index_name"]
print(data.index.name)

In [ ]:
data.head()

In [ ]:
data3 = data.copy()
data3.index = range(100,16698,1)
data3.head()

In [ ]:
#HIERARCHICAL INDEXING
#Setting index : Publisher is outer , Platform is inner index
data1 = data.set_index(["Publisher","Platform"]) 
data1.head(100)

In [ ]:
#Pivoting Data Frames
dic = {"treatment" : ["A","A","B","B"],"gender" : ["F","M","F","M"],"response" : [10,45,5,9],"age" : [15,4,72,65]}
df = pd.DataFrame(dic)
df

In [ ]:
#pivoting
df.pivot(index = "treatment",columns = "gender", values = "response")

In [ ]:
#STACKING and UNSTACKLING DATAFRAME
df1 = df.set_index(["treatment","gender"])
df1

In [ ]:
#level determines indexes
df1.unstack(level = 0)

In [ ]:
df1.unstack(level = 1)

In [ ]:
#change inner and outer level index position
df2 = df1.swaplevel(0,1)
df2

In [ ]:
#MELTING DATA FRAMES
df

In [ ]:
#df.pivot(index = "treatment",columns = "gender",values = "response")
pd.melt(df,id_vars = "treatment",value_vars = ["age","response"])

In [ ]:
#CATEGORICALS AND GROUPBY
#We will use df
df

In [ ]:
#according to treatment take means of other features
df.groupby("treatment").mean()

In [ ]:
#we can only choose one of the feature
df.groupby("treatment").age.max()

In [ ]:
#Or we can choose multiple features
df.groupby("treatment")[["age","response"]].min()

In [ ]:
df.info()
# as you can see gender is object
# However if we use groupby, we can convert it categorical data. 
# Because categorical data uses less memory, speed up operations like groupby
#df["gender"] = df["gender"].astype("category")
#df["treatment"] = df["treatment"].astype("category")
#df.info()