In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

## Reading data using Pandas

I'm loading the dataframe with the name 'gmsales_df' and here df stands for dataframe. You can choose to use df in the name is just optional but everyone recommends it because its easy for anyone to undersrand just like all the conventions in programing

In [ ]:
gmsales_df = pd.read_csv('../input/videogamesales/vgsales.csv')

## View Data

Data can be viewed by just typing the name of dataframe

In [ ]:
gmsales_df

By default pandas shows only first and last 5 rows

Lets see first 15 records in this dataframe by using **head()** function

In [ ]:
gmsales_df.head(15)

Lets see what type is a Pandas Dataframe

In [ ]:
type(gmsales_df)

Data from the file is read and stored in a DataFrame object - one of the core data structures in Pandas for storing and working with tabular data.

With **info()** function you can see all the columns along with the number of non-null entries and there data types.
Null values are missing values (they are not 0 but actually missing) Also assigned as NaN by numpy.

In [ ]:
gmsales_df.info()

Columns and indexes can alson be seen by **column and index** function

In [ ]:
gmsales_df.columns

In [ ]:
gmsales_df.index

#### Some other usefull functions:

In [ ]:
gmsales_df.shape    #this gives no. of (rows, columns)

In [ ]:
gmsales_df.size    #this gives number of cells = no. of rows x columns

In a pandas dataframe different columns can be of different data types but a whole column is of same data type.

In [ ]:
gmsales_df.dtypes   #gives data types of columns

In [ ]:
gmsales_df.dtypes.value_counts()   #grouping and counting data types

## Indexing, Selecting and Slicing Dataframe

In this section lets see how to get back data fram a selected columns or even multiple columns

First lets see names all games ranked in this dataframe

In [ ]:
gmsales_df.Name

In [ ]:
gmsales_df['Name']

Both methods shown above do the same this but the secon method is preferable if a column name contains spaces.

Each column is represented using a data structure called Series, which is essentially a numpy array with some extra methods and properties.

In [ ]:
type(gmsales_df['Name'])

Now to get multiple columns

In [ ]:
gm_release = ['Name', 'Year']

In [ ]:
gmsales_df[gm_release]

> Or we can just use this method:

In [ ]:
gmsales_df[['Name', 'Year']]

We have seen how to get columns, now lets see how to get rows as well

**loc[]** can be used to get rows by index name

In [ ]:
gmsales_df.loc[4]

in this dataframe index names are numbers same as an array. But if we define names to these rows we can put the names in loc[] in ''.
But since we dont have name in indexes we can just use iloc[] method in which we have to put index number. We use it if we have to get 10th or 77th row of a dataframe. This is also store in numpy array format starting from 0 to n - 1.

In [ ]:
gmsales_df.iloc[4]

In [ ]:
gmsales_df.iloc[-1]

Just like in python arrays [-1] will give you last row

In [ ]:
gmsales_df.loc[[4, 7]]

In [ ]:
gmsales_df.iloc[[4, 7]]

Okay great! Now lets see how get data based on specific row and column. For this we can just use

In [ ]:
gmsales_df['Name'][7]

or we can also use at() function

In [ ]:
gmsales_df.at[7,'Name']