This notebook is created as a part of Datai Teams ScienceTutorial for Beginners course.

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
data_times = pd.read_csv("/kaggle/input/world-university-rankings/timesData.csv")
data_times.head(10)

In [ ]:
data_times.info()

**Object** indicates a column has text. We have to change to this dytpe to use it later.

In [ ]:
data_times.tail(10)

In [ ]:
data_times.columns

The following columns are the performance indicators for the total score and rank; 

**teaching** is the indicator of the learning environment
1. Reputation survey: 15%
2. Staff-to-student ratio: 4.5%
3. Doctorate-to-bachelor’s ratio: 2.25%
4. Doctorates awarded-to-academic staff ratio: 6%
5. Institutional income: 2.25%

**research** is the indicator of volume, income and reputation
1. Reputation survey: 18%
2. Research income: 6%
3. Research productivity: 6%

**citations** is the indicator of research influence

**international** is the indicator of staff, students and research
1. International-to-domestic-student ratio: 2.5%
2. International-to-domestic-staff ratio: 2.5%
3. International collaboration: 2.5%

**income** is the indicator of knowledge transfer
A university’s ability to help industry with innovations, inventions and consultancy

In [ ]:
print('number of NaNs per column:')
data_times.isna().sum()

In [ ]:
data_times['world_rank'] = pd.to_numeric(data_times['world_rank'], errors='coerce')
data_times['teaching'] = pd.to_numeric(data_times['teaching'], errors='coerce')
data_times['num_students'] = pd.to_numeric(data_times['num_students'], errors='coerce')
data_times['income'] = pd.to_numeric(data_times['income'], errors='coerce')
data_times['international'] = pd.to_numeric(data_times['international'], errors='coerce')

# pd.to_numeric converts argument to a numeric type.

In [ ]:
data_times.info()

In [ ]:
data_times.corr()

In [ ]:
f,ax = plt.subplots(figsize=(8,8))
sns.heatmap(data_times.corr(),annot=True,linewidths=.5, fmt= '.1f',ax=ax)
plt.show()

In [ ]:

# drop female male ratio because 233 rows are missing
# drop total score because it's missing and too similar to world rank
# drop num_students because it's missing 
data_times.drop(columns=['female_male_ratio', 'total_score', 'num_students'])

In [ ]:
data_times['world_rank'].fillna(201, inplace=True)

In [ ]:
data_times.tail()

In [ ]:
the_first_200 = data_times.loc[data_times['world_rank'] != 201]
the_first_200_2016 = the_first_200.loc[the_first_200['year'] == 2016]
#the_first_200_2016 gives the top 200 university in 2016

In [ ]:
the_first_200.tail()

In [ ]:
the_first_200_2016.head()

In [ ]:
the_first_200 = the_first_200.drop(columns=['num_students'])
the_first_200_2016 = the_first_200_2016.drop(columns=['num_students'])

In [ ]:
f,ax = plt.subplots(figsize=(8,8))
sns.heatmap(the_first_200.corr(),annot=True,linewidths=.5, fmt= '.1f',ax=ax)
plt.show()

In [ ]:
the_first_200.plot(kind='scatter',x='teaching',y='world_rank', color='g', label='teaching', linewidth=1, grid=True, linestyle=':')
plt.legend(loc='upper right')     # legend = puts label into plot
plt.xlabel('teaching')              # label = name of label
plt.ylabel('world_rank')
plt.title = ('Line Plot')
plt.show()

This is expected anyway.

In [ ]:
the_first_200.plot(kind='scatter',x='student_staff_ratio',y='world_rank', color='r', label='teaching', grid=True,)
plt.legend(loc='upper right')     # legend = puts label into plot
plt.xlabel('teaching')              # label = name of label
plt.ylabel('world_rank')
plt.title = ('Line Plot')
plt.show()

In [ ]:
the_first_200.plot(kind='scatter',x='income',y='world_rank', color='b', label='teaching', grid=True,)
plt.legend(loc='upper right')     # legend = puts label into plot
plt.xlabel('income')              # label = name of label
plt.ylabel('world_rank')
plt.title = ('Line Plot')
plt.show()

It seems there is no correlation between World Rank and Income for the top 200 university.

the below graph is taken from [www.queirozf.com/entries/pandas-dataframe-plot-examples-with-matplotlib-pyplot](http://)

In [ ]:


# create dummy variable them group by that
# set the legend to false because we'll fix it later
the_first_200_2016.assign(dummy = 1).groupby(
  ['dummy','country']
).size().to_frame().unstack().plot(kind='bar',stacked=True,legend=False)


# other it'll show up as 'dummy' 
plt.xlabel('country')

# disable ticks in the x axis
plt.xticks([])

# fix the legend
current_handles, _ = plt.gca().get_legend_handles_labels()
reversed_handles = reversed(current_handles)

labels = reversed(the_first_200_2016['country'].unique())

plt.legend(reversed_handles,labels,loc='best')
plt.show()

Thee number of universities per country among top 200 in 2016.

**Now, Let's look at the data of Turkey. **

In [ ]:
university_country = data_times["country"].unique()
print(university_country)

In [ ]:

data_times_Turkey = data_times[(data_times["country"] == "Turkey" )]
data_times_Turkey.head(10)

In [ ]:
data_times_Turkey = data_times_Turkey.drop(columns=['world_rank','total_score', 'num_students','female_male_ratio'])

In [ ]:
data_times_Turkey.describe()

In [ ]:
data_times_Turkey.plot(kind="scatter", x="year", y="teaching",alpha = 0.5,color = "g")
plt.xlabel("Year")              # label = name of label
plt.ylabel("teaching")
plt.show()

It seems teaching has decreased over years.

In [ ]:
data_times_Turkey.teaching.plot(kind='line', color='g', label='teaching', linewidth=1, grid=True, linestyle=':')
data_times_Turkey.research.plot(kind='line', color='b', label='Research')
plt.legend(loc='upper right')     # legend = puts label into plot
plt.xlabel('x axis')              # label = name of label
plt.ylabel('y axis')
plt.title = ('Line Plot')
plt.show()

In [ ]:
data_times_Turkey.plot(kind="scatter", x="year", y="student_staff_ratio",alpha = 0.5,color = "b")
plt.xlabel("Year")              # label = name of label
plt.ylabel("student_staff_ratio")
plt.show()

In [ ]:
data_times_Turkey.plot(kind="scatter", x="year", y="citations",alpha = 0.5,color = "r")
plt.xlabel("Year")              # label = name of label
plt.ylabel("citations")
plt.show()

In [ ]:
data_times_Turkey.year.plot(kind='hist', bins=50)
plt.show()

The number of the universities in the list has increased over the years.

In [ ]:
data_times_Turkey.plot(kind="scatter", x="research", y="citations",alpha = 0.5,color = "b")
plt.xlabel("research")              # label = name of label
plt.ylabel("citations")
plt.show()

In [ ]:
data_times_Turkey.plot(kind="scatter", x="teaching", y="citations",alpha = 0.5,color = "g")
plt.xlabel("teaching")              # label = name of label
plt.ylabel("citations")
plt.show()

In [ ]:
data_times_Turkey_METU = data_times_Turkey[(data_times_Turkey["university_name"] == "Middle East Technical University")]
data_times_Turkey_METU.head(10)

In [ ]:
data_times_Turkey_METU.describe()

In [ ]:
data_times_Turkey_METU.plot(kind="scatter", x="year", y="teaching",alpha = 0.5,color = "b")
plt.xlabel("Year")              # label = name of label
plt.ylabel("teaching")
plt.show()

In [ ]:
data_times_Turkey_METU.plot(kind="scatter", x="citations", y="international",alpha = 0.5,color = "r")
plt.xlabel("citations")              # label = name of label
plt.ylabel("international")
plt.show()
#plt.plot('citations','international','-ok')

In [ ]:
data_times_Turkey_METU.plot(kind="scatter", x="research", y="international",alpha = 0.5,color = "r")
plt.xlabel("research")              # label = name of label
plt.ylabel("international")
plt.show()

# **DATA CLEANING** #

**SHANGHAI DATA**

In [ ]:
data_shanghai= pd.read_csv("/kaggle/input/world-university-rankings/shanghaiData.csv")
data_shanghai.head(10)

In [ ]:
data_shanghai.shape

In [ ]:
data_shanghai.columns

In [ ]:
data_shanghai.info()

**CWUR DATA**

In [ ]:
data_cwur=pd.read_csv("/kaggle/input/world-university-rankings/cwurData.csv")
data_cwur.head(10)

In [ ]:
data_cwur.columns

In [ ]:
data_cwur.shape

In [ ]:
data_cwur.info()

**TIMES DATA**

In [ ]:
data_times.head(10)

In [ ]:
data_times.tail()

In [ ]:
data_times.columns

**EXPLOTARY DATA ANALYS**

In [ ]:
print(data_times["country"].value_counts(dropna=False))

In [ ]:
print(data_shanghai["year"].value_counts(dropna=False))

In [ ]:
print(data_cwur["year"].value_counts(dropna=False))

Outliers

In [ ]:
data_cwur.describe()

In [ ]:
data_cwur.boxplot(column="citations", by = "year", showfliers=True)

# **TIDY DATA**

To be able to visualize the data with Seaborn, use melt() funtion. Bridge between Seaborn and Pandas

In [ ]:
m = data_cwur.head()
m

In [ ]:
# id_vars = what we do not wish to melt
# value_vars = what we want to melt

melted=pd.melt(frame=m,id_vars="institution", value_vars=["alumni_employment","score"])
melted

PIVOTING DATA


Reverse of melting

In [ ]:
melted.pivot(index="institution", columns="variable", values="value")

**CONCANATETING THE DATA**

Bringing the two data frame together

In [ ]:
data1= data_cwur.head()
data2 = data_cwur.tail()
conc_data = pd.concat([data1,data2], axis=0, ignore_index=True) #axis=0 means adding the dataframes in rows, ignore_index ignores the old index and give new index
conc_data

We may wanna use spesific colums in the dataframe. Let's add country columns from two different dataframes.

In [ ]:
d1=data_times["country"].head(10)
d2=data_cwur["country"].head(10)
concat_d=pd.concat([d1,d2],axis=1)
concat_d

**DATA TYPES**

Object(String)

Boolean

Integer

Float

Categorical


Converting data types to each other.

In [ ]:
data_cwur.dtypes

In [ ]:
data_cwur["institution"]=data_cwur["institution"].astype("category")
data_cwur.dtypes #you'll see the datatype of institution has changed to category

**MISSING DATA**

* drop with dropna()
* fill it with fillna()
* fill it mean

In [ ]:
data_cwur.info()

In [ ]:
data_cwur["broad_impact"].value_counts(dropna=False)

In [ ]:
data_cwur["broad_impact"].dropna(inplace=True) #inplace=True means changes automatically assigned to data

We want to check if it worked so we use *assert*

Ex: assert 1==2 will give error message.

In [ ]:
assert data_cwur["broad_impact"].notnull().all()

The line above does not give error so it works.

In [ ]:
data_times["total_score"].fillna(value=0, inplace=True)

In [ ]:
data_times.tail()

In [ ]:
data_times["num_students"]=[0 for i in data_times["num_students"]]
data_times.tail()