In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

In [ ]:
data = pd.read_csv("../input/StudentsPerformance.csv")

# **BUILDING DATA FRAMES FROM SCRATCH**

For building a new data frame:
*     I create four different lists(1st one is for the name of books, 2nd one is for the author's names, 3rd one is for the number of pages and 4th one is for the label of columns).
*     Using first three lists i create a new list which includes this lists values. This list would be data frame's columns.
*     With **zip()** i zipped the label list and the column list. And assigned the result to a dictionary.
*     Then, i turned this dictionary to a data frame with Pandas's **DataFrame()** method.

In [ ]:
name = ["Gorulmeyenler", "Eastern Turkey"]
author = ["Roy Jacobsen", "Sevan Nisanyan"]
pages = [179,195]
ListLabel = ["name","author","pages"]
ListColumn = [name,author,pages]
zipp = dict(zip(ListLabel,ListColumn))
df = pd.DataFrame(zipp)
df

You can add a new column which includes different or same values to data frame. 
If you apply this with different values, you should write all rows one by one. 
If you give same value to entire column, create a column and just type the value. It is called as broadcasting.

In [ ]:
df["type"] = ["Novel","Travel"] #add new column
df["year"] = 0 #broadcasting
df

# **VISUAL EXPLORATORY DATA ANALYSIS**

Below, you can find some codes for basic visualization.
    * Line Plot
    * Subplot
    * Scatter Plot
    * Histogram

In [ ]:
#before plotting examine data set.
data.info()

In [ ]:
#change and organize column names.
data.columns = [each.split()[0]+"_"+each.split()[1] if (len(each.split()) > 1) else each for each in data.columns]
data.rename(columns = {"race/ethnicity" : "race_ethnicity"}, inplace = True)
data.columns

In [ ]:
#line plot
data2 = data.loc[:,["writing_score","math_score","reading_score"]]
data2.plot()
plt.show()

In [ ]:
#subplots
data2.plot(subplots = True)
plt.show()

In [ ]:
#scatter plot
data2.plot(kind = "scatter", x = "reading_score", y = "writing_score")
plt.xlabel("Reading Score")
plt.ylabel("Writing Score")
plt.title("Correlation Between Writing and Reading Scores")
plt.show()

In [ ]:
#histogram
data2.plot(kind = "hist", y = "math_score", alpha = 0.7, color = "r", range = (0,45), density = False)
data2.plot(kind = "hist", y = "math_score", alpha = 0.7, color = "r", density = False,cumulative = True)
plt.show()

# **INDEXING PANDAS TIME SERIES**

If you want to add a date column to your data set, you may create a date's list. Of course, these dates type will be object(string). So, you must convert their types to  "datetime" with Pandas's **to_datetime()** method.

In [ ]:
time_list = ["1994-09-07","1986-01-06"]
print(time_list)
print(type(time_list[1]))
time_list = pd.to_datetime(time_list)
print(time_list)
print(type(time_list))

Here, your data set turned into a time series.

In [ ]:
import warnings
warnings.filterwarnings("ignore")

data1 = data.head()
date_list = ["2000-01-10","2000-01-02","2000-03-11","2000-04-05","2001-07-08"]
date_list = pd.to_datetime(date_list)
data1["date"] = date_list
data1 = data1.set_index("date")
data1

Now, you can filter your data set according to date value.

In [ ]:
print(data1.loc["2000-01-10"])

In [ ]:
print(data1.loc["2000-01-01" : "2000-03-03"])

# **RESAMPLING PANDAS TIME SERIES**

With **resample()** you can create a new sample from your data set.

In [ ]:
data1.resample("A").mean()

In this example we resampled our data set by year. And then, calculated the average of each year.

You can use "M" parameter for resample by month:

In [ ]:
data1.resample("M").mean()

With interpolation, you can fill the missing values. But of course, just numeric values.

In [ ]:
data1.resample("M").first().interpolate("linear")

In [ ]:
data1.resample("M").mean().interpolate("linear")