<div style="width:50%; margin:auto">
    <h3>Analysis & visualizations for Marketing campaign</h3>

<img  src="https://www.smartdatacollective.com/wp-content/uploads/2016/08/MA-1600x1081.jpg">
</div>

____________
<br>

# Content

The is a CSV file of 2240 observations (customers) with 28 variables related to marketing data. More specifically, the variables provide insights about:

1. Customer profiles
2. Product preferences
3. Campaign successes/failures
4. Channel performance
____________

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style="whitegrid")

import pycountry

In [ ]:
df = pd.read_csv("/kaggle/input/marketing-data/marketing_data.csv")

In [ ]:
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)

In [ ]:
df.head(10)

In [ ]:
# any null values
c = df.columns
for i in c:
    print('colum {} num of null ='.format(i) ,pd.isnull(df[i]).sum())

In [ ]:
df.info()

<hr>

# Preprocessing


**1-Convert type of this columns to string: `[ID , AcceptedCmp1,2,3,4,5 , Response , complain]`**

**2-Columns ` Dt_Customer` should convert to date type instance of string.**

**3-Column `Country` edite to contain name of country instance code of country.**

**4-Change nane of column ` Income ` to `Income` or use `strip` function with this column.**

**5-remove `$` and `,` in `Income` column and convert this column to float.**

**6-Fill null values of `Income` column with the mean of this column.**

****
****

**1-Convert type of this columns to string: `[ID , AcceptedCmp1,2,3,4,5 , Response , complain]`**

In [ ]:
columns =['ID','AcceptedCmp1','AcceptedCmp2','AcceptedCmp3','AcceptedCmp4','AcceptedCmp5','Response','Complain']
df[columns] = df[columns].astype(str)

********
**2-Columns ` Dt_Customer` should convert to date type instance of string.**

In [ ]:
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'])
print(df['Dt_Customer'].dtype)

****
**3-Column `Country` edite to contain name of country instance code of country.**

In [ ]:
# d =['Au','aus','GER','ind','id','ge','sp']
# countries = list(pycountry.countries)
def convert_country(i):
    try:
        return pycountry.countries.get(alpha_2=i[:2]).name
    except:
        return i
    
df['Country'] = df['Country'].apply(convert_country )

In [ ]:
df['Country'].head(20)

****
**4-Change nane of column ` Income ` to `Income` or use `strip` function with this column.**

In [ ]:
df.rename(columns={" Income ":"Income"}, inplace=True)
print(df.columns)

****
**5-remove `$` and `,` in `Income` column and convert this column to float.**

In [ ]:
def convert_to_float(x):
    try:
        return  pd.to_numeric(x.replace('$','').replace(',',''))
    except:
        if type(x)== float:
            return x
        else:
            return 'na'
        
        

df['Income'] = df['Income'].apply(lambda x:convert_to_float(x))

In [ ]:
df['Income'].head()

****
**6-Fill null values of `Income` column with the mean of this column.**

In [ ]:
round(df['Income'].mean(),2)

In [ ]:
df['Income'].fillna(value= round(df['Income'].mean(),2), inplace=True)

In [ ]:
pd.isnull(df['Income']).sum()

In [ ]:
df.head()

****
****
# Analysis

## i will go to anser about this questions:

**1-what is the education level that most of our customers have?**

**2-what is the  average  Number of days since the customer's last purchase?**

**3-what is the average Number of Amount spent on MeatProducts in the last 2 years?**

**4-what is the average Number of Amount spent on Fruits ?**

**5-what is the average Number of Amount spent on win ?**

**6-what is the education level that has the highest income?**

**7-what is the education level that has the highest  Number of Web Visits Monthly?**

**8-what is the education level that has the Highest  Number of Amount spent on wine in the last 2 years?**

**9-what is the education level that has the Highest  Number of Amount spent on Fruits in the last 2 years?**

**10-what is the Marital Status that has the highest  income?**

**11-what is the Marital Status that has the highest  Number of Web Visits Monthly?**

**12-what is the Marital Status that has the Highest  Number of Amount spent on wine in the last 2 years?**

**13-what is the Marital Status that has the Highest  Number of Amount spent on Fruits in the last 2 years?**

**14-what is the Marital Status that has the Highest  Number of Deals Purchases?**

In [ ]:
# df.groupby('Education').mean().sort_values('Recency')

***
**1-what is the education level that most of our customers have?**

In [ ]:
df['Education'].value_counts()

***
**2-what is the  average  Number of days since the customer's last purchase?**

In [ ]:
sns.boxplot(y=df['Recency'])

In [ ]:
df['Recency'].mean()

***
**3-what is the average Number of Amount spent on MeatProducts in the last 2 years?**

In [ ]:
# First we have to look if have outliers or no
sns.boxplot(y=df['MntMeatProducts'])
print(df['MntMeatProducts'].mean())

we have some outliers, so we have to remove these to can get the right average.

In [ ]:
d = df['MntMeatProducts']

d = d.mask((d - d.mean()).abs() > 2 * d.std())

sns.boxplot(y=d)
print(d.mean())

****
**4-what is the average Number of Amount spent on Fruits ?**

In [ ]:
sns.boxplot(y=df['MntFruits'])
df['MntFruits'].mean()

26.30 is not the real mean becouse there are some outliers.

In [ ]:
f = df['MntFruits']

f = f.mask((f-f.mean()).abs() > 2 * f.std())

sns.boxplot(y=f)
print(f.mean())

***
**5-what is the average Number of Amount spent on win ?**

In [ ]:
sns.boxplot(y=df['MntWines'])
print(df['MntWines'].mean())

303.93 is not the real mean becouse there are some outliers.

In [ ]:
w = df['MntWines']
w = w.mask((w-w.mean()).abs() > 2 * w.std())

sns.boxplot(y=w)
print(w.mean())

***
**6-what is the education level that has the highest income?**

In [ ]:
df[df['Income']==df['Income'].max()]['Education']

***
**7-what is the education level that has the highest  Number of Web Visits Monthly?**

In [ ]:
df[df['NumWebVisitsMonth']==df['NumWebVisitsMonth'].max()]['Education']

***
**8-what is the education level that has the Highest  Number of Amount spent on wine in the last 2 years?**

In [ ]:
df[df['MntWines']==df['MntWines'].max()]['Education']

***
**9-what is the education level that has the Highest  Number of Amount spent on Fruits in the last 2 years?**

In [ ]:
df[df['MntFruits']==df['MntFruits'].max()]['Education']

In [ ]:
df['Year_Birth'].value_counts().head()

In [ ]:
# df[df['MntWines']<=1200].groupby('Marital_Status').sum().sort_values('NumStorePurchases')

***
**10-what is the Marital Status that has the highest  income?**

In [ ]:
df[df['Income']==df['Income'].max()]['Marital_Status']

***
**11-what is the Marital Status that has the highest  Number of Web Visits Monthly?**

In [ ]:
df[df['NumWebVisitsMonth']==df['NumWebVisitsMonth'].max()]['Marital_Status']

***
**12-what is the Marital Status that has the Highest  Number of Amount spent on wine in the last 2 years?**

In [ ]:
df[df['MntWines']==df['MntWines'].max()]['Marital_Status']

***
**13-what is the Marital Status that has the Highest  Number of Amount spent on Fruits in the last 2 years?**

In [ ]:
df[df['MntFruits']==df['MntFruits'].max()]['Marital_Status']

***
**14-what is the Marital Status that has the Highest  Number of Deals Purchases?**

In [ ]:
df[df['NumDealsPurchases']==df['NumDealsPurchases'].max()]['Marital_Status']

****
****
# Visualization

In [ ]:
plt.figure(figsize=(10,5), dpi=100)

x = df['Year_Birth'].value_counts().iloc[:15].index
y = df['Year_Birth'].value_counts().iloc[:15].values

sns.barplot(x=x, y=y, order=x, color='blue', alpha=.8)

plt.title('Frequency Year Birth of our customers', fontsize=20)
plt.xlabel('Year Birth', fontsize=15)
plt.ylabel('Frequency', fontsize=15)

plt.xticks(fontsize=13)
plt.yticks(fontsize=13)
plt.show()

In [ ]:
plt.figure(figsize=(10,5), dpi=100)

x = df['Education'].value_counts().index
y = df['Education'].value_counts().values

sns.barplot(x=x, y=y, order=x, color='blue', alpha=.8)

plt.title('Frequency Education level of our customers', fontsize=20)
plt.xlabel('Education level', fontsize=15)
plt.ylabel('Frequency', fontsize=15)

plt.xticks(fontsize=13)
plt.yticks(fontsize=13)
plt.show()

In [ ]:
plt.figure(figsize=(10,5), dpi=100)

x = df['Marital_Status'].value_counts().index
y = df['Marital_Status'].value_counts().values

sns.barplot(x=x, y=y, order=x, color='blue', alpha=.8)

plt.title('Frequency Marital Status of our customers', fontsize=20)
plt.xlabel('Marital Status', fontsize=15)
plt.ylabel('Frequency', fontsize=15)

plt.xticks(fontsize=13)
plt.yticks(fontsize=13)
plt.show()

In [ ]:
plt.figure(figsize=(10,5), dpi=100)

x = df['Kidhome'].value_counts().index
y = df['Kidhome'].value_counts().values

sns.barplot(x=x, y=y, order=x, color='blue', alpha=.8)

plt.title('Frequency Number of children in customer\'s household', fontsize=20)
plt.xlabel('Number of children', fontsize=15)
plt.ylabel('Frequency', fontsize=15)

plt.xticks(fontsize=13)
plt.yticks(fontsize=13)
plt.show()

In [ ]:
plt.figure(figsize=(10,5), dpi=100)

x = df['Teenhome'].value_counts().index
y = df['Teenhome'].value_counts().values

sns.barplot(x=x, y=y, order=x, color='blue', alpha=.8)

plt.title('Frequency Number of teenagers in customer\'s household', fontsize=20)
plt.xlabel('Number of teenagers', fontsize=15)
plt.ylabel('Frequency', fontsize=15)

plt.xticks(fontsize=13)
plt.yticks(fontsize=13)
plt.show()

In [ ]:
plt.figure(figsize=(11,5), dpi=100)

x = df['Country'].value_counts().index
y = df['Country'].value_counts().values

sns.barplot(x=x, y=y, order=x, color='blue', alpha=.8)

plt.title('Frequency of customer\'s Country', fontsize=20)
plt.xlabel('Country', fontsize=15)
plt.ylabel('Frequency', fontsize=15)

plt.xticks(fontsize=13)
plt.yticks(fontsize=13)
plt.show()

In [ ]:
plt.figure(figsize=(10,5), dpi=100)

x = df['Complain'].value_counts().index
y = df['Complain'].value_counts().values

sns.barplot(x=x, y=y, order=x, color='blue', alpha=.8)
# 
plt.title('complain customers', fontsize=20)
plt.xlabel('complain customers', fontsize=15)
plt.ylabel('Frequency', fontsize=15)

plt.xticks(fontsize=13)
plt.yticks(fontsize=13)
print("1 if customer complained in the last 2 years, 0 otherwise")
plt.show()

In [ ]:
plt.figure(figsize=(10,5), dpi=100)

x = df['Response'].value_counts().index
y = df['Response'].value_counts().values

sns.barplot(x=x, y=y, order=x, color='blue', alpha=.8)

plt.title('Customer response', fontsize=20)
plt.xlabel('1=accepted , 0=not', fontsize=15)
plt.ylabel('Frequency', fontsize=15)

plt.xticks(fontsize=13)
plt.yticks(fontsize=13)
print("1 if customer accepted the offer in the last campaign, 0 otherwise")
plt.show()

In [ ]:
plt.figure(figsize=(10,5), dpi=100)

x = df['AcceptedCmp1'].value_counts().index
y = df['AcceptedCmp1'].value_counts().values

sns.barplot(x=x, y=y, order=x, color='blue', alpha=.8)

plt.title('Customer Acceptedcampaign 1', fontsize=20)
plt.xlabel('1=accepted , 0=not', fontsize=15)
plt.ylabel('Frequency', fontsize=15)

plt.xticks(fontsize=13)
plt.yticks(fontsize=13)
print("1 if customer accepted the offer in the 1st campaign, 0 otherwise")
plt.show()

In [ ]:
plt.figure(figsize=(10,5), dpi=100)

x = df['AcceptedCmp2'].value_counts().index
y = df['AcceptedCmp2'].value_counts().values

sns.barplot(x=x, y=y, order=x, color='blue', alpha=.8)

plt.title('Customer Acceptedcampaign 2', fontsize=20)
plt.xlabel('1=accepted , 0=not', fontsize=15)
plt.ylabel('Frequency', fontsize=15)

plt.xticks(fontsize=13)
plt.yticks(fontsize=13)
print("1 if customer accepted the offer in the 2st campaign, 0 otherwise")
plt.show()

In [ ]:
plt.figure(figsize=(10,5), dpi=100)

x = df['AcceptedCmp3'].value_counts().index
y = df['AcceptedCmp3'].value_counts().values

sns.barplot(x=x, y=y, order=x, color='blue', alpha=.8)

plt.title('Customer Acceptedcampaign 3', fontsize=20)
plt.xlabel('1=accepted , 0=not', fontsize=15)
plt.ylabel('Frequency', fontsize=15)

plt.xticks(fontsize=13)
plt.yticks(fontsize=13)
print("1 if customer accepted the offer in the 3st campaign, 0 otherwise")
plt.show()

In [ ]:
plt.figure(figsize=(10,5), dpi=100)

x = df['AcceptedCmp4'].value_counts().index
y = df['AcceptedCmp4'].value_counts().values

sns.barplot(x=x, y=y, order=x, color='blue', alpha=.8)

plt.title('Customer Acceptedcampaign 4', fontsize=20)
plt.xlabel('1=accepted , 0=not', fontsize=15)
plt.ylabel('Frequency', fontsize=15)

plt.xticks(fontsize=13)
plt.yticks(fontsize=13)
print("1 if customer accepted the offer in the 4st campaign, 0 otherwise")
plt.show()

In [ ]:
plt.figure(figsize=(10,5), dpi=100)

x = df['AcceptedCmp5'].value_counts().index
y = df['AcceptedCmp5'].value_counts().values

sns.barplot(x=x, y=y, order=x, color='blue', alpha=.8)

plt.title('Customer Acceptedcampaign 5', fontsize=20)
plt.xlabel('1=accepted , 0=not', fontsize=15)
plt.ylabel('Frequency', fontsize=15)

plt.xticks(fontsize=13)
plt.yticks(fontsize=13)
print("1 if customer accepted the offer in the 5st campaign, 0 otherwise")
plt.show()

In [ ]:
plt.figure(figsize=(10,5), dpi=100)

c1 =df[df['AcceptedCmp1']=='1']['AcceptedCmp1'].value_counts()
c2 =df[df['AcceptedCmp2']=='1']['AcceptedCmp2'].value_counts()
c3 =df[df['AcceptedCmp3']=='1']['AcceptedCmp3'].value_counts()
c4 =df[df['AcceptedCmp4']=='1']['AcceptedCmp4'].value_counts()
c5 =df[df['AcceptedCmp5']=='1']['AcceptedCmp5'].value_counts()

y = [*c1.values , *c2.values , *c3.values , *c4.values , *c5.values ]
x = ['AcceptedCmp1','AcceptedCmp2','AcceptedCmp3','AcceptedCmp4','AcceptedCmp5']

sns.barplot(x,y, color='blue', alpha=.8)

plt.title('Comparison between the 5  campains', fontsize=20)
plt.xlabel('campaign', fontsize=15)
plt.ylabel('Number of Customers Accepted', fontsize=15)

plt.xticks(fontsize=13)
plt.yticks(fontsize=13)
plt.show()

In [ ]:
# Income MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds NumDealsPurchases NumWebPurchases
# NumCatalogPurchases NumCatalogPurchases NumStorePurchases NumWebVisitsMonth
df.head()

In [ ]:
cols = ['Income','MntWines','MntFruits','MntMeatProducts','MntFishProducts','MntSweetProducts','MntGoldProds',
        'NumDealsPurchases','NumWebPurchases','NumCatalogPurchases','NumCatalogPurchases',
        'NumStorePurchases','NumWebVisitsMonth']

for i in cols:
    plt.figure(figsize=(5,3), dpi=100)
    sns.boxplot(y=df[i])
    plt.title('boxplot of column :'+i)
    plt.show()
    print('\n')

In [ ]:

for i in cols:
    plt.figure(figsize=(5,3), dpi=100)
    sns.displot(x=df[i], hue=df['Marital_Status'], height=5, aspect=2)
    plt.title('displot of column :'+i , fontsize=22)
    plt.xlabel(i,fontsize=18)
    plt.ylabel('count',fontsize=18)
    plt.xticks(fontsize=18)
    plt.yticks(fontsize=18)
    plt.show()
    print('\n')

In [ ]:
x = df['Dt_Customer'].value_counts().iloc[:].index
y = df['Dt_Customer'].value_counts().iloc[:].values

In [ ]:
plt.figure(figsize=(18,5))
sns.lineplot(x=x, y=y)
plt.title('Number of registerations with Date', fontsize=20)

In [ ]:
df.head()

In [ ]:
for i in cols:
    plt.figure(figsize=(5,3), dpi=100)
    sns.displot(x=df[i], hue=df['Education'], height=5, aspect=2)
    plt.title('displot of column :'+i +' wiht Education level', fontsize=22)
    plt.xlabel(i,fontsize=18)
    plt.ylabel('count',fontsize=18)
    plt.xticks(fontsize=18)
    plt.yticks(fontsize=18)
    plt.show()
    print('\n')

In [ ]:
plt.figure(figsize=(15,10))
sns.heatmap(df.corr(), annot=True)
plt.title("Show the corr bettewn columns", fontsize=20)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)
plt.show()


****
# Thanks :)
**BY : Ahmed Fouad**