# Hello, I'm proud to upload my first ever Kernel on Kaggle.
I started from general data cleaning and checking. With every step I was moving into more detailed insights. Starting from monthly transaction split to most commonly sold building types and I ended up analyzing one family dwellings in Manhattan.

There are several issues marked in the code where I'd love to get some feedback:
1. HELP :) correlation
2. HELP :) code vulnerability
3. HELP :) Google maps in Jupyter

I'm also wondering how to get more data to complete NYC 2017 property sales.

In [ ]:
import pandas as pd

#load file
nyc = pd.read_csv('../input/nyc-rolling-sales.csv', sep =',')

#show dataset details
print('number of entries:',nyc.shape)
nyc.dtypes

In [ ]:
nyc = nyc.rename(columns={'SALE PRICE': 'SALEPRICE'})

In [ ]:
# Look for irrelevant data to drop
nyc['SALEPRICE'].value_counts().head(10)

In [ ]:
# Drop irrelevant transactions (0$, 1$, 10$)

nyc = nyc[nyc.SALEPRICE != '0']
nyc = nyc[nyc.SALEPRICE != '10']
nyc = nyc[nyc.SALEPRICE != '1']
nyc = nyc[nyc.SALEPRICE != ' -  ']
print('number of entries:',nyc.shape)

In [ ]:
nyc['SALEPRICE'] = pd.to_numeric(nyc['SALEPRICE'])
nyc.dtypes

In [ ]:
# Dicard rows with empty (NaN) fields

nyc.isnull().any()
nyc = nyc.dropna()
nyc.shape

In [ ]:
#Set SALE DATE as index ID for sorting purposes

nyc['SALE DATE'].dtype
pd.to_datetime(nyc['SALE DATE'])

In [ ]:
# Check how the DF looks like
nyc.set_index('SALE DATE', inplace=True)

In [ ]:
# Change borough index to borough real name

nyc['BOROUGH'][nyc['BOROUGH'] == 1] = 'Manhattan'
nyc['BOROUGH'][nyc['BOROUGH'] == 2] = 'Bronx'
nyc['BOROUGH'][nyc['BOROUGH'] == 3] = 'Brooklyn'
nyc['BOROUGH'][nyc['BOROUGH'] == 4] = 'Queens'
nyc['BOROUGH'][nyc['BOROUGH'] == 5] = 'Staten Island'

In [ ]:
#Date time index applied

nyc.index

THIS IS HOW MY CLEANED DATA LOOKS LIKE

In [ ]:
#Cleaned data preview

nyc.head(25)

In [ ]:
#Set index data dype to date

nyc.index = pd.to_datetime(nyc.index) 
nyc.index

TOP DOWN APPROACH TO SPOT DETAILS IN THE DATA SET

In [ ]:
#Divide cleaned data into 2017 monthly data sets

jan = nyc.loc['2017-1-1':'2017-1-31']
feb = nyc.loc['2017-2-1':'2017-2-28']
mar = nyc.loc['2017-3-1':'2017-3-31']
apr = nyc.loc['2017-4-1':'2017-4-30']
may = nyc.loc['2017-5-1':'2017-5-31']
jun = nyc.loc['2017-6-1':'2017-6-30']
jul = nyc.loc['2017-7-1':'2017-7-31']
aug = nyc.loc['2017-8-1':'2017-8-31']

In [ ]:
print(jan.shape)
print(feb.shape)
print(mar.shape)
print(apr.shape)
print(may.shape)
print(jun.shape)
print(jul.shape)
print(aug.shape)

With 4418 transactions in June and 2995 (the lowest) in August it seems that everybody wants to make the sale before the summer as it is fairly low season.

In [ ]:
#Let's see which building class makes the most of market share:
nyc['BUILDING CLASS CATEGORY'].value_counts().head(10)

One family dwellings are most frequently sold in NY.

In [ ]:
#Let's investigate that deeper and split it into monthky transtactions.

jan_dwellings = jan['BUILDING CLASS CATEGORY'].str.contains('01 ONE FAMILY DWELLINGS')
JAN = jan[jan_dwellings]
feb_dwellings = feb['BUILDING CLASS CATEGORY'].str.contains('01 ONE FAMILY DWELLINGS')
FEB = feb[feb_dwellings]
mar_dwellings = mar['BUILDING CLASS CATEGORY'].str.contains('01 ONE FAMILY DWELLINGS')
MAR = mar[mar_dwellings]
apr_dwellings = apr['BUILDING CLASS CATEGORY'].str.contains('01 ONE FAMILY DWELLINGS')
APR = apr[apr_dwellings]
may_dwellings = may['BUILDING CLASS CATEGORY'].str.contains('01 ONE FAMILY DWELLINGS')
MAY = may[may_dwellings]
jun_dwellings = jun['BUILDING CLASS CATEGORY'].str.contains('01 ONE FAMILY DWELLINGS')
JUN = jun[jun_dwellings]
jul_dwellings = jul['BUILDING CLASS CATEGORY'].str.contains('01 ONE FAMILY DWELLINGS')
JUL = jul[jul_dwellings]
aug_dwellings = aug['BUILDING CLASS CATEGORY'].str.contains('01 ONE FAMILY DWELLINGS')
AUG = aug[aug_dwellings]
print('Number of one family dwellings transactions per month')
print('JAN:', len(JAN))
print('FEB:', len(FEB))
print('MAR:', len(MAR))
print('APR:', len(APR))
print('MAY:', len(MAY))
print('JUN:', len(JUN))
print('JUL:', len(JUL))
print('AUG:', len(AUG))

HELP :) correlation
1. It would be interesting to see how monthly one family dwellings transactions per month correlate with total number of transactions per month. However, I'm not sure how to code it :P yet.

Anyway, let's dive deeper and see how one family dwellings split between Boroughs

In [ ]:
print('JAN:')
print(JAN['BOROUGH'].value_counts())
print('FEB:')
print(FEB['BOROUGH'].value_counts())
print('MAR:')
print(MAR['BOROUGH'].value_counts())
print('APR:')
print(APR['BOROUGH'].value_counts())
print('MAY:')
print(MAY['BOROUGH'].value_counts())
print('JUN:')
print(JUN['BOROUGH'].value_counts())
print('JUL:')
print(JUL['BOROUGH'].value_counts())
print('AUG:')
print(AUG['BOROUGH'].value_counts())

HELP :) code vulnerability
1. In general, the order remains the same across the months.
2. The problem is that in August Brooklyn (169) surpassed Staten Island (141)
3. My code generates an error. Putting all values to fixed lists produces error in the final data frame (August, Brooklyn has the value of Staten Island and vice versa. How to make such value aggregation more flexible?
COUPLE OF INSIGHTS:
1.  The order of boroughs remained the same over the time span.
2.  There are really few transactions in Manhattan

In [ ]:
#Let's build a data frame showing number of transactions in Boroughs in different months

JAN_list = JAN['BOROUGH'].value_counts().tolist()
FEB_list = FEB['BOROUGH'].value_counts().tolist()
MAR_list = MAR['BOROUGH'].value_counts().tolist()
APR_list = APR['BOROUGH'].value_counts().tolist()
MAY_list = MAY['BOROUGH'].value_counts().tolist()
JUN_list = JUN['BOROUGH'].value_counts().tolist()
JUL_list = JUL['BOROUGH'].value_counts().tolist()
AUG_list = AUG['BOROUGH'].value_counts().tolist()

In [ ]:
#list of Boroughs for our table
BOROUGH = ['Queens','Staten Island','Brooklyn','Bronx ','Manhattan']

In [ ]:
#building the aggregated table from all monthly lists
borough_sales = pd.DataFrame(
    {'BOROUGH': BOROUGH,
     'JANUARY': JAN_list,
    'FEBRUARY': FEB_list,
    'MARCH': MAR_list,
    'APRIL': APR_list,
    'MAY': MAY_list,
    'JUNE': JUN_list,
    'JULY': JUL_list,
    'AUGUST': AUG_list,
    }, columns = ['JANUARY','FEBRUARY','MARCH','APRIL','JUNE','JULY','AUGUST','BOROUGH'])
borough_sales.set_index('BOROUGH', inplace=True)
borough_sales.head()

That's interesting. I want to see exactly what were the features of dwellings sold in Manhattan

In [ ]:
JAN[JAN['BOROUGH']=='Manhattan'].sort_values(by='SALEPRICE', ascending=0)

FINAL INSIGHTS IN THIS PART
1. The most expensive property cost 41mln dollars(it is also 10th highest transaction in January in NY), the cheapest only 2mln dollars
2. Both properties were on the same street, built around the same year, lot size fairly similar. What made the difference?
3. All of the properties are either on WEST street (50%) or on EAST street (50%)

HELP :) Google maps in Jupyter:
1. I'd like to use google maps to mark the locations, or images of these properties and incorporate that to the Jupyter Notebook. But how? Folium?

... and some more analysis

In [ ]:
# total value of tranactions per building category

jan.groupby('BUILDING CLASS CATEGORY').SALEPRICE.sum()

In [ ]:
# Top Boroughs

jan['BOROUGH'].value_counts()

In [ ]:
# Top Neighborhoods

jan['NEIGHBORHOOD'].value_counts().head(20)

In [ ]:
# Top Building categories

jan['BUILDING CLASS CATEGORY'].value_counts().head(20)

In [ ]:
# Top 10 most expensive properties in January 2017
jan.sort_values('SALEPRICE', ascending=False).head(10)