# Pandas

As a data scientist we will not be creating the datasets, instead we will be reading data from the different types of files. Hence we will practice the pandas library on actual dataset.

## Importig the numpy and pandas

In [ ]:
import pandas as pd
import numpy as np

Reading data from csv file . 

1. pd.read_csv(r"filepath")
2. pandas can read many types of data including excel, sql, clipboard, table , text etc. 
3. use r" " to avoid the error or use double // as escape character

In [ ]:
# pd.read function - 

df = pd.read_csv(r"../input/test-file/tested.csv")

### head(*) and tail(*)<br>

Head shows first five rows of dataset and tail last five rows<br>
we can use integer value as argument to show specific number of lines <br>
Why we use head and tail methods, to check the data columns and values and to get idea about dataset

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.head(2) # shows 2 lines

### Next we want to look at the shape of data, how many rows and columns we have in dataset

In [ ]:
# shape shows rows and columns of the dataset, here we have 891 row ( we call it observations)
# and 12 columns ( we call it features/variables in data science )

df.shape

### We also want to know the data type of the columns right

In [ ]:
# dtypes - return data type of columns,
# info() - we can get more information using info() than dtypes

print(df.dtypes)
print('\n')
print(df.info())

### Quickly Checking columns and index

In [ ]:
# columns - checking column names 
# index - to check index of datasets

print(df.columns)
print('\n')
print(df.index)

### To get information like mean min max standard deviation and percentiles. Use following function

In [ ]:
# describe() - information about the numerical columns

print(df.describe())

# Accessing rows or columns of the dataset

### Accessing columns

In [ ]:
# Single columns - there are two methods to access the columns by . and by ['']

# note if columns has space then . method won't work. And it confuses us if its column or method
# hence we will be using [" "] methods throughout the file. Once you get confirtable with it you can use . method as you wish. 

# by . method - lets call it dot method
print(df.Survived)

# by [""] method lets call it name method
print(df['Survived'])

In [ ]:
# Aceesing multiple columns - by passing list of desired columns in the square brackets
# Sequence of columns will be as you passed them in list of columns

df[['Survived','PassengerId']]

### There are two more ways to access the columns and are oftern used to get the chunk of dataset<br>

<b>loc method</b>

iloc[] - index location, index based location<br>
loc[] - location , name based location <br>
LOC uses row and index sequence to access the cut of original dataframe<br>
both rows or columns can be range, single or list<br>

In [ ]:
# using loc method to get all rows and specific columns

print('1. all rows and col - survived ')
print(r"Code :- df.loc[ : , 'Survived']") 

print(df.loc[ : , 'Survived']) # focus here

print('\n2. all rows and column from Sex to Ticket ')
print(r"Code :- df.loc[ : , 'Sex': 'Ticket']")

print(df.loc[ : , 'Sex': 'Ticket'])  # focus here

print('\n3. all rows and specific columns pass as list Pclass, Fare and Name')
print(r"Code :- df.loc[ : , ['Pclass','Fare','Name']]")

print(df.loc[ : , ['Pclass','Fare','Name']])  # focus here

# as our dataset have the index in number from 0 to 890 we can use number in loc otherwise we need to provide the index name

print('\n4. all rows till index named 100 ( 100th  included ) and col - survived ')
print(r"Code :- df.loc[:100 , 'Survived']") 

print(df.loc[:100 , 'Survived'])   # focus here

print('\n5. all rows from 10 to 100 and column from Sex to Ticket')
print(r"Code :- df.loc[10 : 100, 'Sex': 'Ticket']")

print(df.loc[10 : 100, 'Sex': 'Ticket'])  # focus here

print('\n6. rows 12,100,890 and specific columns pass as list Pclass, Fare and Name')
print(r"Code :- df.loc[[12,100,890] , ['Pclass','Fare','Name']]")

print(df.loc[[12,100,890] ,columns = ['Pclass','Fare','Name']])  # focus here

<b>iloc method</b><br>

iloc method is similar to the loc method but instead of using name of index or columns it uses the index of it <br>
Please note our dataset already have the index as 0 to 890 hence the row index might be look similar to loc but <br>
its different as in loc we used it as name not index here we are using it as index <br>

In [ ]:
# using loc method to get all rows and specific columns
# note that iloc method excludes the last index passed

print('\n1. all rows till index till 100 ( 100th  excluded ) and col - indexed at 1')
print(r"Code :- df.iloc[:100 , 1]") 

print(df.iloc[:100 , 1])   # focus here

print('\n2. all rows from 10 to 100 and column from index 4 to 10 excluded 10')
print(r"Code :- df.iloc[10 : 100, 4 : 10 ]")

print(df.iloc[10 : 100, 4 : 10 ])  # focus here

print('\n3. rows 12,100,890 and specific columns pass as list of index for Pclass, Fare and Name')
print(r"Code :- df.iloc[ [12,100,890] , [2,9,3] ]")

print(df.iloc[[12,100,800],[2,9,3]])  # focus here

# Conditional Slicing

In [ ]:
# getting all the rows of dataset with Sex as female 

df[df['Sex'] == 'female'].head(10)

In [ ]:
# getting specific columns with condition Sex == female 

df[df['Sex'] == 'female'][["Fare",'Age','Name']]

In [ ]:
# getting all the columns with age < 18  and sex as male to check get all info about the male kids onboard

df[(df['Age'] < 18) & (df['Sex'] =='male')].head()

### accessing the elements in the columns

Based on conditions and index

In [ ]:
# we can access the elements in the columns by adding one more square bracket next to it.

# we can eighter pass index in the next square bracket or
print(df['Age'][10:20])

# we can pass condition. the condition can be related to other columns in df as well. 
print(df['Age'][df['Sex'] =='male'])

# other way is to use loc method
# here after df.loc we used the condition and then pass the column name we want values from.
print(df.loc[df['Age'] > 18 , 'Fare'])

# Adding columns to dataset

We won't be learning adding rows , as we will most probably adding the columns ( new features ) not rows ( observations).

In [ ]:
# quickly checking features we have  in data set with 
df.columns

In [ ]:
# adding the same value to all the rows of new columns 
# we have added the new column 'Adult' with 0 to all rows.

df['Adult'] = 0

df.head()

In [ ]:
# now we will correct the elements in Adult columns. 
# if the age of person is above 18 he is adult mean true and True in python is 1
# using condition to filter the elements in columns with age 

df.loc[df['Age'] > 18, 'Adult'] = 1

df.head()

### renaming the column names

In [ ]:
# rename() function - as argument use columns = {} dictionary as key old names and values new names

df.rename(columns = {'SibSp' : 'Siblings'})

# Exploring some methods of dataframes

In [ ]:
# unique - applied on columns to check unique elements in the column
df['Embarked'].unique()

In [ ]:
# nunique - number of unique elements in the column
df['Sex'].nunique()

In [ ]:
# value_counts() - return count of each unique element in colums
df['Pclass'].value_counts()

In [ ]:
# set_index("colname") - set the column we want as index of dataset
# inplace = True - to make changes to original dataset
df.set_index('PassengerId', inplace = True)
df.head()

In [ ]:
# reset_index() - reset the index to original form 0 - 890
df.reset_index(inplace = True)
df.head()

In [ ]:
# sort_values(by = 'colname') - sort the dataset based on column
df.sort_values(by = 'Fare', ascending = True).head()

In [ ]:
# isnull() return True or False value of dataset , we use isnull().sum() to get sum of all nan values columns wise
df.isnull().sum()

In [ ]:
# similarly we also have notnull()
df.notnull().sum()

In [ ]:
# dropna() - drop all the na values columns wise or row wise depending on aixs
# here axis 0 is row and 1 is column, default axis is row
df.dropna()          # to drop all rows with even one nan value 
df.dropna(axis = 1)  # to drop all columns with even only one nan values 
df.dropna(how = 'all') # only drop the row if all the element in row are nan
df.dropna(how = 'any') # drop the row if any element is nan ( its default)

In [ ]:
# fillna() - filling na values with specific value it  can be anything.

df['Embarked'].fillna(value = "S", inplace = True)
df.isna().sum() # checking if empbarked has null values anymore

In [ ]:
# fillna() filling na values with some meaningful value. like mean , median , mode etc. 

df['Age'].fillna(value = df['Age'].mean(), inplace = True)
df.isna().sum()  # checking if age column has nan value now

### Groupby function

In [ ]:
# grouping the dataset based on features and performing operations on them.

gender = df.groupby('Sex') # created a group based on Gender

print(gender.sum()) # performating operation on group object
print('\n')
print(gender.mean())

In [ ]:
# another example of groupby with multilevel groups, with gender and adult or not. 

group_gender_adult = df.groupby(['Sex','Adult'])

group_gender_adult.sum()

In [ ]:
# map() - apply the function element wise

df['Age'].map(lambda x : x/2)

In [ ]:
# apply() - apply the function columns wise 

df['Fare'].apply(lambda x : x+x*0.12)

In [ ]:
# check if columns are numerical or not using applymap()

df.applymap(np.isreal).sum()

In [ ]:
# making pivot table using pandas

pd.pivot_table(df,values = 'Age', index = 'Sex', columns = 'Survived', aggfunc= 'count')

# Some of the Series function applied on the Dataframe columns

In [ ]:
df.columns

In [ ]:
# idxmax() - return the index of the maximum value in the column
ind = df['Fare'].idxmax()
print(ind)
print(df.loc[ind,'Fare'])

In [ ]:
# idxmin() - return the index of the minimum value in the column
ind2 = df['Age'].idxmin()
print(ind2)
print(df.loc[ind2,'Age'])

In [ ]:
# nlargest() - return largest numbers
df['Age'].nlargest() # default return top 5 
df['Age'].nlargest(3) # with argument number of output

In [ ]:
# nsmallest() - return smallest numbers
df['Fare'].nsmallest()

# Exporting the files in pandas

Provide the full path to store at specific location otherwise it will be stored at the Current directory

In [ ]:
# To csv file
df.to_csv('Titanic_output.csv', index = False)

# to excel file
df.to_excel('Titanic_output.xlsx', sheet_name = 'new')