In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
mls_salaries_df=pd.read_csv("/kaggle/input/us-major-league-soccer-salaries/mls-salaries-2017.csv")
mls_salaries_df

In [ ]:
mls_salaries_df.size

In [ ]:
mls_salaries_df.info

In [ ]:
mls_salaries_df.describe().round()

In [ ]:
mls_salaries_df.max()

In [ ]:
mls_salaries_df.min()

In [ ]:
mls_salaries_df.dtypes

In [ ]:
mls_salaries_df.columns

In [ ]:

#total salary per club in 2017
total_salary=mls_salaries_df.groupby("club").sum()

total_salary

In [ ]:
type(total_salary)

In [ ]:
total_salary.sort_values(by="base_salary").plot()

In [ ]:
total_salary

In [ ]:
mls_salaries_df

In [ ]:
mls_salaries_df.isnull().sum()

In [ ]:
salaries=mls_salaries_df.dropna(subset=["club"])

In [ ]:
club_df  = salaries.set_index("club")
club_df

In [ ]:
Atlanta = club_df.loc["ATL",:]
Atlanta

In [ ]:
Atlanta

In [ ]:
Atlanta.dtypes

In [ ]:
Atlanta.shape

In [ ]:
Atlanta.memory_usage

In [ ]:
Atlanta.sort_values(by='base_salary')

In [ ]:
Atlanta.groupby('position').sum()

In [ ]:
Atlanta.groupby('position').max('base_salary')

In [ ]:
Atlanta.max()

In [ ]:
Atlanta.groupby('position').min()

In [ ]:
all_teams_df= mls_salaries_df
all_teams_df.groupby(['club','position']).max(['base_salary'])

#all_teams_df.groupby('position').max(['base_salary'])

In [ ]:
Atlanta

In [ ]:
Atlanta[(Atlanta.position == "GK") & (Atlanta.base_salary == Atlanta.base_salary.max())]

In [ ]:
Atlanta[(Atlanta.position == "D") & (Atlanta.base_salary == Atlanta.base_salary.max())]

In [ ]:
Atlanta[(Atlanta.position == "M") & (Atlanta.base_salary == Atlanta.base_salary.max())]

In [ ]:
Atlanta[(Atlanta.position == "F") & (Atlanta.base_salary == Atlanta.base_salary.max())]

In [ ]:
 Atlanta.groupby('position')['base_salary'].idxmax()

#### How to get the maximum values of each group in a Pandas DataFrame in Python?  Solved in the lines below

In [ ]:
Atlanta_pos = Atlanta.set_index("position")

In [ ]:
Atlanta_pos

In [ ]:
Atlanta_pos.reset_index(inplace=True)

In [ ]:
Atlanta_pos

In [ ]:
#df.loc[df.groupby(["sp", "mt"])["count"].idxmax()] 
#Atlanta_pos[Atlanta_pos.groupby(["position"])["base_salary"].idxmax()]
#Atlanta_pos[Atlanta_pos.groupby(["position"]).sum()]

max_value = Atlanta_pos["base_salary"].max()

In [ ]:
max_value

In [ ]:
max_index = Atlanta_pos["base_salary"].idxmax()

In [ ]:
max_index

In [ ]:
group_max_idx= Atlanta_pos.groupby(by="position").idxmax()

In [ ]:
group_max_idx

In [ ]:
group_max_idx= Atlanta_pos.groupby(by="position")["base_salary"].idxmax()

In [ ]:
group_max_idx

In [ ]:
type(group_max_idx)

In [ ]:
Atlanta_pos.iloc[group_max_idx,:]

In [ ]:
groups_max_idx= Atlanta_pos.groupby(by="position")["guaranteed_compensation"].idxmax()

In [ ]:
groups_max_idx

In [ ]:
Atlanta_pos.iloc[groups_max_idx].sort_values(by=['base_salary'])

In [ ]:
summary_df = Atlanta_pos.iloc[groups_max_idx].sort_values(by=['base_salary'])
summary_df.set_index("position", inplace=True)

In [ ]:
summary_df

In [ ]:
nsummary_df = Atlanta_pos.iloc[groups_max_idx].sort_values(by=['guaranteed_compensation'])

In [ ]:
nsummary_df

In [ ]:
nsummary_df.plot(x="position", y="guaranteed_compensation", ylabel="compensation", kind="bar", title="Atlanta")

####  This will show the process of filtering a dataframe to display one team
####  & create a bar plot that shows the maximum compensation per position

In [ ]:
# parse league list to only NY RedBulls
NYRedBulls_df = mls_salaries_df.set_index("club").loc["NYRB",:]
NYRedBulls_df

In [ ]:
# reset index so idxmax() can be used to extract max values row
# note after groupby can't reset index
NYRedBulls_df.reset_index(inplace=True)
NYRedBulls_df

In [ ]:
# group new dataframe by position & get max value (compensation) index row number
grouped_NYRB = NYRedBulls_df.groupby(by="position")['guaranteed_compensation'].idxmax()

In [ ]:
# reset index so idxmax() can be used to extract max values row
grouped_NYRB

In [ ]:
NYRB_summary_df = NYRedBulls_df.iloc[grouped_NYRB].sort_values(by=['guaranteed_compensation'])

In [ ]:
NYRB_summary_df

In [ ]:
NYRB_summary_df.plot(x="position", y="guaranteed_compensation", ylabel="compensation", kind="bar", title="NYRB")

####  Create interactive tool to display max compensation for each team per position.

In [ ]:
teams_df = mls_salaries_df.groupby(by=["club"]).sum()

In [ ]:
teams_df.index

teams_list = teams_df.index

In [ ]:
team = input("Enter club initials:")

In [ ]:
team

In [ ]:
print("Here's the list of teams:")
teams_df.index

In [ ]:
# parse league list to only show club of interest
print("2017 roster and associated salaries")
some_team_df = mls_salaries_df.set_index("club").loc[team,:]
some_team_df

In [ ]:
# reset index so idxmax() can be used to extract max values row
# note after groupby can't reset index
some_team_df.reset_index(inplace=True)
some_team_df

In [ ]:
# group new dataframe by position & get max value (compensation) index row number
grouped_some_team = some_team_df.groupby(by="position")['guaranteed_compensation'].idxmax()
# reset index so idxmax() can be used to extract max values row
grouped_some_team

In [ ]:
team_max_df = some_team_df.iloc[grouped_some_team].sort_values(by=['guaranteed_compensation'])
team_max_df

In [ ]:
team_max_df.plot(x="position", y="guaranteed_compensation", ylabel="compensation", kind="bar", title=team)