In [ ]:
#import the data using pandas
import numpy as np
import pandas as pd

df = pd.read_csv('../input/Iowa_Liquor_Sales.csv')

In [ ]:
#display the top 5 rows of data
df.head()

In [ ]:
#display the number of rows and columns
df.shape

In [ ]:
#display the columns and their data types
df.dtypes

#list all column names
list(df)

In [ ]:
#convert date to datetime
#dunno if this is right: 
df['Date']=df['Date'].astype('datetime64[ns]')

In [ ]:
#create new df that drops Address, City, and Store Location columns
#number of rowsxcolumns is displayed after dataset and you can see the number of columns went from 24 to 21 since we dropped 3 columns
#axis = 1 referenes the columns vs axis=0 references the rows ?
df=df.drop(['Address','City','Store Location'],axis=1)

In [ ]:
#i wanted to see what format the date was in so i could segment the df by year
#this code selects the first 5 rows of the Date column
df.loc[0:5,'Date']

In [ ]:
#put the dates in order and save the dataframe
df=df.sort_index()

In [ ]:
#list the years to confirm the code can identify between year month and day
df['Date'].dt.year

#create 2 more columns labeled Year and Month
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

In [ ]:
#create a new dataframe object by year
df15=df[df.Year==2015]
df16=df[df.Year==2016]
df17=df[df.Year==2017]

In [ ]:
#df=df.sort_index()