

Load the library's required
-----------

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for plotting 
%matplotlib inline

> 

**Loading CSV to the Environment**
----------------------------------

In [2]:
data = pd.read_csv('../input/student-mat.csv');



Know the Data Set
-----------------

In [3]:
data.head()

In [4]:
data.describe()

In [5]:
data.info()

From the above information we can see that there is no null values as every rows are same in magnitude ie 395. We can also check this by using .isnull()  function as follows .

In [6]:
data.isnull()

Getting data on the basis of Sex , location

In [7]:
male = data[data['sex']=='M'] ; #Seperating male data

In [8]:
female = data[data['sex']=='F']  #seperating female data

In [10]:
rural = data[data['address']=='R']   # seperating rural data

In [9]:
Urban = data[data['address']=='U']    # seperating urban data

**Now lets Visualise how MALE vs FEMALE alcohole consumption**

In [41]:
tot_alc_m = (male['Dalc']+male['Walc'])/2   # total alcohol consumption by male

In [42]:
tot_alc_f = (female['Dalc']+female['Walc'])/2  # total alcohol consumption by Female

In [13]:
tot_alc_m.mean()

In [14]:
tot_alc_f.mean()

In [50]:
plt.hist(tot_alc_f,bins =50,color='b')
plt.hist(tot_alc_m,bins =50,color='r',alpha=0.5)
plt.legend(['Male', 'Female'], loc=1)
plt.xlabel('Alcohole Consumption on scale of 5')
plt.ylabel('Number of Male/Female')
plt.show()