![alt text](https://static.coindesk.com/wp-content/uploads/2016/06/anz-group-press-image.jpg)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as  pd 
plt.rcParams['figure.figsize'] = (20, 10)
%matplotlib inline

df=pd.read_csv("../input/anz-synthesised-transaction-dataset/anz.csv")

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
df.isnull().sum()

# We can see that 90% of merchant code and bpay_biller_code are missing so its better to remove it or ignore it.

In [ ]:
df2=df.drop(['merchant_code','bpay_biller_code'],axis=1)

In [ ]:
df2.describe()

# Before we start any analysis its better to consider the outliers in the amount column and the balance column because its easy to see using the describe attribute that there's a minimum balance of 0.24 and and a transaction amount of 0.10  and both will affect the accuracy of our analysis.

In [ ]:
upper=df2['amount'].quantile(0.99)
lower=df2['amount'].quantile(0.01)

In [ ]:
df2[(df2['amount']<upper)&(df2['amount']>lower)]

In [ ]:
lower_limit=df2['balance'].quantile(0.01)
Upper_limit=df2['balance'].quantile(0.99)

In [ ]:
df3=df2[(df2['balance']>lower_limit)&(df2['balance']<Upper_limit)]

In [ ]:
df3['date']=df3['date'].apply(pd.to_datetime)

In [ ]:
#extracting months and day from date column 
df3['Month']=df3['date'].dt.month
#since the months are 8,9,10 ,let's name it august , sept, oct respectively
months={8:'August',9:'Sept',10:'October'}
df3['Month']=df3['Month'].map(months)

In [ ]:
df3.head()

In [ ]:
#extract the   name of the day from the date column as well using dt.weekday
df3['Weekday']=df3['date'].dt.weekday
days_of_week={0:'MON',1:'Tues',2:'Wed',3:'Thurs',4:'Fri',5:'Sat',6:'Sun'}
df3['Weekday']=df3['Weekday'].map(days_of_week)

In [ ]:
#extract the time of transaction for the transaction column 
df3['Time of trasncation']=df3['extraction'].apply(lambda x:x.split('T')[1].split(":")[0])

In [ ]:
#now let's check the correlation between the features using heatmap
plt.rcParams['figure.figsize'] = (12, 8)
sns.heatmap(df3.corr() ,annot=True,vmax=0.3,linewidths=0.5)

Things we can infer from the heatmap :

**Considerable Correlation**

1.The amount and balance have a pretty good correlation together

2.The amount and age have a decent correlation which we can consider.

3.The balance and age have a strong correlation.


 **Non-Considerable Correlation**

1.Card_flag_present has a negative correlation with both age and amount












We will start filtering the months and analyzing them

In [ ]:
#checking average transaction of the month of October
oct=df3['Month']=='October'
df3.loc[oct,'amount'].mean()

In [ ]:
#maximum transaction of the month of october
oct=df3['Month']=='October'
maximum_transaction= df3.loc[oct,'amount'].max()
maximum_transaction

In [ ]:
#minimum transaction of the month of october
oct=df3['Month']=='October'
minimum_transaction =df3.loc[oct,'amount'].min()
minimum_transaction

In [ ]:
#let's the customers who made the maximum and minimum transactions on the month of october
oct_trans= df3[df3['Month']=='October']
oct_trans[oct_trans['amount']==oct_trans['amount'].max()]['first_name']

In [ ]:
oct_trans= df3[df3['Month']=='October']
oct_trans[oct_trans['amount']==oct_trans['amount'].min()]['first_name']

In the month of October :

The mean transaction is **195 AUD.**

The maximum transaction is **8835.98 AUD** and its was made by **Tim** 

The minimum transaction is** 0.1 AUD** and it was made by **Diana** and **Derek**

In [ ]:
#checking average transaction of the month of Sept
sept=df3['Month']=='Sept'
df3.loc[sept,'amount'].mean()

In [ ]:
#minimum transaction of the month of sept
Sept=df3['Month']=='Sept'
minimum_transaction_Sept =df3.loc[Sept,'amount'].min()
minimum_transaction_Sept

In [ ]:
#maximum transaction of the month of Sept
Sept=df3['Month']=='Sept'
maximum_transaction_sept =df3.loc[Sept,'amount'].max()
maximum_transaction_sept

In [ ]:
#let's the customers who made the maximum and minimum transactions on the month of Sept
Sept_trans= df3[df3['Month']=='Sept']
Sept_trans[Sept_trans['amount']==Sept_trans['amount'].max()]['first_name']

In [ ]:
#let's the customers who made the maximum and minimum transactions on the month of Sept
Sept_trans= df3[df3['Month']=='Sept']
Sept_trans[Sept_trans['amount']==Sept_trans['amount'].min()]['first_name']

In the month of September :

The mean transaction is **182 AUD**.

The maximum transaction is **8835.98** AUD  and its was made by **Tim** 

The minimum transaction is 0.1 AUD and it was made  **Jacqueline**, **Jeffrey** , **Catherine**

In [ ]:
#checking average transaction of the month of August
august=df3['Month']=='August'
df3.loc[august,'amount'].mean()

In [ ]:
#minimum transaction of the month of August
august=df3['Month']=='August'
minimum_transaction_august =df3.loc[august,'amount'].min()
minimum_transaction_august

In [ ]:
#maximum  transaction of the month of August
august=df3['Month']=='August'
max_transaction_august =df3.loc[august,'amount'].max()
max_transaction_august

In [ ]:
#let's the customers who made the maximum and minimum transactions on the month of August
August_trans= df3[df3['Month']=='August']
August_trans[August_trans['amount']==August_trans['amount'].max()]['first_name']

In [ ]:
#let's the customers who made the maximum and minimum transactions on the month of August
#check for minimum 
August_trans= df3[df3['Month']=='August']
August_trans[August_trans['amount']==August_trans['amount'].min()]['first_name']

In the month of August :

The mean transaction is **188.3 AUD**.

The maximum transaction is **8835.98** AUD  and its was made by **Tim** 

The minimum transaction is **1.54 AUD**  and it was made  **Edward**

In [ ]:
df3.head()

In [ ]:
#let's check the how the amount of transaction has changed during the three months
sns.catplot(x='Month',y='amount',data=df3,kind='bar' )
plt.title('Monthly transactions last three Months')

In [ ]:
#let's check the how the amount of transaction has changed during the three months
sns.catplot(x='Weekday',y='amount',data=df3,kind='bar' )
plt.title('Transactions in days of the week')
plt.xticks(rotation=45)

its clear that transactions were the highest in the month of **october**  and when viewed in days , **Monday** is the day where most of the transactions occurs.

In [ ]:
#let's check what time of the day does most of the transactions occurs
sns.relplot(x='Time of trasncation',y='amount',data=df3,kind='line' )
plt.title('Transactions in days of the week')
plt.xticks(rotation=90)

**Most of the transaction occurs in the days of the week occurs between 12pm to 1pm.**

In [ ]:
#let's have a look on the  most time of transactions in the whole week 
sns.relplot(x='Time of trasncation',y='amount',data=df3,kind='line', row='Weekday' )
plt.title('Transactions in days of the week')
plt.xticks(rotation=90)
plt.savefig('output.png',dpi=300)

In [ ]:
#let's have a look on the sum of transactions in the last three months 
sum_of_months=df3.groupby('Month')['amount'].agg('sum')


plt.plot(sum_of_months.sort_values(ascending=True),marker='o',linestyle='dashed')
plt.title('Total transactions of last three Months')
plt.savefig('total_three_sum.png')

In [ ]:
sum_of_days=df3.groupby('Weekday')['amount'].agg('sum')


plt.plot(sum_of_days.sort_values(ascending=True),marker='o',linestyle='dashed')
plt.title('Total transactions during the days ')
plt.savefig('total_week.png')

In [ ]:
mean_of_months=df3.groupby('Month')['amount'].agg('mean').sort_values(ascending=True)
plt.plot(mean_of_months,marker='o',linestyle='dashed',)
plt.title('Mean Transactions of the three Months')
plt.savefig('mean_transactions_in_month.png')

In [ ]:
mean_of_the_days=df3.groupby('Weekday')['amount'].agg('mean').sort_values(ascending=True)
plt.plot(mean_of_the_days,marker='o',linestyle='dashed',)
plt.title('Mean Transactions of the Weekdays')
plt.savefig('mean_transactions_in_days.png')

**On average the transactions during months are higher in october and during days of the week are higher in Mondays.**

In [ ]:
#let's compare the amount of transactions to the gender.
sns.catplot(x='amount',y='gender',data=df3,kind='bar')
plt.savefig('gender.png')

In [ ]:
#let's now make the gender the hue 
sns.countplot(x='Month',hue='gender',data=df3)
plt.title('Transaction of the last three months based on gender')
plt.savefig('Transaction of the last three months based on gender.png')

In [ ]:
#let's have a look on which gender makes more transactions during the day
ax=sns.countplot(x='Weekday',hue='gender',data=df3,)
total=float(len(df3))
for p in ax.patches:
  height=p.get_height()
  ax.text(p.get_x()+p.get_width()/2.,
            height + 3,
            '{:.2%}'.format(height/total),
            ha="center") 
  
plt.title('Number of transactions made on each day  with a gender comparison ')

In [ ]:
sns.relplot(x='age',y='balance',data=df3,kind='line')
plt.title("The effect of Age on the Cutomer's Balance")
plt.savefig('age-balance.png')

**We should give more attention and customer service for clients who's age is between 32-35 and age 74-79 Approximately.**

In [ ]:
#let's have a look from where most of the transactions occur
df['merchant_state'].value_counts()
sns.set(style="darkgrid")
sns.countplot(df3['merchant_state'])
plt.title('Number of Transaction done in each state')
plt.savefig('No_trans_per_State')

**The transactions in NSW state and VIC has the most transactions**

In [ ]:
#let's have a look on where the transactions took place 
sns.set(style="darkgrid")
ax=sns.countplot(df3['txn_description'])
total=float(len(df3))
for p in ax.patches:
  height=p.get_height()
  ax.text(p.get_x()+p.get_width()/2.,
            height + 3,
            '{:.2%}'.format(height/total),
            ha="center") 
plt.title('Percentage of Source by reason of the transaction')
plt.savefig('placeoftrans.png')

**Most of the transaction is a sales-pos.**

In [ ]:
#let's check the amount of transaction that occured in each state
plt.rcParams['figure.figsize'] = (20, 10)

sns.catplot(x='merchant_state',y='amount',data=df3,kind='bar')
plt.title('Amount of transactions in each state')

In [ ]:
#let's take a look on the mean transaction for each gender 
genderism=df3.groupby('gender')
genderism['amount'].mean()

In [ ]:
#let's have a look for those who used debit or credit for different gender 
plt.figure(figsize=(8,8))
sns.countplot(x='movement',hue='gender',data=df3)

In [ ]:
#let's have a look for our best 5 customer who made the maximum transactions
print(df3['first_name'].value_counts().head(5))
sns.countplot(y='first_name', order=df3['first_name'].value_counts().head(5).index[:5] ,data=df3)

In [ ]:
#let's have a look on the least 10 customers 
print(df3['first_name'].value_counts(sort=True).nsmallest(10))
tail_cust=df3['first_name'].value_counts(sort=True).nsmallest(10)
mycolors=['r','b','k','y','m','c','#16A085','salmon' , '#32e0c4']
tail_cust.plot.barh(color=mycolors)

In [ ]:
#let's see the min and max amount of trans in the state
merchan_grp=df3.groupby('merchant_state')
agg_merchant_states=merchan_grp['amount'].agg(['mean','max','min'])
agg_merchant_states

In [ ]:
#let's see the states with maximum transactions
agg_merchant_states['max'].plot.barh(color=mycolors)
plt.title('Maximum amount of transactions in Each state')
plt.xlabel('Amount')
plt.ylabel('Merchant_state')

## **Number of transactions made by customers each month , on average ?**

In [ ]:
month_grp = df3.groupby(['Month'])
avg_amt_tran_month = month_grp['amount'].mean()
avg_amt_tran_month.plot.barh(color=mycolors)

## **Number of transactions made by customers each day , on average ?**

In [ ]:
day_grp = df3.groupby(['Weekday'])
avg_amt_tran_day = day_grp['amount'].mean()
avg_amt_tran_day.plot.barh(color=mycolors)