In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
url='/kaggle/input/test-file/tested.csv'
dataframe=pd.read_csv(url)
df=dataframe
df.describe()

In [ ]:
print(df.head)

In [ ]:
X = df.iloc[5].values
Y = df.iloc[10].values
                  
print(X)
print(Y)

In [ ]:
# set seed for reproducibility
np.random.seed(0)

In [ ]:
# look  missing data 
df.sample(5)

In [ ]:
# look at  missing data 
df.sample(10)

In [ ]:
# get the number of missing data points per column
missing_values_count = df.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[0:10]

In [ ]:
# how many total missing values do we have?
total_cells = np.product(df.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
(total_missing/total_cells) * 100

In [ ]:
# look at the # of missing points in the first ten columns
missing_values_count[0:10]

In [ ]:
# remove all the rows that contain a missing value
df.dropna()

In [ ]:
# remove all columns with at least one missing value
columns_with_na_dropped = df.dropna(axis=1)
columns_with_na_dropped.head()

In [ ]:
# just how much data did we lose?
#columns in original dataset
print(df.shape[1])
#columns with na dropped data set
print(columns_with_na_dropped.shape[1])

In [ ]:
#Filling in missing values automatically
# get a small subset of the dataset
subset_df = df.loc[:, 'Age':'Fare'].head()
subset_df

In [ ]:
# replace all NA's with 0
subset_df.fillna(0)

In [ ]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the reamining na's with 0
subset_df.fillna(method = 'bfill', axis=0).fillna(0)

In [ ]:
#7#Write a code to apply functions over all elements in a column.
print('Maximum:', df['Age'].max())
print('Minimum:', df['Age'].min())
print('Mean:', df['Age'].mean())
print('Sum:', df['Age'].sum())
print('Count:', df['Age'].count())

In [ ]:
# Load data, set missing values
df = pd.read_csv(url, na_values=[np.nan, 'NONE', -999])

In [ ]:
# Drop columns
df.drop('Age', axis=1).head(2)

In [ ]:
# Drop column
df.drop(['Age', 'Sex'], axis=1).head(5)

In [ ]:
# Delete rows, show first two rows of output
df.drop(df.columns[1], axis=1).head(2)

In [ ]:
# Delete rows, show first two rows of output
df[df['Name'] != 'Allison, Miss Helen Loraine'].head(2)

In [ ]:
#write a code to delete duplicate rows# # Delete row, show first two rows of output starting from 1
df[df.index != 0].head(2)

In [ ]:
# Show number of rows
print("Number Of Rows In The Original DataFrame:", len(df))

In [ ]:
#Show number of rows
print("Number Of Rows After Deduping:", len(df.drop_duplicates()))

In [ ]:
# Drop duplicates
df.drop_duplicates(subset=['Sex'])

In [ ]:
# Drop duplicates
df.drop_duplicates(subset=['Sex'], keep='last')

In [ ]:
# Group rows by the values of the column 'Sex', calculate mean# of each group
df.groupby('Sex').mean()

In [ ]:
#Write a code to group by rows by values.# Group rows
df.groupby('Sex')

In [ ]:
#Write a code to group by rows by values.# Group rows, count rows
df.groupby('Survived')['Name'].count()

In [ ]:
#Write a code to group by rows by values.# Group rows, calculate mean
df.groupby(['Sex','Survived'])['Age'].mean()

In [ ]:
#7# Create date range
time_index = pd.date_range('06/06/2017', periods=100000, freq='30S')
dataframe = pd.DataFrame(index=time_index)

In [ ]:
#write a code to group by rows by time.# Create column of random values
dataframe['Sale_Amount'] = np.random.randint(1, 10, 100000)

In [ ]:
#write a code to group by rows by time.# Group rows by week, calculate sum per week
dataframe.resample('W').sum()

In [ ]:
# Show three rows
dataframe.head(3)

In [ ]:
##write a code to group by rows by time. Group by two weeks, calculate mean
dataframe.resample('2W').mean()

In [ ]:
#write a code to group by rows by time.# Group by month, count rows
dataframe.resample('M').count()

In [ ]:
# Group by month, count rows
dataframe.resample('M', label='left').count()

In [ ]:
# Load data
df = pd.read_csv(url)
# Create function
def uppercase(x):return x.upper()
#9# Apply function, show two rows
df['Name'].apply(uppercase)[0:2]

In [ ]:
#9# Group rows, apply function to groups
df.groupby('Sex').apply(lambda x: x.count())

In [ ]:
#10# Create DataFrame
data_a = {'id': ['1', '2', '3'],'first': ['Alex', 'Amy', 'Allen'],'last': ['Anderson', 'Ackerman', 'Ali']}
dataframe_a = pd.DataFrame(data_a, columns = ['id', 'first', 'last'])
# Create DataFrame
data_b = {'id': ['4', '5', '6'],'first': ['Billy', 'Brian', 'Bran'],'last': ['Bonder', 'Black', 'Balwner']}
dataframe_b = pd.DataFrame(data_b, columns = ['id', 'first', 'last'])
# Concatenate DataFrames by rows
pd.concat([dataframe_a, dataframe_b], axis=0)

In [ ]:
# Concatenate DataFrames by columns
pd.concat([dataframe_a, dataframe_b], axis=1)

In [ ]:
 #Create row
row = pd.Series([10, 'Chris', 'Chillon'], index=['id', 'first', 'last'])   
# Append row
dataframe_a.append(row, ignore_index=True)

In [ ]:
# Create DataFrame
employee_data = {'employee_id': ['1', '2', '3', '4'],'name': ['Amy Jones', 'Allen Keys', 'Alice Bees','Tim Horton']}
dataframe_employees = pd.DataFrame(employee_data, columns = ['employee_id','name'])
# Create DataFrame
sales_data = {'employee_id': ['3', '4', '5', '6'],'total_sales': [23456, 2512, 2345, 1455]}
dataframe_sales = pd.DataFrame(sales_data, columns = ['employee_id','total_sales'])
# Merge DataFrames
pd.merge(dataframe_employees, dataframe_sales, on='employee_id')

In [ ]:
# Merge DataFrames
pd.merge(dataframe_employees, dataframe_sales, on='employee_id', how='outer')

In [ ]:
# Merge DataFrames
pd.merge(dataframe_employees, dataframe_sales, on='employee_id', how='left')

In [ ]:
# Merge DataFrames
pd.merge(dataframe_employees,dataframe_sales,left_on='employee_id',right_on='employee_id')