### Делаем рекомендацию по хоррорам

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
links = pd.read_csv('../input/links.csv')
movies = pd.read_csv('../input/movies.csv')
ratings = pd.read_csv('../input/ratings.csv')
tags = pd.read_csv('../input/tags.csv')

In [3]:
links.head(3)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0

In [4]:
movies.head(3)

   movieId                     ...                                                            genres
0        1                     ...                       Adventure|Animation|Children|Comedy|Fantasy
1        2                     ...                                        Adventure|Children|Fantasy
2        3                     ...                                                    Comedy|Romance

[3 rows x 3 columns]

In [5]:
ratings.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [6]:
tags.head(3)

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992

### Выберем те фильмы у которых жанр только Horror, либо он стоит на первом месте

In [7]:
horror_movies_ = movies[(movies['genres'] == 'Horror') | 
                       (movies['genres'].apply(lambda x: x.split('|')[0]) == 'Horror')].reset_index()
horror_movies_ = horror_movies_.drop('index',axis=1)
horror_movies_

     movieId               ...                                        genres
0        177               ...                                        Horror
1        196               ...                                 Horror|Sci-Fi
2        220               ...                                        Horror
3        311               ...                               Horror|Thriller
4        328               ...                               Horror|Thriller
5        332               ...                                 Horror|Sci-Fi
6        407               ...                               Horror|Thriller
7        426               ...                        Horror|Sci-Fi|Thriller
8        512               ...                                 Horror|Sci-Fi
9        735               ...                                        Horror
10       742               ...                               Horror|Thriller
11       775               ...                                Horror|Mystery
12       841               ...                                        Horror
13       879               ...                               Horror|Thriller
14       891               ...                               Horror|Thriller
15       968               ...                        Horror|Sci-Fi|Thriller
16      1105               ...                                        Horror
17      1128               ...                                        Horror
18      1130               ...                                Horror|Mystery
19      1214               ...                                 Horror|Sci-Fi
20      1258               ...                                        Horror
21      1322               ...                                        Horror
22      1323               ...                                        Horror
23      1324               ...                                        Horror
24      1325               ...                                        Horror
25      1326               ...                                        Horror
26      1328               ...                                        Horror
27      1329               ...                                        Horror
28      1330               ...                                        Horror
29      1331               ...                                        Horror
..       ...               ...                                           ...
438   140267               ...                                        Horror
439   140852               ...                                 Horror|Sci-Fi
440   142366               ...                               Horror|Thriller
441   142598               ...                                        Horror
442   144976               ...                                Horror|Western
443   148982               ...                                        Horror
444   149144               ...                                 Horror|Sci-Fi
445   149146               ...                                 Horror|Sci-Fi
446   150254               ...                                        Horror
447   151559               ...                               Horror|Thriller
448   151745               ...                                 Horror|Sci-Fi
449   152173               ...                                        Horror
450   152372               ...                                        Horror
451   159510               ...                                        Horror
452   159858               ...                                        Horror
453   160571               ...                                        Horror
454   160872               ...                                        Horror
455   160978               ...                                 Horror|Sci-Fi
456   163937               ...                               Horror|Thriller
457   163981               ...                                        Horror
458   167538               ...                                        Horror
459   168250               ...                                        Horror
460   169670               ...                                        Horror
461   170945               ...                       Horror|Mystery|Thriller
462   174479               ...                               Horror|Thriller
463   175199               ...                                        Horror
464   175303               ...                                        Horror
465   175485               ...                               Horror|Thriller
466   183295               ...                       Horror|Mystery|Thriller
467   184253               ...                Horror|Mystery|Sci-Fi|Thriller

[468 rows x 3 columns]

### Посчитаем количество тегов к каждому фильму и добавим это значение в нашу таблицу horror_movies_

In [13]:
horror_movies_tags = horror_movies_.merge(pd.DataFrame(tags.groupby('movieId').count()['tag']), on='movieId', how='left')
horror_movies_tags['tag'] = horror_movies_tags['tag'].apply(lambda x: int(0) if np.isnan(x) else int(x))
horror_movies_tags.head()

   movieId ... tag
0      177 ...   0
1      196 ...   0
2      220 ...   0
3      311 ...   0
4      328 ...   0

[5 rows x 4 columns]

### Теперь разберёмся с рейтингами

In [14]:
movies_ratings =  horror_movies_.merge(ratings[['userId', 'movieId', 'rating']], on='movieId', how='left')

In [15]:
# посмотрим на ТОП-15 фильмов по количеству проставленных оценок и на их средний рейтинг
rating = movies_ratings.groupby('title').agg(['count', 'mean'])['rating'].sort_values('count', 
                                                                                  ascending=False)
rating.head(15)

                                        count      mean
title
Alien (1979)                              146  3.969178
Shining, The (1980)                       109  4.082569
Signs (2002)                               63  3.166667
Exorcist, The (1973)                       53  3.801887
Poltergeist (1982)                         47  3.425532
Ring, The (2002)                           47  3.202128
Species (1995)                             45  2.666667
Birds, The (1963)                          44  3.602273
Hollow Man (2000)                          39  2.294872
Hannibal (2001)                            39  2.935897
Pitch Black (2000)                         39  3.564103
Saw (2004)                                 33  3.181818
I Know What You Did Last Summer (1997)     32  2.109375
Night of the Living Dead (1968)            28  3.750000
Halloween (1978)                           27  3.722222

In [16]:
# посмотрим на медиану и среднее по количеству проставленных оценок на фильм и по их среднему
rating[['count', 'mean']].agg(['median', 'mean'])

           count      mean
median  2.000000  3.000000
mean    5.258547  2.793645

### Добавим к таблице с тегами данные по количеству проставленных оценок на фильм и средний рейтинг фильма

In [17]:
horror_movies = horror_movies_tags.merge(rating[['count', 'mean']], on='title', how='left')
horror_movies.head()

   movieId    ...         mean
0      177    ...     2.750000
1      196    ...     2.666667
2      220    ...     3.000000
3      311    ...     3.000000
4      328    ...     3.150000

[5 rows x 6 columns]

In [18]:
horror_movies.shape

(468, 6)

### Можно заметить что многие фильмы высоко оцененные достаточно старые, а новых встречается меньше, наверно это не очень хорошо. Теперь добавим год выпуска фильма в качестве признака

In [19]:
horror_movies['year'] = horror_movies['title'].apply(lambda x: x.split('(')[1][:-1])
horror_movies['year'] = horror_movies['year'].apply(lambda x: int(x) if len(x)==4 and x.isdigit() else 0)

In [20]:
horror_movies['year'].value_counts().head(10)

0       45
2007    15
2014    14
2009    14
2006    13
2013    12
2012    12
2011    12
2002    11
1980    11
Name: year, dtype: int64

In [21]:
horror_movies.head()

   movieId  ...   year
0      177  ...   1995
1      196  ...   1995
2      220  ...   1995
3      311  ...   1994
4      328  ...   1995

[5 rows x 7 columns]

### Выводим конечный рейтинг.
1. С подобранными мною "на глаз" коэффициентами взвесим теги, количество оценок, и средний рейтинг по фильму.
2. Разделим нашу таблицу на три: по году выхода фильма и будем поочередно выдавать лучший результат

In [22]:
alpha = 0.05
beta = 1
gamma = 0.5

horror_movies['rating_finish'] = horror_movies['count'] * alpha + horror_movies['mean'] * beta + \
                                    horror_movies['tag'] * gamma

horror_movies = horror_movies.sort_values('rating_finish', ascending=False)
horror_movies.head(10)

     movieId      ...      rating_finish
20      1258      ...          14.032569
19      1214      ...          11.769178
279     8957      ...           8.331818
76      1997      ...           6.951887
220     5502      ...           6.816667
31      1333      ...           6.302273
73      1994      ...           6.275532
204     4725      ...           5.825000
15       968      ...           5.650000
225     5679      ...           5.552128

[10 rows x 8 columns]

In [23]:
horror_rating_old = horror_movies[horror_movies['year'] < 1993]
horror_rating_middle = horror_movies[(horror_movies['year'] >= 1993) & (horror_movies['year'] < 2008)]
horror_rating_new = horror_movies[horror_movies['year'] >= 2008]

In [24]:
finish_list = []

for i, j, k in zip(horror_rating_old['title'], horror_rating_middle['title'], horror_rating_new['title']):
    finish_list.append(i)
    finish_list.append(j)
    finish_list.append(k)
    
finish_list[:15]

['Shining, The (1980)',
 'Saw (2004)',
 'Bone Tomahawk (2015)',
 'Alien (1979)',
 'Signs (2002)',
 'Conjuring, The (2013)',
 'Exorcist, The (1973)',
 'Session 9 (2001)',
 'Kill List (2011)',
 'Birds, The (1963)',
 'Ring, The (2002)',
 'Spirit Camp (2009)',
 'Poltergeist (1982)',
 'Pitch Black (2000)',
 'It Comes at Night (2017)']