# Some Comet orbits!

1. Jupiter type(between 20 & 200 year cycle)  
2. Halley type comets(<20 years)   
3. Sungrazers closest to sun < 0.055 AU
4. top 10 Biggest earth risks(MOID)
5. Chart the sun grazers
6. Some histograms of 
7. Halley's comet

In [ ]:
from datetime import datetime
from csv import DictReader, reader
import sys
import csv
from collections import defaultdict
from datetime import datetime

%matplotlib inline
import os
import csv
import pandas as pd    #pip install pandas
import matplotlib.pyplot as plt
import numpy as np
 
import syslog
from __future__ import print_function, division
 
from PyAstronomy import pyasl
#import seaborn as sns

In [ ]:
#raw data
#pd_data = pd.read_csv('./near-earth-comets.csv')
 
pd_data = pd.read_csv('../input/near-earth-comets.csv')
pd_data.head()

In [ ]:
#dat = [['Earth',1,1,1,0,0,0,0],['Jupiter',5.203,5.203,12,0,0,0,0],['Neptune',30.047,30.047,165,0,0,0,0]]
#planets = pd.DataFrame( dat,columns=['Object','Q','q','P','e','O','i','Node'])
#print (type(planets))
#planets.head()
#a=get_kepler(planets.loc[0,:],100)
 
 
#x =pd_data.loc[0]
#print (type (x))
#get_kepler(x,100)

In [ ]:
# Main Plotting def

import matplotlib as mpl
from mpl_toolkits.mplot3d import Axes3D
import numpy as np
import matplotlib.pyplot as plt

dat = [['Earth',1,1,1,0,0,0,0],['Jupiter',5.203,5.203,12,0,0,0,0],['Neptune',30.047,30.047,165,0,0,0,0]]
planets = pd.DataFrame( dat,columns=['Object','Q','q','P','e','O','i','Node'])


def get_kepler(comet,scale):
  ke = pyasl.KeplerEllipse((comet.Q+comet.q)/2,per=comet.P, e=comet.e, Omega=comet.Node , i=comet.i, w=0.0)
  t = np.linspace(0, scale, 2000)
  pos = ke.xyzPos(t) 
  return pos

def show(pd_comet,scale):
  x = np.array([])
  y = np.array([])
  z = np.array([])

  fig = plt.figure()
  fig.set_size_inches(8, 8.0)  #
  #fig.savefig('test2png.png', dpi=100)
  ax = fig.gca(projection='3d')
  ax = Axes3D(fig)
  
  for a in range(0,planets.shape[0]): 
    pos = get_kepler( planets.iloc[a],scale)
    x =  pos[:,0]  
    z=  pos[:,2]
    y =   pos[:,1]
    ax.plot(xs=x, ys=y, zs=z, zdir='z', label='ys=0',color='r',markersize=10) 
    
  for x in range(0,pd_comet.shape[0]): 
    #print (x)
    pos = get_kepler( pd_comet.iloc[x],scale)
    mpl.rcParams['legend.fontsize'] = 10

      
    x =  pos[:,0]  
    z=  pos[:,2]
    y =   pos[:,1]

    ax.plot(xs=x, ys=y, zs=z, zdir='z', label='ys=0',color='b',markersize=10)
    plt.plot([0], [0],[0], 'k+', markersize=100,color ='b')
    
  

  plt.show()

## Halley type comets (with Neptune and Jupiter in red)
1. Period between 20 and 200 years.
2. Highly inclined to the eclyptic
3. Thought to be broken off bits of the Oort cloud

In [ ]:
# Halley type commets orbit between 20 and 200 years highly inclined to the eclyptic
#thought to be broken off bits of the Oort cloud
print("Halley type comets ")
res = pd_data[  (pd_data['P']>20)& (pd_data['P']<200) ]
print (res.shape)
show(res,200)

## Jupiter  type comets (with Neptune and Jupiter in red)
Low orbital inclinations average 18 degrees
Period of less than 20 year

In [ ]:
print("Jupiter type comets ")
# low orbital inclinations average 18 degrees
res = pd_data[  (pd_data['P']>5)& (pd_data['P']<=20) ]
print (res.shape)
show(res,200)

## Period less than 5 years( with Neptune, Jupiter and Earth in red)
* Jupiter type comets

In [ ]:
res = pd_data[  (pd_data['P']<=5)]
print (res.shape)
show(res,200)

## Moid : risk of Earth collision:

* Comet Swiftâ€“Tuttle has been described as "the single most dangerous object known to humanity".

In [ ]:
print ("very low MOID, greater risk of Earth collision")
res = pd_data[  (pd_data['MOID']<0.01)]
print ('count',res.shape[0])
show(res,200)
#res.loc[:,[ 'Object','MOID','Q']]

## Sungrazers (with Neptune, Jupiter and Earth in red)
* Pass closest to the sun, <0.055 AU

In [ ]:
print ('Sungrazers: pass closest to the sun- tend bo be bright and don\'t last long')

res = pd_data[  (pd_data['q']<0.055)]
print (res.shape)
show(res,180)
res.head(5);

## Some Histograms

In [ ]:
plt.hist(pd_data.e,bins=30); # eccentricity of orbit   circular=0 eleptic <1 parabola =1 
#hyperabol >1 (escapte trajectory)

In [ ]:
# inclination with earths orbit i

plt.hist(pd_data.i,bins=30);

In [ ]:
#w: Argument of perihelion (J2000-Ecliptic), in degrees
#http://astronomy.swin.edu.au/cosmos/A/Argument+Of+Perihelion
plt.hist(pd_data.w,bins=30);

In [ ]:
#Node: Longitude of the ascending node (J2000-Ecliptic), in degrees
plt.hist(pd_data.Node,bins=30);

## Useful distances

* Mercury: 0.387 AU
* Venus: 0.723 AU
* Earth: 1.000 AU
* Mars: 1.524 AU
* Jupiter: 5.203 AU
* Saturn: 9.582 AU
* Uranus: 19.201 AU
* Neptune: 30.047 AU

* Kuiper belt  30 -50 AU
* Oort cloud 50,000-200,000  AU

In [ ]:
#Nearst sun/ farthest away
 
ax = pd_data[['Q']].plot(kind='bar', title ="Max distance (AU)" , figsize=(15, 10), legend=True, fontsize=12)
ax = pd_data[['q']].plot(kind='bar', title ="Nearest to Sun (AU)", figsize=(15, 10), legend=True, fontsize=12)

In [ ]:
mercury = 0.387
Venus= 0.723 
Mars= 1.524  
print ('number of commets that pass inside mercury:',len( pd_data[pd_data.q < mercury ]) )
print ('number of commets that pass inside Venus:',len( pd_data[pd_data.q < Venus ]) )
print ('number of commets that pass inside Earth:',len( pd_data[pd_data.q <= 1 ]) )
print ('number of commets that dont pass earth:',len( pd_data[pd_data.q > 1 ]) )

print ('number of commets that dont pass Mars:',len( pd_data[pd_data.q > Mars ]) )

In [ ]:
 #P number of years for commet cycle
 pd_data.P.hist(bins=200)

In [ ]:
# Potentially hazzard :Earth MOID is less than 0.05 AU
pd_data.MOID.hist(bins=20)

## Correlations between variables
* basic but intersting correlations

In [ ]:
pd_data.corr()

In [ ]:
print ('Halley\'s Commet(Giotto), P67(Rosetta/Philae ),26P/Grigg-Skjellerup(Giotto)  ')

res = pd_data.ix[[0,21,142]]
 
print (res.shape)
show(res,200)
res