In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
install.packages("tidyverse")
install.packages("lubridate")
install.packages("ggplot2")
install.packages("readr")
library(tidyverse)
library(lubridate)
library(ggplot2)
library(readr)

In [ ]:
> library(tidyverse)
── Attaching packages ──────────────────────────────── tidyverse 1.3.1 ──
✓ ggplot2 3.3.3     ✓ purrr   0.3.4
✓ tibble  3.1.1     ✓ dplyr   1.0.5
✓ tidyr   1.1.3     ✓ stringr 1.4.0
✓ readr   1.4.0     ✓ forcats 0.5.1
── Conflicts ─────────────────────────────────── tidyverse_conflicts() ──
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
> library(lubridate)

Attaching package: ‘lubridate’

The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union
    
 > library(readr)

Attaching package: ‘readr’

The following object is masked from ‘package:scales’:

    col_factor

Warning message:
package ‘readr’ was built under R version 3.6.3

In [ ]:
"/kaggle/working"

In [ ]:
q2_2018 <- read_csv("/cloud/project/Divvy_Trips_2018_Q1.csv")
q3_2018 <- read_csv("/cloud/project/Divvy_Trips_2018_Q2.csv")
q4_2018 <- read_csv("/cloud/project/Divvy_Trips_2018_Q3.csv")
q1_2028 <- read_csv("/cloud/project/Divvy_Trips_2018_Q4.csv")

In [ ]:
> q2_2018 <- read_csv("/cloud/project/Divvy_Trips_2018_Q2.csv")

── Column specification ─────────────────────────────────────────────────
cols(
  trip_id = col_double(),
  start_time = col_datetime(format = ""),
  end_time = col_datetime(format = ""),
  bikeid = col_double(),
  tripduration = col_number(),
  from_station_id = col_double(),
  from_station_name = col_character(),
  to_station_id = col_double(),
  to_station_name = col_character(),
  usertype = col_character(),
  gender = col_character(),
  birthyear = col_double()
)

|===========================================================| 100% 138 MB
> q3_2018 <- read_csv("/cloud/project/Divvy_Trips_2018_Q3.csv")

── Column specification ─────────────────────────────────────────────────
cols(
  trip_id = col_double(),
  start_time = col_datetime(format = ""),
  end_time = col_datetime(format = ""),
  bikeid = col_double(),
  tripduration = col_number(),
  from_station_id = col_double(),
  from_station_name = col_character(),
  to_station_id = col_double(),
  to_station_name = col_character(),
  usertype = col_character(),
  gender = col_character(),
  birthyear = col_double()
)

|===========================================================| 100% 198 MB
> q4_2018 <- read_csv("/cloud/project/Divvy_Trips_2018_Q4.csv")

── Column specification ─────────────────────────────────────────────────
cols(
  trip_id = col_double(),
  start_time = col_datetime(format = ""),
  end_time = col_datetime(format = ""),
  bikeid = col_double(),
  tripduration = col_number(),
  from_station_id = col_double(),
  from_station_name = col_character(),
  to_station_id = col_double(),
  to_station_name = col_character(),
  usertype = col_character(),
  gender = col_character(),
  birthyear = col_double()
)

> q1_2028 <- read_csv("/cloud/project/Divvy_Trips_2018_Q1.csv")

── Column specification ─────────────────────────────────────────────────
cols(
  trip_id = col_double(),
  start_time = col_datetime(format = ""),
  end_time = col_datetime(format = ""),
  bikeid = col_double(),
  tripduration = col_number(),
  from_station_id = col_double(),
  from_station_name = col_character(),
  to_station_id = col_double(),
  to_station_name = col_character(),
  usertype = col_character(),
  gender = col_character(),
  birthyear = col_double()
)

In [ ]:
> q1_2028$to_station_id <- as.numeric(q1_2028$to_station_id)
> q1_2028$from_station_id <- as.numeric(q1_2028$from_station_id)
> q2_2018$from_station_id <- as.numeric(q2_2018$from_station_id)
> q3_2018$from_station_id <- as.numeric(q3_2018$from_station_id)
> q4_2018$from_station_id <- as.numeric(q4_2018$from_station_id)
> q2_2018$to_station_id <- as.numeric(q2_2018$to_station_id)
> q3_2018$to_station_id <- as.numeric(q3_2018$to_station_id)
> q4_2018$to_station_id <- as.numeric(q4_2018$to_station_id)

In [ ]:
> total_bike <- rbind(q1_2028, q2_2018, q3_2018, q4_2018)
> head(total_bike)
# A tibble: 6 x 12
  trip_id start_time          end_time            bikeid tripduration from_station_id
    <dbl> <dttm>              <dttm>               <dbl>        <dbl>           <dbl>
1  1.75e7 2018-01-01 00:12:00 2018-01-01 00:17:23   3304          323              69
2  1.75e7 2018-01-01 00:41:35 2018-01-01 00:47:52   5367          377             253
3  1.75e7 2018-01-01 00:44:46 2018-01-01 01:33:10   4599         2904              98
4  1.75e7 2018-01-01 00:53:10 2018-01-01 01:05:37   2302          747             125
5  1.75e7 2018-01-01 00:53:37 2018-01-01 00:56:40   3696          183             129
6  1.75e7 2018-01-01 00:56:15 2018-01-01 01:00:41   6298          266             304
# ... with 6 more variables: from_station_name <chr>, to_station_id <dbl>,
#   to_station_name <chr>, usertype <chr>, gender <chr>, birthyear <dbl>

In [ ]:
total_bike <- total_bike %>%
  mutate(day_of_week = weekdays(as.Date(start_time)),
         month = format(start_time, "%B"))
total_bike <- total_bike %>%
  mutate(ride_length = as.numeric(difftime(end_time, start_time, units = "min")))
head(total_bike)

In [ ]:
# A tibble: 6 x 15
  trip_id start_time          end_time            bikeid tripduration from_station_id
    <dbl> <dttm>              <dttm>               <dbl>        <dbl>           <dbl>
1  1.75e7 2018-01-01 00:12:00 2018-01-01 00:17:23   3304          323              69
2  1.75e7 2018-01-01 00:41:35 2018-01-01 00:47:52   5367          377             253
3  1.75e7 2018-01-01 00:44:46 2018-01-01 01:33:10   4599         2904              98
4  1.75e7 2018-01-01 00:53:10 2018-01-01 01:05:37   2302          747             125
5  1.75e7 2018-01-01 00:53:37 2018-01-01 00:56:40   3696          183             129
6  1.75e7 2018-01-01 00:56:15 2018-01-01 01:00:41   6298          266             304
# ... with 9 more variables: from_station_name <chr>, to_station_id <dbl>,
#   to_station_name <chr>, usertype <chr>, gender <chr>, birthyear <dbl>,
#   day_of_week <chr>, month <chr>, ride_length <dbl>

In [ ]:
colSums(is.na(total_bike))

In [ ]:
colSums(is.na(total_bike))
          trip_id        start_time          end_time            bikeid 
                0                 0                 0                 0 
     tripduration   from_station_id from_station_name     to_station_id 
                0                 0                 0                 0 
  to_station_name          usertype            gender         birthyear 
                0                 0            562505            555209 
      day_of_week             month       ride_length 
                0                 0                 0 
>

In [ ]:
total_bike_v2 <- total_bike %>%
  filter(ride_length >= 0)


min(total_bike_v2$ride_length)

In [ ]:
head(total_bike_v2)
total_bike_clean <- total_bike_v2 %>%
  select(-start_time,-end_time,-from_station_id, -to_station_id)

head(total_bike_clean)

In [ ]:
> head(total_bike_clean)
# A tibble: 6 x 11
   trip_id bikeid tripduration from_station_name   to_station_name    usertype gender
     <dbl>  <dbl>        <dbl> <chr>               <chr>              <chr>    <chr> 
1 17536702   3304          323 Damen Ave & Pierce~ Claremont Ave & H~ Subscri~ Male  
2 17536703   5367          377 Winthrop Ave & Law~ Clark St & Winnem~ Subscri~ Male  
3 17536704   4599         2904 LaSalle St & Washi~ Troy St & North A~ Subscri~ Male  
4 17536705   2302          747 Rush St & Hubbard ~ Larrabee St & Oak~ Subscri~ Male  
5 17536706   3696          183 Blue Island Ave & ~ Paulina St & 18th~ Subscri~ Male  
6 17536707   6298          266 Broadway & Wavelan~ Halsted St & Rosc~ Subscri~ Female
# ... with 4 more variables: birthyear <dbl>, day_of_week <chr>, month <chr>,
#   ride_length <dbl>

In [ ]:
colnames(total_bike_clean)  #List of column names
nrow(total_bike_clean)  #How many rows are in data frame?
dim(total_bike_clean)  #Dimensions of the data frame?
head(total_bike_clean)  #See the first 6 rows of data frame.  
str(total_bike_clean)  #See list of columns and data types (numeric, character, etc)

In [ ]:
> colnames(total_bike_clean)  #List of column names
 [1] "trip_id"           "bikeid"            "tripduration"      "from_station_name"
 [5] "to_station_name"   "usertype"          "gender"            "birthyear"        
 [9] "day_of_week"       "month"             "ride_length"      
> nrow(total_bike_clean)  #How many rows are in data frame?
[1] 3603075
> dim(total_bike_clean)  #Dimensions of the data frame?
[1] 3603075      11
> head(total_bike_clean)  #See the first 6 rows of data frame.  
# A tibble: 6 x 11
   trip_id bikeid tripduration from_station_name   to_station_name    usertype gender
     <dbl>  <dbl>        <dbl> <chr>               <chr>              <chr>    <chr> 
1 17536702   3304          323 Damen Ave & Pierce~ Claremont Ave & H~ Subscri~ Male  
2 17536703   5367          377 Winthrop Ave & Law~ Clark St & Winnem~ Subscri~ Male  
3 17536704   4599         2904 LaSalle St & Washi~ Troy St & North A~ Subscri~ Male  
4 17536705   2302          747 Rush St & Hubbard ~ Larrabee St & Oak~ Subscri~ Male  
5 17536706   3696          183 Blue Island Ave & ~ Paulina St & 18th~ Subscri~ Male  
6 17536707   6298          266 Broadway & Wavelan~ Halsted St & Rosc~ Subscri~ Female
# ... with 4 more variables: birthyear <dbl>, day_of_week <chr>, month <chr>,
#   ride_length <dbl>
> str(total_bike_clean)  #See list of columns and data types (numeric, character, etc)
spec_tbl_df[,11] [3,603,075 x 11] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ trip_id          : num [1:3603075] 17536702 17536703 17536704 17536705 17536706 ...
 $ bikeid           : num [1:3603075] 3304 5367 4599 2302 3696 ...
 $ tripduration     : num [1:3603075] 323 377 2904 747 183 ...
 $ from_station_name: chr [1:3603075] "Damen Ave & Pierce Ave" "Winthrop Ave & Lawrence Ave" "LaSalle St & Washington St" "Rush St & Hubbard St" ...
 $ to_station_name  : chr [1:3603075] "Claremont Ave & Hirsch St" "Clark St & Winnemac Ave (Temp)" "Troy St & North Ave" "Larrabee St & Oak St" ...
 $ usertype         : chr [1:3603075] "Subscriber" "Subscriber" "Subscriber" "Subscriber" ...
 $ gender           : chr [1:3603075] "Male" "Male" "Male" "Male" ...
 $ birthyear        : num [1:3603075] 1988 1984 1989 1983 1989 ...
 $ day_of_week      : chr [1:3603075] "lunes" "lunes" "lunes" "lunes" ...
 $ month            : chr [1:3603075] "enero" "enero" "enero" "enero" ...
 $ ride_length      : num [1:3603075] 5.38 6.28 48.4 12.45 3.05 ...
 - attr(*, "spec")=List of 3
  ..$ cols   :List of 12
  .. ..$ trip_id          : list()
  .. .. ..- attr(*, "class")= chr [1:2] "collector_double" "collector"
  .. ..$ start_time       :List of 1
  .. .. ..$ format: chr ""
  .. .. ..- attr(*, "class")= chr [1:2] "collector_datetime" "collector"
  .. ..$ end_time         :List of 1
  .. .. ..$ format: chr ""
  .. .. ..- attr(*, "class")= chr [1:2] "collector_datetime" "collector"
  .. ..$ bikeid           : list()
  .. .. ..- attr(*, "class")= chr [1:2] "collector_double" "collector"
  .. ..$ tripduration     : list()
  .. .. ..- attr(*, "class")= chr [1:2] "collector_number" "collector"
  .. ..$ from_station_id  : list()
  .. .. ..- attr(*, "class")= chr [1:2] "collector_double" "collector"
  .. ..$ from_station_name: list()
  .. .. ..- attr(*, "class")= chr [1:2] "collector_character" "collector"
  .. ..$ to_station_id    : list()
  .. .. ..- attr(*, "class")= chr [1:2] "collector_double" "collector"
  .. ..$ to_station_name  : list()
  .. .. ..- attr(*, "class")= chr [1:2] "collector_character" "collector"
  .. ..$ usertype         : list()
  .. .. ..- attr(*, "class")= chr [1:2] "collector_character" "collector"
  .. ..$ gender           : list()
  .. .. ..- attr(*, "class")= chr [1:2] "collector_character" "collector"
  .. ..$ birthyear        : list()
  .. .. ..- attr(*, "class")= chr [1:2] "collector_double" "collector"
  ..$ default: list()
  .. ..- attr(*, "class")= chr [1:2] "collector_guess" "collector"
  ..$ skip   : int 1
  ..- attr(*, "class")= chr "col_spec"

In [ ]:
total_bike_clean$day_of_week <- ordered(total_bike_clean$day_of_week, levels=c("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"))

In [ ]:
my_mode <- function(x) {                     
  unique_x <- unique(x)
  tabulate_x <- tabulate(match(x, unique_x))
  unique_x[tabulate_x == max(tabulate_x)]
    }

In [ ]:
mode_weekday <- my_mode(total_bike_clean$day_of_week)

In [ ]:

total_bike_summary <- total_bike_clean %>%
  summarise(
    mean(ride_length),
    max(ride_length),
    min(ride_length),
    median(ride_length)
  )

In [ ]:
View(total_bike_summary)

In [ ]:
	
mean(ride_length)
max(ride_length)
min(ride_length)
median(ride_length)
1
23.55243
239000.7
1.016667
11.21667

In [ ]:
total_bike_clean %>%
group_by(member_casual) %>%
summarise(
  
mean(ride_length),
max(ride_length),
min(ride_length),
median(ride_length)
)

In [ ]:
> total_bike_clean %>%
+   group_by(usertype) %>%
+   summarise(
+     
+     mean(ride_length),
+     max(ride_length),
+     min(ride_length),
+     median(ride_length)
+   )
# A tibble: 2 x 5
  usertype  `mean(ride_length~ `max(ride_length~ `min(ride_length~ `median(ride_leng~
  <chr>                  <dbl>             <dbl>             <dbl>              <dbl>
1 Customer                62.6           239001.              1.02              27.9 
2 Subscrib~               14.5           226020.              1.02               9.55
>

In [ ]:
total_bike_clean %>% 
  group_by(usertype, day_of_week) %>%  
  summarise(
    number_of_rides = n(),					 
    average_duration = mean(ride_length)
  ) %>% 		
  arrange(usertype, day_of_week)

In [ ]:
> total_bike_clean %>% 
+   group_by(usertype, day_of_week) %>%  
+   summarise(
+     number_of_rides = n(),					 
+     average_duration = mean(ride_length)
+   ) %>% 		
+   arrange(usertype, day_of_week)
`summarise()` has grouped output by 'usertype'. You can override using the `.groups` argument.
# A tibble: 2 x 4
# Groups:   usertype [2]
  usertype   day_of_week number_of_rides average_duration
  <chr>      <ord>                 <int>            <dbl>
1 Customer   NA                   677155             62.6
2 Subscriber NA                  2925920             14.5
>

In [ ]:
counts <- aggregate(total_bike_v2$ride_length ~ total_bike_v2$usertype + total_bike_v2$day_of_week, FUN = mean)
write.csv(counts, "counts.csv")
counts_tripduration <- aggregate(total_bike_v2$tripduration ~ total_bike_v2$usertype + total_bike_v2$day_of_week, FUN = mean)
write.csv(counts_tripduration, "counts_tripduration.csv")

![https://public.tableau.com/profile/javier2715#!/vizhome/Cyclistic/Dashboard1?publish=yes](http://)