In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import json

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

# ****DATA ANALYSÄ°S****

In [ ]:
data = pd.read_csv("/kaggle/input/tmdb-movie-metadata/tmdb_5000_movies.csv")

In [ ]:
data.head() # this code helps us to read first 5 informations about data.

In [ ]:
data.tail() #this code helps us to read last 5 informations about data.

In [ ]:
print(len(data)) #length of data

In [ ]:
data.info() # basic informations about data

In [ ]:
print(data.columns) # clolumn's names

In [ ]:
data.corr() #corrolations between some values

By analyzing this figure we can think about some didactions. For example, there are some connection between popularity and revenue, budget and revenue, vote count and popularity etc. By the helping of these corrolations we can say that if budget increase, revenue would increased accordingly.

In [ ]:
f,ax = plt.subplots(figsize=(18, 18))
sns.heatmap(data.corr(), annot=True, linewidths=.5, fmt= '.1f',ax=ax)
plt.show()

In [ ]:
# Line Plot
# color = color, label = label, linewidth = width of line, alpha = opacity, grid = grid, linestyle = sytle of line
data.budget.plot(kind = 'line', color = 'red',label = 'Budget',linewidth=1,alpha = 1,grid = True,linestyle = ':')
data.revenue.plot(color = 'black',label = 'Revenue',linewidth=1, alpha = 0.5,grid = True,linestyle = '-.')
plt.legend(loc='upper right')     # legend = puts label into plot
plt.xlabel('x axis')              # label = name of label
plt.ylabel('y axis')
plt.title('Line Plot')            # title = title of plot
plt.show()

In [ ]:
# Scatter Plot 
# x = budget, y = revenue
data.plot(kind='scatter', x='budget', y='revenue',alpha = 0.5,color = 'purple')
plt.xlabel('Budget')              # label = name of label
plt.ylabel('Revenue')
plt.title('Budget Revenue Scatter Plot')            # title = title of plot

In [ ]:
# Histogram
# bins = number of bar in figure
data.budget.plot(kind = 'hist',bins = 50,figsize = (12,12))
plt.show()

In [ ]:
#filtering

x = data["budget"] > 200000000
data[x]

In [ ]:
x = data["revenue"] > 200000000
data[x]

These codes affirm my first theory. Becouse if we anlyze budget bigger than 200000000 we can only achieve 98 films. However, we can achieve 4496 films their revenue bigger than 200000000.

In [ ]:
for index,value in data[['budget']][0:2].iterrows():
    print(index," : ",value)
    
    
for index,value in data[['revenue']][0:2].iterrows():
    print(index," : ",value)

In [ ]:
data.describe()

In [ ]:
data.boxplot(column = "popularity", by = "budget")
plt.show()

Cleaning Data

In [ ]:
data.shape # Rows and columns of the data

In [ ]:
data.info()

In [ ]:
print(data['genres'].value_counts(dropna =False)) # Frequency of genres

As seen above, There are 370 drama films and 282 comedy films ...

In [ ]:
data.describe()

As we seen above min popularity is 0 otherwise, max is 875.581305

In [ ]:
data.boxplot(column='revenue',by = 'budget') # shows us basics statistics like outliers, quentiles.

# ****Tidy Data****

We use melt() method. Easily, you can choose some features and rename it to make it more understandable for you. In this way, you can create very little data(table).

In [ ]:
data_new = data.head() # First lets create new data to make it easy
data_new

In [ ]:
# lets melt
# id_vars = what we do not wish to melt
# value_vars = what we want to melt
melted = pd.melt(frame=data_new,id_vars = 'Name', value_vars= ['budget','revenue'])
melted

# ****Pivoting Data****

Reverse of melting data.

In [ ]:
# Index is name
# I want to make that columns are variable
# Finally values in columns are value
mp = melted.pivot(index = 'Name', columns = 'variable', values = 'value')
mp

# ****Contcatinating****
By using this method we can sort two datas.

In [ ]:
data1 = data.head()
data2= data.tail()
concat_hor = pd.concat([data1,data2],axis =0,ignore_index =True) # axis = 0 : adds dataframes in row (in short, this is about vertically  or horizantily.)
concat_hor

In [ ]:
data1 = data['budget'].head()
data2= data['revenue'].head()
concat_ver = pd.concat([data1,data2],axis =1) # axis = 1 : adds dataframes in columns.
concat_ver

In [ ]:
data.dtypes # Shows us what kind of datatypes used in data.

In [ ]:
# lets convert object(str) to categorical and int to float.
data['production_companies'] = data['production_companies'].astype('category')
data['vote_count'] = data['vote_count'].astype('float')

In [ ]:
data.dtypes

As seen above; vote count is converted to float, production_companies is converted to category.

# ****Missing Data and Testing it With Assert****

In [ ]:
data.info()

In data there are 4803 entries but if we analyse tagline; there are 3959 non-null objects. Its mean there are 844 null objects.

In [ ]:
# Lets chech tagline
data["tagline"].value_counts(dropna =False)
# As you can see, there are 844 NAN value

In [ ]:
# Lets drop nan values
data1 = data   # also we will use data to fill missing value so I assign it to data1 variable
data1["tagline"].dropna(inplace = True)  #dropna means drop null objects, #inplace true means save informations to data.
# So does it work ?

In [ ]:
We will check it by using assert method. On other words, putting something forward.
As an illustration:
assert 2+2 = 4 --> will return nothing becouse calculation is true,
So if we make a mistake:
assert 2+2 = 5 --> will return error becouse calculation is not true.

In [ ]:
assert  data1['tagline'].notnull().all() # returns nothing because we drop nan values

In [ ]:
data1["tagline"].fillna('empty',inplace = True) #The fillna() function is used to fill NA/NaN values using the specified method.

In [ ]:
assert  data1['tagline'].notnull().all() # returns nothing because we do not have nan values

In [ ]:
# # With assert statement we can check a lot of thing. For example
# assert data.columns[1] == 'Name'
# assert data.Speed.dtypes == np.int

In [ ]:
#For example lest make a mistake:
assert data.columns[1] == "budget" #will return error becouse index of budget is 0.

# ****Pandas Foundation****

We will build data frames by using dictionary and zip methods.
zip() method: This function returns a list of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables.

In [ ]:
films = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
imdb = ["9,3", "9,2", "9.0"]
list_label = ["Name", "Imdb"]
list_col = [films, imdb]
zipped = list(zip(list_label,list_col))
data_dict = dict(zipped)
df = pd.DataFrame(data_dict)
df

In [ ]:
#adding new columns
df["Years"] = ["1994", "1972", "2008"]
df

In [ ]:
#Broadcasting : adding a column but each of these columns have same value.
df["Voted from"] = "Us Box Office" # But this is a assumption.
df

****VISUAL EXPLORATORY DATA ANALYSIS****

In [ ]:
#Plotting
data1 = data.loc[:,["budget","revenue","popularity"]]
data1.plot()
plt.show()

In [ ]:
# subplots
data1.plot(subplots = True)
plt.show()

In [ ]:
# scatter plot  
data1.plot(kind = "scatter",x="budget",y = "revenue")
plt.show()

In [ ]:
# hist plot  
data1.plot(kind = "hist",y = "popularity",bins = 50,range= (0,250)) # range shows gap of row
plt.show()

In [ ]:
# histogram subplot with non cumulative and cumulative
fig, axes = plt.subplots(nrows=2,ncols=1)
data1.plot(kind = "hist",y = "popularity",bins = 50,range= (0,250),ax = axes[0])
data1.plot(kind = "hist",y = "popularity",bins = 50,range= (0,250),ax = axes[1],cumulative = True)
plt.savefig('graph.png')
plt.show()

# ****STATISTICAL EXPLORATORY DATA ANALYSIS****

In [ ]:
data.describe()

# ****INDEXING PANDAS TIME SERIES****

In [ ]:
data.head()

In [ ]:
# in 12.index there are relase dates
rl_date = data.release_date
print(type(rl_date))
datetime_object = pd.to_datetime(rl_date) #converting to datetime data type
print(type(datetime_object))

In [ ]:
#close warning
import warnings
warnings.filterwarnings("ignore")
# In order to practice lets take head of our data and add it a time list
data2 = data.head()
date_list = rl_date
datetime_object = pd.to_datetime(date_list)
data2["date"] = datetime_object
# lets make date as index
data2= data2.set_index("date")
data2

In [ ]:
# Now we can select according to our date index
print(data2.loc["2009-12-10"])
print("---------------------------------------------------------------------------")
print(data2.loc["2009-03-10":"2015-01-16"])

# ****RESAMPLING PANDAS TIME SERIES****

In [ ]:
Resampling: statistical method over different time intervals
Needs string to specify frequency like "M" = month or "A" = year

In [ ]:
# We will use data2 that we create at previous part
data2.resample("A").mean() #resemple is a method

In [ ]:
# Lets resample with month
data2.resample("M").mean()
# As you can see there are a lot of nan because data2 does not include all months

In [ ]:
# In real life (data is real. Not created from us like data2) we can solve this problem with interpolate
# We can interpolete from first value
data2.resample("M").first().interpolate("linear")

In [ ]:
# Or we can interpolate with mean()
data2.resample("M").mean().interpolate("linear")

# ****MANIPULATING DATA FRAMES WITH PANDAS****

In [ ]:
data = pd.read_csv("../input/tmdb-movie-metadata/tmdb_5000_movies.csv")
#data= data.set_index("#") # make # index of data
data.head()

In [ ]:
# indexing using square brackets
data["original_title"][1]

In [ ]:
data.original_title[1] #alternatively

In [ ]:
# using loc accessor
data.loc[1,["original_title"]] # loc --> Access a group of rows and columns by label(s) or a boolean array.

In [ ]:
# Selecting only some columns
data[["original_title","vote_average"]]

# ****SLICING DATA FRAME****

In [ ]:
# Slicing and indexing series
data.loc[1:10,"original_title":"vote_average"]

In [ ]:
# Reverse slicing 
data.loc[10:1:-1,"original_title":"vote_average"]

In [ ]:
# From something to end
data.loc[1:10, "tagline": ] # features after tagline

# ****FILTERING DATA FRAMES****

In [ ]:
# Creating boolean series
boolean = data.vote_average > 8.5
data[boolean]

In [ ]:
# Combining filters
first_filter = data.vote_average > 5.0
second_filter = data.budget > 150000000
data[first_filter & second_filter]

In [ ]:
# Filtering column based others
data.title[data.revenue>1000000000] # nested features, title that film's revenues bigger than 1000000000

In [ ]:
# Defining column using other columns
data["profit"] = data.revenue - data.budget
data.head() # at the end you can see

# ****INDEX OBJECTS AND LABELED DATA****

In [ ]:
# our index name is this:
print(data.index.name)
# lets change it, it was nothing
data.index.name = "index_name"
data.head()

In [ ]:
# Overwrite index
# if we want to modify index we need to change all of them.
data.head()
# first copy of our data to data3 then change index 
data3 = data.copy() # coppying for not break down our main data
# lets make index start from 100. It is not remarkable change but it is just example
data3.index = range(100,4903,1)
data3.head()

# ****HIERARCHICAL INDEXING****

In [ ]:
data = pd.read_csv("/kaggle/input/tmdb-movie-metadata/tmdb_5000_movies.csv")
data.head()
# As you can see there is index. However we want to set one or more column to be index

In [ ]:
# Setting index : original_title is outer release_date  is inner index
data1 = data.set_index(["original_title","release_date"]) 
data1.head(50)
# data1.loc["Avatar","2009-12-10"] # how to use indexes

# ****PIVOTING DATA FRAMES****

In [ ]:
dic = {"species":["cat","cat","dog","dog"],"gender":["F","M","F","M"],"agression_%":[20,35,42,53],"age":[1,4,3,7]}
df = pd.DataFrame(dic)
df #our new data frame

In [ ]:
# pivoting
df.pivot(index="species",columns = "gender",values="agression_%")

# ****STACKING and UNSTACKING DATAFRAME****

In [ ]:
df1 = df.set_index(["species","gender"])
df1
# lets unstack it

In [ ]:
# level determines indexes
df1.unstack(level=0)

In [ ]:
df1.unstack(level=1)

In [ ]:
# change inner and outer level index position
df2 = df1.swaplevel(0,1)
df2

# ****MELTING DATA FRAMES****
Melting is reverse of pivoting.

In [ ]:
df

In [ ]:
# df.pivot(index="species",columns = "gender",values="agression_%")
pd.melt(df,id_vars="species",value_vars=["age","agression_%"]) --> we melted gender

# ****CATEGORICALS AND GROUPBY****

In [ ]:
df

In [ ]:
df.groupby("species").mean() # --> make group means belongs to species.

In [ ]:
# Also you can use it for min max methods etc.
df.groupby("species").std()

In [ ]:
# we can only choose one of the feature
df.groupby("agression_%").age.max()

In [ ]:
# Or we can choose multiple features
df.groupby("species")[["age","agression_%"]].min() # min age and min agression belongs to specific species.

In [ ]:
df.info()

Thank you.