In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns


# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
data = pd.read_csv('../input/suicide-rates-overview-1985-to-2016/master.csv')

# After reading the data, we should investigate basics

In [ ]:
data.info()

In [ ]:
data.shape

In [ ]:
data.columns

**Are ther any NA or NAN values?**

In [ ]:
data['HDI for year'].value_counts(dropna=False)

**Are there any outlier values? Controlling the quartiles.**

In [ ]:
data.describe()

Visual investigation with box plot

In [ ]:
#sns.set_theme(style="whitegrid")
ax = sns.boxplot(x=data["HDI for year"])

In [ ]:
ax = sns.boxplot(x="sex", y="HDI for year", data=data, palette='Set1', hue='sex')
plt.title('Box-Plot')

# Concatenating Melting, menaging columns and rows and Pivoting

In [ ]:
# Creating a new dataset from orginial data and concatenating with row wise
data1 = data.head()
data2= data.tail()
data_new = pd.concat([data1,data2], axis=0, ignore_index=True)
data_new

In [ ]:
melting = pd.melt(frame=data_new, id_vars='country', value_vars=['suicides_no','suicides/100k pop'])
melting

In [ ]:
# Visual reprensentation of melted data
sns.barplot(data=melting, x=melting.index, y='value', hue='variable')

**Pivoting - reverse melt method**

In [ ]:
melting.pivot(index='country', columns='variable', values='value')
# The code given above will give you an error about duplicate entries
# which our country column has many duplicates.

In [ ]:
# just to observe how it's done, let's create another dataframe with 2 entries
data_new1 = data.head(1)
data_new2 = data.tail(1)
data_new3 = pd.concat([data_new1,data_new2], axis=0, ignore_index=True)
data_new3

In [ ]:
new_melting = pd.melt(frame=data_new3, id_vars='country', value_vars=['suicides_no','suicides/100k pop'])
new_melting

In [ ]:
# Let's pivot our new melted dataset

new_melting.pivot(index='country', columns='variable', values='value')

# Data types and converting between them

In [ ]:
# First check the data types
data.dtypes

In [ ]:
# Let's change the country as category
data['country']= data['country'].astype('category')
data.dtypes['country']

In [ ]:
# and change back
data['country']= data['country'].astype('object')
data.dtypes

# Missing Data and how to handle

There are several ways to handle miissing data and it depends according to situation.
Basically, you can leave them as it is or remove all the entries with missing data or
you can fill them with statistical methods.

In [ ]:
# Let's start to explore
data.info()

In [ ]:
#HDI for year has missing observations
data['HDI for year'].value_counts(dropna=False)

#It can be seen from the output that we have 19456 missing values

In [ ]:
data['HDI for year'].dropna(inplace = True)

In [ ]:
assert  data["HDI for year"].notnull().all()

In [ ]:
#filling na with empty 

data['HDI for year'].fillna('empty',inplace = True)
data['HDI for year'].head(10)

In [ ]:
data.info()