In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# <center> Import the libraries </center>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("../input/-datacleaningforbeginnerusingpandas/Data-cleaning-for-beginners-using-pandas.csv")

In [ ]:
df.head(6)

# <center> Let's begin our process! using pandas  </center>

In [ ]:
################# Check the null values ################
df.isnull().sum()

In [ ]:
################ We can also plot using heat map ############

import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(12,6))

sns.heatmap(df.isnull(),cbar=False,cmap='Set1',yticklabels=False)

## fillna() method [click-here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)

In [ ]:
###################### First check the age column ################################

df['Age'] = df['Age'].fillna(df['Age'].mean())

## lambda function/method [click-here](https://www.w3schools.com/python/python_lambda.asp)   
## apply method [click-here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html)
## replace method [click-here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html)

In [ ]:
################ Now clean the Salary columns little bit tricky ! ############################

################# check the first loc of the salary how it's look like #########################
df['Salary'].iloc[0]

##################### how use replace method remove the unnecessary char ##########################

df['Salary'] = df['Salary'].apply(lambda x:x.replace("$",''))
df['Salary'] = df['Salary'].apply(lambda x:x.replace("k",''))

############ Now use split method to split this into two values #############

####### use custom function and create what ever u want ðŸ’¥ ##############


def average_of_this_two(args):
    try :
        return float(args)
    except:
        values = args.split('-')
        
        if len(values) == 2:
            
            return float(int(values[0]) + int(values[1]) ) /2
        

        
        
df['Salary'] = df["Salary"].apply(average_of_this_two)

In [ ]:
import numpy as np
################### Now check the Rating columns #########################
df['Rating'].isnull().sum()
######## Here we can 1 null values and -1 values like outliers ############
###### Fill those values using np.nan using replace method ###########

df['Rating'] = df["Rating"].replace(-1,np.nan)

#### Now replace the those nan values using mean() method ###

df['Rating'] = df["Rating"].fillna(df['Rating'].mean())

In [ ]:
############ Now check the Location column ########################

df['Location'] = df["Location"].apply(lambda x:x.split(',')[0])

In [ ]:
################ Now remove the outliers(-1) values in established column #####################

######## Step one : --->> 

df["Established"] = df["Established"].replace(-1,np.nan)


######## Setp two ----->>

df["Established"].dropna()

In [ ]:
####### let's check the Final column i.e Easy apply for the application ###########



df['Easy Apply']  =  df["Easy Apply"].replace("-1","FALSE")

In [ ]:
df.head()

#  Any other suggestion are accepted ðŸ—¨ðŸ’¬ðŸ’¬ðŸ’¬ ########### 
## I hope this data cleaning process is very useful to you !! #########
## Have great day a head ðŸ’¥ All the best âœ…