## Importing the Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Read the Data,  And see the shape

In [ ]:
# Read the csv files
df1 = pd.read_csv('../input/international-tourism-demographics/API_ST.INT.ARVL_DS2_en_csv_v2_1927083.csv')
df2 = pd.read_csv('../input/international-tourism-demographics/API_ST.INT.DPRT_DS2_en_csv_v2_1929304.csv')
df3 = pd.read_csv('../input/international-tourism-demographics/API_ST.INT.XPND.CD_DS2_en_csv_v2_1929314.csv')

# Print the shape of the data
print(f" The shape of the First Data Frame is:   {df1.shape} \n",
      f"The shape of the Second Data Frame is:  {df2.shape}\n", 
      f"The shape of the Third Data Frame is:   {df3.shape} ")

## Explore the NaN columns

In [ ]:
# Print the columns with how many NaN values each Column has
x, y = df1.isna().sum().index, df1.isna().sum().to_list()
print("Before Cleaning: \n")
for i in range(len(x)):
    print(f"{x[i]:20} {y[i]:4}")

# Drop the columns that are fully NaN    
for i in range(len(x)):
    if y[i] == 264:
        df1.drop(x[i], inplace=True, axis=1)

# Print the columns with how many NaN values each Column has        
x, y = df1.isna().sum().index, df1.isna().sum().to_list()
print("\nAfter Cleaning: \n")
for i in range(len(x)):
    print(f"{x[i]:20} {y[i]:4}")

# Plot the Countries VS number of Visitors

In [ ]:
#### First Data Frame ####
# Create a figure
plt.figure(figsize=(10,8))
# Plot 
for i in range(5,10):
    plt.plot(df1['199'+str(i)], label='199'+str(i))
for i in range(19):
    if i < 10:
        plt.plot(df1['200'+str(i)], label='200'+str(i))
    else:
        plt.plot(df1['20'+str(i)], label='20'+str(i))
        
plt.title('Countries VS Visitors (First)', size=20)        
plt.xlabel('The number of country', size=15)   
plt.ylabel('The number of Visitors', size=15)
plt.legend(title='Year', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()

#### Second Data Frame ####
# Create a figure
plt.figure(figsize=(10,8))
# Plot 
for i in range(5,10):
    plt.plot(df2['199'+str(i)], label='199'+str(i))
for i in range(19):
    if i < 10:
        plt.plot(df2['200'+str(i)], label='200'+str(i))
    else:
        plt.plot(df2['20'+str(i)], label='20'+str(i))
        
plt.title('Countries VS Visitors (Second)', size=20)        
plt.xlabel('The number of country', size=15)   
plt.ylabel('The number of Visitors', size=15)
plt.legend(title='Year', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()

#### Third Data Frame ####
# Create a figure
plt.figure(figsize=(10,8))
# Plot 
for i in range(5,10):
    plt.plot(df3['199'+str(i)], label='199'+str(i))
for i in range(19):
    if i < 10:
        plt.plot(df3['200'+str(i)], label='200'+str(i))
    else:
        plt.plot(df3['20'+str(i)], label='20'+str(i))
        
plt.title('Countries VS Visitors (Third)', size=20)        
plt.xlabel('The number of country', size=15)   
plt.ylabel('The number of Visitors', size=15)
plt.legend(title='Year', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()

## Find the most visited Countries

In [ ]:
# The most visited Country
x = df1['Country Name'].to_list()
y = {}

for i in range(1995, 2019):
        y[str(i)] = df1[str(i)].to_list()

DataFrame = pd.DataFrame(y)   
c = DataFrame.columns.to_list()
max_value = DataFrame.max().to_list()
max_index = DataFrame.idxmax().to_list()

print('---------------------------')
print('The Most visited: \n')
print('\n\nYear\tCountry\t\tVisitors')
print('---------------------------')
for i in range(len(max_index)):
    print(f"{c[i]}-   {x[max_index[i]]:6}: \t{max_value[i]:15}")

    
# The second most visited country
DataFrame = DataFrame.drop(max_index[i])
max_value = DataFrame.max().to_list()
max_index = DataFrame.idxmax().to_list()

print('---------------------------')
print('The second Most visited: \n')
print('\n\nYear\tCountry\t\tVisitors')
print('---------------------------')

for i in range(len(max_index)):
    print(f"{c[i]}-   {x[max_index[i]]:6}: \t{max_value[i]:15}")

# The third most visited country    
DataFrame = DataFrame.drop(max_index[i])
max_value = DataFrame.max().to_list()
max_index = DataFrame.idxmax().to_list()

print('---------------------------')
print('The third Most visited: \n')
print('\n\nYear\tCountry\t\t\t\tVisitors')
print('---------------------------')

for i in range(len(max_index)):
    print(f"{c[i]}-   {x[max_index[i]]:25}: \t{max_value[i]:15}")

## The less Visited countries

In [ ]:
# The less visited Country
x = df1['Country Name'].to_list()
y = {}

for i in range(1995, 2019):
        y[str(i)] = df1[str(i)].to_list()

DataFrame = pd.DataFrame(y)   
c = DataFrame.columns.to_list()
min_value = DataFrame.min().to_list()
min_index = DataFrame.idxmin().to_list()

print('The Less visited: \n')
print('\n\nYear\tCountry\t\t\tVisitors')
print('---------------------------')
for i in range(len(min_index)):
    print(f"{c[i]}-   {x[min_index[i]]:6}: \t{min_value[i]:15}")

    
# The second less visited country
DataFrame = DataFrame.drop(min_index[i])
min_value = DataFrame.min().to_list()
min_index = DataFrame.idxmin().to_list()

print('---------------------------')
print('The second Less visited: \n')
print('\n\nYear\tCountry\t\t\t\tVisitors')
print('---------------------------')

for i in range(len(min_index)):
    print(f"{c[i]}-   {x[min_index[i]]:25}: \t{min_value[i]:15}")

# The third less visited country    
DataFrame = DataFrame.drop(min_index[i])
min_value = DataFrame.min().to_list()
min_index = DataFrame.idxmin().to_list()

print('----------------------------------------------')
print('The third less visited: \n')
print('\n\nYear\tCountry\t\t\t\t\tVisitors')
print('----------------------------------------------')

for i in range(len(min_index)):
    print(f"{c[i]}-   {x[min_index[i]]:25}: \t{min_value[i]:15}")