## **Importing Libraries**

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## **Loading Dataset**

In [ ]:
df_train = pd.read_csv('../input/titanic/train.csv')

### Checking for NAN values using seaborn's heatmap

In [ ]:
sns.heatmap(df_train.isnull(),yticklabels=False,cmap='viridis')

## Handling missing data
Note - it can be seen that Cabin column has most of cell values NaN, so we can drop that coloumn. While age column NaN values can be handled by replacing it with average values taking into consideration values of PClass.

In [ ]:
df_train.drop(['Cabin'],inplace=True,axis=1)
df_train

### Plotting Boxplot of Age coloumn with Pclass

In [ ]:
sns.boxplot(y='Age',x='Pclass',data=df_train)

## **Replacing NaN values for Age column based on average values observed from boxplot w.r.t Pclass**

In [ ]:
df_train.at[(df_train['Age'].isnull()) & (df_train['Pclass']==1),'Age'] = 37
df_train.at[(df_train['Age'].isnull()) & (df_train['Pclass']==2),'Age'] = 28
df_train.at[(df_train['Age'].isnull()) & (df_train['Pclass']==3),'Age'] = 23
df_train

## Replacing NaN value of Fare column with average of Fare field data

In [ ]:
df_train.at[df_train['Fare'].isnull(),'Fare'] = np.mean(df_train['Fare'])

## Final Checking for NaN values in dataset

In [ ]:
sns.heatmap(df_train.isnull(),yticklabels=False,cmap='viridis')

## **Handling Categorical Features - Sex, Embarked with get_dummies()**

Sex Categorical Feature Handling

In [ ]:
pd.get_dummies(df['Sex'],drop_first=True).head()

In [ ]:
if any(df['Sex']==42):
    print(True)

In [ ]:
sex = pd.get_dummies(df_train['Sex'],drop_first=True)
sex

Embarked Categorical feature handling

In [ ]:
embark = pd.get_dummies(df_train['Embarked'],drop_first=True)
embark

In [ ]:
df_train.drop(['Sex','Embarked','Name','PassengerId','Ticket'],axis=1,inplace=True)

In [ ]:
df_train

In [ ]:
df_train = pd.concat([df_train,sex,embark],axis=1)
df_train

# **Preparing Testing Data**

In [ ]:
df_test = pd.read_csv('../input/titanic/test.csv')

### Checking for NAN values using seaborn's heatmap

In [ ]:
sns.heatmap(df_test.isnull(),yticklabels=False,cmap='viridis')

## Handling missing data
Note - it can be seen that Cabin column has most of cell values NaN, so we can drop that coloumn. While age column NaN values can be handled by replacing it with average values taking into consideration values of PClass.

In [ ]:
df_test.drop(['Cabin'],inplace=True,axis=1)
df_test

In [ ]:
sns.boxplot(y='Age',x='Pclass',data=df_test)

In [ ]:
df_test.at[(df_test['Age'].isnull()) & (df_test['Pclass']==1),'Age'] = 42
df_test.at[(df_test['Age'].isnull()) & (df_test['Pclass']==2),'Age'] = 25
df_test.at[(df_test['Age'].isnull()) & (df_test['Pclass']==3),'Age'] = 22
df_test

In [ ]:
df_test.at[df_test['Fare'].isnull(),'Fare'] = np.mean(df_test['Fare'])

In [ ]:
sns.heatmap(df_test.isnull(),yticklabels=False,cmap='viridis')

In [ ]:
pd.get_dummies(df_test['Sex'],drop_first=True).head()
sex = pd.get_dummies(df_test['Sex'],drop_first=True)
embark = pd.get_dummies(df_test['Embarked'],drop_first=True)
df_test.drop(['Sex','Embarked','Name','PassengerId','Ticket'],axis=1,inplace=True)
df_test = pd.concat([df_test,sex,embark],axis=1)

In [ ]:
df_test

In [ ]:
df = pd.read_csv('../input/test-file/tested.csv')

# **Building Logistic Regression Model**

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=2000)
lr.fit(df_train.drop(['Survived'],axis=1),df_train['Survived'])

## Testing

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

y_pred = lr.predict(df_test)
cm = confusion_matrix(df['Survived'],y_pred)
print(cm)

accuracy = accuracy_score(df['Survived'],y_pred)
print(accuracy)


df_ans  = pd.DataFrame(columns=['PassengerId','Survived'])
df_ans['PassengerId'] = df['PassengerId']
df_ans['Survived'] = y_pred

In [ ]:
df_ans.to_csv('./titanic_test.csv',index=False)