Dataset Link: https://www.kaggle.com/akshayksingh/kidney-disease-dataset

In [ ]:
import pandas as pd   #import pandas
import numpy as np    #import numpy
from sklearn.preprocessing import LabelEncoder #import LabelEncoder

In [ ]:
#read the data
data = pd.read_csv('../input/kidney-disease-dataset/kidney_disease.csv')

In [ ]:
#check the shape of the data
print('Dataset has {} number of rows and {} Number of columns'.format ( data.shape[0], data.shape[1]) )

In [ ]:
#check the head of the data
data.head()

In [ ]:
#check the information of the dataset
data.info()

In [ ]:
catg_col = data[['rbc', 'pc', 'pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'classification']]
catg_col.head(10)

In [ ]:
catg_col['classification'].value_counts()

In [ ]:
#replace ckd\t with notckd they are just missispelled
catg_col['classification'] = catg_col['classification'].replace('ckd\t','notckd')

In [ ]:
catg_col['classification'].value_counts() #now check the value counts

classification is our target variable here. We have 248 patients with Chronic kidney dieseas and 152 Not Chronic Kindey Diseases.

Our target variable is itself into categoric form. We have to convert it first. Let's assign ckd as 1 and notckd as 0.

In [ ]:
#apply LabelEncoder
le = LabelEncoder()
c_en = le.fit_transform(catg_col['classification'])
print(c_en[ :10])
list(catg_col['classification'].head(10))

As expected we know that LabelEncoding assigns the ranks alphabatically. We wanted to assign ckd as 1 because they are confirmed cases with chronic kidney dieseas and notckd as 0.

Encode using map

In [ ]:
#make a dictionary
class_en = {'ckd' : 1, 'notckd' : 0}
catg_col['classification_en'] = catg_col['classification'].map(class_en)
catg_col['classification_en'].head(10)

In [ ]:
#drop the classification column
catg_col.drop('classification',axis = 1, inplace=True)

In [ ]:
#check null values
catg_col.isnull().sum()

In [ ]:
#fill the null values with the most frequent values
n_col = ['rbc', 'pc', 'pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane']
for i in n_col:
  catg_col[i].fillna(catg_col[i].mode()[0],inplace=True)


Now let's check the predictor variables and identify them as nominal or ordinal

In [ ]:
#check the unique values in each columns
for i in catg_col:
  print(i + '    ',catg_col[i].unique())

Most of the columns has 2 labels. We can either use LabelEncoding or One Hot Encoding. as we have only 2 labels they will assign 1 and 0 only to the labels.

Before applying feature encoding on these columns. If we look properly we need to do some cleaning here. There are values present as '\tno', '\tyes' in dm and cad. There appears to be a typo error. Wo e have to replace '\tno' with no and 'tyes' with yes.

In [ ]:
#clean and strip the values
catg_col['dm'] = catg_col['dm'].str.strip()
catg_col['cad'] = catg_col['dm'].str.strip()

In [ ]:
catg_col.drop('classification_en',axis=1,inplace=True)  #drop the classification_en column as we have already encoded it.

In [ ]:
#apply pd.get_dummies and keep drop_first=True
pd.get_dummies(catg_col,drop_first=True)

Awesome! We have encoded the categorical feature. Now our features are ready to go into modelling