I have lived and worked near Heathrow airport for most of my life. I was born within a mile of the main runway on the day that QE2 officially opened terminal 1. I lived within half a mile of the main runway for 6 years and worked at the airport for 18 years. I have mild- moderate COPD. A lung disease.... I have never EVER smoked. However I have wondered why I have COPD. Did my lung development gets stifled by asbestos or possibly local air pollution contribute. I wonder how many people who live and work near Airports have lung diseases?  

My father did work with Asbestos during the 1960's and 1970's and possibly carried fibres in his clothing - which he wore home. But air pollution is a possibility . Thus I am starting this analysis of sites around Heathrow Airport and drawer on other sites to compare pollution away from the airport. Is pollution markedly different near the Airport? and  did pollution drop during Covid ?


This is quite a messy data analysis worksheet. My methodolgy is not set in stone and I am trying out lots of different ideas here - presenting the information in different ways.

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
from datetime import time
from datetime import datetime as dt
from dateutil.parser import parse

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

I tried adding the New Forest Hourly data as an afterthought . However it would not work  with the other data . Removed

In [ ]:
keats_hourly = pd.read_csv('/kaggle/input/d/justinnailard/hillingdon-pollution-data-20182020/KEATS WAY POLLUTION HOURLY DATA.csv')
hillingdon_data = pd.read_csv('/kaggle/input/d/justinnailard/hillingdon-pollution-data-20182020/hillingdon pollution data 2018-2020.csv')
harlington_hourly = pd.read_csv('/kaggle/input/d/justinnailard/hillingdon-pollution-data-20182020/HARLINGTON POLLUTION HOURLY DATA.csv')
harlington_daily = pd.read_csv('/kaggle/input/d/justinnailard/hillingdon-pollution-data-20182020/HARLINGTON DAILY AVERAGE POLLUTION DATA.csv')
keats_daily = pd.read_csv('/kaggle/input/d/justinnailard/hillingdon-pollution-data-20182020/KEATS WAY DAILY MEAN POLLUTION DATA.csv')
reading_daily = pd.read_csv('/kaggle/input/d/justinnailard/hillingdon-pollution-data-20182020/READING NEW TOWN DAILY MEAN POLLTION.csv')
#newforest_hourly = pd.read_csv('/kaggle/input/d/justinnailard/hillingdon-pollution-data-20182020/NEW FOREST HOURLY.csv')

In [ ]:
keats_hourly.head()

In [ ]:
hillingdon_data.head()

In [ ]:
harlington_hourly.head()

In [ ]:
harlington_daily.head()

In [ ]:
keats_daily.head()

In [ ]:
reading_daily.head()

Will add colum head location so it's clear

In [ ]:
keats_hourly['location']='keatshourly'
hillingdon_data['location']= 'hillingdonhourly'
harlington_hourly['location']= 'harlingtonhourly'
harlington_daily['location']='harlingtondaily'
keats_daily['location']='keatsdaily'
reading_daily['location']='readingdaily'

In [ ]:
df_original=keats_hourly.append([hillingdon_data, harlington_hourly, harlington_daily, keats_daily, reading_daily],ignore_index=False, verify_integrity=False, sort=False)
df1=keats_hourly.append([harlington_hourly],ignore_index=False, verify_integrity=False, sort=False)
df2=harlington_daily.append([keats_daily,reading_daily], ignore_index=False, verify_integrity=False, sort=False)
df3=hillingdon_data.append([hillingdon_data], ignore_index=False, verify_integrity=False, sort=False)

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
#To tidy up the code. first check how many rows missing 
no_missing = df1.isnull().sum()
total_missing=no_missing[0:15]
print(total_missing)

In [ ]:
#removed unwanted columns - can't see any to immediately remove
#remove df1 rows (found 58k with missing value)
df1.dropna(inplace=True)

In [ ]:
df1

In [ ]:
#remove Nan in Value column

In [ ]:
df1.info()

In [ ]:
df1.plot('ReadingDateTime','Value')

This graph does not tell us much. The dates at the bottom are scrunched up, The "value" figures relate to 2 different sites and incorporate hourly data. This hourly data maybe useful at some point as we may see an regular daily trend through different parts of the day. For now by aim is to group by day, month and separate the 2 sites of data into separate lines. 

However I have now decided to look at the df1 data (this is the hourly data).

In [ ]:
#messing about stuff
plt.figure(figsize=(8,8))
df1plot1= sns.scatterplot(x=df1['ReadingDateTime'],y=df1['Value'], hue=df1['Species'],style=df1['location'])
#df1["Value"].asfreq('M').plot() # asfreq method is used to convert a time series to a specified frequency. Here it is monthly frequency.
#plt.title('can add a title')
#plt.show()

THis graph is a bit too busy . so how to modify ?? I think I shall try to amend to create graphs for each species (i.e. each type of pollutant) and then each site can be analysed in relation to another site....... now how best to do that. Thinking Groupby !

This looks a quite enough complicated plot. Would suggest individual species (i.e NO2,  PM2.5)

In [ ]:
df1['date']=pd.to_datetime(df1['ReadingDateTime']).dt.date
df1['time']=pd.to_datetime(df1['ReadingDateTime']).dt.time
df1['month']=pd.to_datetime(df1['ReadingDateTime']).dt.month
df1['time']=pd.to_datetime(df1['ReadingDateTime']).dt.time
df1

In [ ]:
grpdf1 = df1.groupby(by=["Species"])
testdf1=grpdf1.get_group("NO2")
testdf1.head()

In [ ]:
df1plot2= sns.scatterplot(x=testdf1['ReadingDateTime'],y=testdf1['Value'], hue=df1['location'])

# this same as df1plot 1
#df1plot2=sns.scatterplot(x=df1['ReadingDateTime'],y=df1['Value'], hue=df1['Species'],style=df1['location'])

First of all howeverI am going to look at the hourly data in df2 and try to separate this out by a better set of criteria---- looking at each site first

In [ ]:
#df2 first tidy up code
#To tidy up the code. first check how many rows missing 
no_missing = df2.isnull().sum()
total_missing=no_missing[0:15]
print(total_missing)

3733 "Value" rows are missing at this stage from 7000 + in the original row . We remove these values to give

In [ ]:
#remove df2 rows (found 3k with missing value)
df2.dropna(inplace=True)

In [ ]:
df2

In [ ]:
df2.info()

In [ ]:
#df2.plot('ReadingDateTime','Value')

In [ ]:
# add date from date time column
df2['date']= pd.to_datetime(df2['ReadingDateTime']).dt.date

In [ ]:
filter1=["location"]=="harlingtondaily"
filter2=["location"]=="keatsdaily"
filter3=["location"]=="readingdaily"

In [ ]:
df2

In [ ]:
plt.figure(figsize=(8,8))
df2plot1= sns.scatterplot(x=df2['ReadingDateTime'],y=df2['Value'], hue=df2['Species'],style=df2['location'])

In [ ]:
plt.figure(figsize=(8,8))
df2plot2= sns.lineplot(x=df2['ReadingDateTime'],y=df2['Value'], hue=df2['Species'],style=df2['location'])

In [ ]:
#striplot
plt.figure(figsize=(8,8))
df2plot3= sns.stripplot(x=df2['Species'],y=df2['Value'], hue=df2['location'])

I think a good approach now would be to group data by weekly average

In [ ]:
# trying to groupby by species by mean value per day
species_df2= df2.groupby(by=["Species","location","date"]).aggregate({"Value":"mean"})
species_df2

In [ ]:
#trying out a few different approaches so WARNING there are errors . plot 4 does work however
plt.figure(figsize=(10,10))
plot4_species_df2 = sns.swarmplot(x=df2['Species'], y=df2['Value'], marker='o')
#plot5_species_df2= sns.swarmplot(x=df2['Species'], y=df2['location'].aggregate({'Value':"mean"}))
# y = df2.groupby(by=["Species","location"]).aggregate({"Value":"mean"}))

In [ ]:
plot3_species_df2 = species_df2.plot()
plt.show()

In [ ]:
#second attempt
plot2_species_df2 = sns.lineplot(x=df2['date'], y = df2.groupby(by=["Species","location"]).aggregate({"Value":"mean"}))

In [ ]:
#this needs to be worked on # this is first attempt 
plot_species_df2= sns.lineplot(x= species_df2['date'], y= df2['Value'], hue=df2['Species'],style=df2['location'])

In [ ]:

plot_df2= sns.lineplot(data=df2.where(filter1),inplace =True ['Value'])

In [ ]:
#sns.lineplot(Value in reading_d)

In [ ]:
harlington_d= ['Value' for harlington_daily in 'location']
keats_d = ['Value' for keats_daily in 'location']
reading_d =['Value' for reading_daily in 'location']
sns.lineplot(data= "keats_d")

In [ ]:
sns.lineplot(data= keats_d)

In [ ]:

dateTime= pd.to_datetime(df1['ReadingDateTime'], format='%d/%m/%Y %H:%M')
#dateTime= time("Day: %d, Month: %m, Year: %Y, Hour: %H, Minute: %M")

In [ ]:
df1['day']= dateTime('%d')
df1['month']=dateTime('%m')
df1['year']=dateTime('%Y')
df1['hour']=dateTime('%H')
df1['minutes']=dateTime('%M')
df1['Date']= dateTime('%d/%m/%Y')
df1['Time']=dateTime(%H:%M)