In [ ]:
#As i have just started my Data Science Journey I wanted to thank Ruchi Bhatia for her notebook Housing Prices in Indian Metropolitan Areas EDA which help me a lot in my EDA Journey.

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns #for data visualization
import matplotlib.pyplot as plt

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

importing 2 datasets

In [ ]:
banglore = pd.read_csv('../input/housing-prices-in-metropolitan-areas-of-india/Bangalore.csv')
mumbai = pd.read_csv('../input/housing-prices-in-metropolitan-areas-of-india/Mumbai.csv')

In [ ]:
banglore.head(5)

In [ ]:
mumbai.head(5)
mumbai.columns

Since 0 and 1 tells us that the house comes with amenities or not and 9 in the data means not mentioned. So we will convert all 9 to nan and then drop all the missing values.

In [ ]:
banglore.replace(9,np.nan,inplace=True)
mumbai.replace(9,np.nan,inplace=True)

In [ ]:
banglore = banglore.dropna()
mumbai = mumbai.dropna()

Changing Price to Price in lakhs

In [ ]:
banglore['Price'] = banglore['Price']/100000
mumbai['Price'] = mumbai['Price']/100000

In [ ]:
banglore.Price.head()

We will start with data visualization.

In [ ]:
plt.figure(figsize=(12,6))
plt.title('Area in sq.feet vs Price (in lakh)')
sns.scatterplot(x=banglore['Price'],y=banglore['Area'],hue=banglore['No. of Bedrooms'])

In [ ]:
plt.figure(figsize=(12,6))
plt.title('Area in sq.feet vs Price (in lakh)')
sns.scatterplot(x=mumbai['Price'],y=mumbai['Area'],hue=mumbai['No. of Bedrooms'])

In [ ]:
#df = mumbai.Location.value_counts().index[:10]
plt.figure(figsize=(12,10))
plt.title('Total Properties in Mumbai (According to maximum available properties)')
sns.countplot(y='Location',data=mumbai,order= mumbai.Location.value_counts().index[:10],palette = "Set3")

In [ ]:
plt.figure(figsize=(12,10))
plt.title('Total Properties in Banglore (According to maximum available properties)')
sns.countplot(y='Location',data=banglore,order= banglore.Location.value_counts().index[:10],palette = "Set3")

Getting the most expensive place in Banglore and Mumbai.

In [ ]:
max_price_b = banglore[banglore['Price'] == banglore['Price'].max()]
max_price_b

In [ ]:
max_price_b[['Price','Area','Location']]

In [ ]:
max_price_m = mumbai[mumbai['Price'] == mumbai['Price'].max()]
max_price_m

In [ ]:
max_price_m[['Price','Area','Location']]

In [ ]:
plt.figure(figsize=(12,6))
sns.catplot(x='No. of Bedrooms',y='Price',data=banglore)

In [ ]:
plt.figure(figsize=(12,6))
sns.catplot(x='No. of Bedrooms',y='Price',data=mumbai)

In [ ]:
banglore_mod = banglore[['Price','Area','No. of Bedrooms','Gymnasium','SwimmingPool','IndoorGames','JoggingTrack']]
mumbai_mod = mumbai[['Price','Area','No. of Bedrooms','Gymnasium','SwimmingPool','IndoorGames','JoggingTrack']]

In [ ]:
frames = [banglore_mod,mumbai_mod]
merged = pd.concat(frames)
plt.figure(figsize=(15,8))
sns.heatmap(merged.corr(),annot=True)