In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

In [ ]:
dataframe=pd.read_csv("../input/air_quality_Nov2017.csv")

**Diagnose Data And Cleaning****

We use head, tail,shape,column and info for the diagnose

In [ ]:
dataframe.head() #head shows first 5 rows
# this is first look

In [ ]:
dataframe.tail()
#tail gives last 5 rows

In [ ]:
dataframe.columns
#columns gives columns name of the features

In [ ]:
dataframe.shape
#gives the shape of the dataset in a tuble (row,columns)

In [ ]:
dataframe.info()
#info give fatures names in columns and what type of value in it. Like int,obj,float
# with the quantites of values,we decide are there any NaN values or not.

Looking for missing values and NaN values

Exploratory Data Analysis

value_counts(): frequency counts

There are some definitions for Exploratory Data, to see these results we will use desribe() method. 

std: is the standar daviation

mean: average of the entries

count: number of entries

Outlier: the value considerably higher or lower  from rest of the data.  

Outlier are smaller than Q1 - IQR * 1.5   and bigger than Q3+ IQR * 1.5

    IQR=(Q3-Q1)

 example serie: 1,8,9,10,11,12,13,14,15,16,17,18,19

Median : middle of the serie= 13 (quantile %50) not mean median!! middle of the sequence

Quartile;

The lower quartile: median between the smallest number and quantile%50(exact median)= 10 %25 quantile(Q1)

The upper quartile : median between the largest number and quantile%50(exact median)= 16 %75 quantile(Q3)

In [ ]:
print(dataframe['PM10 Value'].value_counts(dropna=False))

In [ ]:
dataframe.describe()

Visual Exploratory Data With Box Plot

Box plot visualize  basics statistics like outliers,min/max or quantiles

In [ ]:
dataframe.boxplot(column='PM10 Value',by='Longitude')
plt.show()

# in this box plot, at the 2.1239 longitude has a few higher outliers..

TIDY Data With melt() method. This methods belongs to Pandas Library.

In [ ]:
 #new data for example from origin our data
    
dataframe_new=dataframe.head()
dataframe_new

In [ ]:
melted=pd.melt(frame=dataframe_new,id_vars='Station',value_vars=['Longitude','Latitude'])
#frame=dataframe_new melt edeceğimiz datayı frame e eşitliyoruz
#id_vars= değişmeden kalmasını istediğimiz feature u seçiyoruz
#value_vars='Longitude','Latitude' yeni valuelar olarak oluşturulmasını istediğimiz feature lar
#yeni tablodaki columns name variable ve value default olarak geliyor ileride değiştirilebilir
melted

In [ ]:
#PIVOTİNG DATA
#REVERSE OF MELTİNG
melted.pivot(index='Station',columns ='variable',values= 'value')

Concatenating Data

We can concatenate two dataframes

In [ ]:
#row concatenating 
dataframe1=dataframe.head() #dataframe1 created from dataframe's head 
dataframe2=dataframe.tail() #dataframe1 created from dataframe's tail 
concat_data_row=pd.concat([dataframe1,dataframe2],axis=0,ignore_index=True) #pd.concat is the cncatenating method. axis=0 means row concatenating 
concat_data_row   #ignore_index=True new index after the concatenating

In [ ]:
#columns concatenating 
dataframe1=dataframe['Longitude'].head() #dataframe1 created from dataframe['Longitude']'s  head 
dataframe2=dataframe['Latitude'].head() #dataframe1 created from dataframe['Latitude']'s head 
concat_data_columns=pd.concat([dataframe1,dataframe2],axis=1)  # axis=1 means concatenate columns side by side
concat_data_columns

DATA TYPES
5 different data types we are working with;
integer, object(string), boolean, float and categorical
What kind of data types we have in our dataframe?

In [ ]:
dataframe.dtypes

In [ ]:
#some data types are convertable for example:

dataframe["Station"]=dataframe["Station"].astype("category")
dataframe.dtypes

Missing Data Handling
Testing with Assert

İf we encounter missing data;

leave as it is

drop them with dropna() method

fill missing data with fillna() method

In [ ]:
dataframe.info()

In [ ]:
dataframe["O3 Quality"].value_counts(dropna=False)
# 1476 NaN value and 167 -- value in this column.

In [ ]:
#droping Nan Values
dataframe3=dataframe
dataframe3["O3 Quality"].dropna(inplace=True)
dataframe3["O3 Quality"].value_counts(dropna=False)

In [ ]:
assert dataframe3["O3 Quality"].notnull().all()
# assert statment  check rest of the code is true or not, when is true return nothing but when its wrong traceback errors come.
#like assert 1==2 check this statment

In [ ]:
dataframe4=dataframe
dataframe4["O3 Quality"].fillna('empty',inplace=True)
assert dataframe4["O3 Quality"].notnull().all()
dataframe4["O3 Quality"].value_counts(dropna=False)

In [ ]:
#assert examples

assert dataframe.columns[0] == 'Station' #nothing returns so its correct
assert dataframe.Longitude.dtypes==np.float # nothing returns so its correct


#note: indentation error means line stars with empty space!!