In [30]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from datetime import datetime
import os

In [31]:
filename="../input/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv"

In [32]:
df=pd.read_csv(filename,usecols=['Timestamp','High','Low'],sep=',')

In [33]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'],unit='s')
df['date'] = df['Timestamp'].dt.date
df['year'] = df['Timestamp'].dt.year
df = df[df.date.notnull() & df.High.notnull() & df.Low.notnull()]

In [34]:
df.head()

               Timestamp   High    Low        date  year
0    2014-12-01 05:33:00  300.0  300.0  2014-12-01  2014
7    2014-12-01 05:40:00  300.0  300.0  2014-12-01  2014
51   2014-12-01 06:24:00  370.0  370.0  2014-12-01  2014
77   2014-12-01 06:50:00  370.0  370.0  2014-12-01  2014
1436 2014-12-02 05:29:00  377.0  377.0  2014-12-02  2014

In [6]:
#Find max drawdown for each day
df1=df.groupby(
   ['date']
).agg(
    {
         'High':max,    
         'Low':min  
    }
)

In [35]:
df1['max_drawdown']=df1['High']-df1['Low']
df1['Percent drawdown']=(((df1['High']-df1['Low'])/df1['Low'].abs())*100).round(2)

In [36]:
#MAX DAILY DRAWDOWN FOR ALL AVAILABLE DATA
idx = df1.groupby(['date'])['max_drawdown'].transform(max) == df1['max_drawdown']
df1[idx].max()

High                  19891.99
Low                   19010.00
max_drawdown           6197.00
Percent drawdown    1984883.33
dtype: float64

In [37]:
df2=df.groupby(
   ['date','year']
).agg(
    {
         'High':max,   
         'Low':min  
    }
)

In [38]:
df2['max_drawdown']=df2['High']-df2['Low']
df2['Percent drawdown']=(((df2['High']-df2['Low'])/df2['Low'].abs())*100).round(2)

In [39]:
#MAX DAILY MAX DRAWDOWNS FOR EACH YEAR
idx2 = df2.groupby(['year'])['max_drawdown'].transform(max) == df2['max_drawdown']
df2[idx2]

                     High        ...         Percent drawdown
date       year                  ...
2014-12-01 2014    370.00        ...                    23.33
2015-11-04 2015    499.99        ...                    35.81
2016-08-02 2016    613.38        ...                    26.99
2017-12-07 2017  19697.00        ...                    45.90
2018-01-16 2018  13643.66        ...                    37.42
2019-01-06 2019   4088.00        ...                     8.84

[6 rows x 4 columns]

In [46]:
#Find max drawdown for each day
df3=df.groupby(
   ['date','year']
).agg(
    {
         'High':max,    
         'Low':min  
    }
)

In [47]:
df3['max_drawdown']=df3['High']-df3['Low']
df3['Percent drawdown']=(((df3['High']-df3['Low'])/df3['Low'].abs())*100).round(2)

In [56]:
#ANNUAL SUMMATION OF DAILY MAX DRAWDOWNS
df3.groupby(['year'])['max_drawdown'].agg('sum')

year
2014       143.50
2015      4580.93
2016      6343.60
2017    137548.10
2018    181799.66
2019      1123.70
Name: max_drawdown, dtype: float64