In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

In [10]:
df=pd.read_csv("../input/startup_funding.csv",index_col=0)
df.head()

           Date   StartupName   ...   AmountInUSD Remarks
SNo                             ...
0    01/08/2017      TouchKin   ...     1,300,000     NaN
1    02/08/2017       Ethinos   ...           NaN     NaN
2    02/08/2017  Leverage Edu   ...           NaN     NaN
3    02/08/2017          Zepo   ...       500,000     NaN
4    02/08/2017  Click2Clinic   ...       850,000     NaN

[5 rows x 9 columns]

In [12]:
seed_startup=df[df['InvestmentType']=='Seed Funding']
seed_startup.count()

Date                1271
StartupName         1271
IndustryVertical    1216
SubVertical          802
CityLocation        1211
InvestorsName       1264
InvestmentType      1271
AmountInUSD          672
Remarks               29
dtype: int64

In [13]:
startup_delhi=df[df['CityLocation']=='Delhi']
startup_delhi

            Date      StartupName    ...    AmountInUSD   Remarks
SNo                                  ...
695    13/9/2016       IdeaChakki    ...            NaN       NaN
1033   16/5/2016       Smartivity    ...      1,000,000       NaN
1069   01/4/2016        PicsDream    ...            NaN       NaN
2037  16/06/2015  Karma Recycling    ...            NaN  Series A

[4 rows x 9 columns]