In [ ]:

import numpy as np 
import pandas as pd

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
path = "/kaggle/input/test-file/tested.csv"
df = pd.read_csv(path)
%config Completer.use_jedi = False
df.head()

In [ ]:
df.isna().sum()

# 1. Write the logic and code to handle missing values.

In [ ]:
#Since from above we see missing values is Cabin column are 327 out of 417 so it would be better to drop it..
dft = df.drop(["Cabin"],axis=1)

In [ ]:
dft.shape

In [ ]:
#we may replace missing 87 age values with average age
dft2 = dft.replace(np.nan,df.Age.mean() )

In [ ]:
dft2.isna().sum()

# 2.Write a code to delete a column.

In [ ]:
dft3 = dft2.drop(["SibSp"],axis=1)
dft3.info()

# 3.write a code to delete a row.

In [ ]:
# Removing row at index 1
dft3[dft3.PassengerId != 893].head()

# 4. write a code to find duplicate rows.

#### 1.  finding perfectly duplicated columns i.e. entire row values are same

In [ ]:
dft3.duplicated().sum()

#### 2. duplicates on specific column(s), use subset.

In [ ]:
dft3.duplicated(subset=['Ticket']).value_counts()

# 5. write a code to delete duplicate rows.

#### drop duplicates on specific column(s)-

In [ ]:
len(dft3)

In [ ]:
len(dft3.drop_duplicates(subset=['Ticket']))

# 6. Write a code to group rows by values.

In [ ]:
dft3.groupby('Pclass').count()

In [ ]:
dft3.groupby(['Sex','Survived'])['Age'].mean()

# 7. Write a code to apply functions over all elements in a column.

In [ ]:
def uppercase(x):
    return x.upper()
# Apply function, show two rows
dft3['Sex'].apply(uppercase)[0:4]

# 8. group rows by time

In [ ]:
# Load libraries
import pandas as pd
import numpy as np
# Create date range
time_index = pd.date_range('06/06/2017', periods=100000, freq='30S')
# Create DataFrame
dataframe = pd.DataFrame(index=time_index)
# Create column of random values
dataframe['Sale_Amount'] = np.random.randint(1, 10, 100000)

In [ ]:
# Group rows by week, calculate sum per week
dataframe.resample('W').sum()

# 9. write a code to apply function to groups.

In [ ]:
dft3.groupby('Sex').apply(lambda x: x.count())

# 10. write a code to create 2 data frames which contain first ten and last 10 values. Now merge both data frames into one.

In [ ]:
import pandas as pd
# Create DataFrame
df1 = {'employee_id': [k for k in range(1,11)],
                  'name': ['Amy Jones', 'Allen Keys', 'Alice Bees', 'Tim Horton','Amy Jones', 
                           'Allen Keys', 'Alice Bees', 'Tim Horton','Alice Bees', 'Tim Horton']
                }
df1 = pd.DataFrame(df1, columns = ['employee_id','name'])
# Create DataFrame
df2 = {'employee_id': [k for k in range(11,21)],
       'name': ['Amy Jones', 'Allen Keys','Amy Jones', 'Allen Keys','Amy Jones', 'Allen Keys',
                'Amy Jones', 'Allen Keys','Amy Jones', 'Allen Keys']
      }
df2 = pd.DataFrame(df2, columns = ['employee_id','name'])
frames = [df1, df2]
pd.concat(frames)