In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
df1 = pd.read_csv('../input/corona-virus-report/covid_19_clean_complete.csv')
df1.head()

In [ ]:
df2 = pd.read_csv('../input/corona-virus-report/day_wise.csv')
df2.head()

## Mengganti suatu nilai dalam cell

In [ ]:
# mengganti satu nilai
df2['Confirmed'] = df2['Confirmed'].replace([555],'diubah')
df2.head()

In [ ]:
# mengganti lebih dari satu nilai
df2['Confirmed'] = df2['Confirmed'].replace([654,941,1434],['diubah','diubah','diubah'])
df2.head()

## Merubah nama kolom

In [ ]:
# mengganti date menjadi tanggal
df2 = df2.rename(columns={'Date':'Tanggal','Deaths':'Kematian'})
df2.head()

## Memilih dengan iloc

In [ ]:
# Memilih baris index ke 1 sampai 4
df2.iloc[1:5]

In [ ]:
# Memilih baris index ke 1 sampai 4 dan kolom index ke 1 sampai 3
df2.iloc[1:5,1:4]

## Menggunakan groupby

In [ ]:
df1.head()

### groupby() berdasar 1 kategori

In [ ]:
# Use groupby() function to group the data based on the “WHO Region”
gb = df1.groupby('WHO Region')

# Menampilkan dari pertama dari setiap kelompok/grup
gb.first()

In [ ]:
# Mencari/menampilkan data yang masuk kedalam grup 'Africa'
gb.get_group('Africa')

In [ ]:
# Bisa mencari mean dari setiap kelompok 'WHO Region'
gb.mean()

# bisa juga langsung gini
# x = df1.groupby('WHO Region').mean()

In [ ]:
# Untuk mencari mean di spesifik kolom (dalam hal ini kolom Lat)
df1.groupby('WHO Region')['Lat'].mean()

### groupby() berdasar 2 kategori

In [ ]:
# Mengelompokkan berdasar 'WHO Region'
# Kemudian dari setiap 'WHO Region' dikelompokkan lagi berdasar 'Date'
gb2 = df1.groupby(['WHO Region', 'Date'])

# Menampilkan dari pertama dari setiap kelompok/grup
gb2.first()

## Sortir dataframe

In [ ]:
# Mengurutkan data berdasar kolom Lat dari terkecil ke terbesar
x1 = df1.sort_values(by='Lat', ascending=True)
x1

In [ ]:
# Mengurutkan data berdasar kolom Lat dari terkecil ke terbesar dan kolom Long dari terbesar ke terkecil
x2 = df1.sort_values(['Lat','Long'], ascending=(True, False))
x2

## Membuat Data Frame

### Membuat dataframe dengan dictionary

In [ ]:
dataframe3 = pd.DataFrame({'nama':['budi','andi'], 'umur':[17,20]})

dataframe3.head()

### Membuat dataframe dengan np.array

In [ ]:
# membuat isi sel nya dulu
data1 = np.array([['ica','jakarta',100],['adalah','bogor',50],['orang','jakarta',50]])
# membuat dataframe dari data1 dan tambahin nama kolomnya
dataframe1 = pd.DataFrame(data1, columns=['nama','kota','gaji'])

dataframe1.head()

In [ ]:
# membuat dataframe langsung tanpa deklarasiin isi sel nya dulu
dataframe2 = pd.DataFrame(np.array([['ini','bogor',300],['tuh','bandung',10],['nama','bandung',310]]),
                          columns=['nama','kota','gaji'])

dataframe2.head()

## Menggabungkan dataframe dengan concatenate

In [ ]:
gabung = pd.concat([dataframe1,dataframe2])
gabung.head(6)

In [ ]:
gabung.iloc[1,0] = 'ganti'

In [ ]:
gabung.head()

# Menambahkan data pada suatu kolom

In [ ]:
'''gabung['nama'] = gabung['nama'].add(['nambah','jakarta',100])
gabung.head(7)'''

## Mengecek adanya data duplikat

In [ ]:
# cek apakah di df2 ada data duplikat
df2.duplicated().any()

In [ ]:
# cek apakah di kolom 'Confirmed' pada df2 ada yg duplikat/gak
df2.duplicated(subset='Confirmed').any()

In [ ]:
# cek sebelah mana yg duplikat
df2.duplicated(subset='Confirmed')

kok aneh weh padahal harusnya baris 1 juga true

## Melakukan drop pada suatu kolom

In [ ]:
# cek dulu isi df2 biar inget
df2.tail()

In [ ]:
# mendrop kolom 'Tanggal'
df2.drop(['Tanggal'], axis=1, inplace=True)

In [ ]:
# mengecek apakah kolom 'tanggal' sudah berhasil di drop
df2.head()

## Mengecek outlier dengan IQR

In [ ]:
# Membuat sebuah fungsi untuk menemukan outlier
from numpy import quantile
def outlier(df_in, col_name):
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1 #Interquartile range
    fence_low  = q1-1.5*iqr
    fence_high = q3+1.5*iqr
    df_out = df_in.loc[(df_in[col_name] <= fence_low) | (df_in[col_name] >= fence_high)]
    return df_out

In [ ]:
# Menerapkan fungsi memisahkan outlier dan mendeklarasikannya kedalam suatu variabel
high_kematian = outlier(df2, 'Deaths / 100 Cases').reset_index() # melihat outlier pada kolom 'Kematian'
high_kematian.head()

Ternyata tidak ada outliers pada kolom 'Deaths / 100 Cases'

# Normalisasi data Numerik : Min Max Scaller

In [ ]:
# Mengubah dataframe menjadi array
data = np.array(df2.iloc[:,7:10])
data[:5]

In [ ]:
# Scaling data menggunakan MinMaxScaler 
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
c_scaled = mm.fit_transform(data)
c_scaled[:5]

In [ ]:
# Mengubah array menjadi dataframe
c_scaled = pd.DataFrame(c_scaled)
c_scaled.head()

# Normalisasi data kategorik

* Getdummies : [[indonesia,paris,paris,korea] menjadi 3 kolom 
* kolom indonesia : [1,0,0,0]
* kolom paris : [0,1,1,0]
* kolom korea : [0,0,0,1]
*
* labelencoder : [indonesia,paris,paris,korea] menjadi [0,1,1,2]