# Goal
* Plot Max, Average, Min in temperature of each year with bar chart.
* Findout which year have hightest temperature and in that year, which country have highest temperature.
* Findout which year have lowest temperature and in that year, which country have lowest temperature.
* Plot line chart in year 1995,2000,2005,2010,2015,2020.
* Compare Max, Average, Min temperature of each region and in coldest region, find country with lowest temperature.

## This is my university's project

# Data cleaning

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.linear_model import LinearRegression

In [ ]:
data=pd.read_csv('../input/temperature-of-all-countries-19952020/city_temperature.csv')


data.head()

There is NaN values, we need to findout how much it is.

In [ ]:
data.isnull().sum()

Column State has a lot of null, drop it.

In [ ]:
data=data.drop('State',axis=1)

Plot histogram to check outlier.

In [ ]:
plt.hist(data['AvgTemperature']);

Outlier is at left, delete it.

In [ ]:
outlier=data.loc[data['AvgTemperature']<-50,:]

outlier

In [ ]:
#drop
data=data.drop(outlier.index)

We want to set index type as datetime64 but before we do that, check day, month, year for strange values.

In [ ]:
print(data['Day'].unique())
print(data['Month'].unique())
print(data['Year'].unique())

So, no strange value.

Concatenate day, month, year and change its type to datetime64.

In [ ]:
data['date']=data['Year'].astype(str)+'-'+data['Month'].astype(str)+'-'+data['Day'].astype(str)
data['date']=pd.to_datetime(data['date'])

Drop Day Month Year column and set date as index.

In [ ]:
data.drop(['Day','Month','Year'],axis=1,inplace=True)
data=data.set_index('date')

data

We will find max, average, min temperature of each year by resample, so we need dataframe which has only date and temperature.

In [ ]:
temp_data=data['AvgTemperature']
temp_data

Average temperature is very high. Is it even celsius? I will check with my birthplace country 'Thailand'.

In [ ]:
data.loc[data.Country=='Thailand',:]

Ok that's very high temperature, my place only has temperature around 28-35 celsius, so this might be falenheit degree.

In [ ]:
#Change to celsius degree
data['AvgTemperature']=((data['AvgTemperature']-32)*(5/9)).round(1)
temp_data=data['AvgTemperature']
print(temp_data)

Create max, average, min teperature dataframe with resample.

In [ ]:
max_temp_data=temp_data.resample('Y').max().round(1)
avg_temp_data=temp_data.resample('Y').mean().round(1)
min_temp_data=temp_data.resample('Y').min().round(1)

# Plot Max, Average, Min in temperature of each year with bar chart

Plot bar chart.

In [ ]:
#I plot max and average temperature in same figure while min temperature in another figure since it only has minus sign
fig=plt.figure(figsize=(24,8))
plt.bar(np.arange(len(max_temp_data.index))-0.2,max_temp_data,color='red',width=0.4,alpha=0.75)
plt.bar(np.arange(len(max_temp_data.index))+0.2,avg_temp_data,color='green',width=0.4,alpha=0.75)
plt.xlabel('Temperature(C)')
plt.ylabel('Year')
plt.xticks(np.arange(len(max_temp_data.index)),np.arange(1995,2021));

We can see that max temperature bar trend is look similar to average temperature bar trend.

In [ ]:
fig=plt.figure(figsize=(24,8))
plt.bar(np.arange(len(max_temp_data.index)),min_temp_data,color='blue',width=0.5,alpha=0.75)
plt.xlabel('Temperature(C)')
plt.ylabel('Year')
plt.xticks(np.arange(len(max_temp_data.index)),np.arange(1995,2021));

If we consider all figure, in first figure that's very hard to tell which year has highest temperature but for second figure, maybe year 1999 has lowest temperature?

In [ ]:
#use pandas to find highest temperature and lowest temperature
print(max_temp_data[max_temp_data==max(max_temp_data)])
print(min_temp_data[min_temp_data==min(min_temp_data)])

There is 4 years with highest temperature consist of year 2005, year 2012, year2015 and year 2017.

For lowest temperature there is only one year, 1999


Next, we will find out which place in hottest in year 2005,2012,2015,2017 and which place in coldest in 1999

# Which place is hottest in hottest year? Which place in coldest in coldest year?

## Hottest

## 2005

In [ ]:
hottest_2005=data.loc[(data.AvgTemperature==max(max_temp_data)) & (data.index.year==2005),:]
hottest_2005

Ok, Kuwait and Middle East, not surprise because middle east has the desert, it could be hot.

## 2012

In [ ]:
hottest_2012=data.loc[(data.AvgTemperature==max(max_temp_data)) & (data.index.year==2012),:]
hottest_2012

Ok, same as last one.

## 2015

In [ ]:
hottest_2015=data.loc[(data.AvgTemperature==max(max_temp_data)) & (data.index.year==2015),:]
hottest_2015

Again!?

## 2017

In [ ]:
hottest_2017=data.loc[(data.AvgTemperature==max(max_temp_data)) & (data.index.year==2017),:]
hottest_2017

Ok, you got clown.

## Coldest

In [ ]:
coldest=data.loc[data.AvgTemperature==min(min_temp_data),:]
coldest

It's Fairbanksm US but I'm suprise why it's not antarctica.

In [ ]:
data['Region'].unique()

Ok, this data don't have antarctica region.

# Plot line chart in year 1995,2000,2005,2010,2015,2020.

Create new dataframe with average temperature column and month as index.

In [ ]:
data_1995=data.loc[data.index.year==1995,'AvgTemperature']
data_2000=data.loc[data.index.year==2000,'AvgTemperature']
data_2005=data.loc[data.index.year==2005,'AvgTemperature']
data_2010=data.loc[data.index.year==2010,'AvgTemperature']
data_2015=data.loc[data.index.year==2015,'AvgTemperature']
data_2020=data.loc[data.index.year==2020,'AvgTemperature']

Find average temperature.

In [ ]:
data_1995=data_1995.resample('m').mean()
data_2000=data_2000.resample('m').mean()
data_2005=data_2005.resample('m').mean()
data_2010=data_2010.resample('m').mean()
data_2015=data_2015.resample('m').mean()
data_2020=data_2020.resample('m').mean()

Change index to 1 to 12.

In [ ]:
data_1995.index=range(1,13)
data_2000.index=range(1,13)
data_2005.index=range(1,13)
data_2010.index=range(1,13)
data_2015.index=range(1,13)
#data_2020.index=range(1,13) #Length mismatch: Expected axis has 5 elements, new values have 12 elements

Oh, got error, check 2020

In [ ]:
data_2020

Since this year's data contain only first 5 months, we won't use it anymore.

Make line plot

In [ ]:
plt.figure(figsize=(12,12))
data_1995.plot(label=1995)
data_2000.plot(label=2000)
data_2005.plot(label=2005)
data_2010.plot(label=2010)
data_2015.plot(label=2015)
plt.xticks(range(1,13),['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'])
plt.xlabel('Month')
plt.ylabel('Average Temperature(C)')

plt.legend(loc='best')

From graph, we can see that July has highest temperature, the cause might come from summer season and we can see that January and December have lowest temperature since it's winter.


But compare temperature like this, isn't bar plot better?

## Bonus: Compare each month's average temperature with bar chart

Create new dataframe consist of average temperature and month columns. Set month as index column.

In [ ]:
month_df=pd.DataFrame({'month':data.index.month,'AvgTemperature':data.AvgTemperature})
month_df=month_df.set_index('month')
month_df

Find average temperature of each month.

In [ ]:
month_df=month_df.groupby('month').mean().round(1)
month_df

Make bar chart

In [ ]:
plt.figure(figsize=(24,12))
plt.bar(month_df.index,month_df.AvgTemperature,alpha=0.75,color=['#FFF000','#FFE000','#FFB200','#FF8F00','#FF6C00','#FF5100','#FF1F00','#FF3200','#FF5900','#FF8300','#FFB200','#FFE000'])
plt.ylabel('Temperature(C)')
plt.xlabel('Month')
plt.xticks(month_df.index,['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']);

Wow, Look cool!!!

# Compare Max, Average, Min temperature of each region and in coldest region, find country with lowest temperature.

Create new dataframe with Region and temperature columns from year 2015 to 2019.

In [ ]:
Region=data.loc[data.index.year!=2020,['Region','AvgTemperature']]
Region

Check index to make sure that year 2020 is not include.

In [ ]:
Region.index.year.unique()

Find average temperature of each region.

In [ ]:
Region_avg=Region.groupby('Region').mean()
Region_avg

Make bar chart

In [ ]:
plt.figure(figsize=(12,12))
plt.bar(range(7),Region_avg['AvgTemperature'],color=['purple','blue','green','yellow','orange','red'],alpha=0.75);
plt.xticks(range(7),['Africa','Asia','','Europe','Middle East','North America','']);
plt.text(1.65,-0.7,'Australia /')
plt.text(1.6,-1.5,'South Pacific')
plt.text(5.55,-0.7,'South Pacific /')
plt.text(5.4,-1.5,'Central America &')
plt.text(5.65,-2.3,'Carribean')
plt.ylabel('Average Temperature(C)');

We can see that Africa has highest amount of average temperature(I'm not surprise since it has desert) and Europe has lowest amount of average temperature.

In [ ]:
Europe=data.loc[data.Region=='Europe',:].drop(['Region','City'],axis=1)
Europe

Find average temperature of each countrys.

In [ ]:
Europe=Europe.groupby('Country').mean().round(1)
Europe

Top 5 coldest in europe.

In [ ]:
Europe.sort_values('AvgTemperature').head()

So, coldest country in europe is Iceland.