In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [ ]:
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        
data=pd.read_csv('/kaggle/input/game-of-thrones/character-deaths.csv')
data.head(5)

In [ ]:
data

In [ ]:
data.isna().sum()

In [ ]:
df=data.fillna(0) ## 1. Replacing every NaN with 0

In [ ]:
## Sometimes replacing missing values with 0 might not be fine for the string data,
## like if we would have data for "Death Chapter" :First chapter, Second Chapter
## Replacing the NaN data with 0 will be not a good idea,
## So we would replace with the String Value "no chapter"
## whereas all other columns with missing data with 0 value

In [ ]:
new_df1=data.fillna({
    "Death Year":0,
    "Book of Death":0,
    "Death Chapter": "no chapter",
    "Book Intro Chapter":0
    
})

In [ ]:
new_df1["Death Chapter"]

In [ ]:
df1=data.fillna(method="ffill") ## Replaces missing values with the preceding value instead of having 0
df1

In [ ]:
df2=data.fillna(method="bfill") ## Replaces missing values with the following value instead of having 0
df2

Personally, I don't think replacing methods with the previous or the following fields would make sense, especially with our data where the data is algorithmically sorted and replacing the death of year with the previous or forwading data would be really inaccurate. 

Maybe this method would be more appropriate for the data that does not vary so much and presented in the time-sorted way...But I think we need to be careful using that method.

In [ ]:
df3=data.interpolate() ## interpolate() that, by default, performs linear interpolation at missing data points

In [ ]:
df3["Death Year"]

In [ ]:
df4=data.dropna()

In [ ]:
df4

In [ ]:
data

In [ ]:
## dropna() dropped more than 625 rows..

In [ ]:
df5=data.dropna(thresh=2) 

## thresh=N requires that a column has at least N non-NaNs to survive.

In [ ]:
data=data.replace("None", np.NaN)

In [ ]:
data