<h1  style="font-family:COMIC SANS;background-color:lightpink" ><b><center>Must Know Pandas functions 🐼and Basics of Data Analysis 🛠</center></b></h1><br>

<font size=3 color="black" style="font-family:COMIC SANS MS;text-align:center"><b>Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,built on top of the Python programming language.
Data analysis is a process of inspecting, cleansing, transforming, and modeling data with the goal of discovering useful information, forming conclusions, and supporting decision-making.</b><br></font>
<font size=3 color="black" style="font-family:COMIC SANS MS" ><b> Here I have tried to cover few basic functions , examples to understand, silicing, groupby, concatenate,merge tables that can be used during Data Analysis stage.</b>
</font><br><br>

Here are my other notebooks....Do checkout if you find my work helpful, happy learning.

1.[Predicting If Customer will borrow Personal Loan ](http://www.kaggle.com/yogidsba/personal-loan-logistic-regression-decision-tree)

2.[Predict Prices of Used cars](https://www.kaggle.com/yogidsba/predict-used-car-prices-linearregression)

3.[Insurance Claim Hypothesis Testing](http://www.kaggle.com/yogidsba/insurance-claims-eda-hypothesis-testing)

4.[Basic EDA on Covid vaccination](http://www.kaggle.com/yogidsba/basic-eda-on-covid-vaccination)

5.[Case study EDA on cardio good fitness](http://www.kaggle.com/yogidsba/casestudy-eda-for-cardio-good-fitness)

<br><h1 style="font-family:COMIC SANS;text-align:center;background-color:lightpink" ><b>📑Table of Contents📑</b></h1><br>

<font size=3 color="black" style="font-family:COMIC SANS MS" ><i>
🌐 [Basic Pandas functions](#Basic-Pandas-functions)<br>
🤷‍[Purpose of Analysis](#Purpose-of-Analysis)<br>
📖 [Reading Dataset](#Reading-Data) <br>
👀 [Exploring Dataset](#Exploring-Dataset)<br>
🎭 [Converting Datatypes](#Converting-Datatypes) <br>
🩸 [Add/Rename/Drop/Filter Columns](#Add-Rename-Drop-Filter-Columns)<br>
❓ [Missing Values](#Missing-Values) <br>
📄 [Descriptive Statistics](#Descriptive-Statistics)<br>
🔪 [Slicing/Subsetting](#Slicing-Subsetting)<br> 
👨‍👨‍👯‍[Data Aggregation ,Combining data frame and Groupby](#Data-Aggregation-dataframe-and-Groupby)<br>



<font size=3 style="font-family:COMIC SANS MS" style="font-family:COMIC SANS MS" ><i>⛳Purpose : The biggest motivation for this notebook was a simple thought to get better at Pandas.The best way to learn  or improve is to write about it .With this thought process, I have created a simple tutorial  along with a Case study  on a Youtube trending Dataset to provide examples how these Panda functions can be used during analysis.<br><br>
    There can be more functions,which I may not be aware of or not used .Do write in comments any basic functions which I may have missed, or if you approach a problem differently.<br> 
    
@AmmarAlyousfi ,Thanks for sharing your notebook.🙏 Do check his notebook https://www.kaggle.com/ammar111/youtube-trending-videos-analysis .I was inspired by this but I wanted to cover questions which were not answered in this notebook. 
    <br> I hope this notebook helps you, please provide your feedback which will help me improve.🙏</i></font><br><br>
 
<font size=2 ><i>Source : https://pandas.pydata.org/pandas-docs/stable/?v=20210321105443 <br> https://en.wikipedia.org/wiki/Data_analysis<br>
   https://github.com/jakevdp/PythonDataScienceHandbook/tree/master/notebooks</i><font>

<h1 style="font-family:COMIC SANS ;text-align:center;background-color:lightpink"><b>🌐 Basic Pandas functions 🌐</b></h1>

# Basic Pandas functions


<font size=3 style="font-family:COMIC SANS MS" style="font-family:COMIC SANS MS" ><b><i><u> Getting  Dataset: 🧧</u></i></b></font>

<table style ="width:80%;border:black;border-width:1px; border- style:solid;  border-collapse: collapse" >
    <thead>
      <tr>
            <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px "> 
              To Read  Dataset From 
            </th>
            <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px ">
              Method
            </th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
              CSV&nbsp;
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
              pd.read_csv(filename)
            </td>
        </tr>
        <tr >
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
              TAB/Delimited /TSV
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
              pd.read_table(filename)
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
             EXCEL
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
             d.read_excel('myfile.xlsx',sheet_name='Sheet1', index_col=None)
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
             SQL Table
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
             pd.read_sql(query,connection_object)
            </td>
        </tr>
        <tr >
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
             JSON formatted string<
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                pd.read_json(json_string)
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                HTML url
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                pd.read_html(url)
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                Clipboard
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                pd.read_clipboard()
            </td>
        </tr>
    </tbody>
</table><br>

<font size=3 style="font-family:COMIC SANS MS" style="font-family:COMIC SANS MS" ><b><i> <u>Analyzing Dataset🔭🔭</u> :
When you begin working with a new data set, it is  best to check out the first few rows ,look at datatypes, 
check for any datatype mismatch in variables. This will show you what kind of data is in the dataset, 
what data types you are working with, and help you in your analysis.</i></b></font>

<table style ="width:75%;border:black;border-width:1px; border- style:solid;  border-collapse: collapse" >
  <thead>
    <tr>
        <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px ">
            Description 
        </th>
        <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px ">
            Method
      </th>
    </tr>
   </thead>
   <tbody>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                Displays top 5 row or  n rows;</td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                df_india.head()/df_india.head(n)
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                Displays bottom 5 row or  n rows
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                df_india.tail()/df_india.tail(n)
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                Displays randomly selected rows
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                df_india.sample(n)
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                Selecting  certain columns
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                col=['title','trending_date','view_count']
                df_india[col].head()
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                Select and order top n entries
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                df_india.nlargest(10, 'view_count')
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                Select and order bottom n entries
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                df_india.nsmallest(10, 'view_count')
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                Distinct values in a column
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px">
                df_india['trending_date'].nunique()
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                Count number of rows with each unique value of variable
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                df_india['trending_date'].value_counts()
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                To display datatypes of variables
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                df_india.dtypes 
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                Displays numbers of rows and column our dataset <br>contains.Its a tuple representing the dimensions
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                df_india.shape 
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                This method print info about a dataset including the index dtype <br>and columns,non-null values and memory usage
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px" >
                df_india.info() 
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                A selection of numeric dtypes  to be included/excluded.
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                df_india.select_dtypes(include = [np.number]).dtypes
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                A selection of object dtypes to be included/excluded. 
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                df_india.select_dtypes(include = [np.object]).dtypes
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                A selection of datetime dtypes to be included/excluded.  
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                df_india.select_dtypes(include =  [np.datetime64]).dtypes
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                To select Pandas categorical dtypes 
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                df_india.select_dtypes(include = 'category').dtypes
            </td>
        </tr>
    </tbody>
</table><br>

<font size=3 style="font-family:COMIC SANS MS" ><b><i><u>Converting Datatypes 🎭:</u>
        Pandas automatically assign datatype to the columns,depending on what data the columns hold.For eg weight column may have data in form of 60.5kg  so the datatype here would be object. But we want weight to be float . We can remove kg and change data type to float.</i></b></font>
<table style ="width:95%;border:black;border-width:1px; border- style:solid;  border-collapse: collapse" >
    <thead>
        <tr>
            <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px "> 
                Description 
            </th>
            <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px ">
                Method      
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To convert object datatype to categorical datatype 
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px "> 
                 df_india.description=df_india.description.astype("category")
            </td>
        </tr>
         <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To convert object datatype to Integer datatype 
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px "> 
                 df_india.description=df_india.description.astype("int")
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To convert object datatype to float datatype 
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px "> 
                 df['DataFrame Column'] = df['DataFrame Column'].astype(float)
            </td> 
        </tr>    
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To Convert object to datetime datatype
            </td>
           <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >                                                df_india.publishedAt=pd.to_datetime(df_india.publishedAt)
            </td>
        </tr>    
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To make a copy of dataset
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px " > 
                df_copy=df_india.copy()
            </td>
        </tr>
    </tbody>
</table>

   <font size=3 style="font-family:COMIC SANS MS" ><b><i><u>Adding /Renaming/Dropping Columns </u>➕🩸🩸</i></b></font>
        
<table style ="width:95%;border:black;border-width:1px; border- style:solid;  border-collapse: collapse" >
    <thead>
        <tr>
            <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px "> 
                Description 
            </th>
            <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px ">
                Method      
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To add new columns to a dataframe.
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px "> 
                   df_india['count_max_view'] =df_india.groupby(['video_id'])['view_count'].transform(max)
            </td>
        </tr>
         <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To rename a column
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px "> 
                 df_india.rename(columns={'description':'desc'})
            </td>
        </tr>    
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To drop a column
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px " > 
                df_india.drop()
            </td>
        </tr>    
     </tbody>
</table>      <br>

<font size=3 style="font-family:COMIC SANS MS"><b><i><u>Descriptive Statistics📄📄</u>   
    Descriptive statistics, which include things like the mean, median,Quartiles,Minimum,Standard Deviation etc of the data , can be useful to understand the spread of the variables are and what variables may be the most important. Descriptive statistics on pandas objects exclude missing data by default</i></b></font> 

<table style ="width:95%;border:black;border-width:1px; border- style:solid;  border-collapse: collapse" >
    <thead>
        <tr>
            <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px "> 
                Description 
            </th>
            <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px ">
                Method
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To get statistical summary for numeric value, to understand the distrubution
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                df_india.describe()(n)
            </td>
        </tr>    
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To get summary for Categorical value
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px">                                                   df_india.describe(include='category')
            </td>
        </tr>    
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To get Minimum value for all numeric columns
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                df_india.min()
            </td>
        </tr>    
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To get Mean value for  all numeric columnss
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                df_india.mean()
            </td>
        </tr>   
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To get exact middle value among a dataset. Useful for skewed distribution or data with outliers
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                df_india.median()
            </td>
        </tr>   
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To get most frequent element in a dataset.
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                df_india.mode()
            </td>
        </tr>               
        <tr>   
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To get standard deviation of numeric column
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                df_india.std()
            </td>
        </tr>               
    </tbody>
</table>

     
      
      
<font size=3 style="font-family:COMIC SANS MS">
    <b>
        <i><u>Checking and Handling Missing Values.:❓❓</u>
   .When no data value is stored for feature for a particular observation, we say this feature has a missing value.Missing value handling is a post in itself and will be covered later </i>
    </b>
</font>

<table style ="width:95%;border:black;border-width:1px; border- style:solid;  border-collapse: collapse" >
    <thead>
        <tr>
            <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px ">                     Description 
            </th>
            <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px ">                     Method
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                This function returns boolean value indicating whether values are missing (NaN)
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                df.isna()
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                 This function check for not null or non-missing values.
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                df.notna()
            </td>
        </tr>
        <tr>    
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
               This function is used to replace values with other values dynamically.
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                df.Replace()
            </td>
        </tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                This function returns boolean value indicating whether values are missing (NaN)
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                pd.isnull()
            </td>
        <tr>    
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
               This function checks for not null or non-missing values.
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                pd.notnull()
            </td>
        </tr>
        <tr>    
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                This function is used to remove missing value.
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                pd.dropna()
            </td>
        </tr>
        <tr>
             <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
               Return a copy of the data with missing values filled or imputed
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                pd.fillna()
            </td>
         </tr>    
    </tbody>
</table><br>

<font size=3 style="font-family:COMIC SANS MS" ><b><i><u>Slicing /Subsetting  DataSet :🔪🔪</u>
        One of the most effective ways to get more information out of a dataset is to divide it into smaller, 
        more uniform subsets, and analyze each of these "subset" on its own. </i>
    </b>
</font> 
        
       
<table style ="width:95%;border:black;border-width:1px; border- style:solid;  border-collapse: collapse" >
    <thead>
        <tr>
            <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px ">                  Description 
            </th>
            <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px                     ">Method    
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10pxF ">
                To Select rows by position use ilocs .<br>It allows integer-location based indexing for selections .
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                 df_india.iloc[10:4]
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To select data based on labels, which means <br>that we have to specify the name of the rows and columns that we need to filter out
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px " >
                 df_india.loc[df_india['title','view_count]]
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                Query the columns of a DataFrame with a boolean expression.
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px " > df_india.query['category == 24']
            </td>
        </tr>
    </tbody>
</table>

<font size=3 style="font-family:COMIC SANS MS">
    <b>
    <i><u>
        Data Aggregation,comibing dataframe and Groupby:👯‍♂️👯‍👨‍👨‍👦‍👦</u>
      One of the most basic analysis functions is grouping and aggregating data. An aggregation function is one which takes multiple individual values and returns a summary.In pandas, the groupby function can be combined with one or more aggregation functions to quickly and easily summarize data. 
        </i>
    </b>
</font>  



<table style ="width:95%;border:black;border-width:1px; border- style:solid;  border-collapse: collapse" >
    <thead>
        <tr>
            <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px ">             Description 
            </th>
            <th style="text-align:center;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;background-color:lightgreen ;padding: 10px ">             Method
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To find total count,unique observatoin
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                agg_func_count = {'view_count': ['count', 'nunique']}<br>
                df_merge.groupby(['category']).agg(agg_func_count)
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To find increased number of likes
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
               agg_func_selection = {'likes': ['first', 'last']} <br>
             df_merge.sort_values(by=['channelTitle'],
            ascending=False).groupby(['channelTitle'
                                        ]).agg(agg_func_selection)
            </td>
        </tr>
        <tr>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To merge category dataset with trending dataset
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
               df_merge = df_india.merge(df_category, on = 'categoryId', how = 'inner')
            </td>
        </tr>
        <tr>    
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                To concatenate Us and canada dataset
            </td>
            <td style="text-align:left;border: 1px solid black;font-family:COMIC SANS MS;font-size:100%;padding: 10px ">
                df_con_us_ca=pd.concat([df_us,df_ca])
            </td>
        </tr>    
    </tbody>
</table>

<h1 style="font-family:COMIC SANS ;text-align:center;background-color:lightpink"><b>🤷‍ Purpose of Analysis 🤷‍</b></h1>

# Purpose of Analysis

<font size=3 style="font-family:COMIC SANS MS" ><b><i>
Data analysis starts with questions, not data or a some specific techniques. What is that you  want to acheive with this data?What are the questions you want to answer with your data.? what kind of problems you want to address.?The questions will keep on evolving as we look at data. 
Finally "Analysis without question / or problems to solve  is aimless."

 I am using the Youtube Trending dataset to demonstrate the functions.I will not be covering the analysis other Kaggle teammates have performed so looking for some new question  in dataset for  India.(since the dataset may change i will be creating a subset till 25 April 2021).
 
 
Questions which I want to answer with this analysis :
    
- Which is most watched video in India. ❓(Most watch doesnot mean trending)
- Number of videos published in 2021❓<br>
- How many videos did T-Series publish❓<br>
-Top 30 videos that has been most watched❓<br>
-Top 3 Categories having maximum pubished videos in 2020❓<br>
-Top 10 Most liked videos in India❓
</i></b></font>

   
<div class ="alert alert-block alert-info">
  <font size=4><b><i>We start with importing the pandas package along with other libraries.📚</i></b></font><br>
 </div>

In [ ]:
import numpy as np   
import pandas as pd  
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
import json
warnings.filterwarnings('ignore') # To supress warnings
sns.set(style="darkgrid") # set the background for the graphs
pd.set_option('display.float_format', lambda x: '%.3f' % x)

<h1 style="font-family:COMIC SANS ;text-align:center;background-color:lightpink"><b><u>📖 Reading Data 📖</u></b></h1>

# Reading Data

<div class ="alert alert-block alert-info">
    <font size=4><b><i> Set path for Data file and Load data </i></b></font> .
    
</div>

In [ ]:
#Reading Dataset of trends in india
path_india='../input/youtube-trending-video-dataset/IN_youtube_trending_data.csv'
df_india = pd.read_csv(path_india)
#df_inda.loc[publishedAt]

In [ ]:
#since the dataset may change i will be creating a subset till 25 April 2021).
df_india=df_india.loc[df_india['publishedAt'] < '2021-04-25']

<h1 style="font-family:COMIC SANS ;text-align:center;background-color:lightpink"><b><u>👀  Exploring Dataset 👀 </u></b></h1>

# Exploring Dataset

<div class ="alert alert-block alert-info">
<font size=4><b><i> We start with inspecting the dataset and record observations:</i></b></font><br>
     1.Check if it is correct dataset ?.<br> 
     2.Check for attributes/columns,check if headers are clean<br>
     3.Number of row and columns in data set (Dimension of dataset) <br>
     4.What are the data types of your data, and how many columns are numeric?<br>
     5.Are the datatype correct .?

In [ ]:
#This function returns the first 5 rows for the dataset
df_india.head()

In [ ]:
#displays last 5 rows
df_india.tail()

In [ ]:

print ("Rows     : " , df_india.shape[0]) #Displays numbers of rows .
print ("Columns  : " , df_india.shape[1]) # and column our dataset contains.
print ("\nFeatures : \n", df_india.columns.tolist())#displays column names
print ("\nMissing values :  ", df_india.isnull().sum().values.sum())   #find missing values
print ("\nUnique values :  \n", df_india.nunique())  # Count distinct observations

<div class ="alert alert-block alert-info">🦉<b>Observations</b>🦉<br>
 ✔There are 47473 rows and 16 columns in  the dataset<br>
 ✔Qualitative Variables are title,channelId,channelTitle,categoryId are most important attributes for our analysis<br>
 ✔Quantitative Variables are PublishedAt,trending_date,view_count,likes,
    dislikes,comment_count<br>
 ✔Columns tags,thumbnail_link,comments_disabled,ratings_disabled have not particular use in our analysis <br></div>

In [ ]:
# Displays columns and datatype .
df_india.dtypes

In [ ]:
#This method prints information about a dataset including the index dtype and columns,
#non-null values and memory usage.
df_india.info()

In [ ]:
#We can select subset of data  
col=['video_id','title','trending_date','view_count']
df_india[col].head()

In [ ]:
#The dataset can have many columns , this lets us select only columns with number datatype. 
df_india.select_dtypes(include = [np.number]).dtypes

In [ ]:
#This will show columns with only object datatypes
df_india.select_dtypes(include = [np.object]).dtypes

In [ ]:
#Display  only object datatype columns
df_india[df_india.select_dtypes([np.object]).columns]

In [ ]:
df_india.channelId.value_counts()

In [ ]:
df_india['video_id'].value_counts()

In [ ]:
#counts of rows in each categoryId in the dataset
df_india['categoryId'].value_counts()

<div class ="alert alert-block alert-info">🦉<b>Observations</b>🦉<br>
✔There are 14 different categories in dataset <br>
✔ Categoryid 24 has maximum number of videos<br>
✔There are 13887 unique video.<br>
✔There are 1938 unique Channels<br>
    </div>

In [ ]:
#Select and order top n entries
df_india.nlargest(10,'view_count') # n= 10

In [ ]:
#Select and order bottom n entries.
df_india.nsmallest(10, 'view_count')  #n=10

<h1 style="font-family:COMIC SANS ;text-align:center;background-color:lightpink"><b>🎭 Converting datatypes 🎭</b></h1>

# Converting Datatypes

<div class ="alert alert-block alert-info">
<font size=4><b><i>Check correct datatypes for each variables like datatime , category, int etc.</i></b></font><br>
   Currently my dataset is small but in real world scenarios dataset are big so its a good practice to Use a Categorical for efficient storage of an object-dtype column with many repeated values.<br>
   1.Changing channel id & Channel Title from object to category datatype<br>
   2.Changing object to datetime for variables containing date
   </div>

In [ ]:
#changing published date , trending_date to datetime datatype.
df_india.publishedAt= pd.to_datetime(df_india.publishedAt)
df_india.trending_date= pd.to_datetime(df_india.trending_date)

In [ ]:
#Changing object datatype to category for categorical variables.
#Use a Categorical for efficient storage of an object-dtype column with many repeated values.

df_india.channelId=df_india.channelId.astype("category")
df_india.channelTitle=df_india.channelTitle.astype("category")

In [ ]:
# verify if the datatype  are changed 
df_india.info()

In [ ]:
df_india.select_dtypes(include = 'category').dtypes

<h1 style="font-family:COMIC SANS ;text-align:center;background-color:lightpink"><b>➕🩸Add/Rename/Drop/Filter Columns➕🩸</b></h1>

# Add Rename Drop Filter Columns

In [ ]:
#To rename column names
df_india.rename(columns={'comment_count':'commentcount','thumbnail_link':'thumbnaillink'},inplace=True)

In [ ]:
# to drop column names
df_india.drop('ratings_disabled',inplace=True,axis=1)

In [ ]:
# add new column that would contain latest view_count for the particular video.
#since number of views keep on increasing everyday , we will be using only single observation against a video id.
df_india['count_max_view'] =df_india.groupby(['video_id'])['view_count'].transform(max)

In [ ]:
#Adding column for year to the dataframe
df_india['Year']=df_india['publishedAt'].dt.year
df_india['Month']=df_india.publishedAt.dt.month

In [ ]:
#select columns whose name matches regular expression
df_india.filter(regex='chan')

In [ ]:
df_india.info()

In [ ]:
df_india.sample(3)

<h1 style="font-family:COMIC SANS ;text-align:center;background-color:lightpink"><b>❓Checking missing values❓</b></h1>

# Missing Values

<div class ="alert alert-block alert-info">
<font size=4><b><i>Other than usual missing value , data can have missing value like n.a or N/A or ---etc . Need to write separate code to identity such cases.Missing Valve and handling of missing values is a big post in itself and will cover it later.  </i></b></font>
    </div>

In [ ]:
df_india.isna().sum()

<div class ="alert alert-block alert-info">🦉<b>Observations</b>🦉<br>
✔In India dataset , description is missing from 662 observations and channeltitle is missing only 1 obeservation.

In [ ]:
# There are many ways to fill the missing data. For example filling the NAs with the most frequent value, 
df_india.description.fillna('No description provided',inplace=True) 
df_india.dropna(axis=0,inplace=True)

In [ ]:
df_india.isna().sum()

<h1 style="font-family:COMIC SANS ;text-align:center;background-color:lightpink"><b>🔪 Filtering and Slicing Data 🔪</b></h1>

# Slicing Subsetting

In [ ]:
#to display olny 4 rows
df_india.iloc[1:5]

In [ ]:
#filter out dataset with a condition
df_india.loc[(df_india.channelTitle=='T-Series') & (df_india.Year == 2020),'Year'].count()

In [ ]:
# to view columns form channel id to view count
df_india.loc[:,'channelId':'view_count']
#number.sort_values(ascending = False)

In [ ]:
df_india.loc[:,'categoryId'].value_counts()

In [ ]:
#to view all records for channeltitle='Foxstarhindi'
df_india.query('channelTitle=="FoxStarHindi"')

<h1 style="font-family:COMIC SANS ;text-align:center;background-color:lightpink"><b>📄 Descriptive Statistics 📄</b></h1>

# Descriptive Statistics

In [ ]:
#displays only numeric variables
df_india.describe()

In [ ]:
# displays all varaibles
df_india.describe(exclude='number')

In [ ]:
df_india.publishedAt.min()

In [ ]:
df_india.publishedAt.max()

<div class ="alert alert-block alert-info">🦉<b>Observations</b>🦉<br>
 ✔The dataset contains observation of videos published from 23 August 2020 to 24 April 2021.<br>
 ✔ There are 14 different categories in dataset <br>
 ✔ Categoryid 24 has maximum number of rows.<br>
  ✔There are 13887 unique video

<h1 style="font-family:COMIC SANS ;text-align:center;background-color:lightpink"><b>👨‍👨‍👦‍👦 Data Aggregation,Combining dataframe and Groupby👨‍👨‍👦‍👦</b></h1>

# Data Aggregation,Combining  dataframe and Groupby

In [ ]:
# gives us various count of video in each channel category
df_india.groupby("channelTitle").size().reset_index(name="video_count") \
    .sort_values("video_count", ascending=False).head(20)

In [ ]:
#df_india.groupby('month').count_max_view
get_month=df_india.Month.value_counts(normalize=True)

In [ ]:
# make a new dataframe with only single observations for each id.
df_unique_video_id=df_india.loc[df_india.view_count == df_india.count_max_view]
df_unique_video_id.loc[df_unique_video_id.Year == 2021, 'title'].count()

In [ ]:
#Getting category for the category file
#we need id and title from this file which are under items tag and snippet contain title
with open("../input/youtube-trending-video-dataset/IN_category_id.json") as f:
    categories = json.load(f)["items"]
cat_dict = {}
category=[]
for cat in categories:
    category.append([cat["id"],cat["snippet"]["title"]])

In [ ]:
df_category =pd.DataFrame(category,columns=['categoryId','category']) 
df_category.head(20)

In [ ]:
df_category.categoryId=df_category.categoryId.astype('int64')
#merge df_india and df_category to get category names
df_merge = df_india.merge(df_category, on = 'categoryId', how = 'inner')
df_merge['category']

In [ ]:
agg_func_count = {'view_count': ['count', 'nunique', 'size']}
df_merge.groupby(['category']).agg(agg_func_count)

In [ ]:
agg_func_selection = {'likes': ['first', 'last']}
df_merge.sort_values(by=['channelTitle'],
            ascending=False).groupby(['channelTitle'
                                        ]).agg(agg_func_selection)

In [ ]:
path_us='../input/youtube-trending-video-dataset/US_youtube_trending_data.csv'
df_us = pd.read_csv(path_us)
path_ca='../input/youtube-trending-video-dataset/CA_youtube_trending_data.csv'
df_ca = pd.read_csv(path_ca)

In [ ]:
df_us.shape[0]

In [ ]:
df_ca.shape[0]

In [ ]:
df_merge_us_ca=pd.concat([df_us,df_ca])

In [ ]:
df_merge_us_ca.shape[0]

<h1 style="font-family:COMIC SANS ;text-align:center;background-color:lightpink"><b>Which is most watched video in India.?</b></h1>

In [ ]:
# find the video which has maximum view count.
df_india[df_india['view_count'].isin([df_india.view_count.max()])]

<h1 style="font-family:COMIC SANS ;text-align:center;background-color:lightpink"><b>How many video where published in year 2020?</b></h1>

In [ ]:
print(" Number of video's published in year 2020 is ", df_india.loc[df_india.Year==2020,'video_id'].count())

<h1 style="font-family:COMIC SANS ;text-align:center;background-color:lightpink"><b>How many video did Channel "T-Series" publish in year 2020?</b></h1>

In [ ]:
print(" Number of video's published by 'T-series'in year 2020 is ",
      df_india.loc[(df_india.channelTitle=='T-Series') & (df_india.Year == 2020),'Year'].count())

<h1 style="font-family:COMIC SANS ;text-align:center;background-color:lightpink"><b><u>Top 30 most watched videos</u></b></h1>

In [ ]:
# get top 30 most watched videos
top30viewed=df_india[df_india['view_count'] == df_india['count_max_view']].sort_values(by=['count_max_view'],ascending=False).head(30)

In [ ]:
# we just want the first string from the title and title is pipe separated
top30viewed.title=top30viewed.title.str.split(pat='|').apply(lambda x: x[0])

In [ ]:

#top30viewed.reset_index()
sns.catplot(data=top30viewed, x='title', y='view_count',kind='bar',palette='cool_r' ,ci=None, legend_out=False,aspect =2)

plt.ylabel('Number of views')
plt.xlabel('Title')
plt.xticks(rotation=90)
plt.show()

<h1 style="font-family:COMIC SANS ;text-align:center;background-color:lightpink"><b><u>Top 3 Categories</u></b></h1>

In [ ]:
df_merge.groupby(df_merge['category']).size().sort_values(ascending=False).head(3).plot(kind='bar')

In [ ]:
top_cat=df_merge[df_merge['categoryId']==24].sample(100)

In [ ]:
#to use cross tab
pd.crosstab([top_cat.channelTitle,top_cat.Year],values=top_cat['view_count'], columns=top_cat['Month'],aggfunc=len)

In [ ]:
#to use pivot table
top_cat.pivot_table(index=[top_cat.channelTitle],values='view_count', columns='Month',aggfunc=len,dropna=True)