In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory



import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
data=pd.read_csv("../input/pokemon-challenge/pokemon.csv")

In [ ]:
data.info()
data.corr()

In [ ]:
#coraletion map

f,ax=plt.subplots(figsize=(15,15))
sns.heatmap(data.corr(), annot=True, linewidth=5,fmt=".1f",ax=ax )
plt.show()

In [ ]:
data.head(10)

In [ ]:
data.columns

MATPLOTLIB

Matplot is a python library that help us to plot data. The easiest and most basic plots are line, scatter and histogram plots.

Line plot is better when x axis is time.

Scatter is better when there is correlation between two variables

Histogram is better when we need to see distribution of numerical data.

Customization: Colors,labels,thickness of line, title, opacity, grid, figsize, ticks of axis and linestyle

In [ ]:
#line plot
#alpha=opacity,
data.Speed.plot(kind='line', color='g', label='Speed', linewidth=1, alpha=0.5, grid=True,linestyle=":",figsize=(15,10))
data.Defense.plot(color='r',label='Defense', linewidth=1,alpha=0.5,grid=True,linestyle='-.')
plt.legend(loc='upper left')
plt.xlabel('Speed')
plt.ylabel('Defense')
plt.title('LÄ°NE PLOT')
plt.show()

In [ ]:
#scatter plot
#x=attack, y=defense
data.plot(kind='scatter', x='Attack', y='Defense',alpha=0.5, color='red',figsize=(10,5))
#plt.scatter(data.Attack,data.Defense,color='red',alpha=0.5)
plt.xlabel('Attack')
plt.ylabel('Defence')
plt.title('Attack Defense Scatter Plot')
plt.show()

In [ ]:
### histogram
#bins=number of bar in figure

data.Speed.plot(kind='hist',bins=50,figsize=(12,12))
plt.xlabel('Speed')
plt.show()

In [ ]:
#clf()=cleans it up again you can start a fresh
data.Speed.plot(kind='hist',bins=50,figsize=(12,12))
plt.clf()

DICTIONARY

Why do we need dictionary?

It has 'key' and 'value'

Faster than lists

What is key and value. Example:

dictionary = {'spain' : 'madrid'}

Key is spain.

Values is madrid.

In [ ]:
#crearte dictionary with its keys and values
dictionary={'spain':'madrid', 'usa':'vegas'}
print(dictionary.keys())
print(dictionary.values())

In [ ]:
#keys have to immutable objects list is not immutable
#update existing entry
dictionary['spain']="barcelona"
print(dictionary)

In [ ]:
### add new entry
dictionary['france']="paris"
print(dictionary)

In [ ]:
#remove entry
del dictionary['spain']
print(dictionary)

In [ ]:
#check include or not
print('france' in dictionary)
print('spain' in dictionary)

In [ ]:
#remove all entry
dictionary.clear()
print(dictionary)

In [ ]:
#delete dictionary
del dictionary
print(dictionary)#errror because we cannot call deleted function

PANDAS
What do we need to know about pandas?

CSV: comma - separated values

In [ ]:
import pandas as pd
data=pd.read_csv("../input/pokemon-challenge/pokemon.csv")

In [ ]:
series=data['Defense']
print(type(series))
data_frame=data[['Defense']]
print(type(data_frame))

Before continuing with pandas, we need to learn logic, control flow and filtering.
Comparison operator: ==, <, >, <=
Boolean operators: and, or ,not

In [ ]:
#comparison operator
print(3>2)
print(3!=2)
#boolean operator
print(True and False)
print(True or False)

In [ ]:
#filtering pandas data frame
x=data['Defense']>200
data[x]

In [ ]:
### filtering pandas with logical_and
import numpy as np
data[np.logical_and(data['Defense']>200,data['Attack']>100)]

In [ ]:
#or filtering with & operator
data[(data['Defense']>200)&(data['Attack']>100)]

WHILE and FOR LOOPS

In [ ]:
#while loop
i=0
while i!=5:
    print('i is: ',i)
    i+=1
print('i is equal to (5): ',i)

In [ ]:
#for loop
lis=[1,2,3,4,5]
for i in lis:
    print('i is: ',i)
print(' ')

In [ ]:
#enumerate index and value at list
for index, value in enumerate(lis):
    print(index,': ',value)

In [ ]:
dictionary={'spain':'madrid','france':'paris'}
for key, value in dictionary.items():
    print(key,': ',value)

In [ ]:
#for pandas we can achieve index and value
for index,value in data[['Attack']][0:4].iterrows():# from zero to 4, 4 is not include
    print(index,': ',value)

2. PYTHON DATA SCIENCE TOOLBOX

 USER DEFINED FUNCTION


tuple: sequence of immutable python objects.
cant modify values
tuple uses paranthesis like tuble = (1,2,3)
unpack tuple into several variables like a,b,c = tuple

In [ ]:
#example of tuple

def tuple_ex():
    t=(1,2,3)
    return t
a,b,c=tuple_ex()
print(a)#a=1,b=2,c=3
print(b)
print(c)

SCOPE

global: defined main body in script
local: defined in a function
built in scope: names in predefined built in scope module such as print, len

In [ ]:
x=2
def f(x):
    x=3
    return x
print(x)#global
print(f(x))
#what if we dont have local scope
print("----------------------")
x=5
def f(x):
    y=2*x
    return y
print(f(x))

In [ ]:
#how we can learn what is built in scope
import builtins
dir(builtins)

NESTED FUNCTION
function inside function.

In [ ]:
#example of nested function
def square():
    """return square of value"""
    def add():
        """add two local variable"""
        x=2
        y=3
        return x+y
    return add()**2
print(square())

DEFAULT and FLEXIBLE ARGUMENTS
Default argument example:
def f(a, b=1):
  """ b = 1 is default argument"""
Flexible argument example:
def f(*args):
 """ *args can be one or more"""

def f(** kwargs)
 """ **kwargs is a dictionary"""

In [ ]:
### default arguments
def f(a,b=1,c=2):
    y=a+b+c
    return y
print(f(5))
#what if we want to change default variable
print("---------------")
print(f(5,5,5))

In [ ]:
#flexible arguments
def f(*args):
    for i in args:
        print(i)
f(1)
print("--------")
f(1,2,3,4)

In [ ]:
#flexible args **kwargs that is dictinary
def f(**kwargs):
    """print key and value of dictionary"""
    for key, value in kwargs.items():
        print(key,": ",value)
f(country='spain', capital='madrid')

In [ ]:
#lambda is faster way of writing function
square=lambda x:x**2
print(square(3))
print("--------------")
tot=lambda x,y,z:x+y+z
print(tot(1,2,3))

In [ ]:
#anonymous function:like lambda but it can take more than one arguments
number_list=[1,2,3,4]
y=map(lambda x:x**2,number_list)
print(y)
print("---------")
print(list(y))#type casting

ITERATORS

In [ ]:
### iteration exapmle
name="ronaldo"
it=iter(name)
print(type(it))
print(next(it))#print next iteration
print(*it)#print remaining iteration

In [ ]:
#zip():zip list
list1=[1,2,3,4]
list2=[5,6,7,8]
z=zip(list1,list2)
print(z)
zip_list=list(z)
print(zip_list)

In [ ]:
#unzip 
un_zip=zip(*zip_list)
print(un_zip)
un_list1,un_list2=list(un_zip)
print(un_list1)
print(un_list2)
print(type(un_list2))

LIST COMPREHENSÄ°ON

list comprehension: collapse for loops for building lists into a single line

In [ ]:
#example of list comprehension
um1=[1,2,3]
um2=[i+1 for i in um1]#list comprehension
print(um2)

In [ ]:
#conditionals on iterable
num1=[5,10,15]
num2=[i**2 if i==10 else i-5 if i<7 else i+5 for i in num1]
print(num2)
#example2 
num=[2,3,4,5,6]
num3=[i*2 if i<4 else i*0 if i==4 else i*3 for i in num]
print(num3)

In [ ]:
#lets return pokemon csv and make one more lis comprehension example
#lets classify pokemons whether they have high or low speed
#our threshold is average speed
import pandas as pd
data=pd.read_csv("../input/pokemon-challenge/pokemon.csv")
threshold=sum(data.Speed)/len(data.Speed)
print("threshold",threshold)
data['speed_level']=['high' if i>threshold else 'low' for i in data.Speed]
data.loc[:10,['speed_level','Speed']]

3.CLEANING DATA

DIAGNOSE DATA for CLEANING
We need to diagnose and clean data before exploring.
Unclean data:

Column name inconsistency like upper-lower case letter or space between words
missing data
different language

We will use head, tail, columns, shape and info methods to diagnose data

In [ ]:
import pandas as pd
data=pd.read_csv("../input/pokemon-challenge/pokemon.csv")
data.head()#head shows first 5 row

In [ ]:
#tail shows last 5 row
data.tail()

In [ ]:
### columns give column names of features
data.columns

In [ ]:
#shape gives number of rows and columns in a tuple
print(data.shape)

print(type(data.shape))

In [ ]:
#info gives data type like dataframe,number of sample or row,
#number of feature or column,feature types and memory usage
data.info()

EXPLORATORY DATA ANALYSIS
value_counts(): Frequency counts
outliers: the value that is considerably higher or lower from rest of the data

Lets say value at 75% is Q3 and value at 25% is Q1.
Outlier are smaller than Q1 - 1.5(Q3-Q1) and bigger than Q3 + 1.5(Q3-Q1).
(Q3-Q1) = IQR
We will use describe() method. Describe method includes:
count: number of entries
mean: average of entries
std: standart deviation
min: minimum entry
25%: first quantile
50%: median or second quantile
75%: third quantile
max: maximum entry

What is quantile?

1,4,5,6,8,9,11,12,13,14,15,16,17

The median is the number that is in middle of the sequence. In this case it would be 11.

The lower quartile is the median in between the smallest number and the median i.e. in between 1 and 11, which is 6.

The upper quartile, you find the median between the median and the largest number i.e. between 11 and 17, which will be 14 according to the question above.

In [ ]:
#for example lets look  frequency of pokemon types
print(data['Type 1'].value_counts(dropna=False))
#as it can be seen below there are 112 water pokemon
#if there are non-values that can also be counted

In [ ]:
data.describe()#ignore null entries

VISUAL EXPLORATORY DATA ANALYSIS

Box plots: visualize basic statistics like outliers, min/max or quantiles

In [ ]:
import matplotlib.pyplot as plt
data.boxplot(column='Attack', by='Legendary')
plt.show()
#for example:compare attack of pokemons that are legendary or not 
#black line at top is max
#blue line at top is %75(Q3)
#green line is median
#blue line at bottom is %25(Q1)
#black line at bottom is min
#circles are outliers

TIDY DATA
We tidy data with melt(). Describing melt is confusing. Therefore lets make example to understand it.
melt()-pivot()

In [ ]:
#first create new data from pokemons data to explain melt
data_new=data.head()
data_new

In [ ]:
#lets melt
#id_vars=what we do not wish to melt
#value_vars=what we want to melt
melted=pd.melt(frame=data_new, id_vars='Name',value_vars=['Attack','Defense'])
melted

In [ ]:
melted=pd.melt(frame=data_new,id_vars='Name',value_vars=['Speed'])
melted

In [ ]:
#pivot() is reverse of melt()
#index is id_vars
#we want to make that columns are variable ,values in columns are value
melted.pivot(index='Name', columns='variable', values='value')

CONCATENATING DATA

We can concatenate two dataframe

In [ ]:
#first lets create 2 data frame
data1=data.head()
data2=data.tail()
conc_data=pd.concat([data1,data2], axis=0,ignore_index=True)#axis=0 adds daraframes in row(vertical)
conc_data

In [ ]:
data1=data['Attack'].head()
data2=data['Defense'].head()
conc=pd.concat([data1,data2],axis=1)#axis=1 adds dataframes in columns(horizontal)
conc

DATA TYPES
There are 5 basic data types: object(string),boolean, integer, float and categorical.
We can make conversion data types like from str to categorical or from int to float
Why is category important:

make dataframe smaller in memory
can be utilized for anlaysis especially for sklearn(

In [ ]:
data.dtypes

In [ ]:
float("10.8")
#lets convert columns (objects, int) to categorical and  to float
data['Type 1']=data['Type 1'].astype('category')
data['Speed']=data['Speed'].astype('float')
data.dtypes
#as you can see type 1 is converted from object to category
#and Speed is converted from int to float

MISSING DATA and TESTING WITH ASSERT
If we encounter with missing data, what we can do:

leave as is
drop them with dropna()
fill missing value with fillna()
fill missing values with test statistics like mean
Assert statement: check that you can turn on or turn off when you are done with your testing of the program

In [ ]:
data.info()
#as you can see there are 800 entries. however Type 2 has 414 non-value so it has 386 null object

In [ ]:
### lets check Type 2 
data['Type 2'].value_counts(dropna=False)#dropna=False shows us NaN-Value to

In [ ]:
#drop NaN values 
data1=data.copy()
data1['Type 2'].dropna(inplace=True)

In [ ]:
#we can check with assert statement whether it works or not, if it worked return nothing or 
#if did not work return error 
assert data1['Type 2'].notnull().all#return nothing because we dropped nan values

In [ ]:
data1['Type 2'].fillna('empty',inplace=True)

In [ ]:
assert data['Type 2'].notnull().all#return nothing

In [ ]:
dataf=[print(i) for i in data1['Type 2']]
#we can see empty values that we filled with this code

In [ ]:
#with assert statement we can check lots of things
#for example:
assert data.columns[1]=='Name'#return nothing because its true
#or
import numpy as np
assert data.Speed.dtypes== np.float#return nothing because its true

4. PANDAS FOUNDATION

single column = series
NaN = not a number
dataframe.values = numpy

BUILDING DATA FRAMES FROM SCRATCH

We can build data frames from csv as we did earlier.
Also we can build dataframe from dictionaries
zip() method: This function returns a list of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables.
Adding new column
Broadcasting: Create new column and assign a value to entire column

In [ ]:
### data frames from dictionary
import pandas as pd
country=['Spain','France']
population=['11','12']
list_label=['country','population']
list_col=[country,population]
zipped=list(zip(list_label,list_col))
data_dict=dict(zipped)
df=pd.DataFrame(data_dict)
df

In [ ]:
#add new columns with different values
df['capital']=['madrid','paris']
df

In [ ]:
#broadcasting: add new columns but all values are same
df['income']=0
df

VISUAL EXPLORATORY DATA ANALYSIS

Plot
Subplot
Histogram:
bins: number of bins
range(tuble): min and max values of bins
normed(boolean): normalize or not
cumulative(boolean): compute cumulative distribution

In [ ]:
#plotTÄ°NG all data
data=pd.read_csv("../input/pokemon-challenge/pokemon.csv")
data1=data.loc[:,["Attack","Defense","Speed"]]
data1.plot()

In [ ]:
### subplots
import matplotlib.pyplot as plt
data1.plot(subplots=True)
plt.show()

In [ ]:
#scatter plot
data1.plot(kind='scatter',x='Attack', y='Defense')
plt.show()

In [ ]:
#hist plot
data1.plot(kind='hist',y='Defense',bins=50 ,range=(0,255))
plt.show()

In [ ]:
#his(togram subplot with non-cumulative and cumulative
fig,axes=plt.subplots(nrows=2,ncols=1)
data1.plot(kind='hist',y='Defense',bins=50, range=(0,255),ax=axes[0])
data1.plot(kind='hist',y='Defense',bins=50, range=(0,255),ax=axes[1],cumulative=True)
#cumulative draws up by adding the previous values so it always increases
plt.savefig('graph.png')
plt.show()

STATISTICAL EXPLORATORY DATA ANALYSIS

In [ ]:
data.describe()

INDEXING PANDAS TIME SERIES
datetime = object
parse_dates(boolean): Transform date to ISO 8601 (yyyy-mm-dd hh:mm:ss ) format

In [ ]:
time_list=["1992-03-08","1992-04-12"]
print(type(time_list[1]))#as you can see date is string
#hovewer we want it to be datetime object
datetime_object=pd.to_datetime(time_list)
print(type(datetime_object))

In [ ]:
#to close warning
import warnings
warnings.filterwarnings('ignore')


data2=data.head()
date_list= ["1992-01-10","1992-02-10","1992-03-10","1993-03-15","1993-03-16"]
datetime_object=pd.to_datetime(date_list)
data2['date']=datetime_object
#lets make date as index
data2=data2.set_index("date")
data2

In [ ]:
#now we can select according to our date index
print(data2.loc["1993-03-16"])

In [ ]:
print(data2.loc["1992-03-10":"1993-03-16"])

RESAMPLING PANDAS TIME SERIES

Resampling: statistical method over different time intervals
Needs string to specify frequency like "M" = month or "A" = year
Downsampling: reduce date time rows to slower frequency like from daily to weekly
Upsampling: increase date time rows to faster frequency like from daily to hourly
Interpolate: Interpolate values according to different methods like âlinearâ, âtimeâ or index

In [ ]:
#resample :new samples from data
data2.resample("A").mean()#re-sample by years then find average

In [ ]:
data2.resample("M").mean()#re-sample by month then find average
#as you can see there are lots of nan because data2 does not include all months

In [ ]:
#we can solve this problem with interpolate
#we can interpolate from first value
data2.resample("M").first().interpolate("linear")#Fills numerical values linearly

In [ ]:
#or we can interpolate with mean
data2.resample("M").mean().interpolate("linear")

MANIPULATING DATA FRAMES WITH PANDAS

INDEXING DATA FRAMES:

In [ ]:
#read data 
import pandas as pd
data=pd.read_csv("../input/pokemon-challenge/pokemon.csv")
data=data.set_index("#")#its index would change
data.head()

In [ ]:
#indexing using square brackets
data['HP'][1]

In [ ]:
#using column attribute and row label
data.HP[1]

In [ ]:
#using loc accessor 
data.loc[1,['HP']]

In [ ]:
#selecting only some columns
data[['HP','Attack']]

SLICING DATA FRAME

Difference between selecting columns
Series and data frames
Slicing and indexing series
Reverse slicing
From something to end

In [ ]:
#differece between selecting columns:series and dataframes
print(type(data['HP']))#series
print(type(data[['HP']]))#dataframes

In [ ]:
#slicing and indexing series
data.loc[1:10,'HP':'Defense']#10 and 'Defense' are inclusive

In [ ]:
### reverse slicing
data.loc[10:1:-1,'HP':'Defense']

In [ ]:
#from something(Speed) to the last column
data.loc[1:10,'Speed':]

FILTERING DATA FRAMES

Creating boolean series Combining filters Filtering column based others

In [ ]:
#creating boolean series(filter)
boolean=data.HP>200
data[boolean]

In [ ]:
#combining filters
first_filter=data.HP>150
second_filter=data.Speed>35
data[first_filter&second_filter]

In [ ]:
#filtering  column based others
data.HP[data.Speed<15]

TRANSFORMING DATA

Plain python functions
Lambda function: to apply arbitrary python function to every element
Defining column using other columns

In [ ]:
#plain python functions
def div(n):
    return n/2
data.HP.apply(div)

In [ ]:
#or we can use lambda function
data.HP.apply(lambda n:n/2)

In [ ]:
#defining column using other columns
data['total_power']=data.Attack+data.Defense
data.head()

INDEX OBJECTS AND LABELED DATA

index: sequence of label

In [ ]:
#our index name is this:
print(data.index.name)
#lets change it
data.index.name="index_name"
data.head()

In [ ]:
#overwrite index 
#if we want to modify index we need to change all of them
data.head()
#first copy of our data to data3 then change index
data3=data.copy()
#lets make index start from 100.it is not remarkable change but it is just example
data3.index=range(100,900,1)
data3

In [ ]:
#we can make one of the column as index.
#data3=data3.set_index("#")
#also you can use 
#data3.index=data['#']

HIERARCHICAL INDEXING

Setting indexing

In [ ]:
#lets read data frame one more time to start from beginning 
data=pd.read_csv("../input/pokemon-challenge/pokemon.csv")
data.head()
#as you can see there is index,however we want to set one or more column to be index

In [ ]:
#setting index:type 1 is outer, type 2 is inner index
data1=data.set_index(['Type 1','Type 2'])
data1.head(100)

In [ ]:
data1.loc['Fire','Flying']#how to use indexes

PIVOTING DATA FRAMES

pivoting: reshape tool

In [ ]:
dic={'treatment':['A','A','B','B'],'gender':['F','M','F','M'],'response':[10,45,5,9],'age':[23,24,72,65]}
df=pd.DataFrame(dic)
df

In [ ]:
#pivoting 
df.pivot(index='treatment', columns='gender',values='response')

STACKING and UNSTACKING DATAFRAME

deal with multi label indexes
level: position of unstacked index
swaplevel: change inner and outer level index position

In [ ]:
df1=df.set_index(['treatment','gender'])
df1

In [ ]:
#level determines indexes
df1.unstack(level=0)

In [ ]:
 df1.unstack(level=1)

In [ ]:
#change inner and outer level index position
df2=df1.swaplevel(0,1)
df2

MELTING DATA FRAMES

Reverse of pivoting

In [ ]:
#df.pivot(index='treatment', columns='gender',values='response')
pd.melt(df,id_vars='treatment',value_vars=['age','response'])

CATEGORICALS AND GROUPBY

In [ ]:
#we will use df
df

In [ ]:
#according to treatment take means of other features
df.groupby("treatment").mean()
#there are other methods like sum, std, max or  min

In [ ]:
#we can choose one of the features
df.groupby("treatment").age.max()

In [ ]:
#or we can choose multiple features
df.groupby("treatment")[['age','response']].min()

In [ ]:
#df.info()
#as you can see gender is object 
#hovewer if we use group by, we can convert it categorical data
#because categorical data uses less memory,speed up operations like groupby
df["gender"]=df["gender"].astype("category")
df.info()

**THANK YOU**