In [ ]:
pip install pyspark

In [ ]:
pip install findspark

## PySpark withColumn() is a transformation function which is used to UPDATE the value of an existing, convert the DATATYPE of an existing column, create a new column. trim columns

In [ ]:
from pyspark.sql import SparkSession 
spark=SparkSession.builder.appName("withcol").getOrCreate()

In [ ]:
df=spark.read.csv("../input/employee-salary-dataset/Employee_Salary_Dataset.csv",header=True,inferSchema=True)
df.show(5)

In [ ]:
df.printSchema()

## 1.Changing Data types

### I am changing the salary data type from Integer to string and putting it into another dataframe.In the first method I used the dataframe to fetch the column that I want to cast and in the second method I have used col

In [ ]:
#Method 1:
df1=df.withColumn("Salary",df["Salary"].cast("String"))
df1.printSchema()

In [ ]:
#Method 2:
from pyspark.sql.functions import col
df2=df.withColumn("Salary",col("Salary").cast("String"))
df2.printSchema()

## 2. Updating the value of an existing column

In [ ]:
df1=df.withColumn("ID",df["ID"]+50)
df1.show(5)

In [ ]:
df2=df.withColumn("ID",col("ID") *20)
df2.show(5)

## 3. Create a new Column from an Existing

In [ ]:
df1=df.withColumn("New_ID",df["ID"]+10)
df1.show(5)

In [ ]:
df2=df.withColumn("New_ID",col("ID") *10)
df2.show(5)

## 4. Create a fresh new column

### Lit function is use to add a value to the new column

In [ ]:
from pyspark.sql.functions import lit
df1=df.withColumn("Country", lit("   India   "))
df1.show(5)

## 5. Rename a column

In [ ]:
df1=df1.withColumnRenamed("gender","sex")
df1.show(5)

## 6.Trim a column

### you can see I have left whitespace before and after India in country column. Lets trim this

In [ ]:
from pyspark.sql.functions import ltrim,rtrim,trim
df2=df1.withColumn("Country",ltrim("Country")) #left trim
df2.show(3)

In [ ]:
df3=df1.withColumn("Country",rtrim("Country")) #right trim
df3.show(3)

In [ ]:
df4=df1.withColumn("Country",trim("Country"))
df4.show(3)

### Timestamp

In [ ]:
from pyspark.sql.functions import current_date
df1 = df.withColumn("current_date",current_date())
df1.show(5)

### Using When()

In [ ]:
from pyspark.sql.functions import when
df_when = df.withColumn("new_col", when(df.Salary < 50000,"low")
                                 .when(df.Salary >=50 ,"high")
                                 .when(df.Salary.isNull() ,"")
                                 .otherwise(df.Salary))
df_when.show()