In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

## Variables

*  age (numeric)
*  job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student", "blue-collar","self-employed","retired","technician","services")
*  marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)
*  education (categorical: "unknown","secondary","primary","tertiary")
*  default: has credit in default? (binary: "yes","no")
*  balance: average yearly balance, in euros (numeric)
*  housing: has housing loan? (binary: "yes","no")
*  loan: has personal loan? (binary: "yes","no")

### related with the last contact of the current campaign:
*  contact: contact communication type (categorical: "unknown","telephone","cellular")
*  day: last contact day of the month (numeric)
*  month: last contact month of year (categorical: "jan", "feb", "mar", â€¦, "nov", "dec")
*  duration: last contact duration, in seconds (numeric)

### other attributes:
*  campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
*  pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
*  previous: number of contacts performed before this campaign and for this client (numeric)
*  poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

### Output variable (desired target):
* y - has the client subscribed a term deposit? (binary: "yes","no")

In [ ]:
df = pd.read_csv('../input/banking-dataset-marketing-targets/train.csv', sep=";")
df.head()

### Understaing the data

* shape
* data type of all the columns
* missing values in all columns
* basic stats of all columns
* distinct values in all columns

#### Shape

#### Data type of all the columns

#### Missing values in all columns

#### Basic stats of all columns

#### Distinct values in all columns

############################################################################################

### Basic EDA

* Number of records in different job types 
* Number of records in different martial status 
* Number of records in different education types 
* Number of records in different default types 
* Number of records in different y types

#### Number of records in different job types

#### Number of records in different martial status

#### Number of records in different education types

#### Number of records in different default types

#### Number of records in different y types

############################################################################################

### Slicing the data

* Select rows with age above 25 and less than 45 and select age, balance and duration columns to create a separate dataframe. Calculate avg values of these columns.
* Create a mapping for month column and create a new month column eg jan-1, feb-2 .....
* Create a cross tab with loan and housing loan column, loan and y & housing and y

#### Select rows with age above 25 and less than 45 and select age, balance and duration columns to create a separate dataframe. Calculate avg values of these columns.

#### Create a mapping for month column and create a new month column eg jan-1, feb-2 .....

#### Create a cross tab with loan and housing loan column, loan and y & housing and y

############################################################################################

### Visualization

* Distribution on age
* Distribution on balance
* Distribution on duration
* Bar plot of jobs
* Bar plot of marital
* Bar plot of education

#### Distribution on age

#### Distribution on balance

#### Distribution on duration

#### Bar plot of jobs

#### Bar plot of marital

#### Bar plot of education

############################################################################################

### Stats

* Perform t test/ anova on y * age
* Perform t test/ anova on y * balance
* Perfrom chi sq on y * job
* Perfrom chi sq on y * education

#### Perform t test/ anova on y * age

#### Perform t test/ anova on y * balance

#### Perfrom chi sq on y * job

#### Perfrom chi sq on y * education

############################################################################################

### Insights

#### Build assumptions and test using the data
 
* Do young customer book more TDs or older generation?
* Do people who already have loan tend to buy TDs?
* Add some more and test you assumptions/hypothesis...

#### Do young customer book more TDs or older generation?

#### Do people who already have loan tend to buy TDs?

#### Add some more and test you assumptions/hypothesis...