In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt 
import warnings
import gc
from mpl_toolkits.basemap import Basemap
warnings.filterwarnings("ignore")

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
df=pd.read_csv('/kaggle/input/rainfall-data-from-1901-to-2017-for-india/Rainfall_Data_LL.csv')

In [ ]:
df.head()

In [ ]:
df.info()

# How many Rows and Columns

In [ ]:
df.shape

# Let's Check How many subdivisions are there

In [ ]:
subdivision = list(df.SUBDIVISION.unique())
len(subdivision)

# Let's check how many years data it has

In [ ]:
year = list(df.YEAR.unique())
len(year)

# Add the column Average Rain Fall in the data set

In [ ]:
df['Average']=df.loc[:,'JAN':'DEC'].mean(axis=1)
df.head()

In [ ]:
df.columns

# Let's Reshape the data

In [ ]:
melted_df= pd.melt(df,id_vars = ['SUBDIVISION', 'YEAR', 'ANNUAL', 'Jan-Feb', 'Mar-May',
       'June-September', 'Oct-Dec', 'Latitude', 'Longitude', 'Average'],value_vars = df.columns[3:15],var_name='Month',value_name='Rain_Fall')
column_names = ['SUBDIVISION', 'YEAR','Month','Rain_Fall', 'ANNUAL', 'Jan-Feb', 'Mar-May', 'June-September',
       'Oct-Dec', 'Latitude', 'Longitude', 'Average']
melted_df = melted_df.reindex(columns = column_names)
melted_df.head()

# Let's Find the mean min and max rainfall for all subdivision

In [ ]:
df1=melted_df.groupby(['SUBDIVISION'])['Rain_Fall'].agg(['mean','min','max'])
df1.reset_index(inplace=True)
df1.head()

# Lowest Average Annual Rainfall

In [ ]:
melted_df[['SUBDIVISION','ANNUAL']].groupby(['SUBDIVISION']).mean().sort_values('ANNUAL').iloc[0]

# Highest Average Annual Rainfall

In [ ]:
melted_df[['SUBDIVISION','ANNUAL']].groupby(['SUBDIVISION']).mean().sort_values('ANNUAL').iloc[-1]

# Region with maximum Rainfall in a month

In [ ]:
melted_df[['SUBDIVISION','YEAR','Month','Rain_Fall']].sort_values('Rain_Fall').iloc[-1]

# Region wise Average Rain Fall

In [ ]:
sns.set_style("white",{"axes.facecolor":"grey"})
plt.figure(figsize=(25,15))
a=sns.barplot(x='SUBDIVISION',y='mean',data=df1,order=df1.sort_values(['mean'],ascending = False).SUBDIVISION)
a.set_title("Average Rain Fall",size=30,color='blue')
plt.xlabel("Region",size=20)
plt.ylabel("Rain Fall",size=20)
plt.yticks(size=15)
plt.xticks(rotation=90,size=15,color='blue')
plt.show()

# Month Wise Average Rain Fall

In [ ]:
sns.set_style("whitegrid")
plt.figure(figsize=(25,15))
sns.lineplot(x='Month',y='Rain_Fall',data=melted_df)
plt.xlabel("month",size=20)
plt.ylabel("Rain Fall",size=20)
plt.xticks(size=15,rotation=90)
plt.yticks(size=15)

# Region wise Annual Rain Fall

In [ ]:
sns.set_style("whitegrid")
plt.figure(figsize=(25,15))
sns.boxplot(x='SUBDIVISION',y='ANNUAL',data=melted_df)
plt.xlabel("month",size=20)
plt.ylabel("Rain Fall",size=20)
plt.xticks(size=15,rotation=90)
plt.yticks(size=15)

In [ ]:
plt.figure(figsize=(30,15))

m=Basemap(llcrnrlon=50, llcrnrlat=4, urcrnrlon=102, urcrnrlat=40, resolution = 'c') 
m.shadedrelief()
m.drawcountries()
m.fillcontinents(color='lightgray', alpha=0.3)

m.scatter(np.array(df['Longitude']),np.array(df['Latitude']), s=np.array(df['ANNUAL']),color='Red',alpha=0.03)
plt.show()