In [ ]:
import pandas as pd
import numpy as np

It's a small csv file that contains lists of battles occuring in my second favorite show (first: Breaking Bad, of course!). Find the dataset on kaggle [here](http://www.kaggle.com/mylesoneill/game-of-thrones#battles.csv)

In [ ]:
data = pd.read_csv("../input/battles.csv")

Let's start by knowing the dimensions of this data

In [ ]:
data.shape

Glance through the data to catch null values.

In [ ]:
data.head()

Ouch! A lot of null values indeed! Let's simply get rid of such data

Delete all the rows from dataset that has null values

In [ ]:
data.dropna()

Hey, we just deleted all the rows that has missing values. So why 38 rows and 25 columns still?

In [ ]:
data.shape

It is so because dropna is kind of aware of its power and is careful enough not to misuse them. Hence to make changes in the actual dataset you have to have to exclusively mention that you want to see the reflected changes.

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.shape

Let's retrieve our dataset

In [ ]:
data = pd.read_csv("../input/battles.csv")

If you want to delete only the rows that have "all" data points as null. see below

In [ ]:
data.dropna(how='all')
data.shape

Same thing can be applied to a column too

In [ ]:
data.dropna(how='all',axis=1)
data.shape

If you want to tidy only a single column of your datset.

In [ ]:
data['attacker_2'].dropna()