## Introduction
Greetings from the Kaggle bot! This is an automatically-generated kernel with starter code demonstrating how to read in the data and begin exploring. If you're inspired to dig deeper, click the blue "Fork Notebook" button at the top of this kernel to begin editing.

## Exploratory Analysis
To begin this exploratory analysis, first import libraries and define functions for plotting the data using `matplotlib`. Depending on the data, not all plots will be made. (Hey, I'm just a simple kerneling bot, not a Kaggle Competitions Grandmaster!)

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns  # plotting

There is 1 csv file in the current version of the dataset:

In [ ]:
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

### Let's check 1st file: /kaggle/input/Global Space Launches (1).csv

In [ ]:
nRowsRead = 1000 # specify 'None' if want to read whole file
# Global Space Launches (1).csv may have more rows in reality, but we are only loading/previewing the first 1000 rows
# df1 = pd.read_csv('/kaggle/input/Global Space Launches (1).csv', delimiter=',', nrows = nRowsRead)
data = pd.read_csv('/kaggle/input/Global Space Launches (1).csv', delimiter=',')
data.dataframeName = 'Global Space Launches (1).csv'
nRow, nCol =data.shape
print(f'There are {nRow} rows and {nCol} columns')

Let's take a quick look at what the data looks like:

In [ ]:
data.head(5)

In [ ]:
# Check data type and see if any columns need conversions
data.info()

In [ ]:
# Check for NULL values
data.isnull().sum()

# Observation - Rocket has 3360 no. of NA values. For the time being, let us impute these by 0

Identify uniqueness in 'Rocket' and see how we can fill NA values

In [ ]:
data[" Rocket"].value_counts()

# Since Rocket signifies cost of a Rocket in Millions, we cannot impute any mean/mode values herewith.
# Instead let us fill these values as '0'

# Replace commas from Column values
data[' Rocket'] = data[' Rocket'].str.replace(",", "")

# Convert Rocket column from str to float
data[' Rocket'] = data[' Rocket'].astype(str).astype(float)

# Lastly, Replace NA values as 0
data[' Rocket'].fillna(0, inplace=True)

data.isna().sum()

In [ ]:
# Describe data
data.describe()

### Convert Categorical - Numerical (if needed)

Observations -

- Variables like 'Status Rocket', 'Status Mission', 'Private/State Run' can be converted from categorical to numerical values

In [ ]:
data.describe(include="O")

Find the most no. of rockets launched in which year

In [ ]:
# Find the most no. of rockets launched in which year

max_num_rocket = max(data.groupby(data['Year']).agg('count')['Company Name'])
max_rocket_year = max(data.groupby(data['Year']).agg('count')['Company Name'].index)

print('Maximum Rockets: ' + str(max_num_rocket) + ' were launched in year: ' + str(max_rocket_year))

Identify which organization is more successful till date

In [ ]:
successful_org_df = data.groupby(['Company Name','Status Mission']).size().reset_index().sort_values(by='Status Mission' == 3, ascending=False)

# Rename last column name from '0' to 'Count'
successful_org_df.rename(columns={0:'Count'}, inplace=True)

successful_org_df.head()

# Observations: RVSN USSR is the most succesful company till date

### Identify which company has the highest cost per Rocket 

NASA has the higest cost per Rocket. It starts from 350 Millions and surges above

In [ ]:
plt.figure(figsize=(20, 10))
x = sns.barplot(x=data["Company Name"], y=data[" Rocket"])
plt.title('Cost per Rocket w.r.t Companies')
for item in x.get_xticklabels():
    item.set_rotation(90)

1) Private companies have incurred more cost when their rockets have failed than State Run Companies

2) The more the State Run Companies spent on their Rockets, that more is their observed Success Rate in launchinig Rockets

In [ ]:
plt.figure(figsize=(10, 5))
x = sns.barplot(x=data["Status Mission"], y=data[" Rocket"], hue=data["Private or State Run"])
plt.title('Cost-Success Ratio of Private & State Run Companies')
plt.show()

1) Since the 1990s, Private Sector has launcher more rockets than State run companies

2) Also, their cost per Rocket has always been lesser than State run companies

In [ ]:
plt.figure(figsize=(15, 5))
plt.title("No. of Rocket Lauches w.r.t Private or State Run Sector")
sns.scatterplot(x=data["Year"], y=data[" Rocket"], hue=data["Private or State Run"])
plt.show()

More State run Rockets have been retired as compared to Private Rockets

In [ ]:
plt.figure(figsize=(10,5))
plt.title("Sector wise no. of Active and Retired Rockets")
sns.countplot(data["Private or State Run"], hue=data["Status Rocket"], palette='Set2')
plt.show()

Russia has witnessed Maximum Rocket Launches whereas Brazil & South Korea are the ones witnessing least rocket launches

In [ ]:
plt.figure(figsize=(20, 5))
plt.title("Country-wise Rocket Launches")
sns.countplot(data["Country of Launch"])

Most space companies have originated in Russia

In [ ]:
plt.figure(figsize=(20, 8))
plt.title("Company's Country of Origin")
sns.countplot(data["Companys Country of Origin"], palette="Set2")
plt.show()

USA is the only country where Private companies show more interest in Space domain
Whereas, Russia, China and India see a heavy involvement of their Govermnent bodies as compared to Private sector

In [ ]:
plt.figure(figsize=(20, 8))
plt.title("Sector-wise Companies and their Countries of Origin")
sns.countplot(data["Companys Country of Origin"], hue=data["Private or State Run"])

Which Company has the most successful Rocket Launches?

In [ ]:
successfulLaunches = []
for i in range(0, data[" Rocket"].count()):
    if data["Status Mission"][i] == "Success":
        successfulLaunches.append(data["Company Name"][i])

plt.figure(figsize=(20, 5))
plt.title("Most Successful Rocket Launches")
x = sns.countplot(successfulLaunches)
for item in x.get_xticklabels():
    item.set_rotation(90)

- 1971 was the year which has witnessed highest Rocket Launches till date
- Period between 1980 - 2012 can be observed as a lag period

In [ ]:
plt.figure(figsize=(20, 5))
plt.title("Rocket Launches per year")
plt.grid()
x = sns.countplot(data["Year"])
for item in x.get_xticklabels():
    item.set_rotation(90)