In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# <center> Import the libraries </center>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("../input/sri-lanka-vehicle-prices-dataset/vehicle_data.csv")

In [ ]:
#### Look at the head of the dataframe #######
df.head()

In [ ]:
##### Checking the null values ######
df.isnull().sum()

In [ ]:
plt.figure(figsize=(12,6))
sns.heatmap(df.isnull(),cbar=False,cmap="Set1",yticklabels=False)

In [ ]:

######## Lets clean up the Title column ########

df["Title"] = df["Title"].apply(lambda x:x.split()[:2])


###### Now Subtitle column ##############

############## How i did this #################### 
####### Run this seperate cell and look it up whats going on ! #########

######## df["Sub_title"].iloc[5]   ############# 
############ Then use split() method on this ##########
############ df["Sub_title"].iloc[5].split(',')[-1] ##############

### The final step use apply method on this #####


#### Final code look likes  #####

df["Sub_title"] = df['Sub_title'].apply(lambda x:x.split(',')[-1])




####################### Now look at the price column ##############################

###### Step one remove the spaces of the string #######
##### Step two use replace() method and fill them into empty string #####
###### Final step convert into astype of int or float whatever you want ######



df["Price"]  = df["Price"].apply(lambda x:x.split()[-1])
df["Price"] = df["Price"].apply(lambda x:x.replace(',',''))
df['Price'].astype(int)




##################### Look at the null values #################
df[df['Edition'].isnull() ==True]



################ Edition #######################

######### Your choice you can remove Edition column or drop those missing values It's all up to you ! ; #########

df.drop(axis=1,columns='Edition',inplace=True)



##### Transmisson run the both cell seperately ##########

df[df["Transmission"] == "Other transmission"].count()["Transmission"]
df["Transmission"] = df["Transmission"].apply(lambda x:x.replace("Other transmission",'Other'))



######### Fuel columns changing the Other fuel type to Others using replace() method ############

df['Fuel'] = df["Fuel"].apply(lambda x:x.replace("Other fuel type",'Others'))



################## Capacity columns ############################

df["Capacity"] = df["Capacity"].apply(lambda x:int(x.split(" ")[0].replace(',','')))



################  Mileage column ###############
df["Mileage"] = df["Mileage"].apply(lambda x:int(x.split(" ")[0].replace(",",'')))




############################### Location column ################################

df["Location"] = df["Location"].apply(lambda x:x.strip().split(",")[0])



############ Description column ###############
## how to read full description use below code ## 
df["Description"].iloc[9]



################# Replace Premium member to Premium #####################
df["Seller_type"] = df["Seller_type"].apply(lambda x:x.strip().replace("-Member",""))



############# published_date column ###########
## converting to datetime object ### ;

df["published_date"] = pd.to_datetime(df['published_date'])



##  creating a new column published_year and acesss the year attribute using apply method in python pandas ## 

df["published_year"] = df["published_date"].apply(lambda x:x.year)

In [ ]:
###### Now the data look likes ####### after cleaning ######### ðŸ’¥ðŸ’¥

df.head()