**Graphics for mean temperatures recorded for sensors in Barajas, Madrid between years 1997 and 2015**
------------------------------------------------------------------------

The data is located `https://www.kaggle.com/juliansimon/weather_madrid_lemd_1997_2015.csv`

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
print(check_output(["ls", "../input"]).decode("utf8"))

# Any results you write to the current directory are saved as output.

In [ ]:
# Data collected from https://www.wunderground.com/
# Location: Madrid, Barajas, LEMD
# Sample data daily from 1997 to 2015
dt_weather=pd.read_csv('../input/weather_madrid_LEMD_1997_2015.csv', delimiter=",")

In [ ]:
# Convert to date
dt_weather.CET = pd.to_datetime(dt_weather.CET, format='%Y-%m-%d')
dt_weather['year'] = dt_weather.CET.dt.year
dt_weather['dayofyear'] = dt_weather.CET.dt.dayofyear

In [ ]:
matplotlib.rcParams['figure.figsize'] = (12.0, 8.0)

In [ ]:
dt_weather.head()

In [ ]:
dt_weather.dtypes

Graphic heatmap for mean temperature.

In [ ]:
# Heatmap with average temperatures by day of the year from 1997 to 2015
dt_temp = dt_weather.pivot("year", "dayofyear", 'Mean TemperatureC')
sns.heatmap(dt_temp, xticklabels=False)

Interesting graph which  is observed in concentrated form all average temperatures between 1997 and 2015 at the airport in Madrid.
The graph shows that missing data for 2000 and 2004.

In [ ]:
# Mean temperature per year
dt_weather_year = dt_weather.groupby(['year'])['Mean TemperatureC'].mean()
dt_weather_year.plot(kind='bar')

A linear regression to the mean temperature is done although in this case is not representative because we only have 19 data

The standard error is 0.142024396058.
The graph of the linear regression is drawn.

In [ ]:
# Plot data and a linear regression mean temperature per year
dt_weather_year = dt_weather.groupby(['year'])['year', 'Mean TemperatureC'].mean()
sns.regplot(x="year", y='Mean TemperatureC', data=dt_weather_year)

The upward trend observed although it should be noted that the data analyzed annually grouped few (19 years)

In [ ]:
# Draw a plot of mean temperature and day of year
sns.jointplot(x="dayofyear", y="Mean TemperatureC", data=dt_weather, size=8)

It is observed that there are very few points average temperature for 15 ºC ?????
It makes no sense distribution should be more homogeneous since the average temperature is close to that value.

In [ ]:
dt_weather['Mean TemperatureC'].describe()

The average is 14.6 ºC there should be more measures the value 15 ºC.

In [ ]:
# Draw count points for Mean TemperatureC
sns.countplot(x="Mean TemperatureC", data=dt_weather)

Claramente hay menos puntos de los esperados para las temperaturas medias de 5, 10 y 15 ºC comparados con los puntos contiguos. 
No creo que se haya realizado correctamente el cálculo de estas medias de temperatura.

In [ ]:
# Counts plots minimum temperature
sns.countplot(x="Min TemperatureC", data=dt_weather)

The valleys we had in the graph average temperature not appreciate

In [ ]:
# Maximum temperature
sns.countplot(x="Max TemperatureC", data=dt_weather)

The valleys we had in the graph average temperature not appreciate.
This reinforces the idea that the data for the average temperature to values of 5, 10 and 15 ºC were incorrect.

In [ ]:
print ("14.0", dt_weather[dt_weather['Mean TemperatureC'] == 14.0]['Mean TemperatureC'].count())
print ("15.0", dt_weather[dt_weather['Mean TemperatureC'] == 15.0]['Mean TemperatureC'].count())
print ("16.0", dt_weather[dt_weather['Mean TemperatureC'] == 16.0]['Mean TemperatureC'].count())

There are approximately 1/10 of the data expected temperatures for 5, 10 and 15.