In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('../input/titanic/titanic_train.csv')

In [ ]:
titanic

In [ ]:
ages = titanic["Age"]

ages.head()

In [ ]:
type(titanic["Age"])

In [ ]:
titanic["Age"].shape

In [ ]:
age_sex = titanic[["Age", "Sex"]]

age_sex.head()

In [ ]:
type(titanic[["Age", "Sex"]])

In [ ]:
titanic[["Age", "Sex"]].shape