# **Titanic: Machine Learning from Disaster Prediction:**

### Important Links:
* Competition: https://www.kaggle.com/c/titanic
* Submission: https://www.kaggle.com/c/titanic/submit
* Notebook: https://www.kaggle.com/rahulrajpandey31/titanic-survival-complete-guide

## *NOTE -*
**While working on this dataset which I downloaded , I made changes when I was coding so you may find it error less . The              changes made were -**
*  Embark column changed to int from object(char)
*  Missing vales of age were replaced 
*  Sex data type was changed to int from object 

### **If You Like This Notebook Please Share and upvote it**

# **Getting data set**

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set()

In [ ]:
df=pd.read_csv("../input/titanic/train.csv")
testdf=pd.read_csv("../input/titanic/test.csv")
df.head()  #viewing data set

**Below is a brief information about each columns of the dataset:**
1. PassengerId: An unique index for passenger rows. It starts from 1 for first row and increments by 1 for every new rows.
 
1. Survived: Shows if the passenger survived or not. 1 stands for survived and 0 stands for not survived.
 
1. Pclass: Ticket class. 1 stands for First class ticket. 2 stands for Second class ticket. 3 stands for Third class ticket.
 
1. Name: Passenger's name. Name also contain title. "Mr" for man. "Mrs" for woman. "Miss" for girl. "Master" for boy.
 
1. Sex: Passenger's sex. It's either Male or Female.
 
1. Age: Passenger's age. "NaN" values in this column indicates that the age of that particular passenger has not been recorded.
 
1. SibSp: Number of siblings or spouses travelling with each passenger.
 
1. Parch: Number of parents of children travelling with each passenger.
 
1. Ticket: Ticket number.
 
1. Fare: How much money the passenger has paid for the travel journey.
 
1. Cabin: Cabin number of the passenger. "NaN" values in this column indicates that the cabin number of that particular passenger has not been recorded.
 
1. Embarked: Port from where the particular passenger was embarked/boarded.

### Finding Shape of data

In [ ]:
df.shape

We can see that there are 891 rows and 12 columns in our training dataset.

### Describing data

In [ ]:
df.describe()

In [ ]:
combine = [df, testdf] #  making a list to ease our data wrangling 
df.info()               #returns information about the data set

**You can see some values are missing in Age, So we will fill it with mean age**

In [ ]:
mean=df["Age"].mean()
for dataset in combine:
 dataset["Age"].replace(np.nan,mean,inplace=True)     #inplace = true makes changes in your orignal dataset
df.info()

In [ ]:
testdf.info()

**Now you will observe that Age has no null values**

# **Fill Null value of Embark and changing Categorical to Integer Value**

In [ ]:
#Getting frequent Value of Emabark 
freq_port =df.Embarked.dropna().mode()[0]
freq_port

In [ ]:
#Replacing NULL values by frequent 
df['Embarked'].fillna(freq_port,inplace=True)         
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].fillna(freq_port)

In [ ]:
#Changing Categorical values to Integer 
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

df.head()  #display top 5 entries

**You can See now that Embark is of int data type
Doing same for SEX**

In [ ]:
for dataset in combine:
    dataset['Sex'] = dataset['Sex'].map( {'female': 1, 'male': 0} ).astype(int)
df.head()

In [ ]:
#Replacing Null by Median 
df['Fare'].fillna(df['Fare'].dropna().median(), inplace=True)
testdf['Fare'].fillna(testdf['Fare'].dropna().median(), inplace=True)

# **Finding Correleation**

In [ ]:
corr_matrix=df.corr()      #function of pandas dataframe
corr_matrix['Survived'].sort_values(ascending=False)

# **Preparing DataSet For Training**

***Droping Unwanted Fields and preparing train test set***

In [ ]:
Ytest=df["Survived"].copy()
Xtest=testdf.drop(["Name","PassengerId","Cabin","Ticket"],axis=1)
Xtrain=df.drop(["Name","PassengerId","Survived","Cabin","Ticket"],axis=1)
Ytrain=df["Survived"].copy()

In [ ]:
Xtest.info()

In [ ]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(Xtrain, Ytrain)
Y_pred = logreg.predict(Xtest)
acc_log = round(logreg.score(Xtrain, Ytrain) * 100, 2)
acc_log

In [ ]:

# Random Forest
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(Xtrain, Ytrain)
Y_pred = random_forest.predict(Xtest)
random_forest.score(Xtrain, Ytrain)
acc_random_forest = round(random_forest.score(Xtrain, Ytrain) * 100, 2)
acc_random_forest

We Can See Random Forest is Giving us Good result

In [ ]:
submission = pd.DataFrame({
        "PassengerId": testdf["PassengerId"],
        "Survived": Y_pred
        })
submission.head()
#To save file - 
submission.to_csv('submission5.csv', index=False)