## Project on Used car sales anaysis.

---
# **Table of Contents**
---

1. [**Introduction**](#Section1)<br>
2. [**Problem Statement**](#Section2)<br>
3. [**Installing & Importing Libraries**](#Section3)<br>
4. [**Data Acquisition & Description**](#Section4)<br>
5. [**Data Pre-Profiling**](#Section5)<br>
6. [**Data Pre-Processing**](#Section6)<br>
7. [**Data Post-Profiling**](#Section7)<br>
8. [**Exploratory Data Analysis**](#Section8)<br>
9. [**Summarization**](#Section9)</br>
  9.1 [**Conclusion**](#Section91)</br>
  9.2 [**Actionable Insights**](#Section91)</br>

---

---
<a name = Section1></a>
# **1. Introduction**
---

- As the world evolving in all directions significantly, the economic gaps between the people are still exist. The livelihood of different people from different financial backgrounds are changing alot. When it comes to the comfortable travel the cars are playing a vital role.


- Also, considering the COVID pandemic, most of the lower and middle income group of people also attracting to travel in a safe environment and not willing to choose public transport.


- At the same time the car manufactureres also increased the price of the new cars, which is directly effecting the buying capability of low income group people.


- Hence, most of the people are looking at the used cars now. 



- There are few people who cannot afford to buy new luxury car, but they wish to travel in it. For those, this used cars are the sunlight in dark.


- This used cars has become an oportunity for the business. And it's going to genereate a decent revenue for business as well.

---
<a name = Section2></a>
# **2. Problem Statement**
---




  - **Car Deal** is a new company which started the business about an year ago to sell used cars in the market.
  
  
  - Because of the COVID pandemic this company was unable to sell the expeced number of cars to improve it's business.
  
  
  - As the situation is getting better and people are positively showing interest to buy used cars, **Car Deal** wants to use this oportunity and do more sales.
  
  
  - But, since it's a new company, the management is unaware what is market trend and what cars and models are selling fast. So, the management decided to hire a data scientist to analyse the trend and understand the user purchase behaviour using the data provided.
  
  
  - Once the **Car Deal** company knows the users purchase behaviour, based on that, the company can advertise more on that cars and attract the customers then improve their revenue.

---

---
<a id = Section3></a>
# **3. Installing & Importing Libraries**
---

### **Installing Libraries and Importing Libraries**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import math
import re
!pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
import pandas_profiling
from pandas_profiling import ProfileReport
import warnings
warnings.filterwarnings("ignore")
!pip install -q datascience                                         # Package that is required by pandas profiling
!pip install -q pandas-profiling                                    # Library to generate basic statistics about data
# To install more libraries insert your code here..
!pip install -q matplotlib seaborn bokeh plotly
!pip install -q --upgrade pip
!pip install -q --upgrade matplotlib seaborn bokeh plotly chart-studio
#-------------------------------------------------------------------------------------------------------------------------------
import pandas as pd                                                 # Importing for panel data analysis
pd.set_option('display.max_columns', None)                          # Unfolding hidden features if the cardinality is high
pd.set_option('display.max_colwidth', None)                         # Unfolding the max feature width for better clearity
pd.set_option('display.max_rows', None)                             # Unfolding hidden data points if the cardinality is high
pd.set_option('mode.chained_assignment', None)                      # Removing restriction over chained assignments operations
pd.set_option('display.float_format', lambda x: '%.5f' % x)         # To suppress scientific notation over exponential values
#-------------------------------------------------------------------------------------------------------------------------------
import numpy as np                                                  # Importing package numpys (For Numerical Python)
#-------------------------------------------------------------------------------------------------------------------------------
import matplotlib.pyplot as plt                                     # Importing pyplot interface using matplotlib
import seaborn as sns                                               # Importing seaborm library for interactive visualization
%matplotlib inline
#-------------------------------------------------------------------------------------------------------------------------------
from bokeh.layouts import column                                    # To build a grid of plots and widgets
from bokeh.plotting import Figure                                   # Create a new figure for plotting
from bokeh.plotting import show                                     # Show the figure result
from bokeh.plotting import output_notebook                          # Helper that enables ouput in the notebook
from bokeh.plotting import output_file                              # Generate output saved to a file when show() is called
from bokeh.models import ColumnDataSource                           # Populate columns by making Ajax calls to REST endpoints
from bokeh.models import CustomJS                                   # Attaches CustomJS callbacks to property change events
from bokeh.models import Slider                                     # For custom JS slider widgets
from bokeh.models import HoverTool                                  # Displays informational tooltips over a glyph
from bokeh.io import push_notebook                                  # Update Bokeh plots in a Jupyter notebook output
output_notebook()
#-------------------------------------------------------------------------------------------------------------------------------
from plotly import graph_objs as go                                 # Contains an auto-generated hierarchy of Python classes
from plotly.offline import iplot                                    # Display Figures in offline mode
#-------------------------------------------------------------------------------------------------------------------------------
from ipywidgets import interact                                     # Creates UI controls for exploring code and data
import warnings                                                     # Importing warning to disable runtime warnings
warnings.filterwarnings("ignore")                                   # Warnings will appear only once

---
<a name = Section4></a>
# **4. Data Acquisition & Description**
---

In [ ]:
data = pd.read_csv(filepath_or_buffer = 'https://raw.githubusercontent.com/KommuriRaju/Used-car-sales-EDA-and-Presentation/main/raj_car_sales_analysis_data.csv', encoding='utf-8')
print('Data Shape:', data.shape)

In [ ]:
data.head(2)

In [ ]:
data.drop('Unnamed: 0', axis=1, inplace = True)

#### Renaming the column names to understand the feature easily

In [ ]:
data = data.rename(columns={'car':'Brand','price':'Price','body':'Body','mileage':'Mileage','engV':'Engine Volume','engType':'Fuel Type','registration':'Registered','year':'Year','model':'Model','drive':'Drive type'})

### Lets understand  the features mentioned in data

|Id|Feature|Description|
|:--|:--|:--|
|01| Brand           | Car brand name| 
|02| Model           | Available car different Variants|  
|03| Year            | purchasing Year| 
|04| Body            | Body type-Hatchback, Sedan, Crossover etc|   
|05| Mileage         | car Mileage|
|06| Engine Volume   | Engine volume|
|07| Fuel Type       | Car Fuel type - Petrol, Diesel, gas etc|
|08| Drive type      | Wheel Drive Front, back|
|09| Registered      | Check if the vechile is registered|
|10| Price           | Price of Car in $|

### Data Description

In [ ]:
data.describe()

### Data information

In [ ]:
data.info()

#### Basic understanding with data information and description

- Total 10 Columns available in the data set in which 4 Neumaric columns and 6 Object type columns available.
- 3 columns (Price, Engine Volume and Drive Type) has missing Values

---
<a name = Section5></a>
# **5. Data Pre-Profiling**
---

In [ ]:
profile = ProfileReport(df=data)

In [ ]:
profile

---
<a name = Section6></a>
# **6. Data Pre-Processing**
---

- In this section we will do data manipulation over unstructured data for further processing and analysis.
- To modify unstructured data to strucuted data we need to verify and manipulate the integrity of the data by:
  - Handling missing data,

  - Handling redundant data,

  - Handling inconsistent data,

  - Handling outliers,

  - Handling typos

### Checking the duplicate rows

In [ ]:
data[data.duplicated()]

In [ ]:
len(data[data.duplicated()])

### We have total 113 duplicate rows in the given data set. So we can directly go ahead and remove those duplicate rows.

In [ ]:
data.drop_duplicates(inplace = True)

### Confirming the duplicate rows if any

In [ ]:
data[data.duplicated()]

### We have no duplicate rows now. But as observed there are few missing values and Zero's in few columns so we need to clean them now.

## Cleaning the "Price" column

In [ ]:
data[data.Price == 0]

In [ ]:
len(data[data.Price == 0])

#### We can see that there total 240 rows are showing as 0 for car's price column. Which should not be the expected thing from data. 
#### So, we should replace all these 0's with NaN then we can fill the NaN with the mean of the same Brand, Model, Year of cars available in the data set.

In [ ]:
data.Price.replace(0,np.NaN, inplace = True)

In [ ]:
data['Price'] = data.groupby(['Brand','Year','Model']).transform(lambda x: x.fillna(x.mean()))

In [ ]:
data.info()

In [ ]:
data.Price.isna().value_counts()

#### With the above change we were able to fill few null values with the grouped data's price mean. However, after grouping the data there are still 50 rows were not able to group because of either same model or year not available to group. 

#### So we can drop those rows, as we don't want to continue with the price as Zero for few cars.

In [ ]:
data.drop(axis=0,index=data[data.Price.isna()== True].index,inplace = True)

In [ ]:
data.info()

## Cleaning the "Mileage" column

In [ ]:
data[data.Mileage == 0]

In [ ]:
len(data[data.Mileage == 0])

#### We can see that there total 308 rows are showing as 0 for car's Mileage column. Which should not be the expected thing from data. 
#### So, we should replace all these 0's with NaN then we can fill the NaN with the mean of the same Brand, Model, Year of cars available in the data set.

In [ ]:
data.Mileage.replace(0,np.NaN, inplace = True)

In [ ]:
data['Mileage'] = data['Mileage'].fillna(data.groupby(['Brand','Year','Model'])['Mileage'].transform('mean'))

In [ ]:
data.info()

In [ ]:
data.Mileage.isna().value_counts()

#### With the above change we were able to fill few null values with the grouped data's Mileage mean. However, after grouping the data there are still 127 rows were not able to group because of either same model or year not available to group. 

#### So we can drop those rows, as we don't want to continue with the Mileage as Zero for few cars.

In [ ]:
data[data.Mileage.isna() == True].index

In [ ]:
data.drop(axis=0,index=data[data.Mileage.isna()== True].index,inplace = True)

In [ ]:
data.info()

In [ ]:
data.describe()

# Cleaning the "Engine Volume" column

In [ ]:
data[data['Engine Volume'] > 6.8]['Engine Volume'].unique()

In [ ]:
data[data['Engine Volume'] < 0.6]['Engine Volume'].unique()

#### With the market reasearch we found that there are no cars available in the market below 0.6 Litre volume cars and at the same time above 6.8 Litre volume engine cars.

#### So we can consider these values as outliers and will replace all of these as the minimum and maximum volume cars as resepct to it's mentioned volume.

In [ ]:
data['Engine Volume'].replace(data[data['Engine Volume'] > 6.8]['Engine Volume'].unique(),6.8, inplace = True)

In [ ]:
data['Engine Volume'].replace(data[data['Engine Volume'] < 0.6]['Engine Volume'].unique(),0.6, inplace = True)

In [ ]:
data['Engine Volume'] = data['Engine Volume'].fillna(data.groupby(['Brand','Model', 'Fuel Type'])['Engine Volume'].transform('median'))

In [ ]:
data[data['Engine Volume'].isna() == True].index

In [ ]:
data['Engine Volume'].isna().value_counts()

#### With the above change we were able to fill few null values with the grouped data's Engine Volume median. However, after grouping the data there are still 78 rows were not able to group because of either same model or Fuel Type not available to group. 

#### So we can drop those rows, as we don't want to continue with the Engine Volume as Zero for few cars.

In [ ]:
data.drop(axis=0,index=data[data['Engine Volume'].isna()== True].index,inplace = True)

In [ ]:
data.info()

### Cleaning the "Drive type" column

In [ ]:
data[data['Drive type'].isna() == True]

In [ ]:
data['Drive type'].isna().value_counts()

### We can see there are total 457 missing values are there in this column. So as this is the categorical column we can fill these values with the mode of the same car and model.

### Also, we have to drop the other rows which doesn't have the same car and model type to group.

In [ ]:
data['Drive type'] = data.groupby(['Brand','Model'])['Drive type'].apply(lambda x: x.fillna(x.mode()[0]) if x.mode().empty == False else x.fillna('Test'))

In [ ]:
data[data['Drive type'] == 'Test'].index

In [ ]:
data.drop(data[data['Drive type'] == 'Test'].index, inplace = True)

In [ ]:
data.info()

In [ ]:
data.describe()

### We have to reset the index as we have dropped few rows in the data.

In [ ]:
data.reset_index(inplace=True)

In [ ]:
data.head(2)

In [ ]:
data.drop(axis = 1, columns='index', inplace = True)

In [ ]:
data.head(2)

# Now, we can see that all the columns are cleaned and the data is in good shape now.

---
<a name = Section7></a>
# **7. Data Post-Profiling**
---

In [ ]:
Post_Profile = ProfileReport(df=data)

In [ ]:
Post_Profile

In [ ]:
data.drop_duplicates(inplace= True)

## We can go ahead and start with the visualization. Let's start exploring the data and insights of it.

---
<a name = Section8></a>
# **8. Exploratory Data Analysis**
---

In [ ]:
data.head()


**<h4>Question:** Which brand has the highest and lowest price?</h4>

In [ ]:
#plotting the bar graph to know the highg price cars
data.set_index('Brand').Price.sort_values(ascending=False)[:10].plot.bar(figsize = (15,7))

#adding some cosmetics
plt.title("Top 10 High price car brands", size = 18, color = 'purple')
plt.xlabel('Car Brand', size = 12, color = 'green')
plt.ylabel('Price', size = 12, color = 'green')

**Observation:**
- Bently, Mercedes-benz and LandRover brand cars are the highest price cars in the market.

In [ ]:
# plotting the bar graph to know the low price cars
data.set_index('Brand').Price.sort_values(ascending=True)[:10].plot.bar(figsize = (15,7))

#adding some cosmetics
plt.xticks(rotation = 45)
plt.title("Top 10 Low price car brands", size = 18, color = 'purple')
plt.xlabel('Car Brand', size = 12, color = 'green')
plt.ylabel('Price', size = 12, color = 'green')

**Observavtion:**
- GAZ, Moskvich-AZLK, ZAZ and VAZ car brand cars are the lowest price cars in the market.

#### **Question**:
#### Which car Brand and it's model has the highest and lowest price?

In [ ]:
#adding a new column with Brand and Model
data['Brand_Model'] = data.Brand + '_' + data.Model

In [ ]:
# Creating a custom figure size of 10 X 10 inches
figure = plt.figure(figsize=[7,7])

# Exploding space based on the number of categories
space = np.ones(10)/10

#plotting the pie diagram
data.set_index('Brand_Model').Price.sort_values(ascending=False)[:10].plot.pie(explode = space, fontsize=14, 
                                        startangle=0, cmap='inferno')
#adding the title
plt.title("Top 10 High price car brands and it's  models", size = 25, color = 'purple')

**Observation:** 
- Top price car models are like shown in diagram above.
- Bentley_Bentayga is on top then Mercedes-Benz_G 500, Mercedes-Benz_S 600, Mercedes-Benz_S-Guard, Land Rover_Range Rover and Mercedes-Benz_S 63 AMG

In [ ]:
# Initialize figure of size 7 X 7
figure = plt.figure(figsize=[7,7])

# Exploding space based on the number of categories
space = np.ones(10)/10

# Using magic of pandas pie() function
data.set_index('Brand_Model').Price.sort_values(ascending=True)[:10].plot.pie(explode = space, fontsize=14, 
                                      wedgeprops=dict(width=0.15), 
                                       shadow=True, startangle=90, cmap='inferno')

# adding the title
plt.title("Top 10 Low price car brands and it's  models", size = 25, color = 'purple')

**Observation:** 
- Top low price car models are like shown in diagram above.
- GAZ_21, Moskvich-AZLK_2140, ZAZ_968, VAZ_2102, Moskvich-AZLK_2140, VAZ_2101, ZAZ_968, ZAZ_1102 Òàâðèÿ and VAZ_2101 models are pricing very low in the market.

### Question: What is the effect of mileage to determine the price of a car?

In [ ]:
# Plotting a graph to compare the mileage and price
data.plot.scatter(x='Mileage', y='Price', figsize =(15,7))

#adding some cosmetics
plt.xlabel('Mileage', size = 16, color = 'green')
plt.ylabel('Price', size = 16, color = 'green')
plt.title('Mileage V/S Price', size = 20, color = 'purple')

**Observation:**
- Most of the cars which have less mileage(below 200) are pricing below 1,00,000.
- There are few cars are with less mileage and highg price. Thse may be a high end luxury or sports cars.
- The cars which have high mileage (more than 300) are very rare in market.

### Question: What is the effect of Year to determine the price of a car?

In [ ]:
# Plotting a graph to compare the mileage and price
data.plot.scatter(x='Year', y='Price', figsize =(15,7), color = 'green')

#adding some cosmetics
plt.xlabel('Year', size = 16, color = 'green')
plt.ylabel('Price', size = 16, color = 'green')
plt.title('Year V/S Price', size = 20, color = 'purple')

**Observation:**
- Car manufactured year are ranging from 1960 - 2016. But all high price cars are from 2016 year only.
- We can see the pattern that as cars are becoming old the price is decreasing.
- Most of the cars are between 2007 - 2016 manufactured only

### Question: Which car and body type has the highest and lowest price ?

In [ ]:
# Initialize figure of size 7 X 7
figure = plt.figure(figsize=[7,15])

# Plotting the graph between car Brand and price also checking it's body type.

sns.scatterplot(x='Price', y='Brand', hue='Body', data= data)

# adding some cosmetics
plt.title( " Car Body Type V/S Price", size = 20, color = 'purple')
plt.xlabel('Price', size = 16, color = 'green')
plt.ylabel('Car Brand', size = 16, color = 'green')

**Observation:**
- Crossover body type cars are pricing very high
- Sedan body type cars are pricing low.

### Question: Which car and Drive type has the highest and lowest price ?

In [ ]:
# Initialize figure of size 7 X 7
figure = plt.figure(figsize=[7,15])

# Plotting the graph between car Brand and price also checking it's body type.

sns.scatterplot(x='Price', y='Brand', hue='Drive type', data= data)

# adding some cosmetics
plt.title( " Car Drive Type V/S Price", size = 20, color = 'purple')
plt.xlabel('Price', size = 16, color = 'green')
plt.ylabel('Car Brand', size = 16, color = 'green')

**Observation:**
- Full drive type cars are pricing very high.
- Front drive type cars are pricing low.

### Question: What is the correlation between the features ?

In [ ]:
# Initialize figure of size 15 X 7
figure = plt.figure(figsize=[15,7])

sns.heatmap(data= data.corr(), annot = True, cmap = 'viridis')

**Observations:**
- Car price is positively correlated with Engine Volume and manufactured Year. 
- car Price is negatively correlated with Mileage.

### Question: How price is distributed among all cars ?

In [ ]:
# Initialize figure of size 15 X 7
figure = plt.figure(figsize=[15,7])

#Checking the distribution of price
sns.distplot(a= data.Price, kde=True, color = 'gold')

#adding some cosmetics
plt.xlabel('Price', size = 16, color = 'green')
plt.ylabel('Density distribution', size = 16, color = 'green')
plt.title('Price distribution among the cars', size = 20, color = 'purple')

**Observation:**
- Most of the car prices are categorized between 10000 - 30000.
- Very less cars price is more than 50000.

### Question: Which brand is selling more cars ?

In [ ]:
from collections import Counter

In [ ]:
# collecting the number of top 10 selling cars
Top_Brand = Counter(data['Brand'].tolist()).most_common(10)
Brand_idx = [car[0] for car in Top_Brand]
Brand_val = [car[1] for car in Top_Brand]

# Initiate an empty figure
fig = plt.figure(figsize=[15, 7])

# Plot the barplot figure
sns.barplot(x=Brand_val, y=Brand_idx)

#adding some cosmetics
plt.xlabel('Number of cars', size = 16, color = 'green')
plt.ylabel('Car brand', size = 16, color = 'green')
plt.title('Top 10 selling car brands', size = 20, color = 'purple')

plt.show()

**Observation:**

- Volkswagen, Mercedes-benz and BMW car brands are the leaders in seling used cars.

# Question: Which body type is selling most in Volkswagen Brand ?

In [ ]:
# Getting only Volkswagen car data
Volkswagen_data = data[data['Brand']=='Volkswagen']

frequency = Volkswagen_data['Body'].value_counts()[0:10].values
labels = Volkswagen_data['Body'].value_counts()[0:10].index

# Initiate an empty figure
fig = plt.figure(figsize=[15, 7])

# Plot the barplot figure
sns.barplot(x=frequency, y=labels)

# Adding some cosmetics
plt.xlabel('Number of cars', size= 16, color= 'green')
plt.ylabel('Body type', size = 16, color = 'green')
plt.title('Volkswagen brand body type distribution', size = 20, color = 'purple')

**Observation:**
- Most of the people are intrested to buy Volkswagen brand Sedan and Van body type cars.

### Question: Overall cars which body type most people are interested ?

In [ ]:
#Picking up the values of Body types from data.
Top_Body = Counter(data['Body'].tolist()).most_common(10)
Brand_idx = [car[0] for car in Top_Body]
Brand_val = [car[1] for car in Top_Body]

# Initiate an empty figure
fig = plt.figure(figsize=[15, 7])

# Plot the barplot figure
sns.barplot(x=Brand_val, y=Brand_idx)

# Adding some cosmetics
plt.xlabel('Number of cars', size= 16, color= 'green')
plt.ylabel('Body type', size = 16, color = 'green')
plt.title('Over all cars body type distribution', size = 20, color = 'purple')
plt.show()

**Observation:**
- When we check over all cars, most people are interested to buy Sedan or Crossover body types

### Question: Among all cars, which fuel type most people interested ?

In [ ]:
# picking up the values for Fuel type from all cars
Top_Fuel = Counter(data['Fuel Type'].tolist()).most_common(10)
Brand_idx = [car[0] for car in Top_Fuel]
Brand_val = [car[1] for car in Top_Fuel]

# Initiate an empty figure
fig = plt.figure(figsize=[15, 7])

# Plot the barplot figure
sns.barplot(x=Brand_val, y=Brand_idx)

# Adding some cosmetics
plt.xlabel('Number of cars', size= 16, color= 'green')
plt.ylabel('Fuel type', size = 16, color = 'green')
plt.title('Over all cars Fuel type distribution', size = 20, color = 'purple')
plt.show()

**Observation:**
- Most people are interested to but Petrol engine cars, as it may be because of good performance and low maintanance.

---
<a name = Section9></a>
# **9. Summarization**
---

<a name = Section91></a>
### **9.1 Conclusion**

- Among all cars Bently, Mercedes-benz and Land Rover cars are having high price.
    
- Among all cars GAZ, Moskvich-AZLK, ZAZ and VAZ cars are having low price.
    
- When it comes to the car models, Bentley_Bentayga is on top then Mercedes-Benz_G 500, Mercedes-Benz_S 600, Mercedes-Benz_S-Guard, Land Rover_Range Rover and Mercedes-Benz_S 63 AMG are pricing very high.
    
- There are very few cars available more than 300 Mileage and most of the cars are below 200 Mileage.
    
- People are looking to purchase cars which are manufactured after 2007 Year.

- Cross over body type and Full Drive type cars are on high price. At the same time, Sedan body type and Front Drive type cars are pricing low.

- Most of the cars price range between 10000 to 30000.

- When we compare all the cars, Volkswagen is first then Mercedes-benz and BMW brands are the top selling car brands.

- In depth looking at the Volkswagen, people are interested to purchase Van and Sedan body types.

- But in overall cars, Sedan and Crossover body types are the leaders.

- Most people are showing interest to purchase fuel type Petrol engine cars.

<a name = Section92></a>
### **9.2 Actionable Insights**

- Most of the people are showing interest to purchase a combination of Sedan body type, Petrol Fuel type and recently manufatured cars. Hence, it is advisable to promote these combination cars to increase the sales.
- Volkswagen, Mercedes-benz, BMW cars are selling highest numbers in the market. so, concentrating on these brands will help to improve business.
- The cars price which has a range of 10000 - 30000 is on high demand.

# Thank you