**LAZADA DATA REVIEW DAN VISUALISASI**

**Persiapan Library Data**
Tahapan pertama adalah mempersiapkan library data untuk menggunakan python maka diperlukan beberapa library dataset yang dibutuhkan

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.ticker as tick
import pandas  as pd 
import numpy   as np 
import seaborn as sns
import re 
import os

%matplotlib inline

sns.set_style('dark')

for dirname, _, filenames in os.walk ('/kaggle/input'):
    for filename in filenames:
        print (os.path.join(dirname,filename))

**Fungsi dalam library yang kami gunakan adalah:**

* Pandas : adalah library python yang menyediakan struktur data dan analisis data yang mudah digunakan, dan biasa nya digunakan untuk table,mengubah dimensi data,mengecek dimensi data, dan lain sebagainya.

* Numpy (*Numerical Python*): adalah library python yang fokus pada *Scientific Computing* Numpy memiliki kemampuan untuk membentuk objek N-Dimensional array,yang mirip dengan list pada python. 

* Matplotlib adalah library Python yang fokus pada visualisasi data seperti membuat plot grafik.matplotlib pun dapat digunakan dalam skrip Python, Python dan IPython shell, server aplikasi web,dan beberapa toolkit graphical user interface (GUI). contoh dalam library adalah *matplotlib.pyplot* as *plt* penggunaan *as* adalah memanggil fungsi pyplot pada matplotlib. %*matplotlib inline*,berfungsi untuk pengaturan pada backend matplotlib agar setiap grafik ditampilkan secara 'inline' yaitu akan ditampilkan langsung pada cell notebook

* re (reguler expression) adalah deretan karakter yang digunakan untuk pencarian string atau teks dengan menggunakan pola (pattern).misalnya adalah Kelompok1.5020@gmail.com, email memiliki pola: **huruf / angka, diikuti oleh @, kemudian diikuti huruf, tanda titik, dan kemudian huruf lagi.** regex memudahkan kita untuk mencari string tertentu dari teks yang banyak. dengan regex kita dapat membuat pola yang kita inginkan.

* seaborn adalah library untuk membuat grafik dan statistik dengan menggunakan python. seaborn berfungsi pada plotting berdasarkan dataset yang beroperasi pada dataframe dan array yang berisi seluruh dataset yang secara internal melakukan pemetaan semantik dan agregasi statistik yang diperlukan untuk menghasilkan grafik informatif

* os (operation system) adalah merupakan modul pada python untuk program python sendiri, berintraksi dengan sistem operasi yang kita gunakan.misalkan python membaca sistem operasi yang digunakan adalah linux, maka akan disupport lebih baik dimana python itu berkerja.

**Membuat DataFrame**
DataFrame adalah struktur data 2 dimensi yang berbentuk tabular(mempunyai baris dan kolom)

In [ ]:
df_items = pd.read_csv('/kaggle/input/lazada-indonesian-reviews/20191002-items.csv')
df_reviews = pd.read_csv('/kaggle/input/lazada-indonesian-reviews/20191002-reviews.csv')

df_items ( dataframes pada items)
kita akan mendapatkan informasi susunan dan isi kolom serta beberapa baris dataframe yang kita buat sendiri.

In [ ]:
print('shape : {}'.format(df_items.shape))
df_items.head(4)

In [ ]:
df_items.describe()

df_items sebanyak 9 buah, dan baris sebanyak 10942 buah. Pada kolom price, harga tertinggi yaitu 275000000, harga terendah 1000, dan rata-rata harganya 3020219.

rating tertinggi adalah 5 dan rating terendah adalah 1 
total review memiliki rata-rata sebesar 27, terendah sebesar 1, dan tertinggi sebesar 9631

dataframes reviews

In [ ]:
print('shape : {}'.format(df_reviews.shape))
df_reviews.head(4)

In [ ]:
print('\nDataset of Reviews product \n')
print('Shape dataset:', df_reviews.shape)
print('\nInfo dataset:')
print(df_reviews.info())
print('\nDescriptive Statistic:\n', df_reviews.describe())

In [ ]:
df_reviews.describe()

DATA CLEANING 

Data Cleaning adalah  merupakan suatu proses mendeteksi dan memperbaiki(atau menghapus) suatu record yang 'corrupt' atau tidak akurat berdasarkan sebuah record set, tabel, atau database.
Berfungsi untuk mengindentifikasi bagian data mana yang tidak lengkap, tidak tepat , tidak akurat atau tidak relevan, yang untuk data-data "kotor" tersebut akan diganti, dimodifikasi, atau dihapus

In [ ]:
df_items.category.value_counts()

In [ ]:
df_items.isnull()

In [ ]:
df_items.isnull().sum()

In [ ]:
#menunjukan informasi tentang kolom yang dimiliki dalam data terdapat 9 kolom dengan jumlah maksimal baris untuk setiap kolom sebanyak 10942baris,
#tetapi kolom brandName berbeda karena <10942 baris
df_items.info()

In [ ]:
df_items.isnull().any()

In [ ]:
df_reviews.info()

In [ ]:
df_reviews.isnull().any()

In [ ]:
#untuk mengetahui daftar unique values dalam brandName,yang mengandung nan,'NULL',dan 'Nan'
df_items['brandName'].unique()

In [ ]:
#untuk mengetahui total missing values dalam items
df_items.isnull().sum().sum()

In [ ]:
df_items['totalReviews'].unique()

In [ ]:
plt.boxplot(df_items["totalReviews"])

In [ ]:
#memiliki missing values nan
df_reviews['boughtDate'].unique()

Pada Kolom boughtDate memiliki banyak NaN maka kita akan membuat nilai kolom BoughtDate NaN (missing value) menjadi 0

In [ ]:
pd.set_option('display.max_rows', None)
df_reviews['boughtDate']

In [ ]:
df_reviews['boughtDate'].fillna(0, inplace=True)

In [ ]:
pd.set_option('display.max_rows', None)
df_reviews['boughtDate']

ini adalah perubahan pada kolom boughtDate  NaN(missing value) berubah menjadi 0 yang bernilai true

In [ ]:
df_items.category.value_counts()

Langkah selanjutnya kita membuat Visualisasi matplotlib, 
kita menggunakan beberapa visulisasi yaitu 
* Bar Plot,
* Pie Chart,

In [ ]:
df_items = df_items.head(10)

fig = plt.figure(figsize=(7,3))
ax  = fig.add_axes([0,0,1,1])
ax.set_xlabel('brandName')
ax.set_ylabel('totalReviews')

ax.bar(df_items['brandName'],df_items['totalReviews'])
plt.show()

In [ ]:
#histogram
plt.hist(df_items['brandName'].dropna(), bins=20)
plt.show()

In [ ]:
#piechart df_items
df_items = df_items.groupby('brandName').sum()['averageRating'].reset_index()
fig = plt.figure()
ax  = fig.add_axes([0,0,1,1])
ax.axis('equal')
ax.set_title(label= 'Rating rata-rata pelanggan menilai nama product')
ax.pie(df_items['averageRating'],labels = df_items['brandName'],autopct='%1.2f%%')
plt.show()