In [ ]:
# https://www.kaggle.com/cabirerguven/weather-in-aus

In [ ]:
#https://www.kaggle.com/cabirerguven/weather-in-aus
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
# 1) Read the dataset as a dataframe. Create a copy of your dataframe
df = pd.read_csv("../input/weather-dataset-rattle-package/weatherAUS.csv")
df_weather = df.copy()

In [ ]:
# 2.Find out the describe and info attributes of the dataframe. 
# Analyze these information and create a short write-up according to your findings.
df_weather.describe()


# Here we can see statistical values of given csv file such as min and max temperature, wind, sunshine, humidity pressure cloud 
# and many other information. Count, mean, std, quartiles etc tell us a lot about whole data.

In [ ]:
df_weather.info()
# here, we can see total entry numbers, all the column names, , their data types and non-null counts for given csv file.

In [ ]:
# 3.1 Find out the shape and 
df_weather.shape
# There are total 14560 entry and 23 columns

In [ ]:
# 3.2 size info of the dataset.
df_weather.size
# There are total 3345580 elements in this object.

In [ ]:
# 4.Find out the types values of the columns and save the result as a dataframe.
DATA_TYPES = pd.DataFrame(df.dtypes,columns=['DATA_TYPES'])
DATA_TYPES

In [ ]:
# 5.Find out the non-null counts of the columns and save the result as a dataframe.
NOT_NULL = pd.DataFrame(df.notnull().sum().to_frame('NOT_NULL'))
NOT_NULL

In [ ]:
# 6.Find out the null counts of the columns and save the result as a dataframe.
ISNULL = pd.DataFrame(df.isnull().sum(), columns=['ISNULL'])
ISNULL

In [ ]:
# 7.Find out the unique counts of the columns and save the result as a dataframe.
UNIQUE = pd.DataFrame(df.nunique(), columns=['UNIQUE'])
UNIQUE

In [ ]:
# 8. Merge the dataframes you created in questions 4-5-6-7.
merged = pd.concat([DATA_TYPES, NOT_NULL, ISNULL, UNIQUE], axis=1).reset_index()
merged

In [ ]:
# 9.Lowercase all column names.

df_weather.columns = df_weather.columns.str.lower()
df

In [ ]:
# 10.Change all the No values to NoRain and all the Yes values to Rain in raintoday and 
# raintomorrow columns.

df_weather.raintoday.replace('No', 'noRain', inplace=True)
df_weather.raintomorrow.replace('No', 'noRain', inplace=True)
df_weather.raintoday.replace('Yes', 'Rain', inplace=True)
df_weather.raintomorrow.replace('Yes', 'Rain', inplace=True)

df_weather['raintoday'].sample(20)

In [ ]:
# 11. Change the data type of "date" (object) column to datetime64 and reformat the date as DD/MM/YYYY
df_weather.date=pd.to_datetime(df_weather.date,format='%Y/%m/%d')
df_weather['date']

In [ ]:
# 12. Remove Create a new column called "difference", calculate the difference 
# between maxtemp and mintemp columns for each row, and store the value in this new column.

df_weather['difference'] = df_weather['maxtemp'] - df_weather['mintemp'] 
df_weather['difference']

In [ ]:
# 13. Remove the evaporation and sunshine columns from the dataset permanently.
df_weather#.#drop#(['evaporation', 'sunshine'], axis=1, inplace=True)

In [ ]:
# 14. Find out the most rainy day for each city.

In [ ]:
# 15. Filter out all the data for the city 'Albury' and then sort according to maxtemp column.
df2 =df_weather[df_weather.location == 'Albury']  
df2.sort_values(by=['maxtemp'])

In [ ]:
# 16. Find out the NaN counts for each column.

df_weather.isnull().sum()

In [ ]:
# 19. Find out the hottest day of "Perth". Example output: Timestamp('2015-01-05 00:00:00')
df_weather.groupby('location')['maxtemp'].max()

In [ ]:
# 17. Remove the rows with NaN values in "windgustdir" column from the dataframe permanently.

df_weather.dropna(subset=['windgustdir'], axis=0, inplace=True)

In [ ]:
# 18. Create a new dataframe, use "Location" column as the index of the dataframe, display 
# the min, max, and median values of "evaporation" and "sunshine" columns in this dataframe.
min = df_weather.groupby('location')[['evaporation', 'sunshine']].min()
max = df_weather.groupby('location')[['evaporation', 'sunshine']].max()
median = df_weather.groupby('location')[['evaporation', 'sunshine']].median()


df_merged = pd.concat([min,min,median], axis = 1)
df_merged

In [ ]:
# 19. Find out the hottest day of "Perth". Example output: Timestamp('2015-01-05 00:00:00')

df_weather[df_weather.location=='Perth'][['location','date','maxtemp']].sort_values(by=['maxtemp'], ascending=False).iloc[0]

In [ ]:
# 20.Group your dataframe by location and find out the averages of all numeric values.
df_weather.groupby('location').mean()