In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

Read the dataset as a dataframe. Create a copy of your dataframe. Solve the rest of the questions using this dataframe copy.

In [ ]:
d18 = pd.read_csv('../input/weather-dataset-rattle-package/weatherAUS.csv')
d18

Find out the describe and info attributes of the dataframe. Analyze these information and create a short write-up according to your findings.

In [ ]:
print(d18.info())
d18.describe(include="all")

Find out the shape and size info of the dataset.

In [ ]:
print('The shape: ',d18.shape)
print('The size: ', d18.size)

Find out the types values of the columns and save the result as a dataframe.

In [ ]:
dtypes_d18 = pd.DataFrame(d18.dtypes,columns=['dtypes'])
dtypes_d18

Find out the non-null counts of the columns and save the result as a dataframe.

In [ ]:
nonnull_d18 = pd.DataFrame(d18.notnull().sum())

nonnull_d18

Find out the null counts of the columns and save the result as a dataframe.

In [ ]:
null_d18 = pd.DataFrame(d18.isnull().sum())
null_d18

Find out the unique counts of the columns and save the result as a dataframe.

In [ ]:
nunique_d18 = pd.DataFrame(d18.nunique())
nunique_d18

Merge the dataframes you created in questions 4-5-6-7. Expected output:

In [ ]:
merge18 = pd.concat([dtypes_d18,null_d18,nonnull_d18, nunique_d18], axis=1)
merge18

Lowercase all column names.

In [ ]:
d18.columns = list(map(lambda x: x.lower(), d18.columns))
d18.sample()

Change all the No values to NoRain and all the Yes values to Rain in raintoday and raintomorrow columns.

In [ ]:
d18.raintoday.replace('no', 'noRain', inplace=True)
d18.raintomorrow.replace('no', 'noRain', inplace=True)

d18

Change the data type of "date" (object) column to datetime64 and reformat the date as DD/MM/YYYY.

In [ ]:
d18.date = pd.to_datetime(d18.date)
d18.date = d18.date.dt.strftime('%d/%m/%Y')
d18.head()

Create a new column called "difference", calculate the difference between maxtemp and mintemp columns for each row, and store the value in this new column.

In [ ]:
d18['difference'] = d18['maxtemp'] - d18['mintemp']
d18['difference']

Remove the evaporation and sunshine columns from the dataset permanently.

In [ ]:
#d18.drop(['evaporation','sunshine'], axis=1 ,inplace=True )
d18.head()

Find out the most rainy day for each city.

In [ ]:
d18.groupby('location')['rainfall','date'].max()

Filter out all the data for the city 'Albury' and then sort according to maxtemp column.

In [ ]:
filter_d18 = d18[d18['location']=='Albury']
filter_d18.sort_values(by=['maxtemp'])

Find out the NaN counts for each column.

In [ ]:
NaN_d18 = d18.isnull().sum()
NaN_d18

Remove the rows with NaN values in "windgustdir" column from the dataframe permanently.

In [ ]:
d18.dropna(subset=['windgustdir'], axis=0, inplace=True)
d18

Create a new dataframe, use "Location" column as the index of the dataframe, display the min, max, and median values of "evaporation" and "sunshine" columns in this dataframe.

In [ ]:
d18a = d18.copy()
d18_min = d18a.groupby('location')[['evaporation', 'sunshine']].min()
d18_min

In [ ]:

d18_max = d18a.groupby('location')[['evaporation', 'sunshine']].max()
d18_max

In [ ]:
d18_median = d18a.groupby('location')[['evaporation', 'sunshine']].median()
d18_median

Find out the hottest day of "Perth". Example output: Timestamp('2015-01-05 00:00:00')

In [ ]:
result=d18[d18.location=='Perth'][['location','date','maxtemp']].sort_values(by=['maxtemp'], ascending=False)
result.iloc[0]

Group your dataframe by location and find out the averages of all numeric values.

In [ ]:
result1 = d18.groupby('location').mean()
result1