In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import os
os.listdir('../input')

In [ ]:
df=pd.read_csv('../input/zomato-restaurants-in-india/zomato_restaurants_in_India.csv')

In [ ]:
df.head()

We will remove the columns which are not very much useful for our analysis.

In [ ]:
l=['res_id','url','address','city_id','latitude','longitude','zipcode','country_id','timings']
df=df.drop(l,axis=1)

In [ ]:
df=df.drop('currency',axis=1)

We will use the cities Mumbai,Chennai,Bangalore and New Delhi and perform a comparison analysis between the cities. Also we will consider the restaurants with an aggregate rating greater than 4.0.

In [ ]:
delhi=df[df['city']=='New Delhi']
bangalore=df[df['city']=='Bangalore']
chennai=df[df['city']=='Chennai']
mumbai=df[df['city']=='Mumbai']
delhi_greaterthan4=delhi[delhi['aggregate_rating']>4.0]
bang_greaterthan4=bangalore[bangalore['aggregate_rating']>4.0]
chennai_greaterthan4=chennai[chennai['aggregate_rating']>4.0]
mum_greaterthan4=mumbai[mumbai['aggregate_rating']>4.0]

We will create a new data frame by combining the different data frames which we have created.

In [ ]:
rating=pd.concat([delhi_greaterthan4,bang_greaterthan4])
rating=pd.concat([rating,mum_greaterthan4,chennai_greaterthan4])

In [ ]:
sns.countplot(x='city',data=rating)

We observe that Chennai has the maximum number of restaurants with rating greater thn 4.0.
New Delhi has the least number of restaurants with rating greater thn 4.0.

Now we will perform data cleaning for the column 'Establishment' since it uses different names which fall under the same category and also we will combine few categories together.

In [ ]:
rating.establishment.replace("['Quick Bites']",'quick bites',inplace=True)
rating.establishment.replace("['Dessert Parlour']",'Dessert Parlour',inplace=True)
rating.establishment.replace("['Bakery']",'bakery',inplace=True)
rating.establishment.replace("['Caf√©']",'cafe',inplace=True)
rating.establishment.replace("['Sweet Shop']",'sweet shop',inplace=True)
rating.establishment.replace("['Mess']",'mess',inplace=True)
rating.establishment.replace("['Beverage Shop']",'beverage shop',inplace=True)
rating.establishment.replace("['Food Truck']",'food truck',inplace=True)
rating.establishment.replace("['Casual Dining']",'Casual Dining',inplace=True)
rating.establishment.replace("['Fine Dining']",'Fine Dining',inplace=True)
rating.establishment.replace("['Lounge']",'Lounge',inplace=True)
rating.establishment.replace("['Bar']",'Bar',inplace=True)
rating.establishment.replace('[]','Not_mentioned',inplace=True)
rating.establishment.replace("['Food Truck']",'food truck',inplace=True)
rating.establishment.replace("['Kiosk']",'Kiosk',inplace=True)
rating.establishment.replace("['Club']",'Club',inplace=True)
rating.establishment.replace("['Paan Shop']",'Paan',inplace=True)
rating.establishment.replace("['Microbrewery']",'Microbrewery',inplace=True)
rating.establishment.replace("Food Truck']",'food truck',inplace=True)
rating.establishment.replace("['Pub']",'Bar',inplace=True)
rating.establishment.replace("['Dhaba']",'Dhaba',inplace=True)
rating.establishment.replace("['Cocktail Bar']",'Bar',inplace=True)
rating.establishment.replace("['Food Court']",'Street_food',inplace=True)
rating.establishment.replace("Kiosk",'Street_food',inplace=True)
rating.establishment.replace("food truck",'Street_food',inplace=True)

**Creating dummies for different categories**

In [ ]:
rating=pd.get_dummies(data=rating,columns=['establishment'])

We will now create plots for different establishments against different cities and observe results for the same.

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_Bar'])

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_Casual Dining'])

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_Club'])

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_Dessert Parlour'])

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_Fine Dining'])

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_Microbrewery'])

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_Dhaba'])

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_Paan'])

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_Lounge'])

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_Club'])

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_Street_food'])

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_bakery'])

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_cafe'])

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_mess'])

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_quick bites'])

In [ ]:
sns.barplot(x=rating['city'],y=rating['establishment_sweet shop'])

We will now find out the average cost for two people spent in a restaurant across different cities.

In [ ]:
rating.groupby('city')['average_cost_for_two'].median()

The average cost for two people is comparitively higher in Mumbai and Delhi when compared with that of Bangalore and Chennai.

In [ ]:
sns.countplot(rating['delivery'])

We will assume that -1 and 0 indicate that there is online delivery option available. A good number of restaurants have online delivery support.

In [ ]:
sns.barplot(x=rating['city'],y=rating['price_range'])

The price range is comparitively higher in Mumbai and Delhi when compared with that of Bangalore and Chennai.