It is my first notebook in kaggle. Hope that you'll like it. Please upvote if you like. It'll inspire me for next work.
I've used [Goodreads Dataset](https://www.kaggle.com/jealousleopard/goodreadsbooks)

In [ ]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
path='/kaggle/input/goodreadsbooks/books.csv'
df=pd.read_csv(path,error_bad_lines=False)

# **Displaying first Five Rows**

In [ ]:
df.head(5)

** Description and information **

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.dtypes

# ** Data Cleaning Process **

In [ ]:
df['authors'].unique()

Here, we can see that J.K. Rowling appears with another author. Initially, our task is to remove another author.

In [ ]:
df.replace(to_replace='J.K. Rowling/Mary GrandPrÃ©',value='J.K. Rowling',inplace=True)

**Now I am trying to find out top 10 authors by number of books**

In [ ]:
#print(("{0} wrotes {1} books").format(df['authors'],))
df['authors'].value_counts().head(10)

Rename num_page column

In [ ]:
df.rename(columns={'  num_pages':'Total_page'},inplace=True)

Droping irrelevant columns from dataset

In [ ]:
df.drop(['bookID', 'isbn', 'isbn13'],axis=1,inplace=True)

In [ ]:
df.columns

# Data Visualization

Trying boxplot on Total Page

In [ ]:


sns.boxplot("Total_page", data=df,
               palette=["lightblue"],sym='');

Trying Violinplot on text_reviews_count

In [ ]:

sns.violinplot("text_reviews_count", data=df,
               palette=["lightblue"]);

In this phase, i am focusing on few questions
    1. Top Authors based on number of books
    2. Most occuring books
    3. No of books in different language
    4. Top books on rating counts
    5. Top books on text reviews
    6. Top 10 publishers 
    7. 10 books on Total pages
    8. Relationship between authors and averating rating on text review count and rating count where threshold for rating count is 3

In [ ]:
top_author=df['authors'].value_counts()[:15]

sns.barplot(top_author.values, top_author.index, alpha=1.).set_title('Top 15 authors in terms of publications')

plt.show()

In [ ]:
most_occur=df['title'].value_counts()[:10]

sns.barplot(most_occur.values, most_occur.index, alpha=1.).set_title('Most occuring books')

plt.show()

In [ ]:

language_count=df['language_code'].value_counts()[:10]

sns.barplot( language_count.index,language_count.values, alpha=.7).set_title('Most occuring books')

plt.show()

In [ ]:
most_rated = df.sort_values('ratings_count', ascending = False).head(10).set_index('title')
plt.figure(figsize=(15,10))
sns.barplot(most_rated['ratings_count'], most_rated.index, alpha=.8,palette='Set3')

In [ ]:
most_reviews = df.sort_values('text_reviews_count', ascending = False).head(10).set_index('title')
plt.figure(figsize=(15,10))
sns.barplot(most_rated['text_reviews_count'], most_rated.index, alpha=.8,palette='Set3')

In [ ]:

publisher=df['publisher'].value_counts()[:10]

sns.barplot(publisher.values, publisher.index, alpha=.7).set_title('Top 10 publishers')

plt.show()

In [ ]:

pages=df['Total_page'].value_counts()[:10]

sns.barplot(pages.values, pages.index, alpha=.7).set_title(' ')

plt.show()

In [ ]:
rev=df['text_reviews_count']
ratings=df['ratings_count']>3
dff=pd.DataFrame(df[rev & ratings].sort_values('average_rating', ascending = True).head(5))

plt.figure(figsize=(15,10))
sns.barplot(y=dff['authors'], x=dff['average_rating'], palette='Accent')

Removing outliers from average rating column where median is 3.9 and 75 percentile is almost 4.1

In [ ]:
sns.boxplot(x=df['average_rating'],sym='')

In [ ]:
plt.figure(figsize=(10,5))

df.groupby(['average_rating','title']).Total_page.sum().nlargest(10).plot(kind='barh',color='b')

In [ ]:
plt.figure(figsize=(10,5))

df.groupby(['authors','title','average_rating']).average_rating.sum().nlargest(10).plot(kind='barh',color='g')

In [ ]:
plt.figure(figsize=(10,5))

df.groupby(['publisher','title']).average_rating.sum().nlargest(10).plot(kind='barh',color='g')

In [ ]:
plt.figure(figsize=(10,5))

df.groupby(['title','language_code','average_rating']).average_rating.sum().nlargest(10).plot(kind='barh',color='r')

In [ ]:
most_reviews=df.groupby('title')['text_reviews_count'].sum().sort_values(ascending=False).head(10).plot(kind='barh',color='khaki')

In [ ]:
dff = df.groupby(pd.cut(df['average_rating'], [0,1,2,3,4,5]))
dff = dff[['ratings_count']]
dff.sum().T