In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
df = pd.read_csv('/kaggle/input/weather-dataset-rattle-package/weatherAUS.csv')
df

1. Read the dataset as a dataframe. Create a copy of your dataframe. Solve the rest of the questions using this dataframe copy.

In [ ]:
tdf = df.copy()
tdf

In [ ]:
print(type(tdf))
print("********************")
print(tdf.shape)  #satir ve sutun sayilari hakkinda bilgi verir
print("********************")
print(tdf.size) # icinde kac eleman oldugunu soyler
print("********************")
print(tdf.dtypes)
print("********************")
print(tdf.index)  # index hakkinda bize bilgiler verir
print("********************")
print(tdf.columns)

2. Find out the describe and info attributes of the dataframe. Analyze these information and create a short write-up according to your findings.

In [ ]:
tdf.describe()

In [ ]:
tdf.info()

3. Find out the shape and size info of the dataset.

In [ ]:
tdf.shape

In [ ]:
tdf.size

4. Find out the types values of the columns and save the result as a dataframe.

In [ ]:
dtypes=tdf.dtypes
dtypes = pd.DataFrame(dtypes, columns = ['dtypes'] )
dtypes

5) Find out the non-null counts of the columns and save the result as a dataframe.

In [ ]:
nonnull = pd.DataFrame(tdf.count(), columns = ['nonnull'] )
nonnull


6. Find out the null counts of the columns and save the result as a dataframe.

In [ ]:
isnull = pd.DataFrame(tdf.isnull().sum(), columns = ['isnull'] )
isnull

7) Find out the unique counts of the columns and save the result as a dataframe.

In [ ]:
nununique = pd.DataFrame(tdf.nunique(), columns = ['nununique'] )
nununique

8) Merge the dataframes you created in questions 4-5-6-7. Expected output:

In [ ]:
frames = [ dtypes, nonnull, isnull, nununique]
frames1= pd.concat((frames), axis = 1, ignore_index = False)
frames1.reset_index(inplace=True)
frames1=frames1.rename(columns={'index':"Columns"})
frames1

9) Lowercase all column names.

In [ ]:
tdf.columns = map(str.lower, tdf.columns)
tdf

10) Change all the No values to NoRain and all the Yes values to Rain in raintoday and raintomorrow columns.

In [ ]:
tdf.raintoday.replace('No', 'noRain', inplace=True)
tdf.raintomorrow.replace('No', 'noRain', inplace=True)
tdf.raintoday.replace('Yes', 'Rain', inplace=True)
tdf.raintomorrow.replace('Yes', 'Rain', inplace=True)
tdf

11) Change the data type of "date" (object) column to datetime64 and reformat the date as DD/MM/YYYY.

In [ ]:
tdf['date'] = pd.to_datetime(tdf['date'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y')
tdf

13) Create a new column called "difference", calculate the difference between maxtemp and mintemp columns for each row, and store the value in this new column.

In [ ]:
tdf['difference'] = tdf['maxtemp'] - tdf['mintemp']
tdf.difference

14) Remove the evaporation and sunshine columns from the dataset permanently.

In [ ]:
tdf.drop(['evaporation', 'sunshine'], axis=1, inplace=True)
tdf

14) Find out the most rainy day for each city.

In [ ]:
cities = tdf.drop_duplicates(subset = ["location"])
cities.location

In [ ]:
tdf.loc[tdf.groupby('location').rainfall.idxmax()]

15) Filter out all the data for the city 'Albury' and then sort according to maxtemp column.

In [ ]:
tdf[tdf.location == 'Albury'].sort_values(by='maxtemp', ascending=False)

16) Find out the NaN counts for each column.

In [ ]:
 tdf.isna().sum()

17) Remove the rows with NaN values in "windgustdir" column from the dataframe permanently.

In [ ]:
tdf.dropna(subset=['windgustdir'], inplace=True)
tdf

18) Create a new dataframe, use "Location" column as the index of the dataframe, display the min, max, and median values of "evaporation" and "sunshine" columns in this dataframe.

In [ ]:
tdf1 = df.copy()
tdf1=tdf1.sort_values(by='Location').groupby('Location').agg({'Evaporation': max, 'Sunshine':max})
tdf1
#sort_values(by='Location')

In [ ]:
tdf2 = df.copy()
tdf2=tdf2.sort_values(by='Location').groupby('Location').agg({'Evaporation': min, 'Sunshine':min})
tdf2

In [ ]:
tdf3 = df.copy()
tdf3=tdf3.groupby(tdf3.Location)[['Evaporation', 'Sunshine']].median()
tdf3

In [ ]:
tdf4 = pd.merge(pd.merge(tdf1,tdf2,on='Location', suffixes=[None,'_min']),tdf3,on='Location',suffixes=['_max','_median'])
tdf4 = tdf4[['Evaporation_max', 'Evaporation_min', 'Sunshine_max', 'Sunshine_min', 'Evaporation_median', 'Sunshine_median']]
tdf4

19) Find out the hottest day of "Perth". Example output: Timestamp('2015-01-05 00:00:00')

In [ ]:
tdf

In [ ]:
Perth=tdf[tdf.location == 'Perth'].sort_values(by='maxtemp', ascending=False)
Perth.date.iloc[0]

20) Group your dataframe by location and find out the averages of all numeric values.

In [ ]:
tdf.groupby("location").mean()