**IMPORT AND FIRST LOOK DATA**

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [ ]:
data = pd.read_csv('../input/suicide-rates-overview-1985-to-2016/master.csv')

In [ ]:
data.info()

Datada 27820 intihar bilgisi girişi yapılmış.
Data 12 feature'dan oluşmakta. (ülke, yıl, cinsiyet, yaş, intihar sayısı, popülasyon, intihar/100k popülasyon oranı, ülke-yıl bilgisi, yıllara göre HDI(insani gelişme indeksi), yıllara göre GSYİH, kişi başına düşen GSYİH, jenerasyon)
Datatype'ler: 2 adet float, 4 adet integer, 6 adet object
Data, hafızada 2.5+ MB hafıza kaplamakta

In [ ]:
data.corr()

gdp_per_capita($) feature'si ve HDI for year feature'si arasındaki korelasyon 0.78. 1'e yakın olan bu değer, bu iki featurenin doğru orantılı olduğunu gösterir.

Negatif korelasyon da ter orantıyı ifade eder.

In [ ]:
#correlation map
f, ax = plt.subplots(figsize=(18,18))
sns.heatmap(data.corr(), annot=True, linewidths=.5, fmt='.1f', ax=ax)
plt.show()

Seaborn bir visualition tool.
Korelasyon tablosu görsel bir şekilde oluşturuluyor.
annot = True, korelasyon haritasındaki her bir karenin üzerinde sayıların gözükmesi anlamına geliyor. 
linewidth, karler arasındaki çizginin kalınlığı.
fmt, 0'dan sonra yazdıracağı değer.
ax, f'in yanındaki ax.
figsize(18,18) ile figürün size'ı önceden belirlendi. Eğer belirlenmeseydi size, default bir değer olacaktı. Bu da figürün daha küçük gözükmesine neden olacaktı.

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.columns

**1. INTRODUCTION TO PYTHON**

A. MATPLOTLIB

Line plot: x axis is time.
Scatter plot: correlation between two variables.
Histogram: to see distrubution of numericl data.

Customization: colors(color), labels(label), thickness of line(linewidth), title, opacity(alpha), grid(grid), ticks of axis and linestyle(linestyle)

In [ ]:

data.year.plot(kind='line', color='g', label='year', linewidth=1, alpha=0.5, grid=True, linestyle=':')
data.population.plot(color='r', label='population', linewidth=1, alpha=0.5, grid=True, linestyle='-.')
plt.legend(loc='upper right') #puts label into plot
plt.xlabel('x axis') #label= name of label
plt.ylabel('y axis') 
plt.title('Line Plot') #title= title of plot
plt.show()

In [ ]:
#scatter plot
#x = year
#y = population
data.plot(kind='scatter', x='year', y='population', alpha=0.5, color='red')
plt.xlabel('year')
plt.ylabel('population')
plt.title('Year Population No Scatter Plot')
plt.show()

In [ ]:
#histogram
#bins=number of bar in figure
data.suicides_no.plot(kind='hist', bins=50, figsize=(12,12))
plt.show()

In [ ]:
#clf() = cleans it up again you can start a fresh
data.suicides_no.plot(kind='hist', bins=50)
plt.clf
#BUT we cannot see plot due to clf()

B. DICTIONARY
It has key and value.
Faster than lists.

In [ ]:
#create dictionary and look its keys and values
dictionary ={'izmir': 'cesme', 'antalya':'belek'}
print(dictionary.keys())
print(dictionary.values())

In [ ]:
#Keys have to be immutable objects like string, boolean, float, integer or tuples
#List is not immutable.
#Keys are unique.
dictionary['izmir']='dikili' #uptade existing entry
print(dictionary)
dictionary['mugla']='bodrum' #add new entry
print(dictionary)
del dictionary['izmir'] #remove entry with key 'izmir'
print(dictionary)
print('mugla' in dictionary) #check include or not
print('izmir' in dictionary)
dictionary.clear() #remove all entries in dict
print(dictionary)

In [ ]:
#In order to run all code you need to take comment this line
#del dictionary #delete entire dictionary
print(dictionary) #it gives error because dictionary is deleted.

C. PANDAS

csv : comma separated values

In [ ]:
data = pd.read_csv('../input/suicide-rates-overview-1985-to-2016/master.csv')

In [ ]:
series = data['age'] # data['suicide_no'] =series 
print(type(series))
data_frame = data [['age']] # data[['age']] = data frame
print(type(data_frame))

D. LOGIC, CONTROL FLOW AND FILTERING

In [ ]:
#comparison operator
print(3 > 2)
print(3!=2)
#Boolean operators
print(True and False)
print(True or False)

In [ ]:
# 1 - Filtering Pandas Data Frame
x = data ['year'] >2013 # There are 1840 suicide information who have higher year 2013 
data[x]

In [ ]:
#2 - Filtering pandas with logical _ and
# There are 431 suicide information who have higher year than 2013 and higher population than 2000000
# Therefore we can also use'&' for filtering
data[np.logical_and(data['year']>2013, data['population']>2000000)]

E. LOOP DATA STRUCTURES

In [ ]:
# Stay in loop if condition (i is not equal 5) is true
i = 0
while i != 5 :
    print('i is: ',i)
    i+=1
print(i, 'is equal to 5')

In [ ]:
# Stay in loop if condition (i is not equal 5) is true
lis = [1,2,3,4,5]
for i in lis:
    print('i is: ',i)
print('')

# Enumerate index and value of list
#index : value = 0:1, 1:2, 2:3, 3:4, 4:5
for index, value in enumerate (lis):
    print(index, " : ", value)
print('')

# For dictionaries
# We can use for loop to achieve key and value of dictionary. We learnt key and value at dictionary part.
dictionary = {'izmir':'urla', 'antalya':'kas'}
for key, value in dictionary.items():
    print(key," : ", value)
print('')

# For pandas we can achieve index and value
for index, value in data[['age']][0:1].iterrows(): #0 inclusive ; 1 exclusive
    print(index, " : ", value)

**2. PYTHON DATA SCIENCE TOOLBOX**

A. USER DEFINED FUNCTION

Tuble: Sequence of immutable python objects
Can't modify values
Unpack tuble into several variables like a,b,c = tuble

In [ ]:
# Example of what we learn above 
def tuble_ex():
    """return defined t tuble"""
    t = (1,2,3)
    return t
a,b,c = tuble_ex()
print(a,b,c)

B. SCOPE

Global : Defined main body in script
Local : Defined in a function 
Built in scope : Names in predefined built in scope module such as print, len

In [ ]:
# Guess print what
x = 2
def f():
    x = 3
    return x
print(x) # x = 2 global scope
print(f()) # x = 3 local scope

What if there is no local scope, first local scopesearched, then global scope searched. If two of them cannot be found lastly built in scope searched.

In [ ]:
# How we learn what is built in scope
import builtins
dir(builtins)

C. NESTED FUNCTION

Function inside function

In [ ]:
# nested function
def square():
    """return square of value"""
    def add():
        """add two local variable"""
        x = 2
        y = 3
        z = x + y
        return z
    return add()**2
print(square())

D. DEFAULT AND FLEXIBLE ARGUMENTS

In [ ]:
# default arguments
def f(a, b = 1, c = 2):
    y = a + b + c
    return y
print(f(5))
# what if we want to change default arguments
print(f(5, 4, 3))

In [ ]:
# flexible arguments *args 
# args can be one or more
def f(*args):
    for i in args:
        print(i)
f(1)
print("")
f(1, 2, 3, 4)

# flexible arguments **kgwargs that is dictionary 
def f(**kwargs):
    """print key and value of dictionary"""
    for key, value in kwargs.items():
        print(key, " ", value)
f(country = 'spain', capital = 'madrid', population = 123456)

E. LAMBDA FUNCTION

In [ ]:
square = lambda x : x**2
print(square(4))
tot = lambda x, y, z : x+y+z
print (tot(1,2,3))

F. ANONYMOUS FUNCTİON

In [ ]:
number_list = [1,2,3]
y = map (lambda x : x**2, number_list)
print(list(y)) #sonucu liste olarak yazdır

G. ITERATORS

İterable is an object that can return an iterator.
İterable : An object with an associated iter() method 
example : list, strings and dictionaries
iterator: Produces next value with next() method.

In [ ]:
# iteration example
name = "ronaldo"
it = iter(name)
print(next(it)) # print next iteration
print(*it) # print remaining iteration

In [ ]:
# zip():zip lists
# zip example
list1 = [1,2,3,4]
list2 = [5,6,7,8]
z = zip(list1, list2)
print(z)
z_list = list (z)
print(z_list)

In [ ]:
un_zip = zip(*z_list)
un_list1, un_list2 = list(un_zip) # unzip returns tuple
print(un_list1)
print(un_list2)
print(type(un_list2))

H. LIST COMPREHENSION

In [ ]:
num1 = [1,2,3]
num2 = [i + 1 for i in num1]
print(num2)

[i +1 for i in num1] : list of comprehension
i + 1 : list comprehension syntax
for i in num1 : for loop syntax
i : iterator
num1 : iterable object

In [ ]:
# Conditionals on iterable 
num1 = [5, 10, 15]
num2 = [i**2 if i==10 else i-5 if i<7 else i+5 for i in num1]
print(num2)

3. CLEANING DATA

A. DIAGNOSE DATA FOR CLEANING

In [ ]:
data = pd.read_csv('../input/suicide-rates-overview-1985-to-2016/master.csv')
data.head()

In [ ]:
data.tail()

In [ ]:
data.columns

In [ ]:
data.shape # Shape gives number of rows and columns in a tuple

In [ ]:
data.info()

B. EXPLORATORY DATA ANALYSIS

value_counts() : frequency counts 
outliers : the value that is considerably higher or lower from rest of the data.
value at 75% is Q3 and value at 25% is Q1
Outlier are smaller than Q1 - 1.5(Q3-Q1) and bigger than Q3 + 1.5(Q3-Q1). (Q3-Q1) = IQR

In [ ]:
print(data['country'].value_counts(dropna=False))

In [ ]:
data.describe() #ignore null entries

C. VISUAL EXPLORATORY DATA ANALYSIS

In [ ]:
data.boxplot(column = 'population', by = 'country')

D. TIDY DATA

In [ ]:
#Firstly I create new data from suicides data to explain melt nore easily.
data_new = data.head()
data_new

In [ ]:
# lets melt
# id_vars = what we do not wish to melt
# value_vars = what we want to melt
melted = pd.melt(frame=data_new, id_vars = 'suicides_no', value_vars = ['population','year'])
melted

E. PIVOTING DATA

Reverse of melting

In [ ]:
# Index is country
# I want to make that columns are variable
# Finally values in columns are value
melted.pivot(index ='suicides_no', columns = 'variable', values ='value')

F. CONCATENATING DATA

In [ ]:
# Firstly lets create 2 data frame
data1 = data.head()
data2 = data.tail()
conc_data_row = pd.concat([data1, data2], axis = 0, ignore_index = True)
conc_data_row

In [ ]:
data1 = data['population'].head()
data2 = data['country'].head()
conc_data_col = pd.concat([data1, data2], axis=1)
conc_data_col

G.DATA TYPES

5 data types: object, boolean, integer, float and categorical

In [ ]:
data.dtypes

In [ ]:
# Lets convert object to categorical and int to float
data['country'] = data['country'].astype('category')
data['suicides_no'] = data['suicides_no'].astype('float')

In [ ]:
data.dtypes

H. MISSING DATA AND TESTING WITH ASSERT

In [ ]:
data.info()

Lets look at does suicide data have nan value.
As you can see there are 27820 entries. However HDI for years 8364 non-null float so it has 19456 null float.

In [ ]:
# Lets chech HDI for year 
data["HDI for year"].value_counts(dropna=False)
# As you can see, there are 19456 NAN value

In [ ]:
# Lets drop nan values
data1 = data # Also we will use data to fill missing value, so I assign it to data1 variable.
data1["HDI for year"].dropna(inplace = True) # inplace=True means we do not assign it to new variable. Changes automatically assigned to data.

In [ ]:
# Lets check with assert statement 
# Assert statement:
assert 1==1 #return nothing because it is true

In [ ]:
# assert 1==2 #return to error

In [ ]:
assert data['HDI for year'].notnull().all() # returns nothing because we do not have nan values

4. PANDAS FOUNDATION

single column = series
Nan = not a number
dataframe.values = numpy

A. BUILDING DATA FRAMES FROM SCRATCH

We can build dtaframe from csv we did earlier.
Also we can build dataframe from dictionaries.
zip() = This function returns a list of tuples, where the i-ht tuple contains the i-th element from each of the argument sequences or iterables
Addinng new column
Broadcasting : Create new column and assign a value to entire column.

In [ ]:
# Data frames from dictionaries
city = ["izmir", "antalya"]
population = ["11","12"]
list_label = ["city","population"]
list_col = [city, population]
zipped = list(zip(list_label,list_col))
data_dict = dict(zipped)
df = pd.DataFrame(data_dict)
df

In [ ]:
# Add new columns
df["region"] = ["ege","akdeniz"]
df

In [ ]:
# Broadcasting
df["income"] = 0 # Broadcasting entire column
df

B. VISUAL EXPLORATORY DATA ANALYSIS

In [ ]:
# Plotting all data
data1 = data.loc[:,["population","HDI for year", "gdp_per_capita ($)", "year"]]
data1.plot()
plt.show()
# it is confusing

In [ ]:
# subplot
data1.plot(subplots = True)
plt.show()

In [ ]:
# scatter plot
data1.plot(kind = "scatter", x = "population", y = "HDI for year")
plt.show()

In [ ]:
# hist plot
data1.plot(kind = "hist", y="year", bins = 50, range = (0,250), normed = True)

In [ ]:
# histogram subplot with non cumulative and cumulative
fig, axes = plt.subplots(nrows = 2, ncols = 1)
data1.plot(kind = "hist", y = "year", bins = 50, range = (0,250), normed = True, ax = axes[0])
data1.plot(kind = "hist", y = "year", bins = 50, range = (0,250), normed = True, ax = axes[1], cumulative = True)
plt.savefig('graph.png')
plt

C. STATISTICAL EXPLORATORY DATA ANALYSIS

In [ ]:
data.describe()

D. INDEXING PANDAS TIME SERIES
datetime = object
parse_dates(boolean) : Transform date to ISO 8601 (yyyy-mm-dd hh:mm:ss) format

In [ ]:
time_list = ["1992-03-08", "1992-04-12"]
print(type(time_list[1])) # As you can see date is string
# However we want to it to be datetime object
datetime_object = pd.to_datetime(time_list)
print(type(datetime_object))

In [ ]:
# close warning 
import warnings
warnings.filterwarnings("ignore")
# in order to practice lets take head of suicide data and add it a time list
data2 = data.head()
date_list = ["2019-08-23", "2019-11-15", "2019-12-29", "2020-01-11", "2020-02-11"]
datetime_object = pd.to_datetime(date_list)
data2["date"] = datetime_object
# lets make date as index
data2 = data2.set_index("date")
data2

In [ ]:
# now we can select according to our date index
print(data2.loc["2020-02-11"])
print(data2.loc["2019-12-29":"2020-02-11"])

E. RESAMPLING PANDAS TIME SERIES

Resampling : Statistical method over different intervals.
Needs string to specify frequency like "M" = month or "A" = year.
Downsampling : reduce date time rows to slower frequency like from daily to weekly.
Upsampling: increase date time rows to faster frequency like from daily to hourly.
Interpolate: Interpolate values according to different methods like ‘linear’, ‘time’ or index.

In [ ]:
# we will use data2 that we create at previous part
data2.resample("A").mean()

In [ ]:
# lets resample with month
data2.resample("M").mean()
# As you can see there are a lot of nan because data2 does not include all months

In [ ]:
# in real life (data is real. Not created from us like data2) we can solve this problem with interpolate
# we can interpolate with mean().
data2.resample("M").mean().interpolate("linear") # mean() yerine first() : interpolate from first value

MANIPULATING DATA FRAMES WITH PANDAS

A. INDEXING DATA FRAMES

Indexing using square brackets
Using column attribute and row label
Using loc accessor
Selecting only some columns

In [ ]:
# read data
data = pd.read_csv('../input/suicide-rates-overview-1985-to-2016/master.csv')
#data= data.set_index("#") #NEDEN HATA
data.head()

In [ ]:
# indexing using square brackets
data["population"][1]

In [ ]:
# using column attribute and row label
data.population[1]

In [ ]:
# using loc accessor
data.loc[1, ["population"]]

In [ ]:
# selecting only some columns
data[["population", "country"]]

B. SLICING DATA FRAME

In [ ]:
# Difference between selecting columns: series and dataframes
print(type(data["population"])) #series
print(type(data[["population"]])) # data frames

In [ ]:
# slicing and indexing series
data.loc[1:10, "year":"population"]  # 10 and populatşon inclusive

In [ ]:
# reverse slicing
data.loc[10:1:-1, "year":"population"]

In [ ]:
# from something to end
data.loc[1:10, "population":]

C. FILTERING DATA FRAMES

In [ ]:
# Creating boolean series
boolean = data.population > 30000
data[boolean]

In [ ]:
# Combining filters
first_filter = data.population > 30000
second_filter = data.year > 2015
data[first_filter & second_filter]

In [ ]:
# filtering column based others
data.population[data.year > 2015]

D. TRANSFORMING DATA

In [ ]:
# plain python functions
def div(n):
    return n/2
data.population.apply(div)

In [ ]:
# or we can use lambda function
data.population.apply(lambda n : n/2)

In [ ]:
# defining column using other columns
data["total_power"] = data.population + data.year
data.head()

E. INDEX OBJECTS AND LABELED DATA

index: sequence of label

In [ ]:
# our index name is this:
print(data.index.name)
#lets change it
data.index.name = "index_name"
data.head()

In [ ]:
# overwrite index
# if we want to modify index we need to change all of them.
data.head()
#first copy of our data to data3 then change index 
data3 = data.copy()
#lets make index start from 100. it is not remarkable change but it is just example
data3.index = range(100,27920,1)
data3.head()

F. HIERARCHICAL INDEXING

Setting indexing

In [ ]:
data = pd.read_csv('../input/suicide-rates-overview-1985-to-2016/master.csv')
data.head()

In [ ]:
# setting index: country is outer year is inner index
data1 = data.set_index(["country", "year"])
data1.head(100)

G. PIVOTING DATA FRAMES

pivoting: reshape tool

In [ ]:
dic = {"treatment":["A","A","B","B"], "gender":["F","M","F","M"], "response":[10,45,5,9],"age":[12,45,78,96]}
df = pd.DataFrame(dic)
df

In [ ]:
# pivoting
df.pivot(index ="treatment",columns = "gender", values = "response")

I. STACKING AND UNSTACKING DATAFRAME

In [ ]:
df1 = df.set_index(["treatment","gender"])
df1
# lets unstack it

In [ ]:
# level determines indexes
df1.unstack(level=0)

In [ ]:
df1.unstack(level=1)

In [ ]:
# change inner and outer level index position
df2 = df1.swaplevel(0,1)
df2

J. MELTING DATA FRAMES

Reverse of pivoting

In [ ]:
df

In [ ]:
# df.pivot(index="treatment",columns="gender",values="response")
pd.melt(df,id_vars="treatment",value_vars=["age","response"])

K. CATEGORICALS AND GROUPBY

In [ ]:
# We will use df
df

In [ ]:
# according to treatment take means of other features
df.groupby("treatment").mean() # mean is aggregation / reduction method
# there are other methods like sum, std,max or min

In [ ]:
# we can only choose one of the feature
df.groupby("treatment").age.max()

In [ ]:
# Or we can choose multiple features
df.groupby("treatment")[["age","response"]].min()

In [ ]:
df.info()
# as you can see gender is object
# however if we use groupby, we can convert it categorical data.
##df["gender"] = df["gender"].astype("category")
#df["treatment"] = df["treatment"].astype("category")
#df.info()