In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("/kaggle/input/gufhtugu-publications-dataset-challenge/GP Orders - 4.csv" , parse_dates=['Order Date'])

# Tasks to achieve

* What is the best-selling book?
* Visualize order status frequency
* Find a correlation between date and time with order status
* Find a correlation between city and order status
* Find any hidden patterns that are counter-intuitive for a layman
* Can we predict number of orders, or book names in advance?Tasks to achieve

In [ ]:
df.head()

### Rename the column names.

In [ ]:
df.rename({"Order Number" : "Order_Number" , "Order Status" : "Order_Status"  , "Book Name" : "Book_Name" ,
           "Order Date" : "Order_Date" , "City (Billing)" : "City" } , axis = 1 , inplace = True)

In [ ]:
df.info()

 ### check the null values in the dataset

In [ ]:
df.isnull().sum()

In [ ]:
row , col  = df.shape

print(f"there are {row} rows and {col} columns")

### explore the null values to understand.

In [ ]:
df[df["Book_Name"].isnull()]

In [ ]:
df[df["City"].isnull()]

### Drop all na values from columns.

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
pd.options.display.max_rows = None

In [ ]:
df["Book_Name"].head(10)

In [ ]:
df["Book_Name"].tail(10)

### notes

### book name column are in different form like that   
* ڈیٹا سائنس/مشین لرننگ/QATRA QATRA QULZAM

* (C++)/ان پیج 2000/عبارت کیسے لکھیں رشید خان/نفسیات کے معما

* Waqfa e Pareshani/Artificial Intelligence/Python Programming/Introduction to Blockchain with Case Studies/اجالوں کا سفر/Book Band kamron ki Muhabbat/MAN CHALAY KAA SODAA 

* R ka Taaruf  آر کا تعارف/ڈیٹا سائنس ۔ ایک تعارف/Global Science - Issue 219

* Kaggle for Begginers/Introduction to Blockchain with Case Studies/Justju ka safar-1/ATOMIC HABITS/Bagh-o-bahar bachoon kay lay dil chisp kahanian/Badlo Soch Badlo Zindagi/Aik Yaadgar Mushaira/Fear Management - A Spiritual Insight into Overcoming Your Fear  
### changed books name into single book like that.
* ڈیٹا سائنس/مشین لرننگ/QATRA QATRA QULZAM -> مشین لرننگ
### there are incorrect name of book also.
* "r ka taaruf  آر کا تعارف" -> r ka taaruf

* "انٹرنیٹ سے پیسہ کمائیں؟- مستحقین زکواة -> ""

* python programming- release date: august 14, 2020 -> python programming

* linux - an introduction (release data - october 3, 2020) -> linux - an introduction

### There are 4082 unique cities names.

In [ ]:
len(df["City"].unique())

### There are 3509 unique books names.

In [ ]:
len(df["Book_Name"].unique())

### Convert entries into lower case.

In [ ]:
df["Book_Name"] = df["Book_Name"].str.lower()

### remove special character from book column.

In [ ]:
df["Book_Name"] = df["Book_Name"].str.replace("(" , "").str.replace(")" , "")
df["Book_Name"] = df["Book_Name"].str.replace("[" , "").str.replace("]" , "")

### Renames some books names which names are not correct.

In [ ]:
df["Book_Name"] = df["Book_Name"].str.replace("python programming- release date: august 14, 2020" , "python programming")
df["Book_Name"] = df["Book_Name"].str.replace("انٹرنیٹ سے پیسہ کمائیں؟- مستحقین زکواة" , "")
df["Book_Name"] = df["Book_Name"].str.replace("molo masali - مولو مصلی" , "molo masali" )
df["Book_Name"] = df["Book_Name"].str.replace("r ka taaruf  آر کا تعارف" , "r ka taaruf")
df["Book_Name"] = df["Book_Name"].str.replace("linux - an introduction release data - october 3, 2020" , "linux - an introduction")

In [ ]:
df["Book_Name"].value_counts().head(10)

### There are multiple book names in a single row tried to correct them.

### Sepraate the books in each order on "/".

In [ ]:
for i in df["Book_Name"].tail(10).str.split("/"):
    print(i)

 #### Book names are now look good each book in a separate row.

In [ ]:
df["Book_Name"].str.split("/").str[0].head(10)

#### Update the Book_Name column.

In [ ]:
df["Book_Name"] = df["Book_Name"].str.split("/").str[0]

In [ ]:
df["Book_Name"].value_counts().head(10)

### clean the  book name column and reduce the unique names of book to 3509 to 665

In [ ]:
df.Book_Name.nunique()

### notes

### in city column there is huge amount of name of cities is wrong and multiple mistake are there like.

#### there are  villages , district  , tehsil , town names are also connect with city name that the real problem also.

####  in many places banks name  , colony name  are also in the city column

####  different country , town , city name also  ->abu dhabi , , london , northyork ,  mississauga 

#### province name of  pakistan punjab  , sindh  , balochistan , kpk , ajk

####  karachi -> khi , hub ,hub chowki , gulistane -johar , gulzare hijiri , gulshan -e- iqbal , "jahangiria ship malir ext near sokarachio" , "malir" , "orangi" , "azizabad" , "north nazimabad"

#### lahore -> lhr , valencia/lahore , Midel town lahore , Township Lahore

####  hydrabad -> hyd , hydrabadad , hydrabd , hydra bad 

#### islamabad ->  islambad , lslamababd , islama  bad , alkhidmat raazi hospital cbr

#### faislabad -> fsd , the four seasons sumandri road faislabad , faislabad faislabad 

#### peshawar ->canal raod peshawar , university peshawar

##### dera ghazi khan -> dg khan , d g khan , deraghazikhan , dera ghazi khan kahn , mangrotha east thesil taunsa district dera ghazi khan khan

#### special character ->  "." , "/" , ":" , "," ,"()" ,"[]" also.

#### continue.....

#### maximam city name are incorrect .

In [ ]:
df.City.sample(20)

#### Convert entries into lower case and remove blank spaces and special character.

In [ ]:
df["City"] = df["City"].str.lower().str.replace("," , "").str.replace("?" , "").str.replace("\d+" , "").str.replace("[" , "").str.replace("]" , "").str.strip()

In [ ]:
df["City"].value_counts().head(10)

#### With the help of this list try to clean the cities names.

##### list of pakistani cities obtained from https://gist.github.com/malikbilal1997/4f41d4d153fca7087a8875cac7db8836

In [ ]:
pak_cities = ['islamabad', 'ahmed nager chatha', 'ahmadpur east', 'ali khan abad', 'alipur', 'arifwala', 'attock', 'bhera',
              'bhalwal', 'bahawalnagar','bahawalpur', 'bhakkar', 'burewala', 'chillianwala', 'chakwal', 'chichawatni',
              'chiniot', 'chishtian',
              'daska', 'darya khan', 'dera ghazi khan', 'dhaular', 'dina', 'dinga', 'dipalpur', 'faisalabad', 'ferozewala',
              'fateh jhang','ghakhar mandi', 'gojra', 'gujranwala', 'gujrat', 'gujar khan', 'hafizabad', 'haroonabad', 'hasilpur',
              'haveli lakha', 'jatoi',
              'jalalpur', 'jattan', 'jampur', 'jaranwala', 'jhang', 'jhelum', 'kalabagh', 'karor lal esan', 'kasur', 'kamalia', 'kamoke',
              'khanewal',
              'khanpur', 'kharian', 'khushab', 'kot addu', 'jauharabad', 'lahore', 'lalamusa', 'layyah', 'liaquat pur',
              'lodhran', 'malakwal', 'mamoori', 'mailsi', 'mandi bahauddin', 'mian channu', 'mianwali', 'multan', 'murree', 
              'muridke', 'mianwali bangla', 'muzaffargarh', 'narowal', 'nankana sahib', 'okara', 'renala khurd', 'pakpattan', 
              'pattoki', 'pir mahal', 'qaimpur', 'qila didar singh', 'rabwah', 'raiwind', 'rajanpur', 'rahim yar khan',
              'rawalpindi',
              'sadiqabad', 'safdarabad', 'sahiwal', 'sangla hill', 'sarai alamgir', 'sargodha', 'shakargarh', 'sheikhupura',
              'sialkot',
              'sohawa', 'soianwala', 'siranwali', 'talagang', 'taxila', 'toba tek singh', 'vehari', 'wah cantonment', 
              'wazirabad',
              'badin', 'bhirkan', 'rajo khanani', 'chak', 'dadu', 'digri', 'diplo', 'dokri', 'ghotki', 'haala', 'hyderabad',
              'islamkot', 'jacobabad', 'jamshoro', 'jungshahi', 'kandhkot', 'kandiaro', 'karachi', 'kashmore', 'keti bandar',
              'khairpur', 'kotri', 'larkana', 'matiari', 'mehar', 'mirpur khas', 'mithani', 'mithi', 'mehrabpur', 'moro',
              'nagarparkar', 'naudero', 'naushahro feroze', 'naushara', 'nawabshah', 'nazimabad', 'qambar', 'qasimabad', 
              'ranipur', 'ratodero', 'rohri', 'sakrand', 'sanghar', 'shahbandar', 'shahdadkot', 'shahdadpur',
              'shahpur chakar', 'shikarpaur', 'sukkur', 'tangwani', 'tando adam khan', 'tando allahyar',
              'tando muhammad khan', 'thatta', 'umerkot', 'warah', 'abbottabad', 'adezai', 'alpuri', 'akora khattak',
              'ayubia', 'banda daud shah', 'bannu', 'batkhela', 'battagram', 'birote', 'chakdara', 'charsadda', 'chitral',
              'daggar', 'dargai', 'darya khan', 'dera ismail khan', 'doaba', 'dir', 'drosh', 'hangu', 'haripur', 'karak',
              'kohat', 'kulachi', 'lakki marwat', 'latamber', 'madyan', 'mansehra', 'mardan', 'mastuj', 'mingora', 'nowshera',
              'paharpur', 'pabbi', 'peshawar', 'saidu sharif', 'shorkot', 'shewa adda', 'swabi', 'swat', 'tangi', 'tank',
              'thall', 'timergara', 'tordher', 'awaran', 'barkhan', 'chagai', 'dera bugti', 'gwadar', 'harnai', 'jafarabad',
              'jhal magsi', 'kacchi', 'kalat', 'kech', 'kharan', 'khuzdar', 'killa abdullah', 'killa saifullah', 'kohlu',
              'lasbela', 'lehri', 'loralai', 'mastung', 'musakhel', 'nasirabad', 'nushki', 'panjgur', 'pishin valley', 
              'quetta', 'sherani', 'sibi', 'sohbatpur', 'washuk', 'zhob', 'ziarat']

In [ ]:
df.head(10)

#### Apply a function on the city column to reduce incorrect cities names.

In [ ]:
def clean_city(city):
    for i in pak_cities:
        if i in str(city):
            return i
    return city

In [ ]:
df["City"] = df["City"].apply(clean_city)

In [ ]:
###  reduce city names from 4082 to 1707

In [ ]:
df["City"].nunique()

 ###  use this advance nltk libraray which remove all incorrect names from city column.

In [ ]:
import nltk

#### there are some other country ,cities , town name are also in this data remove that name.

In [ ]:
def clean_city(row):
    address = row.City.split()
    add = set()
    for a in address:
        a = a.strip()
        if a:
            add.add(a)
    for city in pak_cities:
        if row.City.__contains__(city):
            return city
        
    for a in add:
        for c in pak_cities:
            if nltk.edit_distance(a, c) <= 15: # considering spelling mistakes upto 5 letters
                return c
    return row.City

In [ ]:
df["City"] = df.apply(clean_city , axis = 1)

### Now all done with the city column.only 192 cities names are unique.

In [ ]:
df.City.nunique()

In [ ]:
df.groupby("City")["Order_Number"].count().reset_index().sort_values("Order_Number", ascending=False).head(10)

### Now data is clean. we are good to go now.next step to address the queries.

### Break order_date column into day , month , year and time.

In [ ]:
df["Order_Date"] = pd.DatetimeIndex(df["Order_Date"])
df["Year"] = df["Order_Date"].dt.year
df["Day"] = df["Order_Date"].dt.day_name()
df["Month"] = df["Order_Date"].dt.month_name()
df["Time"] = df["Order_Date"].dt.time
df["Hour"] = df["Order_Date"].dt.time
df["MY"]=pd.to_datetime(df['Order_Date']).dt.to_period('M')
df["MY"]= df["MY"].dt.strftime('%Y-%m')

In [ ]:
df.head()

# Visualize Order Status Frequency

In [ ]:
df["Order_Status"].unique()

In [ ]:
df["Order_Status"].value_counts()

In [ ]:
#First we check Number of completed, returned and cancelled orders
order_status = dict(df.value_counts('Order_Status'))
for key,value in order_status.items():
    print(f'{key} orders are {value}')

#Visualize completed, returned and cancelled orders
status = order_status.keys()
quantity = order_status.values()
plt.figure(figsize = (8,6))
plt.bar(status , quantity , color = ('Purple' , 'Green' , 'Red'))
plt.grid()
plt.xticks()
plt.yticks()
plt.title('Order Status Insights' )
plt.xlabel('Status' )
plt.ylabel('Quantity' )
plt.show()

In [ ]:
df["Order_Date"].dt.year.unique()

## Order status per year

In [ ]:
# reterive order status in 2019
# stats_19 = df[df['order_date'].dt.strftime("%Y") == "2019"].order_status  #FIRST METHOD
# # reterive order status in 2020
# stats_20 = df[df['order_date'].dt.strftime("%Y") == "2020"].order_status
# # reterive order status in 2021
# stats_21 = df[df['order_date'].dt.strftime("%Y") == "2021"].order_status

In [ ]:
# reterive order status in 2019.
stats_2019 = df[df["Order_Date"].dt.year == 2019].Order_Status            # SECOND METHOD
# reterive order status in 2020.
stats_2020 = df[df["Order_Date"].dt.year == 2020].Order_Status
# reterive order status in 2021.
stats_2021 = df[df["Order_Date"].dt.year == 2021].Order_Status

# graph size
plt.figure(figsize=(16,6))
#histogram for 2019
plt.subplot(1,3,1)
plt.title('Order Status in 2019')
plt.xlabel('Order status')
plt.ylabel('Total no of orders')
plt.hist(stats_2019)


#histogram for 2020
plt.subplot(1,3,2)
plt.title('Order Status in 2020')
plt.xlabel('Order status')
plt.ylabel('Total no of orders')
plt.hist(stats_2020)


#histogram for 2021
plt.subplot(1,3,3)
plt.title('Order Status in 2021')
plt.xlabel('Order status')
plt.ylabel('Total no of orders')
plt.hist(stats_2021)
plt.show()

### Find the Correlation of returned books with book name, city and order_status.

In [ ]:
df[df["Order_Status"] == "Returned"].Book_Name.value_counts().head(10)

### Find the Correlation of returned books with city.

In [ ]:
df[df["Order_Status"] == "Returned"].City.value_counts().head(10)

### Find the Correlation of Completed books with book name.

In [ ]:
df[df["Order_Status"] == "Completed"].Book_Name.value_counts().head(10)

### Find the Correlation of returned books with City.

In [ ]:
df[df["Order_Status"] == "Completed"].City.value_counts().head(10)

### Find the Correlation of Canceled books with book name.

In [ ]:
df[df["Order_Status"] == "Canceled"].Book_Name.value_counts().head(10)

### Find the Correlation of Canceled books with city.

In [ ]:
df[df["Order_Status"] == "Canceled"].City.value_counts().head(10)

# Top 10 selling books.

In [ ]:
df["Book_Name"].value_counts().head(10)

In [ ]:
df["Book_Name"].value_counts().head(10).plot.bar()
plt.xticks()
plt.title("Top 10 Best Selling Books")
plt.xlabel("Books")
plt.ylabel("Number of Orders")
plt.show()

# Least 10 selling books.

In [ ]:
df["Book_Name"].value_counts().tail(10)

In [ ]:
df["Book_Name"].value_counts().tail(10).plot.bar()
plt.xticks()
plt.title("Least 10 Selling Books")
plt.xlabel("Books")
plt.ylabel("Number of Orders")
plt.show()

# Top 10 best selling city.

In [ ]:
df.City.value_counts().head(10).to_frame()

In [ ]:
df.City.value_counts()[:10].plot.bar()
plt.xlabel("City")
plt.title("Best Selling City")
plt
plt.show()

## books sells in top most 10 cities

In [ ]:
most_cities = df['City'].value_counts().head(10)
#pi-chart of top  most cities where books sold
most_cities.plot(kind='pie',figsize=(8,8),autopct='%1.1f%%')

### total num of books sold.

In [ ]:
total_book_sold = df["Book_Name"].value_counts().sum()
print(f"In total ,{total_book_sold} book sold by Gufhtugu Publications from {df.Order_Date.min()} to {df.Order_Date.max()}")

In [ ]:
df.head()

# Correlation between date and time with order status

In [ ]:
corr = df.groupby(["Order_Status","MY"])["Order_Number"].count().reset_index().sort_values("Order_Number", ascending=False)
corr=corr.sort_values("MY")

fig, ax = plt.subplots()
ax.set_xticklabels(corr["MY"], rotation=60)
fig.set_size_inches([10, 6])

ax = sns.barplot(x = "MY"  , y="Order_Number",hue="Order_Status",hue_order=["Completed", "Returned", "Cancelled"],data=corr,palette="muted")
ax.set_title('Date-wise Order Status',fontsize=16)
ax.set_xlabel("Dates",fontsize=13)
ax.set_ylabel("Number of Orders",fontsize=13) 
plt.show()

# Correlation between city and order status.

#### First break code into single row for checking is it working or not then combine into single code.

In [ ]:
top_cities=df.groupby("City")["Order_Number"].count().reset_index().sort_values("Order_Number", ascending=False).head(10)

top_cities

In [ ]:
corr_ci_os= df.groupby(["City","Order_Status" ])["Order_Number"].count().reset_index().sort_values("Order_Number", ascending=False)
corr_ci_os

In [ ]:
corr_ci_os= df.groupby(["City","Order_Status" ])["Order_Number"].count().reset_index().sort_values("Order_Number", ascending=False)
corr_ci_os = corr_ci_os[corr_ci_os["City"].isin(top_cities["City"])]
fig, ax = plt.subplots()
ax=sns.barplot(x="City",y="Order_Number",hue="Order_Status",data=corr_ci_os, palette="muted")
# ax.set_xticklabels(corr_ci_os["City"], rotation=90)
fig.set_size_inches([10, 6])
ax.set_title('City-wise Order Status',fontsize=16)
ax.set_ylabel("Number of Orders",fontsize=13) 
ax.set_xlabel("Top 10 Cities",fontsize=13)

## Next steps

###  Find any hidden patterns that are counter-intuitive for a layman
### Can we predict number of orders, or book names in advance?

## Upvote if you find the notebook interesting.