In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool
from matplotlib.patches import Polygon

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
df = pd.read_csv('../input/amazon-top-50-bestselling-books-2009-2019/bestsellers with categories.csv')

In [ ]:
df.head() #summary of the first 5 rows in the dataset.

In [ ]:
df.info() # info gives data type like dataframe, number of sample or row, number of feature or column, feature types and memory usage

In [ ]:
df.columns #There are 7 columns in the dataset.

In [ ]:
df.describe() #statistical summary of the dataset.

* According to the summary of the dataset, we can say that there are 550 bestselling books in te dataset and average rate of the user rate is 4.7. When we see the table, also we can say that the data set covers 11 years, including 2009 and 2019. The most expensive book is 105 dollar. Also the most reviewed book has been reviewed 87841 times.

In [ ]:
df.describe(include='object')

* We can observe that there are 351 unique books names and the book titled "Publication Manual of the American Psychological Association, 6th Edition" is at the top level, repeating 10 times on the list. 
* There are 248 unique author names in the datasets and the most repeated author is Jeff Kinney. 
* Also we can say that there 2 different types of genre and Non Fiction was repeated 310 times and became the most repeated genre.

In [ ]:
df.columns =['Name', 'Author', 'User_Rating', 'Reviews', 'Price', 'Year', 'Genre']
df.columns

# **Correlation Map**

In [ ]:
df.corr()

In [ ]:
sns.heatmap(df.corr(), annot=True, linewidths=.5, fmt= '.3f')
plt.show()

There is no clear correlation and there is a weak correlation between the variables.

# Line Plot

In [ ]:
df.Reviews.plot(kind = 'line', grid = True, label = 'Price',linewidth=1,alpha = 0.7 )
plt.legend(loc = 'best')
plt.ylabel('Price')
plt.title('Line Plot') 
plt.show()

# Scatter Plot

* When we examine the 3 scatter plots below, we do not see a strong correlation.

In [ ]:
df.plot(kind='scatter', x='Reviews', y='Price',alpha = 0.5,color = 'red')
plt.xlabel('Reviews')            
plt.ylabel('Price')
plt.title('Reviews - Price Scatter Plot')

In [ ]:
df.plot(kind='scatter', x='User_Rating', y='Price',alpha = 0.5,color = 'red')
plt.xlabel('User_Rating')            
plt.ylabel('Price')
plt.title('User_Rating - Price Scatter Plot')

In [ ]:
df.plot(kind='scatter', x='Reviews', y='User_Rating',alpha = 0.5,color = 'red')
plt.xlabel('Reviews')            
plt.ylabel('User_Rating')
plt.title('Reviews - User_Rating Plot')

# Histogram

In [ ]:
df.Price.plot(kind = 'hist',bins = 50,figsize = (10,10))
plt.show()

* The books mostly changed from 0 to  20 dollars, and the number of books over 100 dollars was very few.

In [ ]:
fiction = df[df.Genre == 'Fiction']
non_fiction = df[df.Genre == 'Non Fiction']

In [ ]:
fiction.User_Rating.plot(kind = 'hist', bins = 25,color = 'red', figsize=(8,8), label = 'Ficton')
non_fiction.User_Rating.plot(kind = 'hist', bins = 25,color = 'blue', figsize=(8,8), label = 'Non Ficton')
plt.xlabel('User Rating')
plt.legend(loc='upper left')
plt.title('User Rating of Fiction Vs Non Fiction')

* In this graph, we can see the distribution of user rates on the genre.
* For example, books with 4.8 user rates are mostly distributed on fiction types.

In [ ]:
df.hist(column='Reviews', by='Genre', bins=25, grid=False, figsize=(8,8), layout=(3,1), sharex=True, color='#86bf93', zorder=2, rwidth=0.9)

* This graph separated according to the genre variable.
* In this graph, we can observe that reviews freguency on the genre variable.
* We can say that, there are fiction books that have 80.000 reviews according to the Non fiction books.

# Cat Plot

In [ ]:
sns.catplot(x = "Genre", y= "Price",hue="Year", kind="bar", data=df)

* A special case for the bar plot is when you want to show the number of observations in each category rather than computing a statistic for a second variable. This is similar to a histogram over a categorical, rather than quantitative, variable. 
* For example, in this table, we can observe that, in 2010, Non fiction books more expensive than Fiction books.

# Pandas

In [ ]:
x = df['Price']> 50 # There are only 6 books which have higher price value than 50
df [x]

In [ ]:
# 2 - Filtering pandas with logical_and
# There are only 4 books which have higher Price value than 50 and higher Reviews value than 5000
df[np.logical_and(df['Price']>50, df['Reviews']>5000 )]

In [ ]:
# For pandas we can achieve index and value
for index,value in df[['Author']][0:3].iterrows():
    print(index," : ",value)

In [ ]:
for index,value in df[['Price']][0:3].iterrows():
    print(index," : ",value)

# LIST COMPREHENSÄ°ON

In [ ]:
# lets classify books whether they have high or low price. Our threshold is average speed.
threshold = sum(df.Price)/len(df.Price)
print("threshold",threshold)
df["Price_level"] = ["high" if i > threshold else "low" for i in df.Price]
df.loc[:15,["Price_level","Price"]]

# CLEANING DATA

In [ ]:
# tail shows last 5 rows
df.tail()

In [ ]:
df.head()  # head shows first 5 rows

In [ ]:
# shape gives number of rows and columns in a tuble
df.shape

# EXPLORATORY DATA ANALYSIS

In [ ]:
#Frequency of Genre types
#There are 310 Non fiction books and 240 Fiction in the genre column.
print(df.Genre.value_counts(dropna = False))

In [ ]:
#Frequency of Price Level types
# We can see the number of the low and high values in the price value.
print(df.Price_level.value_counts(dropna =False ))

In [ ]:
#Frequency of Year types
#We can observe that number of years in the year column.
print(df.Year.value_counts(dropna = False))

In [ ]:
#Frequency of Author
#As it can be seen below there are 12 Jeff Kinney Author or 11 Rick Riordan Author.
print(df.Author.value_counts(dropna = False))

In [ ]:
#We can see that number of User Rating in the User Rating column.
print(df.User_Rating.value_counts(dropna = False))

# VISUAL EXPLORATORY DATA ANALYSIS

* For example: compare Price of books by genre
* Black line at top is max
* Blue line at top is 75%
* Green line is median (50%)
* Blue line at bottom is 25%
* Black line at bottom is min
* There are outliers

In [ ]:
df.boxplot(column='Price',by = 'Genre')

plt.show()

In [ ]:
fig,axs = plt.subplots(1,2, figsize = (12,6))
fig.suptitle('Reviews grouped by genre and price threshold')

df.boxplot(column = 'Reviews', by = 'Genre', ax = axs[0])

df.boxplot(column = 'Reviews', by = 'Price_level', ax = axs[1])


plt.show()

# TIDY DATA

In [ ]:
# Firstly I create new data from amazon top 50 bestselling data to explain melt nore easily.
df_new = df.head()    # I only take 5 rows into new data
df_new

In [ ]:
# lets melt
# id_vars = what we do not wish to melt
# value_vars = what we want to melt
melted = pd.melt(frame=df_new,id_vars = 'Name', value_vars= ['Price','Genre'])
melted

In [ ]:
melted = pd.melt(frame=df_new,id_vars = 'Name', value_vars= ['Reviews','Year'])
melted

# PIVOTING DATA

In [ ]:
# I want to make that columns are variable
# Finally values in columns are value
melted.pivot(index = 'Name', columns = 'variable',values='value')

# CONCATENATING DATA

In [ ]:
# Firstly lets create 2 data frame
data1 = df.head()
data2= df.tail()
conc_data_row = pd.concat([data1,data2],axis =0,ignore_index =True) # axis = 0 : adds dataframes in row
conc_data_row

In [ ]:
data1 = df['Reviews'].head()
data2= df['Genre'].head()
conc_data_col = pd.concat([data1,data2],axis =1) # axis = 1 : adds dataframes in column
conc_data_col

# DATA TYPES

In [ ]:
df.dtypes

In [ ]:
# lets convert object(str) to categorical and int to float.
df['Author'] = df['Author'].astype('category')
df['Price'] = df['Price'].astype('float')

In [ ]:
# As you can see Author is converted from object to categorical
# And Price is converted from int to float
df.dtypes

# MISSING DATA and TESTING WITH ASSERT

In [ ]:
# Lets look at does amazon top 50 bestselling books data have nan value
#There aren't any null object and it is not necessary fill of the null object.
df.info()

# PANDAS FOUNDATION

In [ ]:
# Plotting all data 
data1 = df.loc[:,["Price","Reviews","User_Rating"]]
data1.plot()
# it is confusing

In [ ]:
# subplots
data1.plot(subplots = True)
plt.show()

In [ ]:
# scatter plot  
df.plot(kind = "scatter",x="Price",y = "Reviews")
plt.show()

In [ ]:
# hist plot  
df.plot(kind = "hist",y = "Price",bins = 25,range= (0,50), density=True)

In [ ]:
#Cumulative
df.plot(kind = 'hist', y = "Price", bins =25, range= (0,50), density = True, cumulative = True)

STATISTICAL EXPLORATORY DATA ANALYSIS

In [ ]:
df.describe()

# Indexing pandas time series

In [ ]:
dt_object = pd.to_datetime(df.Year,format='%Y')
df2 =df
df2['date'] = dt_object
df2 = df2.set_index("date")
df2

In [ ]:
df.Year.sort_values()

# Resampling pandas time series

In [ ]:
df2.resample("A").mean() # A is the year

In [ ]:
df2.resample("A").sum()

In [ ]:
# Lets resample with month
df2.resample("M").mean()
# As you can see there are a lot of nan because df2 does not include all months

# INDEXING DATA FRAMES

In [ ]:
df.head()

In [ ]:
df["Price"][1] # indexing using square brackets

In [ ]:
# Selecting only some columns
df[["Price","Genre","Reviews"]]

# SLICING DATA FRAME

In [ ]:
# Difference between selecting columns: series and dataframes
print(type(df["Price"]))     # series
print(type(df[["Price"]]))   # data frames

In [ ]:
# Slicing and indexing series
df.loc[1:10,"Author":"User_Rating"]   # 10 and "User_Rating" are inclusive

In [ ]:
df.loc[1:10,"Author":"Price"]

In [ ]:
# Reverse slicing 
df.loc[5:1:-1,"Author":"Reviews"]

In [ ]:
#From something to end
df.loc[1:10,"Author":]

# FILTERING DATA FRAMES

In [ ]:
# Creating boolean series
boolean = df.Price > 55
df[boolean]

In [ ]:
# Combining filters
first_filter = df.Price > 30
second_filter = df.Reviews > 10000
df[first_filter & second_filter]

In [ ]:
# Filtering column based others
df.Year[df.User_Rating<4]

# TRANSFORMING DATA

In [ ]:
# Plain python functions
def div(n):
    return n/2
df.Price.apply(div)

In [ ]:
# Defining column using other columns
df["total_power"] = df.Price + df.User_Rating
df.head()

In [ ]:
# our index name is this:
print(df.index.name)
# lets change it
df.index.name = "index_name"
df.head()

In [ ]:
# Overwrite index
# if we want to modify index we need to change all of them.
df.head()
# first copy of our data to data3 then change index 
data3 = df.copy()
# lets make index start from 100. It is not remarkable change but it is just example
df.index = range(100,650,1)
df.head()

# HIERARCHICAL INDEXING

In [ ]:
df.set_index(["Author","Name"]) # we can see who has written how many books

# STACKING and UNSTACKING DATAFRAME

In [ ]:
df4 = df.set_index(["Name","Year"])
df4

In [ ]:
# change inner and outer level index position
df5 = df4.swaplevel(0,1)
df5

In [ ]:
# according to Year take means of other features
df.groupby("Year").mean()   # mean is aggregation / reduction method
# there are other methods like sum, std,max or min

In [ ]:
# we can only choose one of the feature
df.groupby("Year").Price.max()

In [ ]:
# Or we can choose multiple features
df.groupby("Year")[["Price","Reviews"]].min()

In [ ]:
df.info()