In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool
from subprocess import check_output
print(check_output(["ls", "../input"]).decode("utf8"))
#We are bringing the dataframes to the screen.

heart.csv

In [4]:
#heart.csv is coming to the screen
data = pd.read_csv('../input/heart.csv')
# Uploading survey.csv data

In [ ]:
#examining dataframe structure
data.info()
#as a result float64(1), int64(13)

In [ ]:
data.corr()
#I can't wait to see the correlation similarities between them.

In [ ]:
#correlation map
f,ax = plt.subplots(figsize=(10, 10))
sns.heatmap(data.corr(), annot=True, linewidths=.4, fmt= '.1f',ax=ax)
#We use the seoborn library. (sns) first parameter data.corr ,
#https://seaborn.pydata.org/generated/seaborn.heatmap.html

plt.show()

**chest pain(cp) and heart rate correlated closely with heart rate 0.4**
0 altında olursa ilişki yok. 0 üstünde 1 yaklaştıkça korelasyon ilişki artar.
If there is 0, there is no relationship. The correlation relationship increases as you approach 1 on 0.

In [ ]:
#to get the first 10 lines
data.head(10)

In [ ]:
data.columns
#to retrieve column names

1. INTRODUCTION TO PYTHON


**MATPLOTLIB
  Matplot is a python library that help us to plot data. The easiest and basic plots are line, scatter and histogram plots.******

* Line plot is better when x axis is time.
* Scatter is better when there is correlation between two variables
* Histogram is better when we need to see distribution of numerical data.
* Customization: Colors,labels,thickness of line, title, opacity, grid, figsize, ticks of axis and linestyle
https://pandas.pydata.org/pandas-docs/version/0.15.0/visualization.html

In [ ]:
# Line Plot
# color = color, label = label, linewidth = width of line, alpha = opacity, grid = grid, linestyle = sytle of line
data.cp.plot(kind = 'line', color = 'g',label = 'chest pain',linewidth=1,alpha = 0.5,grid = True,linestyle = ':')
data.thalach.plot(color = 'r',label = 'maximum heart rate',linewidth=1, alpha = 0.5,grid = True,linestyle = '-.')
data.age.plot(color = 'b',label = 'age',linewidth=0.5, alpha = 0.8,grid = True,linestyle = 'dashed')


plt.legend(loc='upper right', bbox_to_anchor=(1, 0.3))     # legend = puts label into plot

#https://matplotlib.org/api/legend_api.html


plt.xlabel('x axis')              # label = name of label
plt.ylabel('y axis')
plt.title('Line Plot')            # title = title of plot
plt.show()

The relationship between the pain type and the heart rate and the disorientation with age is seen.
1. x axis of the amount of person
1. y axis of age,rate,pain

In [ ]:
# Scatter Plot 
# x = attack, y = defense
data.plot(kind='scatter', x='thalach', y='slope',alpha = 0.8,color = 'brown')
plt.xlabel('thalach')              # label = name of label
plt.ylabel('slope')
plt.title('The slope of the peak exercise ST segment maximum heart rate achieved Scatter Plot')  
plt.show()# title = title of plot
#here's the correlation

In [ ]:
# Scatter Plot 
# x = attack, y = defense
#data.plot(kind='scatter', x='thalach', y='age',alpha = 0.8)
plt.scatter(data.thalach,data.age,alpha=0.4,color = 'green')
plt.xlabel('thalach')              # label = name of label
plt.ylabel('age')
plt.title('Age and maximum heart rate achieved Scatter Plot')  
plt.show()# title = title of plot
#here's not the correlation

In [ ]:
# Histogram
# bins = number of bar in figure
data.chol.plot(kind = 'hist',bins = 40,figsize = (6,6),alpha=0.5,layout ='tuple',sharex=False)
plt.show()
#http://pandas.pydata.org/pandas-docs/version/0.19.0/generated/pandas.DataFrame.hist.html

In [ ]:
#create dictionary and look its keys and values
dictionary = {'Name' : 'Bülent','Age' : 53,'City':'Adana','Test':1}
print(dictionary.keys())
print(dictionary.values())

In [ ]:
# Keys have to be immutable objects like string, boolean, float, integer or tubles
# List is not immutable
# Keys are unique
dictionary['City'] = "İstanbul"    # update existing entry
print(dictionary)
dictionary['Country'] = "Turkey"       # Add new entry
print(dictionary)
del dictionary['Test']              # remove entry with key 'spain'
print(dictionary)
print('Country' in dictionary)        # check include or not
dictionary.clear()                   # remove all entries in dict
print(dictionary)

In [ ]:
# In order to run all code you need to take comment this line
# del dictionary         # delete entire dictionary     
print(dictionary)       # it gives error because dictionary is deleted


**PANDAS**


What we need to know about pandas?

CSV: comma - separated values

In [5]:
data = pd.read_csv('../input/heart.csv')

series = data['chol']        # data['Defense'] = series
print(type(series))
data_frame = data[['chol']]  # data[['Defense']] = data frame
print(type(data_frame))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [6]:
# 1 - Filtering Pandas data frame
x = data['chol']>200     # There are only 252 person who have higher cholestrol value than 200
data[x]

     age  sex  cp  trestbps  chol   ...    oldpeak  slope  ca  thal  target
0     63    1   3       145   233   ...        2.3      0   0     1       1
1     37    1   2       130   250   ...        3.5      0   0     2       1
2     41    0   1       130   204   ...        1.4      2   0     2       1
3     56    1   1       120   236   ...        0.8      2   0     2       1
4     57    0   0       120   354   ...        0.6      2   0     2       1
6     56    0   1       140   294   ...        1.3      1   0     2       1
7     44    1   1       120   263   ...        0.0      2   0     3       1
10    54    1   0       140   239   ...        1.2      2   0     2       1
11    48    0   2       130   275   ...        0.2      2   0     2       1
12    49    1   1       130   266   ...        0.6      2   0     2       1
13    64    1   3       110   211   ...        1.8      1   0     2       1
14    58    0   3       150   283   ...        1.0      2   0     2       1
15    50    0   2       120   219   ...        1.6      1   0     2       1
16    58    0   2       120   340   ...        0.0      2   0     2       1
17    66    0   3       150   226   ...        2.6      0   0     2       1
18    43    1   0       150   247   ...        1.5      2   0     2       1
19    69    0   3       140   239   ...        1.8      2   2     2       1
20    59    1   0       135   234   ...        0.5      1   0     3       1
21    44    1   2       130   233   ...        0.4      2   0     2       1
22    42    1   0       140   226   ...        0.0      2   0     2       1
23    61    1   2       150   243   ...        1.0      1   0     2       1
25    71    0   1       160   302   ...        0.4      2   2     2       1
26    59    1   2       150   212   ...        1.6      2   0     2       1
28    65    0   2       140   417   ...        0.8      2   1     2       1
32    44    1   1       130   219   ...        0.0      2   0     2       1
33    54    1   2       125   273   ...        0.5      0   1     2       1
34    51    1   3       125   213   ...        1.4      2   1     2       1
36    54    0   2       135   304   ...        0.0      2   0     2       1
37    54    1   2       150   232   ...        1.6      2   0     3       1
38    65    0   2       155   269   ...        0.8      2   0     2       1
..   ...  ...  ..       ...   ...   ...        ...    ...  ..   ...     ...
265   66    1   0       112   212   ...        0.1      2   1     2       0
266   55    0   0       180   327   ...        3.4      1   0     2       0
268   54    1   0       122   286   ...        3.2      1   2     2       0
269   56    1   0       130   283   ...        1.6      0   0     3       0
270   46    1   0       120   249   ...        0.8      2   0     3       0
271   61    1   3       134   234   ...        2.6      1   2     2       0
272   67    1   0       120   237   ...        1.0      1   0     2       0
273   58    1   0       100   234   ...        0.1      2   1     3       0
274   47    1   0       110   275   ...        1.0      1   1     2       0
275   52    1   0       125   212   ...        1.0      2   2     3       0
276   58    1   0       146   218   ...        2.0      1   1     3       0
277   57    1   1       124   261   ...        0.3      2   0     3       0
278   58    0   1       136   319   ...        0.0      2   2     2       0
280   42    1   0       136   315   ...        1.8      1   0     1       0
281   52    1   0       128   204   ...        1.0      1   0     0       0
282   59    1   2       126   218   ...        2.2      1   1     1       0
283   40    1   0       152   223   ...        0.0      2   0     3       0
284   61    1   0       140   207   ...        1.9      2   1     3       0
285   46    1   0       140   311   ...        1.8      1   2     3       0
286   59    1   3       134   204   ...        0.8      2   2     2       0
287   57    1   1       154   232   ...        0.0      2   1     2       0
288   57    1   0       110   335   ...        3.0      1   1     3       0
289   55    0   0       128   205   ...        2.0      1   1     3       0
290   61    1   0       148   203   ...        0.0      2   1     3       0
291   58    1   0       114   318   ...        4.4      0   3     1       0
292   58    0   0       170   225   ...        2.8      1   2     1       0
293   67    1   2       152   212   ...        0.8      1   0     3       0
298   57    0   0       140   241   ...        0.2      1   0     3       0
299   45    1   3       110   264   ...        1.2      1   0     3       0
302   57    0   1       130   236   ...        0.0      1   1     2       0

[252 rows x 14 columns]

In [7]:
# 2 - Filtering pandas with logical_and
# There are only 5 person who have higher cholestrol value than 270 and pain value equal 3
data[np.logical_and(data['chol']>270, data['cp']==3 )]

     age  sex  cp  trestbps  chol   ...    oldpeak  slope  ca  thal  target
14    58    0   3       150   283   ...        1.0      2   0     2       1
83    52    1   3       152   298   ...        1.2      1   0     3       1
222   65    1   3       138   282   ...        1.4      1   1     2       0
228   59    1   3       170   288   ...        0.2      1   0     3       0
254   59    1   3       160   273   ...        0.0      2   0     2       0

[5 rows x 14 columns]

In [8]:
# This is also same with previous code line. Therefore we can also use '&' for filtering.
data[(data['chol']>280) & (data['cp']==3)]

     age  sex  cp  trestbps  chol   ...    oldpeak  slope  ca  thal  target
14    58    0   3       150   283   ...        1.0      2   0     2       1
83    52    1   3       152   298   ...        1.2      1   0     3       1
222   65    1   3       138   282   ...        1.4      1   1     2       0
228   59    1   3       170   288   ...        0.2      1   0     3       0

[4 rows x 14 columns]

In [11]:
i = 0
while (i <5):
   print ('The count is:', i)
   i = i + 1

print ("Bye bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
Good bye!

In [13]:
lis = [10,20,30,40,50]
for i in lis:
    print('i is: ',i)
print('')

# Enumerate index and value of list
# index : value = 0:10, 1:20, 2:30, 30:4, 40:50
for index, value in enumerate(lis):
    print(index," : ",value)
print('')   

# For dictionaries
# We can use for loop to achive key and value of dictionary. We learnt key and value at dictionary part.
dictionary = {'Name' : 'Bülent','Age' : 53,'City':'Adana','Test':1}
for key,value in dictionary.items():
    print(key," : ",value)
print('')

# For pandas we can achieve index and value
for index,value in data[['chol']][0:1].iterrows():
    print(index," : ",value)

i is:  10
i is:  20
i is:  30
i is:  40
i is:  50

0  :  10
1  :  20
2  :  30
3  :  40
4  :  50

Name  :  Bülent
Age  :  53
City  :  Adana
Test  :  1

0  :  chol    233
Name: 0, dtype: int64