In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
d = pd.read_csv('/kaggle/input/weather-dataset-rattle-package/weatherAUS.csv')
d

# 1- Read the dataset as a dataframe. Create a copy of your dataframe. Solve the rest of the questions using this dataframe copy.

In [ ]:
df=d.copy()
df

# 2-Find out the describe and info attributes of the dataframe. Analyze these information and create a short write-up according to your findings.

In [ ]:
# Info of data
df.info()

In [ ]:
df.describe().T

In [ ]:
# std degeri ne kadar yukskse veri yayilimi o kadar fazla 
# mean ve %50 degerleri birbirine yakinsa normal dagilim denebilir

# 3- Find out the shape and size info of the dataset.

In [ ]:
df.shape

In [ ]:
df.size

# 4- Find out the types values of the columns and save the result as a dataframe.

In [ ]:
df1 = df.dtypes.to_frame('dtypes').reset_index()
df1

# 5- Find out the non-null counts of the columns and save the result as a dataframe.

In [ ]:
df2 = pd.DataFrame(df.shape[0]-df.isna().sum(), columns = ['notnull'])
df2.reset_index(level=0, inplace=True)
df2

# 6- Find out the null counts of the columns and save the result as a dataframe.

In [ ]:
df3 = pd.DataFrame(df.isnull().sum(), columns = ['isnull'])
df3.reset_index(level=0, inplace=True)
df3

# 7- Find out the unique counts of the columns and save the result as a dataframe.

In [ ]:
df4 = pd.DataFrame(df.nunique(), columns = ['nunique'])
df4.reset_index(level=0, inplace=True)
df4

# 8- Merge the dataframes you created in questions 4-5-6-7.

In [ ]:
df_info = pd.merge(pd.merge(pd.merge(df1,df2),df3),df4)
df_info.rename(columns={"index": "Columns"}, inplace=True)
df_info["%null"] = (df_info["isnull"])/len(df)*100
df_info

# 9-Lowercase all column names.

In [ ]:
df.columns = df.columns.str.lower()
df.head()

# 10- Change all the No values to NoRain and all the Yes values to Rain in raintoday and raintomorrow columns.

In [ ]:
df.raintoday.replace('No','NoRain',inplace = True)
df.raintoday.replace('Yes','Rain',inplace = True)
df.raintomorrow.replace('No','NoRain',inplace = True)
df.raintomorrow.replace('Yes','Rain',inplace = True)
df.sample(5)

# 11- Change the data type of "date" (object) column to datetime64 and reformat the date as DD/MM/YYYY.

In [ ]:
df['date']= pd.to_datetime(df['date'])
df.date = df.date.dt.strftime('%d/%m/%Y')
df.head(3)

# 12- Create a new column called "difference", calculate the difference between maxtemp and mintemp columns for each row, and store the value in this new column.

In [ ]:
df['difference'] = df['maxtemp'] - df['mintemp']
df = df[['date', 'location', 'mintemp', 'maxtemp','difference','rainfall', 'evaporation',
       'sunshine', 'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'humidity9am', 'humidity3pm',
       'pressure9am', 'pressure3pm', 'cloud9am', 'cloud3pm', 'temp9am',
       'temp3pm', 'raintoday', 'raintomorrow']]
df

# 13- Remove the evaporation and sunshine columns from the dataset permanently.

In [ ]:
df.drop('evaporation',axis = 1, inplace = True)
df.drop('sunshine',axis = 1, inplace = True)
df.sample(3)

# 14- Find out the most rainy day for each city.

In [ ]:
df[df.groupby('location')['rainfall'].transform(max) == df['rainfall']]

# 15- Filter out all the data for the city 'Albury' and then sort according to maxtemp column.

In [ ]:
df_Albury = df[df.location == 'Albury']
df_Albury

In [ ]:
df_Albury.sort_values(by = 'maxtemp')

# 16- Find out the NaN counts for each column

In [ ]:
dfNaN=  pd.DataFrame(df.isnull().sum(), columns = ['isnull'])
dfNaN.reset_index(level=0, inplace=True)
dfNaN

# 17- Remove the rows with NaN values in "windgustdir" column from the dataframe permanently.

In [ ]:
df.dropna(subset=['windgustdir'],inplace=True)
df.isna().sum()

# 18- Create a new dataframe, use "Location" column as the index of the dataframe, display the min, max, and median values of "evaporation" and "sunshine" columns in this dataframe.

In [ ]:
d

In [ ]:
df = d.copy()
df.groupby('Location')["Evaporation","Sunshine"].aggregate(['min', np.median, 'max'])

# 19- Find out the hottest day of "Perth". Example output: Timestamp('2015-01-05 00:00:00')

In [ ]:
df[df["Location"]=="Perth"].sort_values(by="MaxTemp", ascending=False).iloc[0,0]

# 20- Group your dataframe by location and find out the averages of all numeric values.

In [ ]:
df.groupby(by=["Location"]).mean()

In [ ]:
list(df.columns)

# 21-Find categorical variables

In [ ]:
categorical = [var for var in df.columns if df[var].dtype =='O']
categorical

# 22- Find continuous variables

In [ ]:
categorical = [var for var in df.columns if df[var].dtype !='O']
categorical

In [ ]:
df_cat = df.select_dtypes(include='object')
df_cat

In [ ]:
df_cat.describe().T

In [ ]:
df_num = df.select_dtypes(include='float64')
df_num