In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk("/kaggle/input"):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
# csv uzantılı dosyamızı import ettik
# Veri setimizin göz atmak için ilk 10 indexi yazdırdık
data = pd.read_csv("/kaggle/input/water-potability/water_potability.csv")
data.head(10)

In [ ]:
# Verisetimiz hakkında genel bilgi aldık
data.info()

In [ ]:
# Veri setimizin farklı özelliklerin birbirleri ile olan ilişkisine göz attık
data.corr()

In [ ]:
# Veri setimizin Korealasyon Haritasını çıkardık
f,ax = plt.subplots(figsize = (15, 15))
sns.heatmap(data.corr(), annot = True, linewidths=.5, fmt= ".2f", ax=ax)
plt.show()

In [ ]:
# Veri setimizin columns'larını yazdırdık
data.columns

In [ ]:
# Verimizi Line Plot ile görselleştirdik
data.Hardness.plot(kind = "line", color = "green",label = "Hardness", linewidth=1, alpha = 0.6, grid = True, linestyle = ":", figsize = (18,18), marker = "o", markerfacecolor = "magenta", markersize = 7)
data.Sulfate.plot(color = "blue", label = "Sulfate", linewidth=1, alpha = 0.6, grid = True, linestyle = "-.", figsize = (18,18), marker = "o", markerfacecolor = "yellow", markersize = 7)
plt.legend(loc="upper right")      # Sağ üstte lejant
plt.xlabel("x axis")              # Eksen İsimleri
plt.ylabel("y axis")
plt.title("Line Plot")            # Başlık
plt.show()

In [ ]:
# Verimizi Scatter Plot ile görselleştirdik
# x = Hardness, y = Sulfate
data.plot(kind = "scatter", x = "Hardness", y = "Sulfate", alpha = 0.7, color = "red", figsize = (13,13), marker = "+")
plt.xlabel("Hardness")              # Eksen İsimleri
plt.ylabel("Sulfate")
plt.title("Hardness Sulfate Scatter Plot")            # Başlık
plt.show()

In [ ]:
# Verimizi Histogram Plot ile görselleştirdik
data.Turbidity.plot(kind = "hist", bins = 50, figsize = (12,12))
plt.show()

In [ ]:
# Plot'u temizlemek için clf() komutunu kullanıyoruz
data.Turbidity.plot(kind = "hist",bins = 50)
plt.clf()
# Temizledikten sonra Plot'u göremeyiz

In [ ]:
# Kütüphane oluşturuyoruz
dictionary = {'Barcelona' : 'Messi', 'Real Madrid' : 'Modric'}
print(dictionary.keys())
print(dictionary.values())

In [ ]:
# Kütüphane üzerinde işlemler yapıyoruz
dictionary["Barcelona"] = "Messi"     
print(dictionary)
dictionary["PSG"] = "Neymar"      
print(dictionary)
del dictionary["Real Madrid"]                 
print(dictionary)
print("Bayern Münih" in dictionary)         
print("Barcelona" in dictionary)        
dictionary.clear()
print(dictionary)

In [ ]:
series = data["ph"]          # data["ph"] = series
print(type(series))
data_frame = data[["ph"]]    # data[["ph"]] = dataframe
print(type(data_frame))

In [ ]:
# Comparison operatör çalışması
print(5 < 9)
print(8 != 8)

# Boolean operatör çalışması
print(True & False)
print(True or False)

In [ ]:
# Pandas data frame filtreleme
x = data["Sulfate"] > 470
data[x]

In [ ]:
# Pandas data frame filtreleme 'and'
data[np.logical_and(data["Sulfate"] > 470, data["Hardness"] > 200)]

In [ ]:
# Pandas data frame filtreleme 'and'
data[(data["Sulfate"] > 470) & (data["Hardness"] > 200)]

In [ ]:
# Sayılar eşitlenene kadar loop'a devam edecek sonra print fonksiyonu içindeki yazıyı bastıracak
i = 0
while i != 6:
    print("i i: ",i)
    i +=2

print(i, " is equal to 6")

In [ ]:
# Listenin içinde dönüp içindeki değerleri yazdırmak için kullanabiliriz
lis = [1,3,5,7,9,11]

for i in lis:
    print("i is: ",i)
    
print("")

# İndex ve Value değerlerini bastırma
# index : value = 0:1, 1:3, 2:5, 3:7, 4:9, 5:11
for index, value in enumerate(lis):
    print(index, " : ", value)
    
print("")

# Dictionary içindeki hem Key hem de Value değerlerini yazdırmak için kullanıyoruz
dictionary = {"Barcelona":"Messi", "PSG":"Neymar"}

for key,value in dictionary.items():
    print(key, " : ", value)
    
print("")

# Pandas kütüphanesi için index ve Value değerlerine ulaşmak için kullanabiliriz
for index,value in data[["Sulfate"]][0:5].iterrows():
    print(index, " : ", value)

In [ ]:
def tuple_ex():
    """ return defined t tuple """
    t = (1,2,3)
    return t

a,b,c = tuple_ex()
print(a,b,c)

d,e,_ = tuple_ex()
print(d,e)

In [ ]:
#guess prints what
x = 2
def f():
    x = 3 
    return x

print(x)                    # x = 2 global scope
print(f())                 # x = 3 local scope

In [ ]:
# What if there is no local scope
x = 5
def f():
    y = 2 * x              # there is no local scope x
    return y

print(f())                 # it uses global scope x 
# First local scope searched, then global scope searched, if two of them cannot be found lastly built in scope searched.

In [ ]:
# How can we learn what is built in scope
import builtins
dir(builtins)

In [ ]:
# nested function
def square():
    """ return square of value """
    def add():
        """ add two local variable """
        x = 2
        y = 3
        z = x + y
        return z
    return add()**2
print(square())

In [ ]:
# default arguments
def f(a, b = 1, c = 2):
    y = a + b + c
    return y
print(f(5))
# what if we want to change default arguments
print(f(5,6,7))

In [ ]:
# flexible arguments *args
def f(*args):
    for i in args:
        print(i)
f(1)
print("")
f(1,2,3,4)
# flexible arguments **kwargs that is dictionary 
def f(**kwargs):
    """ print key and value of dictionary """
    for key, value in kwargs.items():           # If you do not understand this part turn for loop part and look at dictionary in for loop
        print(key, "", value)
f(country = "spain", capital = "madrid", population = 123456)

In [ ]:
# lambda function
square = lambda x: x**2             # where x is name of argument
print(square(4))
tot = lambda x,y,z: x + y + z       # where x,y,z are names of arguments
print(tot(1,2,3))

In [ ]:
# anonymous function
number_list = [1,2,3]
y = map(lambda x: x**2, number_list)
print(list(y))

In [ ]:
# iteration example
name = "ronaldo"
it = iter(name)
print(next(it))          # print next iteration
print(next(it))
print(next(it))
print(*it)               # print remaining iteration

In [ ]:
# zip example
list1 = [1,2,3,4]
list2 = [5,6,7,8]
z = zip(list1, list2)
print(z)
z_list = list(z)
print(z_list)

In [ ]:
# unzip example
un_zip = zip(*z_list)
un_list1, un_list2 = list(un_zip)       # unzip returns tuple
print(un_list1)
print(un_list2)
print(type(un_list2))

In [ ]:
# Example of list compherension
num1 = [1,2,3]
num2 = [i + 1 for i in num1]
print(num2)

In [ ]:
# Conditionals on iterable
num1 = [5,10,15,20]
num2 = [i**2 if i == 10 else i - 5 if i < 7 else i + 5 if 10 < i < 20 else i*3 for i in num1]
print(num2)

In [ ]:
# lets return water quality csv and make one more list comprehension example
# lets classify water quality whether they have high or low ph. Our threshold is average ph.
data["Hardness"] = data["Hardness"].astype("int")
threshold = sum(data.Hardness)/len(data.Hardness)
print("Threshold: ",threshold,"\n")
data["Hardness_level"] = ["high" if i > threshold else "low" for i in data.Hardness]
data.loc[:10,["Hardness_level","Hardness"]]         # we will learn loc more detailed later

In [ ]:
data.head()     # head shows first 5 rows

In [ ]:
# tail shows last 5 rows
data.tail()

In [ ]:
# columns gives column names of features
data.columns

In [ ]:
# shape gives number of rows and columns in a tuble
data.shape

In [ ]:
# info gives data type like dataframe, number of sample or row, number of feature or column, feature types and memory usage
data.info()

In [ ]:
# For example lets look frequency of water quality types
print(data["ph"].value_counts(dropna = False))        # if there are nan values that also be counted
# As it can be seen below there are 112 water pokemon or 70 grass pokemon

In [ ]:
1,2,6,7,9,45

In [ ]:
# For example max ph is 14 or min Hardness is 47.432
data.describe()        # ignore null entries

In [ ]:
# For example: water's compare of ph
# Black line at top is max
# Blue line at top is 75%
# Green line is median (50%)
# Blue line at bottom is 25%
# Black line at bottom is min
# There are no outliers
data.boxplot(column = "Hardness", by = "Hardness_level")
#plt.show()

In [ ]:
# Firstly I create new data from water quality data to explain melt nore easily.
data_new = data.head()         # I only take 5 rows into new data
data_new

In [ ]:
# lets melt
# id_vars = what we do not wish to melt
# value_vars = what we want to melt
melted = pd.melt(frame = data_new, id_vars = "ph", value_vars = ["Hardness","Solids"])
melted

In [ ]:
# Reverse of melting
# Index is name
# I want to make that columns are variable
# Finally values in columns are value
melted.pivot(index = "ph", columns = "variable", values = "value")

In [ ]:
# Firstly lets create 2 data frame
data1 = data.head()
data2 = data.tail()
conc_data_row = pd.concat([data1,data2], axis = 0, ignore_index = True)        # axis = 0 : adds dataframes in row
conc_data_row

In [ ]:
data1 = data["Hardness"].head()
data2 = data["Sulfate"].head()
conc_data_col = pd.concat([data1,data2], axis =1)     # axis = 1 : adds dataframes in column
conc_data_col

In [ ]:
data.dtypes

In [ ]:
# lets convert
data["Solids"] = data["Solids"].astype("int")

In [ ]:
# As you can see
data.dtypes

In [ ]:
# Lets look at does water quality data have nan value
data.info()

In [ ]:
# Lets chech ph
data["ph"].value_counts(dropna = False)
# As you can see, there are 491 NAN value

In [ ]:
# Lets drop nan values
data1 = data       # also we will use data to fill missing value so I assign it to data1 variable
data1["ph"].dropna(inplace = True)       # inplace = True means we do not assign it to new variable. Changes automatically assigned to data
# So does it work ?

In [ ]:
#  Lets check with assert statement
# Assert statement:
assert 1 == 1     # return nothing because it is true

In [ ]:
# In order to run all code, we need to make this line comment
#assert 1==2 # return error because it is false

In [ ]:
#assert  data['ph'].notnull().all()      # returns nothing because we drop nan values

In [ ]:
# # With assert statement we can check a lot of thing. For example
# assert data.columns[1] == 'Name'
# assert data.Speed.dtypes == np.int

In [ ]:
data.info()

In [ ]:
# Plotting all data 
data1 = data.loc[:,["Trihalomethanes","Sulfate","Organic_carbon"]]
data1.plot()
plt.show()
# it is confusing

In [ ]:
# subplots
data.plot(subplots = True, figsize = (12,12))
plt.show()

In [ ]:
# scatter plot
data1.plot(kind = "scatter", x = "Trihalomethanes", y = "Sulfate")
plt.show()

In [ ]:
# hist plot  
data1.plot(kind = "hist", y = "Sulfate", bins = 50, range = (0,250), density = True)

In [ ]:
# histogram subplot with non cumulative and cumulative
fig, axes = plt.subplots(nrows = 2, ncols = 1)
data1.plot(kind = "hist", y = "Trihalomethanes", bins = 50, range = (0,250), density = True, ax = axes[0])
data1.plot(kind = "hist", y = "Trihalomethanes", bins = 50, range = (0,250), density = True, ax = axes[1], cumulative = True)
plt.savefig("graph.png")

In [ ]:
data.describe()

In [ ]:
time_list = ["1992-03-08","1992-04-12"]
print(type(time_list[1]))      # As you can see date is string
# however we want it to be datetime object
datetime_object = pd.to_datetime(time_list)
print(type(datetime_object))

In [ ]:
# close warning
import warnings
warnings.filterwarnings("ignore")
# In order to practice lets take head of water quality data and add it a time list
data2 = data.head()
date_list = ["1992-01-10","1992-02-10","1992-03-10","1993-03-15","1993-03-16"]
datetime_object = pd.to_datetime(date_list)
data2["date"] = datetime_object
# lets make date as index
data2 = data2.set_index("date")
data2

In [ ]:
# Now we can select according to our date index
print(data2.loc["1993-03-16"])
print(data2.loc["1992-03-10":"1993-03-16"])

In [ ]:
# We will use data2 that we create at previous part
data2.resample("A").mean()

In [ ]:
# Lets resample with month
data2.resample("M").mean()
# As you can see there are a lot of nan because data2 does not include all months

In [ ]:
# In real life (data is real. Not created from us like data2) we can solve this problem with interpolate
# We can interpolete from first value
data2.resample("M").first().interpolate("linear")

In [ ]:
# In real life (data is real. Not created from us like data2) we can solve this problem with interpolate
# We can interpolete from first value
data2.resample("M").mean().interpolate("linear")

In [ ]:
# read data
data = pd.read_csv("/kaggle/input/water-potability/water_potability.csv")
data = data.set_index("ph")
data.head()

In [ ]:
# indexing using square brackets
data["Solids"][0]

In [ ]:
data.Solids[0]

In [ ]:
# using loc accessor
data.loc[0,["Solids"]]

In [ ]:
# Selecting only some columns
data[["Hardness","Solids"]]

In [ ]:
data = pd.read_csv("/kaggle/input/water-potability/water_potability.csv")
data.head()

In [ ]:
# Difference between selecting columns: series and dataframes
print(type(data["ph"]))      # series
print(type(data[["ph"]]))    # data frames

In [ ]:
# Slicing and indexing series
data.loc[1:10,"ph":"Hardness"]       # 10 and "Defense" are inclusive

In [ ]:
# Reverse slicing 
data.loc[10:1:-1,"ph":"Hardness"]

In [ ]:
# From something to end
data.loc[1:10,"Conductivity":]

In [ ]:
# Creating boolean series
boolean = data.ph > 13
data[boolean]

In [ ]:
# Combining filters
first_filter = data.ph > 13
second_filter = data.Hardness < 50
data[first_filter & second_filter]

In [ ]:
data[data.Sulfate < 200]

In [ ]:
# Filtering column based others
data.ph[data.Hardness < 80]

In [ ]:
# Plain python functions
def div(n):
    return n/2
data.ph.apply(div)

In [ ]:
# Defining column using other columns
data["ph+Hardness"] = data.ph + data.Hardness
data.head()

In [ ]:
# our index name is this:
print(data.index.name)
# lets change it
data.index.name = "index_name"
data.head()

In [ ]:
# Overwrite index
# if we want to modify index we need to change all of them.
data.head()
# first copy of our data to data3 then change index 
data3 = data.copy()
# lets make index start from 100. It is not remarkable change but it is just example
data3.index = range(100,3376,1)
data3.head()

In [ ]:
# We can make one of the column as index. I actually did it at the beginning of manipulating data frames with pandas section
# It was like this
# data= data.set_index("#")
# also you can use 
# data.index = data["#"]

In [ ]:
# lets read data frame one more time to start from beginning
data = pd.read_csv("/kaggle/input/water-potability/water_potability.csv")
data.head()
# As you can see there is index. However we want to set one or more column to be index

In [ ]:
# Setting index : type 1 is outer type 2 is inner index
data1 = data.set_index(["ph","Hardness"])
data1.head(100)

In [ ]:
dic = {"treatment":["A","A","B","B"],"gender":["F","M","F","M"],"response":[10,45,5,9],"age":[15,4,72,65]}
df = pd.DataFrame(dic)
df

In [ ]:
# pivoting
df.pivot(index = "treatment", columns = "gender", values = "response")

In [ ]:
df1 = df.set_index(["treatment","gender"])
df1
# lets unstack it

In [ ]:
# level determines indexes
df1.unstack(level = 0)

In [ ]:
df1.unstack(level = 1)

In [ ]:
df2 = df1.swaplevel(0,1)
df2

In [ ]:
df

In [ ]:
# df.pivot(index="treatment",columns = "gender",values="response")
pd.melt(df,id_vars = "treatment", value_vars = ["age","response"])

In [ ]:
# We will use df
df

In [ ]:
# according to treatment take means of other features
df.groupby("treatment").mean()       # mean is aggregation / reduction method
# there are other methods like sum, std,max or min

In [ ]:
# we can only choose one of the feature
df.groupby("treatment").age.max()

In [ ]:
# Or we can choose multiple features
df.groupby("treatment")[["age","response"]].min()

In [ ]:
df.info()
# as you can see gender is object
# However if we use groupby, we can convert it categorical data. 
# Because categorical data uses less memory, speed up operations like groupby
#df["gender"] = df["gender"].astype("category")
#df["treatment"] = df["treatment"].astype("category")
#df.info()