In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['sales-analysis', 'ibm-hr-analytics-attrition-dataset', 'customer-segmentation-tutorial-in-python']

In [3]:
inventory_df = pd.read_csv('../input/sales-analysis/SalesKaggle3.csv')
inventory_df.head()

   Order   File_Type     ...       LowUserPrice  LowNetPrice
0      2  Historical     ...              28.97        31.84
1      3  Historical     ...               0.00        15.54
2      4  Historical     ...              30.19        27.97
3      6  Historical     ...             133.93        83.15
4      7  Historical     ...               4.00        23.99

[5 rows x 14 columns]

In [4]:
hr_df = pd.read_csv('../input/ibm-hr-analytics-attrition-dataset/WA_Fn-UseC_-HR-Employee-Attrition.csv')
hr_df.head()

   Age         ...          YearsWithCurrManager
0   41         ...                             5
1   49         ...                             7
2   37         ...                             0
3   33         ...                             0
4   27         ...                             2

[5 rows x 35 columns]

In [5]:
mkt_df = pd.read_csv('../input/customer-segmentation-tutorial-in-python/Mall_Customers.csv')
mkt_df.head()

   CustomerID          ...           Spending Score (1-100)
0           1          ...                               39
1           2          ...                               81
2           3          ...                                6
3           4          ...                               77
4           5          ...                               40

[5 rows x 5 columns]