# What is Pandas?

Pandas is the most powerful and flexible open source data analysis package available in python.Pandas is well suited for different kind of data such as Tabular,ordered and unordered data,arbitrary matrix and any other form of observational/statistical data.

# How to install Pandas?

Pandas is part of the Anaconda distribution and and can be installed with Anaconda and minitab.

syntax:** conda install pandas**

pandas also can be installed by using pip command.

syntax: **pip install pandas**

# Datastructure of Pandas?

2 primary data structure of Pandas are:

1. Series(1-Dimensional) : 1D labeled homogeneously -typed array
2. DataFrame(2-Dimensional) : size mutable tabular structure with potentialy heterogeneously -typed data

3. Another Datastructure is ***Panel***. Panel is 3-Dimensional.

**Series:** is a container for scalar

**DataFrame: **is a container for series.

# Why Pandas package is widely used ?

* Easy handling of missing data (represented as NAN) in floating point as well as non-floating point data

* Size mutability: columns can be inserted and deleted from Data Frame and higher dimensional objects

* Automatioc and explicit data Alignment

* Powerful,flexible group by functionality to perform split-apply-combine operations on data sets ,for both aggregating and transforming data

* Intelligent label-based slicing ,fancy indexing and subsetting of large data sets
 
* intuitive merging and joining data sets

* Flexible reshaping and pivoting of Data sets

* Hierarchical labeling of axes

* Robust IO tools for loading data from flat files (CSV and delimited) ,excel files ,databases and saving/loading data from from the ultra  fast HDF5 format

* Time series specific functionality : date range generation and frequency conversion,date shifting and lagging

# Series Creation

* A series can be created by calling the pd.Series() function on a Numphy 1D array or python object (like tuple,list,dictionary) 

* Index can if constructed and if the index is not explicitly not mentioned , a numeric (from 0 to length-1) index is automatically geenrated.

**Syntax: pd.Series(data= ,index= ,dtype= ,name= )**

In [ ]:
#Basic Series with an array ,no index
import pandas as pd
import numpy as np
series1=pd.Series(np.random.randn(5))
series1  #Here type is automatically included from data and a numeric index is created

In [ ]:
s2=pd.Series(np.arange(1,10,2),index=list('abcde'),dtype=float,name='ID')
s2

In [ ]:
#Creating Series from a numeric list

s3=pd.Series([-55,4,6,7])
s3

In [ ]:
#Creating from a tuple

S4=pd.Series((4,5,6))
S4

In [ ]:
#creating Series from a dictionary 

S5=pd.Series({'a':10,'b':12,'c':14})
S5

# A series can be converted into list or dictionary using below methods.

* tolist()

* to_dict()

# Series Attributes

**Series attributes provide the metadata about the contents of the structure.**

**Attributes are : values,index,shape**

In [ ]:
# Get the underlying Numpy array
s2.values

In [ ]:
#Get the index
s2.index

In [ ]:
#Get the size on the disk

s2.nbytes

In [ ]:
#Get the number of elements

s2.shape

# Subsetting a Series

There are many ways to slice a series. It is possible to subset a series using

* label-based indexing by passing index labels associated with the values 

* fancy indexing using methods like loc,iloc,ix,at,iat

* boolean indexing for subsetting with logical arrays

# 1.label-based indexing by passing index labels associated with the values

In [ ]:
#Label and integer based indexing 

list1={'bread':1,'banana':1,'Milk':1,'eggs':2}
Menu=pd.Series(list1)
Menu

In [ ]:
#A single label

Menu['Milk']

In [ ]:
# a slice of labels

Menu['bread':'Milk']

In [ ]:
#Another label slice

Menu['banana':]

In [ ]:
#positional slicing

Menu[0:3]

In [ ]:
# More positional slicing

Menu[0::2]

In [ ]:
Menu

In [ ]:
#Reversing the Series

Menu[::-1]

# 2.Subsetting with fancy indexing  Methods

* loc(): for label based subsetting
* iloc: for integer based subsetting

.ix[] : Its a hybrid method which supports both integer based and label based value for selction and subsetting of the data

at[] : Access a single value for a row/column label pair . it is similar to loc() ,but as returns only single value hence faster than loc()

iat[] :  Acces a single value for row/column pair by integer position. It is similar to iloc(). As it returns only single value its faster than iloc

ix,at,iat are deprecated methods. So it is advisable to use loc and iloc

In [ ]:
s2.ix[4]

In [ ]:
#USing loc
Menu.loc['Milk']

In [ ]:
Menu.loc['bread':'Milk']

In [ ]:
#Using iloc
Menu.iloc[3]

In [ ]:
Menu.iloc[1:3]

# 3.Boolean Indexing

In [ ]:
#Create a boolean series using logical comparision
Menu > 1

In [ ]:
#Subset the series using the boolean to retain values where True
Menu[Menu>1]

# Peeking at the Data

head() and tail() methods are used to view small sample of a Series or DataFrame.

The default number of element to display is five.

In [ ]:
import pandas as pd
path="../input/us-counties-covid-19-dataset/us-counties.csv"
Data=pd.read_csv(path)
Data.head()

In [ ]:
Data.tail()

In [ ]:
Data.tail(6)

# Type Conversion

astype() method is used for type conversion

In [ ]:
S=pd.Series(['23','24','57'])
S

In [ ]:
S.astype(int)

# Treating Outlier

**clip(upper=threshold) /clip(lower=threshold)**  is used to clip outliers at a particular threshold value. All values lower than the supplied lower threshold will be replaced by threshold value. Similary for all values greater higher than upper threshold will be replaced by upper threshhold value.

Notes: clip_upper() and clip_lower() are now deprecated methods

In data wrangling we generally clip values at the 1st-99th percentile or the 5th-95th percentile

In [ ]:
s1=pd.Series([-100,-23,-2,5,6,7,8,56,78,98,1000])
s1

In [ ]:
s1.clip(upper=98)

In [ ]:
s1.clip(lower=-23)

In [ ]:
s1.clip_upper(98)

In [ ]:
s1.clip_lower(-23)

# Replacing Values

replace() method is used to replace source value with target value.

In [ ]:
School=pd.Series(['teacher','student','building'])
School

In [ ]:
School.replace({'teacher':'Teacher1','building':'Building1'})

In [ ]:
School

# Checking if a Value belongs to a list in a Series

isin()

In [ ]:
School.isin(['teacher','foo'])

# Finding uniques and their frequency

Methods are:

* unique: Find the array of distinct values in categorical series

* nunique: To count number of distinct values

* value_counts: To create a frequency table

In [ ]:
S=pd.Series(list('abcde'*3))
S

In [ ]:
S.unique()

In [ ]:
S.nunique()

In [ ]:
S.value_counts()

# Dealing with Duplicates

duplicated() : produces a boolean that marks every instance of a value after its first occurance as True

drop_duplicates(): returns the Series with the duplicates removed. To drop permanently duplicated value ,pass the **inplace=True **argument

In [ ]:
S.duplicated()

In [ ]:
S.drop_duplicates()

In [ ]:
S

In [ ]:
S.drop_duplicates(inplace=True)

In [ ]:
S

Finding the largest/smallest values

* idxmax : find the index of Largest value
* idxmin : find the index of smallest value
* nlargest : find n-largest 
* nsmallest : find n-smallest

Note: index label is returned with these values ,and this can be especially helpful in many cases

In [ ]:
from pandas import Series
s10=Series(np.random.randint(0,50,6),index=list('xyzabc'))
s10

In [ ]:

s10.idxmax()

In [ ]:
s10.idxmin()

In [ ]:
#nlargest() ->provide number of largest elements you want to check
s10.nlargest(1)

In [ ]:
s10.nsmallest(1)

In [ ]:
s10.nsmallest(2)

# Sorting the Data 

sort_values(): Sorting Series by values

sort_index() :sorting series by index

Note: in order to make the sorting permanent ,we need to pass an inplace=True argument

In [ ]:
s10.sort_values()

In [ ]:
s10.sort_values(ascending=False)

In [ ]:
s10.sort_index()

In [ ]:
s10.sort_index(ascending=False)

# Mathematical Summeries

* mean : give the average value of data
* median :provide the middle value of data
* std    : Give the spreading of data
* quantile : finds the requested percentile
* describe : produces the summary statistics of Data


These functions come handy when we are exploring Data for patterns

In [ ]:
S=pd.Series(np.random.randn(1000))
S

In [ ]:
S.head()

In [ ]:
S.mean()

In [ ]:
S.median()

In [ ]:
S.std()

In [ ]:
S.quantile([0.25,0.30,0.9])

In [ ]:
S.describe()

# Dealing With Missing Data

isnull,notnull are complementary methods that work on a Series with missing data to produce boolean series to identify 
missing or non-missing values respectively.


Note: Numpy np.nan and the base python None type are identified as missing values

In [ ]:
S1=pd.Series([1.12,4,5,np.nan,5.67,None])
S1

In [ ]:
S1.isnull()

In [ ]:
S1.notnull()

# Missing Value Imputation

***fillna,ffill,bfill***: helps us to deal with missing daat by choosing either impute them with a particular value 

ffill: forward fill : propagates the non-null value forward untill  another non-null value encountered

bfill: backward fill : prpagates the first observed non-null value backward untill another non-null value is met

***dropna:*** to drop the missing data altogether 


***Note*: **It is common practice in data science to replace missing values in a numeric variable by its mean or median if Data is skewed and in categorical variable with its mode

In [ ]:
S2=pd.Series([1.12,1.13,5.6,np.nan,9.0,None])
S2

In [ ]:
S2.fillna(0)

In [ ]:
S2.fillna(S2.mean())

In [ ]:
S2.ffill()

In [ ]:
S2.bfill()

In [ ]:
S2.dropna()

# Apply a function to each element

map() :
* It is the most important of all series methods. 
* It takes a general-purpose or user-defined function and applies it to each value in series.
* Combines with base python's lambda functions ,it can be incredibly powerful tool in transforming given series.

In [ ]:
S=pd.Series(['Smita Smith','John Mchel','Donald Trump','Melania Trump'])
S

In [ ]:
#Find the length of each name
S.map(lambda x: len(x))

In [ ]:
#Find the initials

S.map(lambda x: '.'.join([i[0] for i in x.split(' ')]))

# Visualize the Data

Plot() : plot method is the gateway to draw potential visualizations like bar charts,histograms,scatterplots,boxplots and more.

In [ ]:
#create a categorical series

S4=pd.Series(list('a'*3)+list('b'*5)+list('c'*9)+list('d'*2))
S4.head()

In [ ]:
S4.value_counts().plot.bar()

In [ ]:
S5=pd.Series(np.random.randn(1000))
S5.head()

In [ ]:
S5.plot.hist()

# DataFrame

Creating a Data Frame:

one of the most common ways of creating a DataFrame is from a dictionary of arrays or lists or from Numpy 2D arrays. 

Here's the syntax,

DataFrame(data= ,index= ,columns= )

# Creating DataFrame from a 2D Array

In [ ]:
df=pd.DataFrame(np.arange(24).reshape(8,3))
df

In [ ]:
x=np.arange(20,32).reshape(3,4)
x

In [ ]:
Df2=pd.DataFrame(data=np.arange(20,32).reshape(3,4),columns=list('ABCD'),index=list('XYZ'))
Df2

# Using a Dict of equal length Lists

* The key of the dictionary will be used as column names.

* The values will form the data in the table.

* We can optionally provide list of strings to be used as the index(or row labels)

In [ ]:
dict1={'ints':np.arange(5),'floats':np.arange(0.1,0.6,0.1),'strings':list('abcde')}
dict1

In [ ]:
df3=pd.DataFrame(dict1,index=list('xyzab'))
df3

# DataFrame Attributes

some of the attributes are 

* index
* columns
* dtypes
* shape
* info

In [ ]:
#Get row labels

path="../input/us-counties-covid-19-dataset/us-counties.csv"
Data=pd.read_csv(path)
Data.index

In [ ]:
#Get columns names

Data.columns

In [ ]:
#Get data types of each column

Data.dtypes

In [ ]:
Data.shape

In [ ]:
Data.info()

# Subsetting DataFrame

Pandas provides variety of ways to extract from a given dataset

* A value
* a row or column(Returns a series)
* Multiple rows/columns(Returns subset of the DataFrame)

# Selecting a single Row/Column

An individual column can be retrieved as a Series using 

* the sqaure bracket accessor ----------        (syntax: df['column_name'])
* The dot accessor           ----------         (syntax:  df.column_name)
* one of the accessor -loc,iloc ----------      (syntax:  df.iloc[:,column_number]

In [ ]:
df3

In [ ]:
#The square bracket accessor
df3['ints']

In [ ]:
#The dot accessor
df3.floats

In [ ]:
#By using loc
df3.loc[:,'strings']

In [ ]:
 df3.iloc[0:2,2]

In [ ]:
#Using .loc and a row label
df3.loc['x']

In [ ]:
#Using .iloc and row position

df3.iloc[3]

# Selecting 2 or more rows/columns

This can be accomplished by

* Passing list of column labels to the double square bracket
 
* passing list or slice of row/column labels/positions to loc,iloc

* Passing boolean series to loc,ilocfor selecting particular rows and columns

Syntax

**loc is label based**

df.loc[list/slice of_row_labels,list_of_column_labels]

**iloc is integer based**

df.iloc[row_position,column_positions]

In [ ]:
np.random.randint(10,50,5)

In [ ]:
#Create a new data frame

df4=pd.DataFrame(np.random.randint(0,100,25).reshape(5,5),index=list('abcde'),columns=list('PQRST'))
df4

In [ ]:
#Multiple columns
df4[['P','Q']]

In [ ]:
df4.loc[:,['R','S']]

In [ ]:
#subset multiple columns using .iloc
df4.iloc[:,2:]

In [ ]:
#Select multiple rows using []
df4['b':'d']

In [ ]:
#select multiple rows using .loc
df4.loc['b':'d',:]

In [ ]:
#subset multiple rows using .iloc

df4.iloc[2:4,:]

# Adding/Removing/Renaming columns or Rows

Some methods for acieving this are:

* assign
* drop
* rename

In [ ]:
#Method for creating new column

df4['U']=df4['P']+df4['Q']
df4

In [ ]:
#assign for creating columns on the fly
df4.assign(U=lambda x:x['P']+x['Q'])

drop: returns a copy of the DataFrame after deleting the rows and columns

axis = parameter controls which axis (row or column) we want to drop the series from, axis=0 for rows and axis=1 for columns

inplace = parameter decides whether the change must be made permanent

dropna() which helps us get rid of rows with missing data

rename() takes a Dataframe as input and a dictionary that maps old names to new names for columns

In [ ]:
df4

In [ ]:
df4.drop('P',axis=1)

In [ ]:
#Drop multiple of columns by providing a list of labels,axis=1 is for dropping columns

df4.drop(['P','Q'],axis=1)

In [ ]:
#Same effect for dropping rows,
df4.drop(['a','c'],axis=0)

In [ ]:
#By default it takes axis=0 to delete rows
df4.drop(['b','c'])

In [ ]:
df4.rename(columns={'P':'P_new','R':'R_new'})

# Maths/Stats Operations

Different methods are

* sum() : Sum of values

* count() : number of non null observations

* mean() : Mean/average of values

* Mad(): Mean absolute deviation

* median(): middle value

* min(): Minimum

* max():Maximum

* mode() : Mode or highest frequency of observations

* abs(): absolute value

* prod(): product of values

* std(): Bessel-corrected sample standard deviation

* var(): unbiased variance

* sem(): standard erroe of the mean
 
* skew(): sample skewness

* kurt():sample kurtosis

* quantile(): sample quantile
 
* cumsum():cumulative sum
 
* cumprod():cumulative product

* cummax():cumulative max

* cummin(): cumulative min

**describe(): **

* provides summary statistics of all numeric variables in  the DataFrame

* For categorical data ,it will give simple summary of the number of unique values and most frequently occuring values

* include parameter gives the option whether to choose data for "numerical"/"categorical"/ for both data

    * describe(include=['number'])
    
    * describe(include=['object'])
    
    * describe(include='all')
    
 
skipna = parameter that signals whether to exclude missing data (True by default)

In [ ]:
Data.head()

In [ ]:
Data.describe()

In [ ]:
#we can specify the perentiles which we need but median will be default

Data.describe(percentiles=[0.01,0.05,0.95])

In [ ]:
Data.info()

In [ ]:
Categorical_columns=[col for col in Data.columns if Data[col].dtype=='object']
Categorical_columns

In [ ]:
Cat_data=Data[['date', 'county', 'state']]
Cat_data.head()

In [ ]:
#Describe() for categorical data
Cat_data.describe()

In [ ]:
#Get summeries for numerical variable which is default
Data.describe(include=['number'])

In [ ]:
#FGet summeries for categorical variables
Data.describe(include=['object'])

In [ ]:
#Get summeries for all variables
Data.describe(include='all')

# Handling Missing Values

Same methods as we used for series we can use for dataframes.

* isnull()
* notnull()
* dropna() with the axis= and inplace= parameter


Missing value imputations is done using the fillna(),ffill(),bfill()

In [ ]:
#create some missing data

df4.iloc[::2]=np.nan
df4

In [ ]:
#Detect some missing data
df4.isnull()

In [ ]:
#Replace missing value with 0 manually

df4[df4.isnull()]=0
df4

In [ ]:
df4[::2]=np.NAN
df4

In [ ]:
#Replace missing with 0 (using fillna)
df4.fillna(0)

In [ ]:
#Drop rows with missing data
df4.dropna()

# Sorting Data


Sorting data is a basic task that allows us to figure out if a given variable has outliers by looking at the values at its extreme

ascending= parameter is used to control the nature of sorting.By default it takes True. So to get Data in descending order we need to pass ascending=False

sort_index(): we use to reorder rows or columns

sort_values(): to sort on column values, by= parameter specify the columns on wich we want to sort the data

In [ ]:
df5=pd.DataFrame(np.random.randn(9).reshape(3,3),index=list('cba'),columns=list('prq'))
df5

In [ ]:
#sort_index() will sort the index (rows) of the DataFrame
df5.sort_index()

In [ ]:
#To sort column names
df5.sort_index(axis=1)

In [ ]:
#Sort the data by the value
df5.sort_values(by=['p'])

In [ ]:
df5.sort_values(by=['p','r'],ascending=False)

# Handling Duplicates

The methods duplicated,drop_duplicates help us in identifying rows that are duplicates of other rows.

In [ ]:
#create a duplicate row in the data

df5.loc['x',:]=df5.loc['c']
df5

In [ ]:
df5.duplicated()

In [ ]:
df5.drop_duplicates()

# Binning Data with cut and qcut

Binning is the process of converting ** *numerical variables to categoricals***. 

We use this methods widely whenw need to convrt numericalvariables(such as Age,Salary) into ranges such as (Age groups,salary groups)

Functions are:

* pd.cut()
* pd.qcut()

cut(): each bin will have the same width ,but they may not have the same number of records
qcut(): each bin will have the same number of records but they may not have the same width

They take Arguments as following:

* var: the continuous variable to discretize
* bins: specified as a number or a list of bin edges
* right=True. a boolean to include edge or not
* labels= for naming the bins
* precision=


**Note:**
If your data has missing values or a lot of duplicate values -typically the case with skewed discrete distributions) it will cause qcut to fail as it would not be able to detect unique bin edges.

In [ ]:
#create an array

A=(np.random.randn(1000)*100).astype(int)
A[1:6]

In [ ]:
#Bins produced by pd.cut
pd.cut(A,10)[:5]

In [ ]:
#bins produced by qcut

pd.qcut(A,10)[:5]

In [ ]:
#Number of values in cut bins follow the underlyingdistribution

pd.cut(A,10).value_counts()

In [ ]:
#Number of values in qcut bins

pd.qcut(A,10).value_counts()

In [ ]:
#To create bin boundaries manually we can pass list of binboundaries to the bins= argument of cut

pd.cut(A,bins=range(-350,350,50)).value_counts()

# Creating Dummies from Categorical Data

A dummy variable is one that takes the value 0 or 1 to indicate the absense or presence of particular variable.

For example suppose 'GENDER' is one of the qualitative explanatory variables relevant to data problem ,then female and male will be the level of this variable. We can create two dummy variables from this variable (dummy_male,dummy_female)

# Creating Dummies Manually

In [ ]:
df=pd.DataFrame({'key':list('aabbbcc'),'val':np.random.randn(7).round(2)})
df

In [ ]:
#Dummy for level-a

  (df['key']=='a').astype(int)

In [ ]:
#Dummy for level b

(df['key']=='b').astype(int)

In [ ]:
#Dummy for level-c

(df['key']=='c').astype(int)

In [ ]:
#Dummy for all labels
df.assign(dummy_a=lambda x:(x['key']=='a').astype(int),dummy_b=lambda x: (x['key']=='b').astype(int),dummy_c=lambda x:(x['key']=='c').astype(int))

# Creating dummies with pd.get_dummies()

In [ ]:
pd.get_dummies(df['key'])

In [ ]:
#Joining dummies to original data frame

df.join(pd.get_dummies(df['key']))

# Dummy Variable Trap



If we build dummy variables for every level of categorical variable ,it leads to a situation where one or more of these dummies would be highly ***correlated*** leading to problems of ***multicollinearity***. It is thus advised to create (K-1) dummies for a categorical valriable with K-levels.


So steps to create dummy variableare:

* Identify the categorical variables you want to create dummies

* create dummies for n-1 catefories for each

* Join the dummies into original table

* Drop the categorical variable in step1

In [ ]:
#Create dummies,drop the categorical variable and one of the dummies to avoid trap

df.join(pd.get_dummies(df['key'],prefix='dummy')).drop('key',axis=1).drop('dummy_c',axis=1)

# Reshaping Data

Long Data: Usually for storage efficiency ,data in relational databases is stored in "long" or "stacked" format. This  means there are fewer columns and more rows,with label duplication in keys.


Wide Data: For certain type of Data analysis expecially for time series data we might prefer to have the data in the wide format(More columns ,unique labels in keys)

Note: long and wide are just different represenation of same data.

# Stack() and unstack()

For pandas dataframe with hierachical indices,stack() and unstack() provide a convenient way to reshape the data from wide-to-long or long-to-wide formats.

    stack(): pivots the columns into rows(wide-to-long)
    unstack(): pivots rows into colums(long-to-wide)

In [ ]:
#Create a dataset in long format
X=pd.DataFrame({'Group':list('PQR'*4),'Item':list('ABCD')*3,'Status':(np.random.randn(12)).round(2)}).set_index(['Group','Item'])
X

In [ ]:
X.unstack()

In [ ]:
#Create a data set in wide format

Y=pd.DataFrame(np.random.randn(12).reshape(3,4).round(2),index=list('ABC'),columns=list('PQRS'))
Y

In [ ]:
Y.stack()

# Pivot() 

columns= parameter is for columns
index= parameter is to take column which can be used as row 
Values= a column to fill in the data

Simply put pivot() is just a convenient wrapper function that replaces the need to create a hierarchical index using set_index and reshaping with stack

In [ ]:
X

In [ ]:
X.reset_index(inplace=True)
X

In [ ]:
X.pivot(index='Group',columns='Item',values='Status')

# pivot_table() :

is similar to pivot ,but 
*         can work with duplicate indices 
*         lets you specify an aggregation function

In [ ]:
df=pd.DataFrame({'C1':list(('x'*4+'y'*4)*2),'C2':list('aabbaabbbaaabbaa'),'N1':np.random.randn(16)})
df

In [ ]:
df.pivot_table(index='C1',columns='C2',values='N1',aggfunc='mean')

# apply() and applymap()

There are often situations in data analysis where we want to apply an in-built or user defined function to values of data avoiding any iterations and for-loop.

aaply() and applyma() methods provide powerful yet simple interface for doing this.

       applymap() allows you to apply a function to each element of a DataFrame
       apply() allows youto apply function to rows/columns (controlled via the axis=parameter ) of a DaraFrame

In [ ]:
#Ex applymap()

Df=pd.DataFrame(np.random.randn(20).reshape(4,5),index=list('abcd'),columns=list('pqrst'))
Df

# Some Basic Funtions in Pandas

In [ ]:
#Find the squareroot of each number
Df.applymap(lambda x:np.sqrt(np.abs(x)))

In [ ]:
#Using apply to standardize variable in dataset
#standardization is the process of producing each numeric variable's mean to zero and standard deviation to 1 by substracting 
#each value from its column mean and dividing it by the column standard deviation

Df=pd.DataFrame(np.random.randn(1000).reshape(200,5),columns=['col_'+str(x) for x in range(5)])
Df.head()

In [ ]:
#Apply standardization function to each column

Df_standardize=Df.apply(lambda x: (x-x.mean())/x.std())
Df_standardize.head()

In [ ]:
#Check if standardization is successful
Df_standardize.mean().round(2)

In [ ]:
Df_standardize.std()

# Split-Apply-Combine using groupby

To do the summarization of data during analysis we need group by function.

This includes evaluating summary statistics over variables ,or groups within variables ,within group transformations computing pivot-tables and by-group analysis.

It is same as SQL group by function.

These process involves 3 teps:
*      Applying a  function to each group individually. There are 3 classes of functions we might consider:
         
             Aggregate-Estimate summary statistics (like counts,means) for each group. This willchange the size of data.          
             Transform- within group standardization,imputation using group values.The size of the data wil not change.
          
             Filter-Ignore rows that belong to a particular group
         
             A combination of these three
         
*      Combining the results into a series or DataFrame


Attributes are:

* size(): which returns the count of elements in each group
 
* can be subsetted using columnnames or arraysof columnnames to select variable for aggregation

* Have optimized methods for general aggregation methods like

       * count,sum
       * mean,median,std,var
       * first,last
       * min,max
* specialized methods like .describe() also apply to these objects

Most important DataFrame Groupbyobject methods are :
*     agg()
*     transform()
*     apply()

In [ ]:
df=pd.DataFrame({'K1':list('abcd')*25,'K2':list('xy'*25+'yx'*25),'V1':np.random.rand(100),'V2':np.random.rand(100)})

In [ ]:
df.head()

In [ ]:
df.groupby('K1').mean()

In [ ]:
df.groupby('K2').sum()

In [ ]:
#Grouping by 2 keys

df.groupby(['K1','K2']).sum()

In [ ]:
#Column wise aggregations(Using optimized statistical methods)

df.groupby('K1')['V1'].sum()

# The .agg() method

It takes argument as follows:

* list of function names to be applied to all selected columns
* tuples of (colname,function) to be applied to all selected columns
* dict of(colname,function) to be applied to each column

In [ ]:
#1.Apply more than 1 functions to selected columns by passing name of functions as a list

df.groupby('K1')['V1'].agg(['min','max','mean'])

In [ ]:
df.groupby('K2')[['V1','V2']].agg(['min','max'])

In [ ]:
#Provide names for aggregated columns

df.groupby('K1')['V1','V2'].agg([('smallest','min'),('largest','max')])

In [ ]:
#Apply max and min to V1;and mean and sum to V2;all grouped by K1

df.groupby('K1')['V1','V2'].agg({'V1':('max','min'),'V2':('mean','sum')})

# The .apply() method

This method helps us to apply a function along an axis of the DataFrame
    1.A general or user defined function
    2.Any other parameters that the function would take
    
syntax: 
DataFrame.apply(self, func, axis=0, raw=False, result_type=None, args=(), **kwds)
Note: Any function passed through apply should be designed to work on  a subset of the DataFrame(smaller tables with the same columns ,and all rows corresponding to a particularlevel of groupby variable)

In [ ]:
df.groupby('K2').apply(max)

In [ ]:
df.groupby('K1')['V1'].apply(lambda x:x+100)

# Combine 2 DataFrames with pd.merge

pandas.merge is similar to the SQL join opertions,it links rows of tables using one or more keys


Syntax:
     
     pd.merge(df1,df2,how='left',on='key',
              left_on=None,right_on=None,left_index=False,right_index=False,sort=True,copy=True,suffixes=('x','y'))


The syntax includes specifications of the following rguments:

* Which column to merge on:
    * the on='key' if the same key is present in the two Dfs
    * or left_on='lkey',right_on='rkey' if the keys have different nmaes in the DFs
    * To emerge on multiple keys ,pass list of column names 
* The nature of join:
    * The how= option with left,right,outer 
    * By default the join is inner join
* Tuple of String values to append to overlapping column names to identify them in the merged dataset
    * The suffixes= option
    * defaults to ('_X','_Y')
* If you wish to merge on the index ,pass left_index=True or right_index=True or both
* Sort the result DataFrame by the join keys in lexicographical order or not
    * sort= option
    * Defaults to True,setting to False will improve performance substantially in many cases

In [ ]:
df0=pd.DataFrame({'key':list('abcde'),'data0':np.random.randint(0,100,5)})
df1=pd.DataFrame({'key':['b','b','a','c','a','a','b'],'data1':np.random.randint(0,100,7)})
df2=pd.DataFrame({'key':['a','b','d','f','g'],'data2':np.random.randint(0,100,5)})
df3=pd.DataFrame({'lkey':['b','b','a','c','a','a','b'],'data3':np.random.randint(0,100,7)})
df4=pd.DataFrame({'rkey':['a','b','d'],'data4':np.random.randint(0,100,3)})

In [ ]:
#Example
df0=pd.DataFrame({'key':list('abcde'),'data0':np.random.randint(0,100,5)})
df0

In [ ]:
df1=pd.DataFrame({'key':['b','b','a','c','a','a','b'],'data1':np.random.randint(0,100,7)})
df1

In [ ]:
df2=pd.DataFrame({'key':['a','b','d','f','g'],'data2':np.random.randint(0,100,5)})
df2

In [ ]:
df3=pd.DataFrame({'lkey':['b','b','a','c','a','a','b'],'data3':np.random.randint(0,100,7)})
df3

In [ ]:
df4=pd.DataFrame({'rkey':['a','b','d'],'data4':np.random.randint(0,100,3)})
df4

# 1. Default merge (inner join) when both DatatFrame have  common keys

In [ ]:
pd.merge(df0,df1)
#Note we could have written : pd.merge(df0,df1,on='key',how='inner')

In [ ]:
#If there is no matching column names  then default merge will through an error

#pd.merge(df0,df4)

# 2. OuterJoin

This leads to a union of keys ,missing values are imputed in the resulting dataset whenever a match is not found in either table

In [ ]:
pd.merge(df0,df2,how='outer')

# Leftjoin

In [ ]:
pd.merge(df1,df2,how='left')
#As value of c is not present in Data it will be filled by NAN

# Merging with keys having different names in the two dataframes

In [ ]:
pd.merge(df1,df4,left_on='key',right_on='rkey')

# Merge with DataFrame containing overlaping column names

In [ ]:
#Add a column with the same name to df1 and  df2
df1['newcol']=np.random.randn(7)
df2['newcol']=np.random.randn(5)
pd.merge(df1,df2,on='key')

# We could specify other suffixes explicitly with the suffixes= option

In [ ]:
pd.merge(df1,df2,on='key',suffixes=['_df1','_df2'])

# Merge when the key is the index in one (or both) of the DataFrame

In [ ]:
df3.set_index('lkey',inplace=True)
pd.merge(df2,df3,how='left',left_on='key',right_index=True)

# Combine multiple DataFrame with DataFrame.join()

.join() is a convenient DataFrame method for combining many DataFrame objects with the same or similar indexes but (non overlapping) columns into a single result DataFrame.
    * Bydefault ,the join method performs left join on the join keys
    * For simple index-on-index merges we can pass  a list of DataFrames to join

In [ ]:
df1.join(df3)

In [ ]:
#df1.join(df3) is equivalent to below command
pd.merge(df1,df3,how='left',right_index=True,left_index=True)

In [ ]:
#create dataframe with partially overlapping index

df=pd.DataFrame(np.random.randint(0,50,32).reshape(8,4),columns=list('WXYZ'),index=list('abcdefgh'))
df1=df.iloc[2:,0:2]
df2=df.iloc[:5,2:4]

In [ ]:
df1

In [ ]:
df2

In [ ]:
#Perform the join
df1.join(df2)

The real strength of the method is apparent when we have multiple dataframes.Then instead of having to write a number of merge statements,we can get away with writing a single join

In [ ]:
df3=df.iloc[0:3,0:2]
df3.columns=['P','Q']

In [ ]:
df3

In [ ]:
df1.join([df2,df3])

* So we observed that default action is  a left join . So all values of the index in df1 are retained in the output,and missing values are imputed where ever no matching values are found.

* This action can be altered by passing the how= parameter

# Combine multiple DataFrames/Series with pd.concat()

The concat() function in pandas is used to concatenate pandas objects along a particular axis with optional set logic along the other axis.

This operational is synonymous with binding,stacking,union all functions in other languages .

Concatenatation can happen along either axis,the action being governed by the axis= paremeter.

    With axis=0 the objects will be appened vertically\ i.e the resulting object will have more rows.
    With axis=1 the objects will be concatenated horizontally ,leading to an  object with more columns
    
Depending on whether the objects have overlapping index (or column ) labels,the concat also include merging of the data where an overlap is found.

In [ ]:
#creating series with non-overlapping indices
s1=pd.Series(np.random.randn(3),index=list('abc'))
s2=pd.Series(np.random.randn(4),index=list('defg'))
s3=pd.Series(np.random.randn(2),index=list('hi'))

In [ ]:
s1

In [ ]:
s2

In [ ]:
s3

# 1.For Series objects with no index overlap

In [ ]:
#With axis=0 default
pd.concat([s1,s2,s3])

In [ ]:
#With axis=1
pd.concat([s1,s2,s3],axis=1)

# 2. For Series objects withan overlapping indexes ,we can specify the join= parameter to intersect the data.****

In [ ]:
#create a new series
s4=pd.Series(np.random.randn(5),index=list('abcde'))
s4

In [ ]:
#Concta with overlapping index
pd.concat([s1,s4],axis=1)

In [ ]:
#if you will specify a join type ,this will be equivalent to a merge
pd.concat([s1,s4],axis=1,join='inner')

3. For DataFrame objects with no overlapping index:

    * axis=0 will produce a concatenation
    * axis=1 will produce as merge,imputing NAN values where necessary

In [ ]:
#Create DataFrames with non-overlapping indexes

df1=pd.DataFrame(np.random.randn(9).reshape(3,3),index=list('abc'),columns=list('XYZ'))
df2=pd.DataFrame(np.random.randn(4).reshape(2,2),index=list('pq'),columns=list('XZ'))

In [ ]:
df1

In [ ]:
df2

In [ ]:
# default axis=0 
pd.concat([df1,df2])

In [ ]:
#Axis=1
pd.concat([df1,df2],axis=1)

# 4.For DataFrame object with an overlapping index

In [ ]:
df1=pd.DataFrame(np.random.randn(9).reshape(3,3),index=list('abc'),columns=list('XYZ'))
df2=pd.DataFrame(np.random.randn(4).reshape(2,2),index=list('ac'),columns=list('XZ'))

In [ ]:
df1

In [ ]:
df2

In [ ]:
#Default axis=0
pd.concat([df1,df2])

In [ ]:
# axis=1

pd.concat([df1,df2],axis=1)