# DATA SCIENTIST
**In this tutorial, I only explain you what you need to be a data scientist neither more nor less.**

Data scientist need to have these skills:

1. Basic Tools: Like python, R or SQL. You do not need to know everything. What you only need is to learn how to use **python**
2. Basic Statistics: Like mean, median or standart deviation. If you know basic statistics, you can use **python** easily. 
3. Data Munging(datayı düzeltme): Working with messy and difficult data. Like a inconsistent date and string formatting. As you guess, **python** helps us.
4. Data Visualization: Title is actually explanatory. We will visualize the data with **python** like matplot and seaborn libraries.
5. Machine Learning: You do not need to understand math behind the machine learning technique. You only need is understanding basics of machine learning and learning how to implement it while using **python**.

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

In [ ]:
data = pd.read_csv('../input/2017.csv')

In [ ]:
data.info()

In [ ]:
data.columns=['Country','Happiness_Rank', 'Happiness_Score', 'Whisker_high',
       'Whisker_low', 'Economy_GDP_per_Capita', 'Family',
       'Health_Life_Expectancy', 'Freedom', 'Generosity',
       'Trust_Government_Corruption', 'Dystopia_Residual']
data.corr()

In [ ]:
# correlation
f,ax = plt.subplots(figsize=(18,18))
sns.heatmap(data.corr(),annot= True,linewidths= 5, fmt='.1f',ax=ax)
plt.show()

<a id="1"></a> <br>
# 1. INTRODUCTION TO PYTHON

Line Plot

In [ ]:
data.Family.plot(kind='line',color='g',grid=True,label='Family',alpha=0.5,linewidth=1,linestyle=':')
data.Freedom.plot(color='r',grid=True,alpha=0.5,label='Freedom',linewidth=1,linestyle='-')  
plt.legend()
plt.xlabel('x axis')
plt.ylabel('y axis')
plt.title('Line Plot ')
plt.show()

In [ ]:
Scatter Plots

In [ ]:
plt.scatter(data.Family,data.Freedom,color='b',alpha=0.5)
plt.xlabel('Family')
plt.ylabel('Freedom')
plt.title('Family Freedom Scatter Plot')
plt.show()

 OR Scatter plot is used like:

In [ ]:
data.plot(kind='scatter',x='Family',y='Freedom',color='r',alpha=0.5)

plt.show()

Histogram is used like:

In [ ]:
data.columns

In [ ]:
data.Health_Life_Expectancy.plot(kind='hist',bins=50,figsize=(12,12))
plt.show()

Also, you can clear the histogram plot with:

In [ ]:
data.Health_Life_Expectancy.plot(kind='hist',bins=50,figsize=(12,12))
plt.clf() # clears the method

Dictionary

In [ ]:
dictionary = {'galatasaray':'taffarel','fenerbahçe':'volkan','beşiktaş':'rüştü','trabzonspor':'şenol'}
# print(dictionary)
print(dictionary.keys())
print(dictionary.values())

In [ ]:
# changing the value
dictionary['galatasaray']='muslera'
print(dictionary)
# adding a new entry
dictionary['juventus']='ronaldo'
print(dictionary)
# remove entry
#del dictionary['juventus']
print(dictionary)
print('trabzonspor' in dictionary)
#dictionary.clear
#print(dictionary)

Pandas

In [ ]:
data = pd.read_csv('../input/2017.csv')

In [ ]:
series = data['Economy..GDP.per.Capita.']
print(type(series))
df = data[['Economy..GDP.per.Capita.']]
print(type(df))

Logic, Control flow and Filtering

In [ ]:
# comparison operator
print(3 > 1)
print(3!=1)
# Boolean operators
print(True and False)
print(True and False and True and True and True and True)
print(True or False)
print(True and False and True and False or True)

In [ ]:
# 1-)Filtering pandas data frame
x = data['Family']>1.3
data[x]

In [ ]:
# 2-) Filtering pandas with logical_and or logical_or
data[np.logical_or(data['Family']>1.3,data['Happiness.Score']>7)]

In [ ]:
# also could be written as :
data[(data['Family']>1.5) | (data['Happiness.Score']>7)]

While and For Loops

In [ ]:
i = 0
while i !=10:
    print('i is :',i)
    i = i + 1
print(i,' is equal to 10')

In [ ]:
liste = [1,2,3,4,5,6,7,8,9,10]
for a in liste:
    print('a is :',a)
print('')

for index,values in enumerate(liste):
    print(index,':',values)
print('')

dictionary ={'gs':'muslera','fb':'volkan','bjk':'fabri'}
print(dictionary)
for keys,values in dictionary.items():
    print(keys,':',values)
print('')
for index,values in data[['Family']][75:101].iterrows():
    print(index,':',values)

<a id="7"></a> <br>
# 2. PYTHON DATA SCIENCE TOOLBOX

<a id="8"></a> <br>
### USER DEFINED FUNCTION

In [ ]:
def tuble_ex():
    """return defined t tuble"""
    t = (1,2,3)
    return t
a,b,c = tuble_ex()
print(a,b,c)

<a id="9"></a> <br>
### SCOPE

-global scope : defined in script
-local scope : defined in a function
-built in scope : names in predefined
such as len,print

In [ ]:
x = 5  # global scope
def f():
    x = 3   # local scope
    return x
print(x)      # x = 5 global scope
print(f())    # x = 3 local scope

In [ ]:
# if there is no local scope
# it uses global scope x
x = 5
def f():
    y = x*2
    return y
print(f())

In [ ]:
# if both does not exist built in scope is seached
import builtins
dir(builtins)

<a id="10"></a> <br>
### NESTED FUNCTION
* function inside function.

In [ ]:
# nested function
def square():
    """ return square of value"""
    def add():
        """ add two local variable"""
        x = 2
        y = 3
        z = x+y
        return z
    return add()**2
print(square())

<a id="11"></a> <br>
### DEFAULT and FLEXIBLE ARGUMENTS
* Default argument example:
<br> def f(a, b=1):
      """ b = 1 is default argument"""
* Flexible argument example:
<br> def f(*args):
       """ *args can be one or more"""
<br>def f(** kwargs)
       """ **kwargs is a dictionary"""

In [ ]:
# default arguments
def f(a,b=1,c=2):
    y = a + b +c
    return y
print(f(5))
# what if we want to change default arguments
f(5,4,3)

In [ ]:
# flexible arguments *args
def f(*args):
    for i in args:
        print(i)
f(1)
print("")
f(1,2,3,4)
# flexible arguments **kwargs that is dictionary
def f(**kwargs):
    """print key and value of dictionary"""
    for keys,values in kwargs.items():
        print(keys,':',values)
f(country='spain',capital='madrid',population=123456)

<a id="12"></a> <br>
### LAMBDA FUNCTION
Faster way of writing function

In [ ]:
# lambda function
square = lambda x: x**2  
print(square(4))
tot = lambda x,y,z : x+y+z
print(tot(1,2,3))

<a id="13"></a> <br>
### ANONYMOUS FUNCTİON
Like lambda function but it can take more than one arguments.
* map(func,seq) : applies a function to all the items in a list

In [ ]:
number_list = [5,7,3,865,55]
y = map(lambda x: x**3,number_list)
print(list(y))

<a id="15"></a> <br>
### LIST COMPREHENSİON
**One of the most important topic of this kernel**
<br>We use list comprehension for data analysis often. c
<br> list comprehension: collapse for loops for building lists into a single line
<br>Ex: num1 = [1,2,3] and we want to make it num2 = [2,3,4]. This can be done with for loop. However it is  unnecessarily long. We can make it one line code that is list comprehension.

In [ ]:
# Example of list comprehension
num1 = [1,2,3]
num2 = [i**6+30 for i in num1]
print(num2)

In [ ]:
# Conditionals on iterable
num1 = [3,13,21,65]
num2 = [i*18 if i<13 else i**2 if i>=13 and i<22 else i**(1/2) for i in num1]
print(num2)

In [ ]:
mean_1 = sum(data.Health_Life_Expectancy)/(len(data.Health_Life_Expectancy))
print(mean_1)
data['Health_Life_Expectancy_Level'] = ['high' if i >= mean_1 else 'low' for i in data.Health_Life_Expectancy] 
data.loc[:200,['Health_Life_Expectancy_Level','Health_Life_Expectancy']]

<a id="16"></a> <br>
# 3.CLEANING DATA

<a id="17"></a> <br>
### DIAGNOSE DATA for CLEANING
We need to diagnose and clean data before exploring.
<br>Unclean data:
* Column name inconsistency like upper-lower case letter or space between words
* missing data
* different language

<br> We will use head, tail, columns, shape and info methods to diagnose data

In [ ]:
data = pd.read_csv('../input/2017.csv')
data.head()

In [ ]:
data.columns = ['Country','Happiness.Rank','Happiness.Score','Whisker.high','Whisker.low','Economy.GDP.per.Capita','Family','Health.Life.Expectancy','Freedom','Generosity','Trust.Government.Corruption','Dystopia.Residual']
data.columns

In [ ]:
data.tail(10)

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
data.describe()

<a id="18"></a> <br>
### EXPLORATORY DATA ANALYSIS
value_counts(): Frequency counts
<br>outliers: the value that is considerably higher or lower from rest of the data
* Lets say value at 75% is Q3 and value at 25% is Q1. 
* Outlier are smaller than Q1 - 1.5(Q3-Q1) and bigger than Q3 + 1.5(Q3-Q1). (Q3-Q1) = IQR
<br>We will use describe() method. Describe method includes:
* count: number of entries
* mean: average of entries
* std: standart deviation
* min: minimum entry
* 25%: first quantile
* 50%: median or second quantile
* 75%: third quantile
* max: maximum entry

<br> What is quantile?

* 1,4,5,6,8,9,11,12,13,14,15,16,17
* The median is the number that is in **middle** of the sequence. In this case it would be 11.

* The lower quartile is the median in between the smallest number and the median i.e. in between 1 and 11, which is 6.
* The upper quartile, you find the median between the median and the largest number i.e. between 11 and 17, which will be 14 according to the question above.

In [ ]:
print(data['Happiness.Score'].value_counts(dropna=False)) # if there is non values that is also be counted

In [ ]:
data.describe()

<a id="19"></a> <br>
### VISUAL EXPLORATORY DATA ANALYSIS
* Box plots: visualize basic statistics like outliers, min/max or quantiles

<a id="20"></a> <br>
### TIDY DATA
We tidy data with melt().
Describing melt is confusing. Therefore lets make example to understand it.

In [ ]:
data_new = data.head()
data_new

In [ ]:
# lets melt
# id_vars = what we do not wish to melt
# value_vars = what we want to melt
data_new = data.tail(10)
melted = pd.melt(frame=data_new,id_vars='Country',value_vars=['Whisker.high','Whisker.low'])
melted

<a id="21"></a> <br>
### PIVOTING DATA
Reverse of melting.

In [ ]:
# Index is country
# I want to make that columns are variable
# Finally values in columns are value
melted.pivot(index='Country',columns='variable',values='value')

<a id="22"></a> <br>
### CONCATENATING DATA
We can concatenate two dataframe

In [ ]:
data1 = data.head()
data2 = data.tail()
conc_data_row = pd.concat([data1,data2],axis=0,ignore_index=True)
conc_data_row

In [ ]:
data1 = data['Health.Life.Expectancy'].head()
data2 = data['Trust.Government.Corruption'].head()
conc_data_col = pd.concat([data1,data2],axis=1)
conc_data_col

<a id="23"></a> <br>
### DATA TYPES
There are 5 basic data types: object(string),booleab,  integer, float and categorical.
<br> We can make conversion data types like from str to categorical or from int to float
<br> Why is category important: 
* make dataframe smaller in memory 
* can be utilized for anlaysis especially for sklear(we will learn later)

In [ ]:
data.dtypes

<a id="24"></a> <br>
### MISSING DATA and TESTING WITH ASSERT
If we encounter with missing data, what we can do:
* leave as is
* drop them with dropna()
* fill missing value with fillna()
* fill missing values with test statistics like mean
<br>Assert statement: check that you can turn on or turn off when you are done with your testing of the program

In [ ]:
data.info()

In [ ]:
data['Family'].value_counts(dropna=False)

In [ ]:
data1 = data
data1['Family'].dropna(inplace=True)

In [ ]:
assert 1==1

In [ ]:
data["Family"].fillna('empty',inplace = True)

In [ ]:
assert  data['Family'].notnull().all()

<a id="25"></a> <br>
# 4. PANDAS FOUNDATION

<a id="26"></a> <br>
### REVİEW of PANDAS
As you notice, I do not give all idea in a same time. Although, we learn some basics of pandas, we will go deeper in pandas.
* single column = series
* NaN = not a number
* dataframe.values = numpy

<a id="27"></a> <br>
### BUILDING DATA FRAMES FROM SCRATCH
* We can build data frames from csv as we did earlier.
* Also we can build dataframe from dictionaries
    * zip() method: This function returns a list of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables.
* Adding new column
* Broadcasting: Create new column and assign a value to entire column

In [ ]:
### dataframes from dictionary
country = ['Turkey','Azerbeycan','Germany']
capital = ['Ankara','Bakü','Berlin']
liste_row = ['Country','Capital']
liste_col = [country,capital]
zipped = list(zip(liste_row,liste_col))
dictionary = dict(zipped)
df = pd.DataFrame(dictionary)
df

In [ ]:
# add new columns
df['Population'] = [200,100,150]
df

In [ ]:
# broadcasting
df['Income']=0
df

<a id="28"></a> <br>
### VISUAL EXPLORATORY DATA ANALYSIS
* Plot
* Subplot
* Histogram:
    * bins: number of bins
    * range(tuble): min and max values of bins
    * normed(boolean): normalize or not
    * cumulative(boolean): compute cumulative distribution

In [ ]:
# plotting all data
data1 = data.loc[:,['Family','Health.Life.Expectancy','Generosity']]
data1.plot()
plt.show()

In [ ]:
# subplots
data1.plot(subplots=True)
plt.show()

In [ ]:
# scatter plot
data1.plot(kind='scatter',x='Family',y='Generosity')
plt.show()

In [ ]:
# hist plot
data1.plot(kind='hist',y='Family',bins=50,range=(0,155),normed=True)
plt.show()

In [ ]:
# histogram subplot with non cumulative and cumulative 
fig,axes = plt.subplots(nrows=2,ncols=1)
data1.plot(kind='hist',y='Family',bins=50,range=(0,100),normed=True,ax=axes[0])
data1.plot(kind = "hist",y = "Family",bins = 50,range= (0,250),normed = True,ax = axes[1],cumulative = True)
plt.savefig('graph.png')
plt

<a id="29"></a> <br>
### STATISTICAL EXPLORATORY DATA ANALYSIS
I already explained it at previous parts. However lets look at one more time.
* count: number of entries
* mean: average of entries
* std: standart deviation
* min: minimum entry
* 25%: first quantile
* 50%: median or second quantile
* 75%: third quantile
* max: maximum entry

In [ ]:
data.describe()

<a id="30"></a> <br>
### INDEXING PANDAS TIME SERIES
* datetime = object
* parse_dates(boolean): Transform date to ISO 8601 (yyyy-mm-dd hh:mm:ss ) format

In [ ]:
time_list = ['1992-03-08','1992-04-12']
print(type(time_list[1])) # as we can see date is string
# however we want it to be datetime object
datatime_object = pd.to_datetime(time_list)
print(type(datatime_object))

In [ ]:
# close warning
import warnings
warnings.filterwarnings('ignore')
# lets practise
data2 = data.head()
date_list = ['1992-01-10','1992-02-10','1992-03-10','1993-03-15','1993-03-16']
date_datetime = pd.to_datetime(date_list)
data2['data'] = date_datetime
data2 = data2.set_index('data')
data2

In [ ]:
# Now we can select according to our date index
print(data2.loc['1993-03-16'])
print(data2.loc['1992-03-10':'1993-03-16'])

<a id="31"></a> <br>
### RESAMPLING PANDAS TIME SERIES
* Resampling: statistical method over different time intervals
    * Needs string to specify frequency like "M" = month or "A" = year
* Downsampling: reduce date time rows to slower frequency like from daily to weekly
* Upsampling: increase date time rows to faster frequency like from daily to hourly
* Interpolate: Interpolate values according to different methods like ‘linear’, ‘time’ or index’ 
    * https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.interpolate.html

In [ ]:
# We will use data2 that we create at previous part
data2.resample('A').mean() # resample about years

In [ ]:
data2.resample('M').mean() # resample about months
# As you can see there are a lot of nan because data2 does not include all months

In [ ]:
# In real life (data is real. Not created from us like data2) we can solve this problem with interpolate
# We can interpolete from first value
data2.resample('M').first().interpolate('linear')

In [ ]:
# Or we can interpolate with mean()
data2.resample("M").mean().interpolate("linear")

<a id="32"></a> <br>
# 5)MANIPULATING DATA FRAMES WITH PANDAS

<a id="33"></a> <br>
### INDEXING DATA FRAMES
* Indexing using square brackets
* Using column attribute and row label
* Using loc accessor
* Selecting only some columns

In [ ]:
# read data
data = pd.read_csv('../input/2017.csv')
data = data.set_index('Country')
data.head()

In [ ]:
# indexing using square brackets
data['Health..Life.Expectancy.'][153]

In [ ]:
# using column attribute and row label
data.Family[0]

In [ ]:
# using loc accessor
data.loc['Netherlands','Family']

In [ ]:
# Selecting only some columns
data[['Whisker.high','Whisker.low']]

<a id="34"></a> <br>
### SLICING DATA FRAME
* Difference between selecting columns
    * Series and data frames
* Slicing and indexing series
* Reverse slicing 
* From something to end

In [ ]:
# Difference between selecting columns: series and dataframes
print(type(data['Freedom'])) # series
print(type(data[['Freedom','Trust..Government.Corruption.']])) # DataFrame

In [ ]:
# Slicing and indexing series
data.loc['Australia':'Chile','Family':'Freedom']

In [ ]:
data.loc['Chile':'Australia':-1,'Family':'Freedom']

In [ ]:
# From something to end
data.loc['Mali','Whisker.high':]

<a id="35"></a> <br>
### FILTERING DATA FRAMES
Creating boolean series
Combining filters
Filtering column based others

In [ ]:
# Creating boolean series
boolean = data.Family>1.5
data[boolean]

In [ ]:
# Combining filters
first_filter = data['Economy..GDP.per.Capita.']>1.3
second_filter = data['Health..Life.Expectancy.']>0.85
data[first_filter & second_filter]

In [ ]:
# Filtering column based others
data.Family[data.Generosity>0.5]

<a id="36"></a> <br>
### TRANSFORMING DATA
* Plain python functions
* Lambda function: to apply arbitrary python function to every element
* Defining column using other columns

In [ ]:
# Plain python functions
def sum(x):
    return x+5
data['Whisker.high'].apply(sum)

In [ ]:
# Or we can use lambda function
data['Whisker.high'].apply(lambda x:x+5)

In [ ]:
# Defining column using other columns
data['total_power'] = data['Happiness.Score']*data['Freedom']
data.head()

<a id="37"></a> <br>
### INDEX OBJECTS AND LABELED DATA
index: sequence of label

In [ ]:
# our index name is this:
print(data.index.name)
# lets change it
data.index.name = 'Countries'
data.head()

<a id="38"></a> <br>
### HIERARCHICAL INDEXING
* Setting indexing

In [ ]:
# lets read data frame one more time to start from beginning
data = pd.read_csv('../input/2017.csv')
data.head()
# As you can see there is index. However we want to set one or more column to be index

In [ ]:
# Setting index : Country is outer Happiness.Rank is inner index
data1 = data.set_index(['Country','Happiness.Rank'])
data1.head(100)
# data1.loc["Iceland","Family"] # how to use indexes

<a id="39"></a> <br>
### PIVOTING DATA FRAMES
* pivoting: reshape tool

In [ ]:
dic = {'treatment':['A','A','B','B'],'gender':['F','M','F','M'],'response':[10,45,5,9],'age':[15,4,72,65]}
df = pd.DataFrame(dic)
df

In [ ]:
# pivoting
df.pivot(index='treatment',columns='gender',values='response')

<a id="40"></a> <br>
### STACKING and UNSTACKING DATAFRAME
* deal with multi label indexes
* level: position of unstacked index
* swaplevel: change inner and outer level index position

In [ ]:
df1 = df.set_index(['treatment','gender'])
df1
# lets unstack it

In [ ]:
# level determines indexes
df1.unstack(level=0)

In [ ]:
df1.unstack(level=1)

In [ ]:
# change inner and outer level index position
df2 = df1.swaplevel(0,1)
df2

<a id="41"></a> <br>
### MELTING DATA FRAMES
* Reverse of pivoting

In [ ]:
df

In [ ]:
# df.pivot(index="treatment",columns = "gender",values="response")
pd.melt(frame=df,id_vars='treatment',value_vars=['response','age'])

<a id="42"></a> <br>
### CATEGORICALS AND GROUPBY

In [ ]:
df

In [ ]:
# according to treatment take means of other features
df.groupby("treatment").mean()   # mean is aggregation / reduction method
# there are other methods like sum, std,max or min

In [ ]:
# we can only choose one of the feature
df.groupby("treatment").age.max()

In [ ]:
# Or we can choose multiple features
df.groupby("treatment")[["age","response"]].min()

In [ ]:
df.info()

<a id="42"></a> <br>
### The End
### Powered by Mehmet Salih Ünal