In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
salary_df = pd.read_csv('../input/sf-salaries/Salaries.csv') # load the dataset
%matplotlib inline

In [ ]:
# Salaries in San Francisco from 2011 to 2014
salary_df.head()

In [ ]:
salary_df.info()

change the type of columns BasePay, OvertimePay , OtherPay and Benefits to float64
So they will be analyzable
erase the Notes column, as all of its components are Nan

In [ ]:
list1 =['BasePay','OvertimePay' , 'OtherPay' , 'Benefits']
for i in list1:
    salary_df[i] = pd.to_numeric(salary_df[i], errors='coerce')
    
salary_df.drop('Notes' , axis=1 , inplace=True)

In [ ]:
salary_df.info()

In [ ]:
salary_df['EmployeeName'].value_counts()

In [ ]:
# It can be seen from above that there are more than one rows for some names! Lets check why!!!
# for example for the first name in the series above: Kevin Lee
salary_df.set_index('EmployeeName' , inplace=True)
salary_df.head()
salary_df.loc['Kevin Lee']

In [ ]:

salary_df.loc['Stanley Lee']

maybe there are more than one person with the same name!!!!!

In [ ]:
# there are some Nan datas in column BasePay, lets find them
null_BasePay = pd.isnull(salary_df['BasePay'])
salary_df[null_BasePay]

In [ ]:
# delete the rows with name and job name as not provided
salary_df.drop('Not provided' , inplace=True)
salary_df.reset_index(inplace=True)

In [ ]:
# chang the pays as NaN with the mean of all the other pays
# calculate the sum of the new datas and add them to the total pay and total pay with benefits
pays = ['BasePay' , 'OvertimePay' , 'OtherPay' , 'Benefits' ]
for i in pays:
    salary_df[i].fillna(value = salary_df[i].mean() , inplace=True)
salary_df['TotalPay'] = salary_df['BasePay'] + salary_df['OvertimePay'] + salary_df['OtherPay']
salary_df['TotalPayBenefits'] = salary_df['TotalPay']+salary_df['Benefits']

# How have salaries changed over time?

In [ ]:
# here i am going to compare salaries over time (comparing the base pays and total pays with benefits)
salary_over_timee = salary_df.groupby('Year').mean()
salary_over_timee.reset_index(inplace=True)
sns.barplot(x = 'Year', y='BasePay' , data = salary_over_timee)
plt.figure()
sns.barplot(x = 'Year', y='TotalPayBenefits' , data = salary_over_timee)

the most average pay for both base pay and total pay with benefits was for 2013.

In [ ]:
# Now I am going to compare the biggest salary with the lowest salary in each year (total pay with benefits)
max_2011 = salary_df[salary_df['Year'] == 2011]['TotalPayBenefits'].max()
min_2011 = salary_df[salary_df['Year'] == 2011]['TotalPayBenefits'].min()
max_2012 = salary_df[salary_df['Year'] == 2012]['TotalPayBenefits'].max()
min_2012 = salary_df[salary_df['Year'] == 2012]['TotalPayBenefits'].min()
max_2013 = salary_df[salary_df['Year'] == 2013]['TotalPayBenefits'].max()
min_2013 = salary_df[salary_df['Year'] == 2013]['TotalPayBenefits'].min()
max_2014 = salary_df[salary_df['Year'] == 2014]['TotalPayBenefits'].max()
min_2014 = salary_df[salary_df['Year'] == 2014]['TotalPayBenefits'].min()
df = pd.DataFrame({'year':[2011,2012,2013,2014] , 'maximum salary': [max_2011, max_2012, max_2013 , max_2014]})
sns.barplot(data = df , x = 'year' , y = 'maximum salary')

the plot above depicts that the maximum income in 2011 was the maximum salary from 2011 to 2014

In [ ]:
df = pd.DataFrame({'year':[2011,2012,2013,2014] , 'minimum salary': [min_2011, min_2012, min_2013 , min_2014]})
sns.barplot(data = df , x = 'year' , y = 'minimum salary')

the most minimum salary was also for 2011.

In [ ]:
sns.barplot(data = salary_df , x='Year' , y= 'Benefits')

In [ ]:

salary_df.head()